<table width="50%">
    <tr>
        <td><div location="koulutusmoduuli"></div></td>
        <td><div location="koulutuksenAlkamispvm"></div></td>
    </tr>
    <tr>
        <td><div location="koulutuslaji"></div></td>
        <td><div location="suunniteltuKesto"></div></td>
    </tr>
    <tr>
        <td><div location="organisaatio"></div></td>
        <td><div location="opetuskielet"></div></td>
    </tr>
    <tr>
        <td><div location="opetusmuoto"></div></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2"><div location="teemat"></div></td>
    </tr>
    <tr><td colspan="2"><br/></td></tr>
    <tr>
        <td colspan="2">
            <div location="maksullinenKoulutus"></div>
            <div location="maksullinenKoulutusText"></div>
        </td>
    </tr>

</table>
