<div class="komotoEditForm">

<div style="float: left;">

<div location="koulutusmoduuli"></div>

<div location="koulutuslaji"></div>

<div location="organisaatio"></div>

<br/>

<div location="opetusmuoto"></div>

<div location="maksullinenKoulutus"></div>

<div location="maksullinenKoulutusText"></div>

<div location="teemat"></div>

</div>

<div style="float: right;">

<div location="koulutuksenAlkamispvm"></div>
<br/>
<br/>
<div location="suunniteltuKesto"></div>

<br/>
<br/>

<div location="opetuskielet"></div>

</div>


</div>