.project
.settings
target/
**/.project
**/.classpath
**/.settings
**/target
*~
**/*~
*.iml
tarjonta-app-angular/node_modules
/tarjonta-app-angular/app/dev
.idea/
.idea/*/*
.idea/libraries/
**/.idea/libraries/*

.DS_Store
npm-debug.log
tarjonta-app-angular/.DS_Store
tarjonta-app-angular/app/.DS_Store

tarjonta-app-angular/nbproject

/build
/.gradle