<div ng-controller="KomoController">
    <form name="komoForm">
        <display-controls model="controlModel.formControls" display="header"></display-controls>
        <controls-model 
            model="controlModel.formControls"
            tt-create="koulutus.edit.header.title"
            title="model.koulutusohjelma.tekstis"
            dto="controlModel.formStatus">

            <controls-notify type="success" tt-expr="'tarjonta.tallennus.ok'" show="ctrl.showSuccess"></controls-notify>
            <controls-notify type="error" tt-expr="'tarjonta.tallennus.virhe'" show="ctrl.showError"></controls-notify>
            <controls-notify type="error-detail" ng-repeat="e in ctrl.validationmsgs" tt-expr="e" show="ctrl.showError"></controls-notify>
        </controls-model>

        <div style="background: #62c462; padding: 10px" ng-show="ctrl.saved">Tallennettu</div>
        <tabset>
            <tab heading="Haku ja liittäminen">
                <div ng-include="'partials/komo/search.html'"></div>
            </tab>
            <tab heading="Moduulin muokkaus"
                 disabled="ctrl.komoOid === null || angular.isUndefined(ctrl.komoOid) || ctrl.komoOid.length === 0"
                 ng-disabled="ctrl.komoOid === null || angular.isUndefined(ctrl.komoOid) || ctrl.komoOid.length === 0"  >
                <div ng-include="'partials/komo/edit.html'"></div>
            </tab>
            <tab heading="Moduulien sisäänvienti"
                 disabled="import.uiModel.length === 0"
                 ng-disabled="import.uiModel.length === 0"
                 ><div ng-include="'partials/komo/import.html'"></div>
            </tab>
        </tabset>   

        <display-controls model="controlModel.formControls" display="footer"></display-controls>
    </form>


</div>