<div ng-controller="KomoController">
    <form name="komoForm">
        <div style="background: #62c462; padding: 10px" ng-show="ctrl.saved">Tallennettu</div>
        <tabset>
            <tab heading="Haku ja liittäminen">
                <div ng-include="'partials/komo/search.html'"></div>
            </tab>
            <tab heading="Moduulin muokkaus"   
                 disabled="ctrl.komoOid === null || angular.isUndefined(ctrl.komoOid) || ctrl.komoOid.length === 0"
                 ng-disabled="ctrl.komoOid === null || angular.isUndefined(ctrl.komoOid) || ctrl.komoOid.length === 0"  >
                <div ng-include="'partials/komo/edit.html'"></div>
            </tab>
            <tab heading="Moduulien sisäänvienti"
                  disabled="import.uiModel.length === 0"
                  ng-disabled="import.uiModel.length === 0"
                 ><div ng-include="'partials/komo/import.html'"></div>
            </tab>
        </tabset>   
    </form>


</div>