<div class="tarjonta-dialog">
    <div class="modal-header">
        <h3 tt="koulutus.alkamispvm.vahvistus.title">Alkamispvm vahvistus title</h3>
    </div>

    <div class="modal-body">
        <p tt="koulutus.alkamispvm.vahvistus.text">Alkamispvm vahvistus text</p>
    </div>

    <div class="modal-footer">
        <button class="btn" ng-click="cancel()" tt="tarjonta.toiminnot.peruuta"/>
        <button class="btn btn-primary" ng-click="ok()" tt="koulutus.alkamispvm.poista"/>
    </div>

</div>