<div>
    <input type="radio" name="kausiVaiPvm" ng-model="ctrl.disableKausi" ng-value="true" /> 
    <span tt="koulutus.alkamispvm.disableKausi"></span><br/>

    <alkamispaivat 
        dates="pvms" 
        kausi-uri="kausiUri"
        fn-clear-kausi="clearKausiSelection"
        disabled-kausi="ctrl.disableKausi"  
        disabled-date="ctrl.disabledDate"> 
    </alkamispaivat>

    <input type="radio" name="kausiVaiPvm" ng-model="ctrl.disableKausi" ng-value="false" ng-click="onEnableKausi($event)"/>
    <span tt="koulutus.alkamispvm.enableKausi"></span><br/>
    
    <table class="help">
        <tr>
	        <th tt="koulutus.alkamispvm.kausi"></th>
	        <th tt="koulutus.alkamispvm.vuosi"></th>
        </tr>
        <tr>
            <td>
			    <select
			        ng-model="kausiUri" 
			        ng-options="koodi.koodiUri as koodi.koodiNimi for koodi in ctrl.koodis | orderByNum:'koodiNimi'"
			        ng-disabled="ctrl.disableKausi"/>
            </td>        
            <td>
			    <input type="text" 
			        ng-model="vuosi" 
			        ng-disabled="ctrl.disableKausi"/>
            </td>        
        </tr>
    
    </table>

</div>