<ul>
    <li ng-repeat="pvm in ctrl.addedDates">
            <!-- required t-date-time can be true or false -->
            <t-date-time 
                type="object" 
                ng-required="enabled"
	        name="{{ctrl.alkamisPvmFieldName}}" 
	        ng-model="pvm.date"
	        ng-disabled="!enabled"
	        ng-change="onDateAdded()"
	        min="thisYear"
	        tt-bounds="koulutus.edit.alkamispaivat.outofbounds"
	        ></t-date-time>
        <a href
           data-ng-show="enabled && pvm.date!=null && ctrl.addedDates.length>1" 
           data-ng-click="clickRemoveDate(pvm)">[x]</a>
    </li>
</ul>