<div id="koulutuksenAlkamisPvm">
    <input type="radio" name="{{ctrl.kausiVaiPvm}}" ng-model="ctrl.kausi" ng-value="false"/>
    <span tt="koulutus.alkamispvm.singlePvm">Yksi alkamispäivämäärä</span><br/>
    <div class="indent">
        <alkamispaivat
            dates="pvms"
            kausi-uri="kausiUri"
            fn-clear-kausi="clearKausiSelection"
            enabled="!ctrl.kausi"
            multi="multi"
            field-name-prefix={{fieldNamePrefix}} 
            >
        </alkamispaivat>

        <input type="checkbox" name="pvmMulti" ng-model="ctrl.multi" ng-disabled="ctrl.kausi" ng-click="onToggleManyDates($event)"/>
        <span ng-class="ctrl.kausi ? 'disabled' : ''" tt="koulutus.alkamispvm.multiPvm">Monta alkamispäivämäärää</span>
        <a class="addDate" href ng-show="!ctrl.kausi && ctrl.multi"
           ng-click="onAddDate()" tt="tarjonta.toiminnot.lisää">Lisää uusi</a>
    </div>

    <input type="radio" name="kausiVaiPvm" ng-model="ctrl.kausi" ng-value="true" ng-click="onEnableKausi($event)"/>
    <span tt="koulutus.alkamispvm.enableKausi">Kausi</span>

    <div class="indent">
        <span tt="koulutus.alkamispvm.kausi">Alkamiskausi</span> {{ctrl.text.notSelected}}
        <select
            name="{{ctrl.alkamiskausi}}"
            ng-required="ctrl.kausi"
            ng-model="kausiUri"
            ng-options="koodi.koodiUri as koodi.koodiNimi for koodi in ctrl.koodis | orderByNum:'koodiNimi'"
            ng-disabled="!ctrl.kausi">
                <option value="" tt="koulutus.edit.alkamispaiva.ei-valittua-kautta"></option>
        </select>
        <span tt="koulutus.alkamispvm.vuosi">Alkamisvuosi</span>
        <input 
            class="thin"
            ng-required="ctrl.kausi"
            name="alkamisvuosi" 
            min="{{minYear}}"
            max="{{maxYear}}"
            type="number"
            ng-model="vuosi"
            ng-disabled="!ctrl.kausi"/>
    </div>
</div>