<div>
    <table>
        <tr>
            <td style="vertical-align: top">
        <alkamispaivat 
            dates="pvms" 
            kausi-uri="kausiModel.uri"
            fn-clear-kausi="clearKausiSelection"
            disabled-kausi="ctrl.disableKausi"  
            disabled-date="ctrl.disabledDate"> 
        </alkamispaivat>
        </td>
        <td style="vertical-align: top"><span tt="koulutus.edit.alkamispaiva.tai-alkamiskausi"></span></td>
        <td style="vertical-align: top">
            <select
                ng-model="kausiModel.uri" 
                ng-options="koodi.koodiUri as koodi.koodiNimi for koodi in kausiUiModel | orderByNum:'koodiNimi'"
                ng-disabled="ctrl.disableKausi"/>
        </td>
        <td style="vertical-align: top">
            <input type="text" 
                   ng-model="vuosi" 
                   ng-disabled="!ctrl.disabledDate"
                   />
        </td>
    </table>
</div>