<input class="btn" type="button" data-ng-click="goBack($event)" value="{{t('koulutus.edit.takaisin')}}"/>
<input class="btn btn-primary" type="button" data-ng-click="saveLuonnos($event)" value="{{t('koulutus.edit.tallenna.luonnos')}}"/>
<input class="btn btn-primary" type="button" data-ng-click="saveValmis($event)" value="{{t('koulutus.edit.tallenna.valmis')}}"/>

<input class="btn" disabled ng-show="koulutusForm.$invalid" type="button" value="{{t('koulutus.edit.tallenna.jatka')}}"/>
<input class="btn" ng-show="!koulutusForm.$invalid" type="button" data-ng-click="goToReview($event)" value="{{t('koulutus.edit.tallenna.jatka')}}"/>