<div id="editKoulutus" ng-controller="BaseEditController">

    <div class="header" ng-include="'partials/koulutus/edit/header.html'"></div>
    <div class="body" ng-include="getKoulutusPartialName('edit')"></div>

    <hr/>
	<div class="footer" ng-include="'partials/koulutus/edit/controls.html'"></div>
    
    <!-- 
    <div ng-click="xmodel.collapse.model = !xmodel.collapse.model">
        <div class="collapseHeader" ng-class="{isOpen : !xmodel.collapse.model}">Sivun data / malli:</div>
    </div>

    <div ng-if="!model.collapse.model">
     <div collapse="xmodel.collapse.model"">
        TODO fiksaa mallit jotensakin mielekkääksi?
        yksi "model" jonka alla kaikki on? "model.koulutus", "model.uimodel", "model.locale", "model.opetuskieli", etc.

        <pre>
           XMODEL: {{ xmodel | json }}
        </pre>
        <pre>
           MODEL: {{ model | json }}
        </pre>
        <pre>
           UIMODEL: {{ uiModel | json }}
        </pre>
        <pre>
            OPETUSKIELI: {{ opetuskieli | json }}
        </pre>
        <pre>
            CONFIG: {{ config | json }}
        </pre>
        <pre>
            LOCALE: {{ locale | json }}
        </pre>
    </div>
    </div>
     -->
     
</div>
