<tr class="primary" ng-controller="EditYhteyshenkiloCtrl">
	<th>{{t('koulutus.edit.ects-koordinaattori.name')}}</th>
	<td><input class="wide" type="text" ng-model="uiModel.ectsCoordinator.nimet" typeahead-on-select="editYhModel.selectEctsHenkilo()" typeahead="henkilo for henkilo in editYhModel.data | filter:$viewValue"/></td>
	<td><a href="#" ng-click="editYhModel.clearEctsYh()"><span tt='koulutus.edit.tyhjenna'></a></td>
</tr>

<tr ng-controller="EditYhteyshenkiloCtrl">
	<th>{{t('koulutus.edit.ects-koordinaattori.email')}}</th>
	<td><input type="text" data-ng-model="uiModel.ectsCoordinator.email" /></td>
	<td></td>
</tr>

<tr ng-controller="EditYhteyshenkiloCtrl">
	<th>{{t('koulutus.edit.ects-koordinaattori.phone')}}</th>
	<td><input type="text" data-ng-model="uiModel.ectsCoordinator.puhelin" /></td>
	<td></td>
</tr>
