<div class="container-fluid" ng-controller="EditYhteyshenkiloCtrl">
	<div class="row-fluid">
		<div class="span2 label-right">
			<span tt='kk.edit.ects-koordinaattori'>
		</div>
		<div class="span10">
			<div>
				<div style="float: left;">
					<input type="text" ng-model="uiModel.ectsCoordinator.nimet" typeahead-on-select="editYhModel.selectEctsHenkilo()" typeahead="henkilo for henkilo in editYhModel.data | filter:$viewValue"><!--<input type="text" data-ng-model="uiModel.ectsCoordinator.nimet" />-->
				</div>
				<div style="float: left;">
					<a href="" ng-click="editYhModel.clearEctsYh()"><span tt='kk.edit.tyhjenna'></a>
				</div>
			</div>
			<div style="clear: left;">
				<input type="text" data-ng-model="uiModel.ectsCoordinator.titteli" /><br />
				<input type="text" data-ng-model="uiModel.ectsCoordinator.puhelin" />
			</div>
		</div>
	</div>
</div>