
    <table class="tarjontaForm">
        <!-- koulutuskoodi -->
        <tr class="info">
            <th tt="koulutus.edit.koulutuskoodi"/>
            <td>{{model.koulutuskoodi.nimi}} <span class="float-right">{{model.koulutuskoodi.arvo}}</span></td>
            <td><!--a href ng-click="tutkintoDialogModel.open()" tt="koulutus.edit.muokkaaTutkinto"/--></td>
        </tr>

        <!-- koulutusohjelma -->
        <tr class="required">
            <th tt="koulutus.edit.koulutusohjelma"/>
            <td>
        <mk-textfield model="model.koulutusohjelma.tekstis"
                      name="koulutusohjelma" required></mk-textfield>
        </td>
        <td>
            <p class="error" ng-show="uiModel.showError && koulutusForm.koulutusohjelma.$error.required" tt="koulutus.edit.koulutusohjelma.required">(TODO virheilmo)</p> 
        </td>
        </tr>

        <tr>
            <th></th>
            <td colspan="2" class="help" tt="koulutus.edit.lisaa-kieli.help"/>
        </tr>

        <!-- väli -->
        <tr class="padding"><td colspan="3"></td></tr>

        <!-- tutkinto-ohjelman tunniste -->
        <tr>
            <th tt="koulutus.edit.tutkinto-ohjelman-tunniste"/>
            <td><input name="tutkintoOhjelmanTunniste" type="text" data-ng-model="model.tunniste" /></td>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="koulutus.edit.tutkinto-ohjelman-tunniste.help"/>
        </tr>

        <!-- k. aste -->
        <tr>
            <th tt="koulutus.edit.koulutusaste"/>
            <td>{{model.koulutusaste.nimi}}</td>
            <td></td>
        </tr>

        <!-- k. ala -->
        <tr>
            <th tt="koulutus.edit.koulutusala"/>
            <td>{{model.koulutusala.nimi}}</td>
            <td></td>
        </tr>

        <!-- o. ala -->
        <tr>
            <th tt="koulutus.edit.opintoala"/>
            <td>{{model.opintoala.nimi}}</td>
            <td></td>
        </tr>

        <!-- tutkinto -->
        <tr>
            <th tt="koulutus.edit.tutkinto"/>
            <td>{{model.tutkinto.nimi}}</td>
            <td></td>
        </tr>

        <!-- tutkintonimike -->
        <tr>
            <th tt="koulutus.edit.tutkintonimike"/>
            <td><tutkintonimike model="uiModel.tutkintonimikes"></tutkintonimike></td>
        </tr>
        <tr>
            <th tt="koulutus.edit.eqf-luokitus"/>
            <td>{{model.eqf.nimi}}</td>
            <td></td>
        </tr>

        <!-- opintojen laajuus -->
        <tr class="required">
            <th tt="koulutus.edit.opintojen-laajuus"/> 
            <td>
                <select required name="opintojenLaajuus" ng-model="model.opintojenLaajuus.uri" ng-options="koodi.koodiUri as koodi.koodiNimi for koodi in uiModel.opintojenLaajuus.koodis | orderByNum:'koodiNimi'"></select> {{model.opintojenLaajuusyksikko.nimi}}
            </td>
            <td>
                <p class="error" ng-show="uiModel.showError && koulutusForm.opintojenLaajuus.$error.required" tt="koulutus.edit.opintojenLaajuus.required"/>
            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="koulutus.edit.opintojen-laajuus.help"/>
        </tr>

        <!-- väli -->
        <tr class="padding"><td colspan="3"><hr/></td></tr>

        <!-- koulutuksen alkamispvm -->   
        <tr class="required">
            <th tt="koulutus.edit.koulutuksen-alkamispvm"/>
            <td>
        <alkamispaiva-ja-kausi 
            pvms="model.koulutuksenAlkamisPvms"       
            vuosi="model.koulutuksenAlkamisvuosi"
            kausi-uri = "model.koulutuksenAlkamiskausi.uri"
            kausi-ui-model="uiModel.koulutuksenAlkamiskausi">
        </alkamispaiva-ja-kausi> 
        </td>
        <td>
          
        </td>
        </tr>

        <!-- suunniteltu kesto -->
        <tr class="required">
            <th tt="koulutus.edit.suunniteltu-kesto"/>
            <td>
                <input required name="suunniteltuKestoArvo" class="thin" type="text" data-ng-model="model.suunniteltuKestoArvo" required />
                <select required name="suunniteltuKestoTyyppi" class="thin" ng-model="model.suunniteltuKestoTyyppi.uri" ng-options="koodi.koodiUri as koodi.koodiNimi for koodi in uiModel.suunniteltuKestoTyyppi.koodis | orderBy:'koodiNimi'"></select>
            </td>
            <td>
                <p class="error" ng-show="uiModel.showError && (koulutusForm.suunniteltuKestoArvo.$error.required || koulutusForm.suunniteltuKestoTyyppi.$error.required)"
                   tt="koulutus.edit.suunniteltu-kesto.required"/>
            </td>
        </tr>

        <!-- väli -->
        <tr class="padding"><td colspan="3"></td></tr>

        <!-- opetuskielet -->
        <tr class="required">
            <th tt="koulutus.edit.opetuskielet"/>
            <td>

        <multi-select
            order-with="userLanguages"
            model="uiModel.tmp"
            selection="uiModel.opetuskielis.uris"
            promise="uiModel.opetuskielis.promise"
            display="dualpane"
            name="opetuskielis" required/>

        </td>
        <td>
            <p class="error" ng-show="uiModel.showError && koulutusForm.opetuskielis.$error.required" tt="koulutus.edit.opetuskielet.required"/>
        </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="koulutus.edit.opetuskielet.help"/>
        </tr>

        <!-- k. maksullisuus -->
        <tr>
            <th tt="koulutus.edit.maksullisuus"/>
            <td>
                <input type="checkbox" data-ng-model="model.opintojenMaksullisuus" />
                <span tt="koulutus.edit.maksullisuus.valinta"/>
            </td>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td>
                <span tt="koulutus.edit.maksullisuus.hinta"></span>
                <input  ng-required="model.opintojenMaksullisuus" name="hinta" ng-disabled="!model.opintojenMaksullisuus" class="thin" type="text" data-ng-model="model.hinta" />
                <span tt="koulutus.edit.maksullisuus.euroa_lukuvuodessa"></span>
            </td>
            <td>
                <p class="error" ng-show="uiModel.showError && lisatiedotForm.hinta.$error.required" tt="koulutus.edit.maksullisuus.required"/>
            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="koulutus.edit.maksullisuus.help"/>
        </tr>

        <!-- opetusaikas -->
        <tr class="required">
            <th tt="koulutus.edit.opetusaikas"/>
            <td>
        <multi-select
            model="uiModel.tmp"
            selection="uiModel.opetusAikas.uris"
            promise="uiModel.opetusAikas.promise"
            columns="2"
            name="opetusAikas" required/>
        </td>
        <td>
            <p class="error" ng-show="uiModel.showError && koulutusForm.opetusAikas.$error.required" tt="koulutus.edit.opetusAikas.required"/>
        </td>
        </tr>

        <!-- opetusmuodot -->
        <tr class="required">
            <th tt="koulutus.edit.opetusmuodot"/>
            <td>
        <multi-select
            model="uiModel.tmp"
            selection="uiModel.opetusmuodos.uris"
            promise="uiModel.opetusmuodos.promise"
            columns="2"
            name="opetusmuodos" required/>
        </td>
        <td>
            <p class="error" ng-show="uiModel.showError && koulutusForm.opetusmuodos.$error.required" tt="koulutus.edit.opetusmuodot.required"/>
        </td>
        </tr>

        <!-- opetuspaikka -->
        <tr class="required">
            <th tt="koulutus.edit.opetusPaikkas"/>
            <td>
        <multi-select
            model="uiModel.tmp"
            selection="uiModel.opetusPaikkas.uris"
            promise="uiModel.opetusPaikkas.promise"
            columns="2"
            name="opetusPaikkas" required/>
        </td>
        <td>
            <p class="error" ng-show="uiModel.showError && koulutusForm.opetusPaikkas.$error.required" tt="koulutus.edit.opetusPaikkas.required"/>
        </td>
        </tr>

        <!-- teemat -->
        <tr class="required">
            <th tt="koulutus.edit.aiheet"/>
            <td>        
        <aiheet-ja-teemat model="uiModel.aihees.uris"></aiheet-ja-teemat>        
        </td>
        <td>
            <!--p class="error" ng-show="uiModel.showError && koulutusForm.aiheetJaTeemat.$error.required" tt="koulutus.edit.aihees.required"/-->
        </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="koulutus.edit.aihe-teema.help"/>
        </tr>

        <!-- väli -->
        <tr class="padding"><td colspan="3"></td></tr>

        <tbody ng-include="'partials/koulutus/edit/editYhteyshenkilo.html'"></tbody>

        <!-- väli -->
        <tr class="padding"><td colspan="3"></td></tr>

        <tbody ng-include="'partials/koulutus/edit/editEctsHenkilo.html'"></tbody>

        <!-- väli -->
        <tr class="padding"><td colspan="3"></td></tr>


    </table>

