<tr class="primary" ng-controller="EditYhteyshenkiloECTSCtrl">
    <th tt="koulutus.edit.ects-koordinaattori.name">ECTS-koordinaattori</th>
	<td><input class="wide" type="text" ng-model="uiModel.ectsCoordinator.nimet"/></td>
    <td><a href ng-click="editECTSModel.selectEctsHenkilo()"><span tt='koulutus.edit.kopioi'>Kopioi organisaatiotiedoista</span></a> <a href ng-click="editECTSModel.clearEctsYh()"><span tt='koulutus.edit.tyhjenna'>Tyhjennä</span></a></td>
</tr>

<tr>
    <th tt="koulutus.edit.ects-koordinaattori.email">Sähköposti</th>
	<td><input type="text" data-ng-model="uiModel.ectsCoordinator.sahkoposti" /></td>
	<td></td>
</tr>

<tr>
    <th tt="koulutus.edit.ects-koordinaattori.phone">Puhelinnumero</th>
	<td><input type="text" data-ng-model="uiModel.ectsCoordinator.puhelin" /></td>
	<td></td>
</tr>
