<form name="perustiedotForm">
    <table class="tarjontaForm">
        <!-- koulutusohjelma -->
        <tr class="required">
            <th tt="koulutus.edit.koulutusohjelma"/>
            <td>
        <mk-textfield model="model.koulutusohjelma.tekstis"></mk-textfield>
        </td>
        <td>
            <p class="error" ng-show="model.koulutusohjelma.tekstis.length == 0">(TODO virheilmo)</p> 
        </td>
        </tr>

        <tr>
            <th></th>
            <td colspan="2" class="help" tt="koulutus.edit.lisaa-kieli.help"/>
        </tr>

        <!-- väli -->
        <tr class="padding"><td colspan="3"></td></tr>

        <!-- tutkinto-ohjelman tunniste -->
        <tr>
            <th tt="koulutus.edit.tutkinto-ohjelman-tunniste"/>
            <td><input name="tutkintoOhjelmanTunniste" type="text" data-ng-model="model.tunniste" /></td>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="koulutus.edit.tutkinto-ohjelman-tunniste.help"/>
        </tr>

        <!-- k. aste -->
        <tr>
            <th tt="koulutus.edit.koulutusaste"/>
            <td>{{model.koulutusaste.kaannos}}</td>
            <td></td>
        </tr>

        <!-- k. ala -->
        <tr>
            <th tt="koulutus.edit.koulutusala"/>
            <td>{{model.koulutusala.kaannos}}</td>
            <td></td>
        </tr>

        <!-- o. ala -->
        <tr>
            <th tt="koulutus.edit.opintoala"/>
            <td>{{model.opintoala.kaannos}}</td>
            <td></td>
        </tr>

        <!-- tutkinto -->
        <tr>
            <th tt="koulutus.edit.tutkinto"/>
            <td>{{model.tutkinto.kaannos}}</td>
            <td></td>
        </tr>

        <!-- tutkintonimike -->
        <tr>
            <th tt="koulutus.edit.tutkintonimike"/>
            <td>{{model.tutkintonimike.kaannos}}</td>
            <td></td>
        </tr>
        <tr>
            <th tt="koulutus.edit.eqf-luokitus"/>
            <td>{{model.eqf.kaannos}}</td>
            <td></td>
        </tr>

        <!-- opintojen laajuus -->
        <tr class="required">
            <th tt="koulutus.edit.opintojen-laajuus"/> 
            <td>
                <select required name="opintojenLaajuus" ng-model="model.opintojenLaajuus.uri" ng-options="koodi.koodiUri as koodi.koodiNimi for koodi in uiModel.opintojenLaajuus | orderByNum:'koodiNimi'"></select>
            </td>
            <td>
                <p class="error" ng-show="perustiedotForm.opintojenLaajuus.$error.required" tt="koulutus.edit.opintojenLaajuus.required"/>
            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="koulutus.edit.opintojen-laajuus.help"/>
        </tr>

        <!-- väli -->
        <tr class="padding"><td colspan="3"><hr/></td></tr>

        <!-- koulutuksen alkamispvm -->
        <tr class="required">
            <th tt="koulutus.edit.koulutuksen-alkamispvm"/>
            <td>
                <input type="text"
                       name="alkamisPvm"
                       data-datepicker-popup="dd.MM.yyyy"
                       data-ng-model="model.koulutuksenAlkamisPvm"
                       data-ng-required="true" />
            </td>
            <td>
                <p class="error" ng-show="perustiedotForm.alkamisPvm.$error.required" tt="koulutus.edit.koulutuksen-alkamispvm.required"/>
            </td>
        </tr>

        <!-- suunniteltu kesto -->
        <tr class="required">
            <th tt="koulutus.edit.suunniteltu-kesto"/>
            <td>
                <input required name="suunniteltuKestoArvo" class="thin" type="text" data-ng-model="model.suunniteltuKestoArvo" required />
                <select required name="suunniteltuKestoTyyppi" class="thin" ng-model="model.suunniteltuKestoTyyppi.uri" ng-options="koodi.koodiUri as koodi.koodiNimi for koodi in uiModel.suunniteltuKestoTyyppi | orderBy:'koodiNimi'"></select>
            </td>
            <td>
                <p class="error" ng-show="perustiedotForm.suunniteltuKestoArvo.$error.required || perustiedotForm.suunniteltuKestoTyyppi.$error.required"
                   tt="koulutus.edit.suunniteltu-kesto.required"/>
            </td>
        </tr>

        <!-- väli -->
        <tr class="padding"><td colspan="3"></td></tr>

        <!-- opetuskielet -->
        <tr class="required">
            <th tt="koulutus.edit.opetuskielet"/>
            <td>

        <multi-select
            order-with="config.app.userLanguages"
            model="uiModel.tmp"
            selection="uiModel.opetuskielis.uris"
            promise="uiModel.opetuskielis.promise"
            display="dualpane"/>

        </td>
        <td>
            <p class="error" ng-show="uiModel.opetuskielis.uris.length == 0" tt="koulutus.edit.opetuskielet.required"/>
        </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="koulutus.edit.opetuskielet.help"/>
        </tr>

        <!-- k. maksullisuus -->
        <tr>
            <th tt="koulutus.edit.maksullisuus"/>
            <td>
                <input type="checkbox" data-ng-model="model.opintojenMaksullisuus" />
                <span tt="koulutus.edit.maksullisuus.valinta"/>
            </td>
            <td></td>
        </tr>
        <tr>
            <th tt="koulutus.edit.maksullisuus.hinta"></th>
            <td>
                <input  ng-required="model.opintojenMaksullisuus" name="hinta" ng-disabled="!model.opintojenMaksullisuus" class="thin" type="text" data-ng-model="model.hinta" />
                <span tt="koulutus.edit.maksullisuus.euroa_lukuvuodessa"></span>
            </td>
            <td>
                <p class="error" ng-show="lisatiedotForm.hinta.$error.required" tt="koulutus.edit.maksullisuus.required"/>
            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="koulutus.edit.maksullisuus.help"/>
        </tr>

        <!-- opetusmuodot -->
        <tr class="required">
            <th tt="koulutus.edit.opetusmuodot"/>
            <td>
        <multi-select
            model="uiModel.tmp"
            selection="uiModel.opetusmuodos.uris"
            promise="uiModel.opetusmuodos.promise"
            columns="2"/>
        </td>
        <td>
            <p class="error" ng-show="uiModel.opetusmuodos.uris.length == 0" tt="koulutus.edit.opetusmuodot.required"/>
        </td>
        </tr>

        <!-- pohjakoulutusvaatimus -->
        <tr class="required">
            <th tt="koulutus.edit.pohjakoulutusvaatimus"/>
            <td>
        <multi-select
            model="uiModel.tmp"
            selection="uiModel.pohjakoulutusvaatimukset.uris"
            promise="uiModel.pohjakoulutusvaatimukset.promise"
            display="dualpane"
            />
        </td>
        <td>
            <p class="error" ng-show="uiModel.pohjakoulutusvaatimukset.uris.length == 0" tt="koulutus.edit.pohjakoulutusvaatimus.required"/>
        </td>
        </tr>

        <!-- teemat -->
        <tr class="required">
            <th tt="koulutus.edit.teemat"/>
            <td>
        <multi-select
            model="uiModel.tmp"
            selection="uiModel.teemas.uris"
            promise="uiModel.teemas.promise"
            columns="2"/>
        </td>
        <td></td>
        </tr>

        <!-- väli -->
        <tr class="padding"><td colspan="3"></td></tr>

        <tbody ng-include="'partials/koulutus/edit/editYhteyshenkilo.html'"></tbody>

        <!-- väli -->
        <tr class="padding"><td colspan="3"></td></tr>

        <tbody ng-include="'partials/koulutus/edit/editEctsHenkilo.html'"></tbody>

        <!-- väli -->
        <tr class="padding"><td colspan="3"></td></tr>


    </table>
</form>
