<div data-ng-controller="ValintaperusteSearchController">

    <table class="seachSpecLayout">

        <tr>
            <th>&nbsp;</th>
            <th tt="tarjonta.valintaperustekuvaus.vuosi">Vuosi</th>
            <th tt="tarjonta.valintaperustekuvaus.kausi">Kausi</th>
            <th tt="tarjonta.valintaperustekuvaus.oppilaitostyyppi">Oppilaitostyyppi</th>
            <th>&nbsp;</th>
        </tr>

        <tr>
            <td class="query">
                <input type="text" ng-model="model.searchSpec.hakusana" ng-enter="search()"/>
            </td>
            <td>
                <select class="thin" data-ng-model="model.searchSpec.vuosi" data-ng-options="year for year in model.years">
                    <option value=""></option>
                </select>
            </td>
            <td>
                <koodistocombo class="thin" koodistouri="'kausi'" koodiuri="model.searchSpec.kausiUri" locale="'fi'"/>
            </td>
            <td>
                <koodistocombo koodistouri="'oppilaitostyyppi'" filteruris="model.userOrgTypes" koodiuri="model.searchSpec.oppilaitosTyyppi" locale="'fi'"/>
            </td>

            <td class="controls">
                <button class="btn" type="button" tt="tarjonta.valintaperustekuvaus.tyhjenna" value="Tyhjennä" ng-click="reset()">Tyhjennä</button>
                <button class="btn btn-primary" type="button" value="Hae" ng-click="search()"><span tt="tarjonta.valintaperustekuvaus.hae">Hae</span> <span class="icon-search"></span></button>
            </td>

        </tr>

    </table>

    <div id="searchResults">
        
        <tabset>
            <tab heading="{{t('kk.valintaperusteet.tab.valintaperusteet')}}">
	            <div class="controls">
	                <button class="btn float-right" type="button" ng-click="createNew('valintaperustekuvaus')"><span tt="tarjonta.valintaperustekuvaus.luouusi">Luo uusi kuvaus</span> <span class="icon-plus-sign"></span></button>
	            </div>
	            
                <results-tree-table
                    columns="['kausi', 'oppilaitostyyppi']"
                    column-titles="{kausi:'tarjonta.valintaperustekuvaus.list.vuosikausi', oppilaitostyyppi:'tarjonta.valintaperustekuvaus.list.oppilaitostyyppi'}"
                    model="model.valintaperusteet"
                    selection="selection.valintaperusteet"
                    get-content="kuvauksetGetContent"
                    get-identifier="kuvauksetGetIdentifier"
                    get-link="kuvauksetGetLink"
                    get-options="kuvauksetGetOptions"
                    ></results-tree-table>
            </tab>
            <tab heading="{{t('kk.valintaperusteet.tab.sora')}}">
                <div class="controls">
                    <button class="btn float-right" type="button" ng-click="createNew('SORA')"><span tt="tarjonta.valintaperustekuvaus.luouusi">Luo uusi kuvaus</span> <span class="icon-plus-sign"></span></button>
                </div>

                <results-tree-table
                    columns="['kausi', 'oppilaitostyyppi']"
                    column-titles="{kausi:'tarjonta.valintaperustekuvaus.list.vuosikausi', oppilaitostyyppi:'tarjonta.valintaperustekuvaus.list.oppilaitostyyppi'}"
                    model="model.sorat"
                    selection="selection.sorat"
                    get-content="kuvauksetGetContent"
                    get-identifier="kuvauksetGetIdentifier"
                    get-link="kuvauksetGetLink"
                    get-options="kuvauksetGetOptions"
                    ></results-tree-table>
            </tab>

        </tabset>

    </div>


</div>