<div data-ng-controller="ValintaperusteSearchController">

    <div id="searchSpec">



        <table class="spec">

            <!-- otsikkorivi -->
            <tr>
                <th>{{t('tarjonta.valintaperustekuvaus.haenimella')}}</th>
                <th>{{t('tarjonta.valintaperustekuvaus.kausi')}}</th>
                <th>{{t('tarjonta.valintaperustekuvaus.oppilaitostyyppi')}}</th>

                <th colspan="2">&nbsp;</th>
            </tr>

            <!-- kontrollit -->
            <tr>
                <td>
                    <div class="search">
                        <input type="text" ng-model="model.searchSpec.hakusana"/>
                    </div>
                </td>
                <td>
                    <koodistocombo koodistouri="'kausi'" koodiuri="model.searchSpec.kausiUri" locale="'fi'"/>
                </td>
                <td>
                    <koodistocombo koodistouri="'oppilaitostyyppi'" filteruris="model.userOrgTypes" koodiuri="model.searchSpec.oppilaitosTyyppi" locale="'fi'"/>
                </td>

                <td class="controls">
                    <input class="btn" type="button" value="{{t('tarjonta.valintaperustekuvaus.tyhjenna')}}" ng-click="reset()"/>
                    <input class="btn btn-primary" type="button" value="{{t('tarjonta.valintaperustekuvaus.hae')}}" ng-click="search()"/>
                </td>

            </tr>



        </table>

    </div>

    <div id="searchResults">
        <tabset>
            <tab heading="{{t('kk.valintaperusteet.tab.valintaperusteet')}}">
                <input class="btn" type="button" value="{{t('tarjonta.valintaperustekuvaus.luouusi')}}" ng-click="createNew('valintaperustekuvaus')"/>
                <table>
                    <tr>
                        <th tt="tarjonta.valintaperustekuvaus.list.nimi"></th>
                        <th tt="tarjonta.valintaperustekuvaus.list.oppilaitostyyppi"></th>
                        <th tt="tarjonta.valintaperustekuvaus.list.vuosikausi"></th>
                    </tr>
                    <tr data-ng-repeat="valintaperuste in model.valintaperusteet">
                            <td ><a href="" data-ng-click="selectKuvaus(valintaperuste)">{{valintaperuste.kuvauksenNimi}}</a> </td>
                            <td data-ng-bind-html="valintaperuste.organisaatioTyyppi"></td>
                            <td data-ng-bind-html="valintaperuste.vuosikausi"></td>
                            <td><a href="" data-ng-click="removeKuvaus(valintaperuste)">{{t('tarjonta.valintaperustekuvaus.poista.link')}}</a> </td>
                            <td><a href="" data-ng-click="copyKuvaus(valintaperuste)">{{t('tarjonta.valintaperustekuvaus.kopioi.link')}}</a> </td>

                    </tr>
                </table>

            </tab>
            <tab heading="{{t('kk.valintaperusteet.tab.sora')}}">
                <input class="btn" type="button" value="{{t('tarjonta.valintaperustekuvaus.luouusi')}}" ng-click="createNew('SORA')"/>
                <table>
                    <tr>
                        <th tt="tarjonta.valintaperustekuvaus.list.nimi"></th>
                        <th tt="tarjonta.valintaperustekuvaus.list.oppilaitostyyppi"></th>
                        <th tt="tarjonta.valintaperustekuvaus.list.vuosikausi"></th>
                    </tr>
                    <tr data-ng-repeat="sora in model.sorat" >
                            <td ><a href="" data-ng-click="selectKuvaus(sora)">{{sora.kuvauksenNimi}}</a> </td>

                            <td data-ng-bind-html="sora.organisaatioTyyppi"></td>
                            <td data-ng-bind-html="sora.vuosikausi"></td>
                        <td><a href="" data-ng-click="removeKuvaus(sora)">{{t('tarjonta.valintaperustekuvaus.poista.link')}}</a> </td>
                        <td><a href="" data-ng-click="copyKuvaus(sora)">{{t('tarjonta.valintaperustekuvaus.kopioi.link')}}</a> </td>

                    </tr>
                </table>

            </tab>

        </tabset>
        <!--   TODO : This does not work replace current table with this "results-table"
        <results-table
                id="valintaperusteetResults"
                prefix="valintaperuste"
                content="model.valintaperusteet"
                columns="valintaperusteColumns"
                options="valintaPerusteOptions"
                selection="model"/>     -->



    </div>


</div>