<div data-ng-controller="ValintaperusteSearchController">

    <div id="searchSpec">



        <table class="spec">

            <!-- otsikkorivi -->
            <tr>
                <th>{{t('tarjonta.valintaperustekuvaus.haenimella')}}</th>
                <th>{{t('tarjonta.valintaperustekuvaus.oppilaitostyyppi')}}</th>

                <th colspan="2">&nbsp;</th>
            </tr>

            <!-- kontrollit -->
            <tr>
                <td>
                    <div class="search">
                        <input type="text" ng-model="spec.terms" ng-enter="search()"/>
                    </div>
                </td>
                <td>
                    <koodistocombo koodistouri="'oppilaitostyyppi'" koodiuri="model.spec.oppilaitostyyppi" locale="'fi'"/>
                </td>

                <td class="controls">
                    <input class="btn" type="button" value="{{t('tarjonta.valintaperustekuvaus.tyhjenna')}}" ng-click="reset()"/>
                    <input class="btn btn-primary" type="button" value="{{t('tarjonta.valintaperustekuvaus.hae')}}" ng-click="search()"/>
                </td>

            </tr>



        </table>

    </div>

    <div id="searchResults">

        <results-table
                id="valintaperusteetResults"
                prefix="valintaperuste"
                content="model.valintaperusteet"
                columns="valintaperusteColumns"
                options="valintaPerusteOptions"
                selection="model"/>

    </div>


</div>