<div id="luo-koulutus-dialogi">
	<div class="modal-header">
		<h3><span  tt="luoKoulutusDialogi.otsikko"/></h3>
	</div>

	<div class="modal-body">
        <div tt="luoKoulutusDialogi.kuvaus"></div>
        
        <h4><span tt="luoKoulutsDialogi.koulutus"/></h4>
        <select ng-hide="piilotaKoulutustyyppi" ng-model="model.koulutustyyppi"
                    ng-options="k.koodiNimi for k in sallitutKoulutustyypit">
                        <option value="">-- valitse --</option>
        </select>
        <h4><span tt="luoKoulutusDialogi.valitseKoulutuksenToteutuspaikka"/></h4>

		<table width="100%">
			<tr>
				<td width="50%"><div class="treeview"
						data-angular-treeview="true" data-tree-id="lkorganisaatio"
						data-org-tree-model="lkorganisaatiot" data-node-id="oid"
						data-node-label="nimi" data-node-children="children" autoselect="luoKoulutusDialogOrg"></div></td>
				<td width="50%" ng-hide="organisaatioValittu()" tt="luoKoulutusDialogi.organisaatiotaEiValittu"/>
				<td width="50%" ng-show="organisaatioValittu()">
				    <p tt="luoKoulutusDialogi.koulutusLuodaanSeuraaviinOrganisaatioihin"/>
				    <ul>
                    <li ng-repeat="organisaatio in model.organisaatiot">
                        <a ng-click="poistaValittu(organisaatio)">[X]</a> {{organisaatio.nimi}}
                    </li>
				    </ul>
				</td>
			</tr>
		</table>

	</div>
	<div class="modal-footer">
		<button class="btn" ng-click="peruuta()"><span tt="luoKoulutusDialogi.peruuta"/></button>
		<button class="btn" disabled="true" ng-click="liitaToiseenOrganisaatioon()"><span tt="luoKoulutusDialogi.liitaToiseenOrganisaatioon"/></button>
		<button class="btn btn-primary" ng-disabled="jatkaDisabled()" ng-click="jatka()"><span tt="luoKoulutusDialogi.jatka"/></button>
	</div>
</div>