<div id="luo-koulutus-dialogi">
	<div class="modal-header">
        <h3><span  tt="luoKoulutusDialogi.otsikko">Luo uusi koulutus</span></h3>
	</div>

	<div class="modal-body">
        <div tt="luoKoulutusDialogi.kuvaus">Luo koulutusdialogi kuvaus</div>

        <h4><span tt="luoKoulutsDialogi.koulutus">Koulutus</span></h4>
        <select ng-hide="piilotaKoulutustyyppi" ng-model="model.koulutustyyppi"
            ng-options="k.koodiNimi for k in sallitutKoulutustyypit|orderBy:'koodiNimi'">
            <option value="" tt="luoKoulutusDialogi.valitse">-- valitse --</option>
        </select>

        <div ng-if="showPohjakoulutusvaatimus">
            <h4>Valitse pohjakoulutusvaatimus</h4>
            <select ng-model="model.pohjakoulutusvaatimus"
                ng-options="obj.koodiUri as obj.koodiNimi for (key,obj) in pohjakoulutusvaatimusOptions|orderBy:'koodiNimi'">
                <option value="" tt="luoKoulutusDialogi.valitse">-- valitse --</option>
            </select>
        </div>

        <div ng-show="model.koulutustyyppi.koodiUri == 'koulutustyyppi_3' && model.tutkintoonJohtamattomatEnabled">
            <h4><span tt="luoKoulutsDialogi.koulutusmoduulinTyyppi">Koulutuksen tyyppi</span></h4>
            <label for="tyyppiTutkinto">
                <input id="tyyppiTutkinto" type="radio" ng-model="model.koulutusmoduuliTyyppi" value="TUTKINTO">
                <span tt="tarjonta.tyyppi.TUTKINTO">Tutkinto</span>
            </label>
            <label for="tyyppiOpintokokonaisuus">
                <input id="tyyppiOpintokokonaisuus" type="radio" ng-model="model.koulutusmoduuliTyyppi"
                       value="OPINTOKOKONAISUUS">
                <span tt="tarjonta.tyyppi.OPINTOKOKONAISUUS">Opintokokonaisuus</span>
            </label>
            <label for="tyyppiOpintojakso">
                <input id="tyyppiOpintojakso" type="radio" ng-model="model.koulutusmoduuliTyyppi"
                       value="OPINTOJAKSO">
                <span tt="tarjonta.tyyppi.OPINTOJAKSO">Opintojakso</span>
            </label>
        </div>

        <h4><span tt="luoKoulutusDialogi.valitseKoulutuksenToteutuspaikka">Valitse koulutuksen toteutuspaikka</span></h4>
        <label for="showOtherOrganizations" ng-show="model.showOtherOrganizationsCheckbox">
            <input id="showOtherOrganizations" ng-click="toggleOtherOrganizations()"
                   type="checkbox" ng-model="model.showOtherOrganizations" />
            <span tt="luoKoulutusDialogi.naytaMyosMuutKorkeakoulut">Näytä myös muut korkeakoulut</span>
        </label>

		<table width="100%">
			<tr>
				<td width="50%">
                    <input ng-if="model.showOtherOrganizations && model.showOtherOrganizationsCheckbox" type="text" ng-model="organizationFilter"
                           placeholder="Hae korkeakouluja" ng-change="searchOrganizations(organizationFilter)" />
                    <div class="treeview"
						data-angular-treeview="true" data-tree-id="lkorganisaatio"
						data-org-tree-model="lkorganisaatiot" data-node-id="oid"
						data-node-label="nimi" data-node-children="children" autoselect="luoKoulutusDialogOrg">
					</div>
                </td>
                <td width="50%" ng-hide="organisaatioValittu()" tt="luoKoulutusDialogi.organisaatiotaEiValittu">Organisaatio ei ole valittu</td>
				<td width="50%" ng-show="organisaatioValittu()">
                    <p tt="luoKoulutusDialogi.koulutusLuodaanSeuraaviinOrganisaatioihin">Luodaan seuraaviin organisaatioihin</p>
				    <ul>
                        <li ng-repeat="organisaatio in model.organisaatiot">
                            <a ng-click="poistaValittu(organisaatio)">[X]</a> {{organisaatio.nimi}}
                        </li>
				    </ul>
				</td>
			</tr>
		</table>

	</div>
	<div class="modal-footer">
        <button class="btn" ng-click="peruuta()"><span tt="luoKoulutusDialogi.peruuta">Peruuta</span></button>
        <button class="btn btn-primary" ng-disabled="jatkaDisabled()" ng-click="jatka()"><span tt="luoKoulutusDialogi.jatka">Jatka</span></button>
	</div>
</div>
