<div id="editHakukohde" ng-controller="HakukohdeEditController">

    <div class="header" ng-include="'partials/hakukohde/edit/header.html'"></div>
    <tabset>
        <tab heading="{{t('kk.hakukohde.perustiedot')}}">
        	<form name="editHakukohdeForm">
	            <div data-ng-include="'partials/hakukohde/edit/editPerustiedot.html'"></div>
			</form>
        </tab>
        <tab disabled="model.hakukohdeTabsDisabled"  heading="{{t('kk.hakukohde.valintakokeet')}}">
            <div data-ng-include="'partials/hakukohde/edit/valintakokeetList.html'" data-ng-controller="ValintakokeetController"></div>
        </tab>
        <tab disabled="model.hakukohdeTabsDisabled" heading="{{t('kk.hakukohde.liitteet')}}">
            <div data-ng-include="'partials/hakukohde/edit/liitteetList.html'" data-ng-controller="LiitteetListController"></div>
        </tab>
        <tab disabled="model.hakukohdeTabsDisabled"  heading="{{t('kk.hakukohde.valintaperustekuvaus')}}">
            <div data-ng-include="'partials/hakukohde/edit/valintaperusteKuvaukset.html'" data-ng-controller="HakukohdeEditController"></div>
        </tab>

    </tabset>
    <hr/>
	<div class="footer" ng-include="'partials/hakukohde/edit/controls.html'"></div>
    
    <!-- 
  <div ng-click="model.collapse.model= !model.collapse.model">
        <div class="collapseHeader" ng-class="{isOpen : !model.collapse.model}">Sivun data / malli:</div>
    </div>
    <div ng-if="!model.collapse.model">
    <div collapse="model.collapse.model">
        <pre>
            {{ model | json }}
        </pre>
    </div>
 </div>
     -->
     
</div>
