<table class="tarjontaForm">

	<!-- hakukohteen nimi -->
	<tr class="required">
		<th tt="kk.hakukohde.hakukohdenimi"/>
		<td>
			<mk-textfield model="model.hakukohde.hakukohteenNimet"></mk-textfield>

		</td>
		<td>
			<!-- <p class="error" ng-show="model.koulutusohjelma.meta.length==0">(TODO virheilmo)</p>  --> 
		</td>
	</tr>

	<!-- haku -->
	<tr class="required">
		<th tt="kk.hakukohde.haut"/>
		<td>
			<select class="wide" required ng-model="model.hakukohde.hakuOid" data-ng-options="haku.oid as haku.lokalisoituNimi for haku in model.hakus"/>
		</td>
		<td>
			<!-- <p class="error" ng-show="model.koulutusohjelma.meta.length==0">(TODO virheilmo)</p>  --> 
		</td>
	</tr>

	<!-- hakukelpoisuusvaatimukset -->
	<tr class="required">
		<th tt="kk.hakukohde.hakukelpoisuusvaatimukset"/>
		<td>
            <multi-select
                    model="temp"
                    selection="model.hakukohde.hakukelpoisuusvaatimusUris"
                    promise="model.hakukelpoisuusVaatimusPromise"
                    display="checklist"/>
			<!-- TODO multiselect -->
			<!--<koodistomultiselect koodiuris="model.hakukohde.hakukelpoisuusvaatimusUris" koodistouri="'hakukelpoisuusvaatimusta'" locale="'FI'"></koodistomultiselect>-->
		</td>
		<td>
			<!-- <p class="error" ng-show="model.koulutusohjelma.meta.length==0">(TODO virheilmo)</p>  --> 
		</td>
	</tr>
	
	<!-- aloituspaikat -->
	<tr class="required">
		<th tt="kk.hakukohde.hakijoilleilmoitettavataloituspaikat"/>
		<td>
			<input class="thin" type="number" min="1" data-ng-model="model.hakukohde.aloituspaikatLkm" required />
		</td>
		<td>
			<!-- <p class="error" ng-show="model.koulutusohjelma.meta.length==0">(TODO virheilmo)</p>  --> 
		</td>
	</tr>
	
	<!-- valintapalvelu -->
	<tr>
		<th tt="kk.hakukohde.valintapalvelu"/>
		<td>
			<input type="checkbox" data-ng-model="model.hakukohde.kaytetaanJarjestelmanValintaPalvelua"  />
			<span tt="kk.hakukohde.kaytetaanJarjestelmanValintaPalvelua"></span>
		</td>
		<td>
			<!-- <p class="error" ng-show="model.koulutusohjelma.meta.length==0">(TODO virheilmo)</p>  --> 
		</td>
	</tr>
	
	<!-- liitteiden toimitusosoite -->
	<tr>
		<th tt="kk.hakukohde.liitteidentoimitusosoite"/>
		<td>
		
			<!-- TODO osoitedirektiivi -->
			<input type="radio" ng-model="osoiteType" >
            <span tt="tarjonta.hakukohde.label.oletus.postisoite"></span>
            <br/>

			<input type="radio" ng-model="osoiteType"  value="false">
            <span tt="tarjonta.hakukohde.label.muu.osoite"></span>           
            <br/>

		</td>
		<td>
			<!-- <p class="error" ng-show="model.koulutusohjelma.meta.length==0">(TODO virheilmo)</p>  --> 
		</td>
	</tr>
	<tr>
		<th></th>
		<td>			
			<input type="text" ng-disabled="!osoiteType" placeholder="Osoite" data-ng-model="model.hakukohde.liitteidenToimitusOsoite.osoiterivi1" required />   <br/>
			<input type="text" ng-disabled="!osoiteType" typeahead-editable="false" ng-model="model.postinumeroarvo.arvo" typeahead-on-select="model.onKieliTypeAheadChange()" typeahead="koodi.koodiArvo for koodi in model.koodis | filter:{koodiArvo:$viewValue} | limitTo:8 |  orderBy:'koodiArvo'">
			<input type="text" placeholder="Postitoimipaikka" disabled="true" data-ng-model="model.hakukohde.liitteidenToimitusOsoite.postitoimipaikka" required />
		</td>
		<td>
			<!-- <p class="error" ng-show="model.koulutusohjelma.meta.length==0">(TODO virheilmo)</p>  --> 
		</td>
	</tr>
	
	<!-- sähköinen toimitus -->
	<tr>
		<th></th>
		<td>
			<input type="checkbox" ng-model="voidaanToimittaaSahkoisesti"/>
			<span tt="kk.hakukohde.voidaantoimittaa.sahkoisesti"></span>
		</td>
		<td>
			<!-- <p class="error" ng-show="model.koulutusohjelma.meta.length==0">(TODO virheilmo)</p>  --> 
		</td>
	</tr>
	<tr>
		<th tt="kk.hakukohde.sahkoinentoimitusosoite"/>
		<td>
			<input type="text" ng-disabled="!voidaanToimittaaSahkoisesti" data-ng-required="voidaanToimittaaSahkoisesti" ng-model="model.hakukohde.sahkoinenToimitusOsoite">
		</td>
		<td>
			<!-- <p class="error" ng-show="model.koulutusohjelma.meta.length==0">(TODO virheilmo)</p>  --> 
		</td>
	</tr>

	<!-- liitteiden toimituspvm -->
	<tr>
		<th tt="kk.hakukohde.liitteidenToimitusPvm"/>
		<td>
			<input type="checkbox" ng-change="model.checkboxChange()" ng-model="model.hakukohde.kaytetaanHaunPaattymisenAikaa"/>
			<span tt="kk.hakukohde.kaytetaanHaunPaattymisenAikaa"></span><br/>
		</td>
		<td>
			<!-- <p class="error" ng-show="model.koulutusohjelma.meta.length==0">(TODO virheilmo)</p>  --> 
		</td>
	</tr>
	<tr>
		<th></th>
		<td>

			<date-time-picker selecteddatetime="model.hakukohde.liitteidenToimitusPvm"></date-time-picker>
		</td>
		<td>
			<!-- <p class="error" ng-show="model.koulutusohjelma.meta.length==0">(TODO virheilmo)</p>  --> 
		</td>
	</tr>

</table>

<h4 tt="kk.hakukohde.lisatietoja.hakemisesta"></h4>

<mk-rich-textarea model="model.hakukohde.lisatiedot" max="1500"></mk-rich-textarea>

<!-- 
<koodistotypeahead removearvocallback="model.kieliRemoveCallback" onchangecallback="model.kieliCallback" koodiuris="model.selectedKieliUris" allkoodis="model.allkieles" koodistouri="'kieli'" locale="model.userLang"></koodistotypeahead>

<tabset>
    <tab  heading="{{lisatieto.nimi}}" ng-repeat="lisatieto in model.hakukohde.lisatiedot">
        <textarea ui-tinymce ng-model="lisatieto.teksti"></textarea>
    </tab>
</tabset>
 -->
