<div id="editHakukohde" ng-controller="HakukohdeEditController">

    <controls-model
        model="formControls"
        tt-create="hakukohde.create.header.title"
        tt-edit="hakukohde.edit.header.title"
        title="model.hakukohde.tekstis"
        dto="model.modifiedObj">

        <controls-button tt-key="koulutus.edit.takaisin" action="model.takaisin()"></controls-button>
        <controls-button tt-key="koulutus.edit.tallenna.luonnos" action="model.saveLuonnos()" primary="true" disabled="!model.canSaveAsLuonnos()"></controls-button>
        <controls-button tt-key="koulutus.edit.tallenna.valmis" action="model.saveValmis()" primary="true"></controls-button>
        <controls-button icon="arrow-right" tt-key="koulutus.edit.tallenna.jatka" action="model.tarkastele()" disabled="!model.continueToReviewEnabled"></controls-button>

        <!-- TODO on koulutuksessa, pitäiskö olla hakukohteessakin?
        <controls-button tt-key="koulutus.edit.tallenna.jatka" action="goToReview($event)" disabled="koulutusForm.$invalid"></controls-button>
         -->
        <!-- TODO uutta luotaessa vaihtoehtoinen teksti "olet luomassa... " tjsp. -->
        <controls-notify type="message" tt-expr="getKoulutustenNimetKey()" tt-params="[ getKoulutustenNimet() ]"></controls-notify>

        <controls-notify type="success" tt-expr="'tarjonta.tallennus.ok'" show="model.showSuccess"></controls-notify>
        <controls-notify type="error" tt-expr="'tarjonta.tallennus.virhe'" show="model.showError"></controls-notify>

        <controls-notify ng-repeat="e in model.validationmsgs" type="error-detail" tt-expr="e" show="model.showError"></controls-notify>

    </controls-model>

    <display-controls model="formControls" display="header"></display-controls>

    <tabset>
        <tab heading="{{t('kk.hakukohde.perustiedot')}}">
        	<form name="editHakukohdeForm" novalidate>
		        <!-- angularin "ominaisuus" vaatii tämän piilonapin; ks. http://docs.angularjs.org/api/ng/directive/form -->
		        <button ng-click="" class="btn-invisible"></button>
	            <div data-ng-include="'partials/hakukohde/edit/editPerustiedot.html'"></div>
			</form>
        </tab>
        <tab ng-disabled="model.hakukohdeTabsDisabled" disabled="model.hakukohdeTabsDisabled"  heading="{{t('kk.hakukohde.valintakokeet')}}">
            <div data-ng-include="'partials/hakukohde/edit/valintakokeetList.html'" data-ng-controller="ValintakokeetController"></div>
        </tab>
       <!-- <tab  heading="{{t('kk.hakukohde.valintakokeet')}}">
            <div data-ng-include="'partials/hakukohde/edit/valintakokeetList.html'" data-ng-controller="ValintakokeetController"></div>
        </tab>-->
        <tab ng-disabled="model.hakukohdeTabsDisabled" disabled="model.hakukohdeTabsDisabled" heading="{{t('kk.hakukohde.liitteet')}}">
            <div data-ng-include="'partials/hakukohde/edit/liitteetList.html'" data-ng-controller="LiitteetListController"></div>
        </tab>
        <tab ng-disabled="model.hakukohdeTabsDisabled" disabled="model.hakukohdeTabsDisabled" heading="{{t('kk.hakukohde.valintaperustekuvaus')}}">
            <div data-ng-include="'partials/hakukohde/edit/valintaperusteKuvaukset.html'" data-ng-controller="HakukohdeEditController"></div>
        </tab>

    </tabset>

    <display-controls model="formControls" display="footer"></display-controls>

</div>
