<div id="soraVapeChooserDialog">
    <div class="modal-header">
        <h3>{{ dialog.titles.title }}</h3>
    </div>
    <div class="modal-body">
        <form name="ValintakoeModalForm">
            <p>{{ dialog.titles.toimintoTitle }}</p>

            <dl>
                <dt>
                    <input id="link" type="radio" data-ng-model="dialog.copySelection" value="link"/>
                    <label for="link">{{ dialog.titles.linkkausTitle }}</label>
                </dt>
                <dd>{{dialog.titles.linkkausHelp}}</dd>
                <dt>
                    <input id="copy" type="radio" data-ng-model="dialog.copySelection" value="copy">
                    <label for="copy">{{ dialog.titles.kopioTitle }}</label>
                </dt>
                <dd>{{dialog.titles.kopioiHelp}}</dd>
           </dl>

           <div ng-grid="kuvausGrid" class="kuvausGridStyle"></div>

            <p>{{dialog.titles.tuoMyosMuutkieletTitle}}</p>

	        <multi-select
	            model="dialog.kuvauksenKielet"
	            selection="dialog.valitutKuvauksenKielet"
	            display="dualpane"
	            key="uri"
	            value="nimi"
	            />

        </form>
   </div>
    <div class="modal-footer">
        <button type="button" class="btn" data-ng-click="onCancel()">{{dialog.titles.cancelBtn}}</button>
        <button class="btn btn-primary" data-ng-click="onOk()" ng-disabled="!isOk()">{{dialog.titles.okBtn}}</button>
    </div>
</div>