<div id="hakukohdeNimiChooseDialog">
    <div class="modal-header">
        <h3 tt="hakukohde.nimi.dialog.addLanguage.title">Lisää kieli</h3>
    </div>
    <div class="modal-body">
        <p tt="hakukohde.nimi.dialog.help">Ohje</p>

        <koodistocombo locale="'FI'" onchangecallback="model.kieliComboCallback" koodistouri="'kieli'" koodiuri="model.hakukohdenimi.uri"/>
        <input type="text" data-ng-model="model.hakukohdenimi.teksti">
    </div>

    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="model.cancel()" tt="tarjonta.toiminnot.peruuta">Peruuta</button>
        <button class="btn btn-primary" ng-click="model.ok()" tt="tarjonta.toiminnot.ok">OK</button>
    </div>

</div>