<div class="localizedTabs">

    <tabset>
        <tab ng-repeat="kieli in liitteetModel.opetusKielet" heading="{{kieli.koodiNimi}}" active="liitteetModel.selectedTab[kieli.koodiUri]">
        
            <p class="float-right">
                <button class="btn btn-primary"
                    ng-click="createLiite(kieli.koodiUri)"><span tt="tarjonta.hakukohde.liite.modal.lisäys"></span> <span class="icon-plus-sign"></span></button>
            </p>
            
            <div ng-repeat="liite in getLiitteetByKieli(kieli.koodiUri)" class="{{liite.selected ? 'selected' : ''}}">

                <hr class="clear-both"/>
                
	            <table class="tarjontaForm">
	                <tr class="required">
	                    <th tt="tarjonta.hakukohde.liite.modal.nimi"></th>
	                    <td><input type="text" ng-model="liite.liitteenNimi" ng-change="status.dirtify()" required/></td>
	                    <td style="vertical-align:top">
	                        <div class="float-right">
	                            <button ng-click="deleteLiite(liite)" class="btn"><span tt="tarjonta.toiminnot.poista"></span> <span class="icon-remove"></span></button>
	                        </div>
	                    </td>
	                </tr>
	                
	                <tr>
	                    <th tt="tarjonta.hakukohde.liite.modal.kuvaus"></th>
	                    <td colspan="2">
	                        <rich-textarea mode="false" model="liite.liitteenKuvaukset[kieli.koodiUri]" on-change="status.dirtify()"></rich-textarea>
	                    </td>
	                </tr>
	            
	                <tr class="required">
	                    <th tt="tarjonta.hakukohde.liite.modal.toimitettavaMennessa"></th>
	                    <td>
	                        <t-date-time timestamp="true" type="long" ng-model="liite.toimitettavaMennessa" ng-change="status.dirtify()"></t-date-time>
	                    </td>
	                    <td></td>
	                </tr>
	            
	                <tr class="required">
	                    <th tt="tarjonta.hakukohde.liite.modal.toimitusosoite"></th>
	                    <td>
	                        <input type="radio" name="muuOsoiteEnabled" ng-click="liite" ng-model="liite.muuOsoiteEnabled" ng-change="status.dirtify()" ng-value="false" /> <span tt="tarjonta.hakukohde.liite.modal.kaytetaanOrganisaationPostiosoitetta"></span><br/>
	                        <input type="radio" name="muuOsoiteEnabled" data-ng-click="liite" ng-model="liite.muuOsoiteEnabled" ng-change="status.dirtify()" ng-value="true"/> <span tt="tarjonta.hakukohde.liite.modal.kaytetaanMuutaOsoitetta"></span><br/>
	                        
	                        <div class="inset">
	                            <osoite-field model="liite.liitteenToimitusOsoite" ng-disabled="!liite.muuOsoiteEnabled" on-change="status.dirtify()"></osoite-field>
	                        </div>
	                        
	                        <input type="checkbox" ng-model="liite.sahkoinenOsoiteEnabled" ng-change="status.dirtify()"/> <span tt="tarjonta.hakukohde.liite.modal.voidaanToimittaaSahkoisesti"></span><br/>
	                        
	                        
	                        <div class="inset">
	                            <input type="text" ng-model="liite.sahkoinenToimitusOsoite" ng-disabled="!liite.sahkoinenOsoiteEnabled" ng-change="status.dirtify()"/>
	                        </div>
	                    </td>
	                    <td></td>
	                </tr>
	            
	            </table>

            </div>
            
            <!--  
            <hr/>
            
                
            <table class="table table-hover selection">
                <tr>
                    <th tt="tarjonta.hakukohde.liite.listaus.liitteen.kuvaus">Liite</th>
                    <th tt="tarjonta.hakukohde.liite.listaus.liitteen.osoite">Toimitusosoite</th>
                    <th tt="tarjonta.hakukohde.liite.listaus.liitteen.toimitusPvm">Toimitettava viimeistään</th>
                    <th></th>
                </tr>
                <tr ng-repeat="liite in getLiitteetByKieli(kieli.koodiUri)" class="{{liite.selected ? 'selected' : ''}}">
                    <td><a href ng-click="selectLiite(liite)">{{liite.liitteenNimi}}</a></td>
                    <td>{{liite.liitteenToimitusOsoite | osoite }}</td>
                    <td>{{liite.toimitettavaMennessa | date:'d.M.yyyy H:mm'}}</td>
                    <td><div class="align-right"><button ng-click="deleteLiite(liite)" class="btn"><span tt="tarjonta.toiminnot.poista"></span> <span class="icon-remove"></span></button></div></td>
                </tr>
            </table>
             -->
                
        </tab>
        
        <tab class="addLangTab">
            <tab-heading><span class="icon-plus"></span></tab-heading>
            
            <multi-select
                on-change="onLangSelection()"
                order-with="userLangs"
                model="liitteetModel.langs"
                selection="liitteetModel.selectedLangs"
                display="dualpane"></multi-select>
        </tab>
        
    </tabset>
 
</div>