<div>
    <div class="modal-header">
        <h3>{{ model.translations.title}}</h3>
    </div>
    <div class="modal-body">
        <form name="valintakoe">
            <div class="container-fluid ">
                <fieldset>
                    <div class="row-fluid">
                        <div class="span2 label-right">{{ model.translations.kuvausKieli}}</div>
                        <div class="span5"><koodistocombo onchangecallback="model.koodistoComboCallback" koodistouri="'kieli'" locale="'FI'" koodiuri="model.liite.kieliUri"></koodistocombo> </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2 label-right">{{ model.translations.liitteenNimi}}</div>
                        <div class="span5"><input type="text" data-ng-model="model.liite.liitteenNimi" required /></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span2 label-right">{{ model.translations.liitteenKuvaus}}</div>
                        <div class="span10"> <textarea ui-tinymce ng-model="model.liite.liitteenKuvaus.teksti"></textarea></div>
                        <br/>
                    </div>
                    <div class="row-fluid">
                        <div class="span2 label-right">{{ model.translations.toimitettavaMennessa}}</div>
                        <div class="span4"><date-time-picker selecteddatetime="model.liite.toimitettavaMennessa"></date-time-picker> </div>
                   </div>
                   <div class="row-fluid">
                        <div class="span2 label-right"></div>
                       <div class="span10">
                           <label class="radio">
                           <input type="radio" ng-change="model.kaytaOrganisaationPostiOsoitetta()" ng-model="model.osoiteType" >
                           {{ model.translations.kaytetaanOrganisaationPostiOsoitetta }}

                       </label>  <br/>
                           <label class="radio">
                               <input type="radio" ng-model="model.osoiteType"  value="false">
                               {{ model.translations.kaytetaanMuutaOsoitetta }}
                           </label>
                           <address>
                               <input  type="text" ng-disabled="!model.osoiteType" placeholder="Osoite" data-ng-model="model.liite.liitteenToimitusOsoite.osoiterivi1" required />   <br/>
                               <input type="text" ng-disabled="!model.osoiteType" typeahead-editable="false" ng-model="model.liite.liitteenToimitusOsoite.postinumeroArvo" typeahead-on-select="model.onKieliTypeAheadChange()" typeahead="koodi.koodiArvo for koodi in model.koodis | filter:{koodiArvo:$viewValue} | limitTo:8 |  orderBy:'koodiArvo'">
                               <input type="text" placeholder="Postitoimipaikka" disabled="true" data-ng-model="model.liite.liitteenToimitusOsoite.postitoimipaikka" required />

                          </address>
                       </div>
                   </div>
                    <div class="row-fluid">
                        <div class="span2 label-right">{{ model.translations.voidaanToimittaaSahkoisesti }}</div>
                        <div class="span10">
                            <input type="checkbox" ng-model="model.voidaanToimittaaSahkoisesti"/> <br/>
                            <input type="text" ng-disabled="!model.voidaanToimittaaSahkoisesti" ng-model="model.liite.sahkoinenToimitusOsoite">
                        </div>
                    </div>
               </fieldset>
            </div>
        </form>
    </div>
    <div class="modal-footer">

        <button class="btn btn-warning" ng-click="model.cancel()">{{ model.translations.peruuta }}</button>
        <button class="btn btn-primary" ng-click="model.save()">{{ model.translations.tallenna }}</button>
    </div>
</div>