<div id="editHakukohde" ng-controller="HakukohdeEditController">

    <controls-model
            model="formControls"
            tt-create="hakukohde.create.header.title"
            tt-edit="hakukohde.edit.header.title"
            title="model.hakukohde.tekstis"
            dto="model.hakukohde">

        <controls-button tt-key="koulutus.edit.takaisin" action="model.takaisin()"></controls-button>
        <controls-button tt-key="koulutus.edit.tallenna.luonnos" action="model.saveLuonnos()" primary="true" disabled="!model.canSaveAsLuonnos()"></controls-button>
        <controls-button tt-key="koulutus.edit.tallenna.valmis" action="model.saveValmis()" disabled="model.canSaveAsValmis()" primary="true"></controls-button>
        <controls-button icon="arrow-right" tt-key="koulutus.edit.tallenna.jatka" action="model.tarkastele()" disabled="model.hakukohdeTabsDisabled"></controls-button>

        <controls-notify type="message" tt-expr="getKoulutustenNimetKey()" tt-params="[ getKoulutustenNimet() ]"></controls-notify>
        <controls-notify type="success" tt-expr="'tarjonta.tallennus.ok'" show="model.showSuccess"></controls-notify>
        <controls-notify type="error" tt-expr="'tarjonta.tallennus.virhe'" show="model.showError"></controls-notify>
        <controls-notify ng-repeat="e in model.validationmsgs" type="error-detail" tt-expr="e" show="model.showError"></controls-notify>

    </controls-model>

    <display-controls model="formControls" display="header"></display-controls>

    <tabset>
        <tab heading="{{t('kk.hakukohde.perustiedot')}}">

            <form name="editHakukohdeForm" novalidate>
                <export-to-parent model="editHakukohdeForm" name="editHakukohdeForm" condition="isHakukohdeRootScope"></export-to-parent>

                <table class="tarjontaForm">

                    <!-- hakukohteen nimi -->
                    <tr class="required">
                        <th tt="kk.hakukohde.hakukohdenimi">Nimi</th>
                        <td>
                            <div ng-show="model.hakukohde.toteutusTyyppi !== 'VAPAAN_SIVISTYSTYON_KOULUTUS'">
                                <select name="hakukohteenNimiUri" class="wide" ng-disabled="model.isDeEnabled" required ng-model="model.hakukohde.hakukohteenNimiUri" data-ng-options="hakukohteenNimi.uri as hakukohteenNimi.label for hakukohteenNimi in model.hakukohteenNimet | orderBy: 'label'"/>
                            </div>
                            <div ng-show="model.hakukohde.toteutusTyyppi === 'VAPAAN_SIVISTYSTYON_KOULUTUS'">
                                <input name="hakukohteenNimiUri" ng-disabled="model.isPartiallyDeEnabled" type="text" data-ng-model="model.hakukohde.hakukohteenNimiUri" required />
                            </div>
                        </td>
                    </tr>

                    <!-- haku -->
                    <tr class="required">
                        <th tt="kk.hakukohde.haut">Haut</th>
                        <td>
                            <select name="hakuselect" class="wide" ng-disabled="model.isDeEnabled" required ng-model="model.hakukohde.hakuOid" data-ng-change="model.toisenAsteenHakuChanged()" data-ng-options="haku.oid as haku.lokalisoituNimi for haku in model.hakus | orderBy: 'lokalisoituNimi'"/>
                        </td>
                        <td>
                            <p class="error" ng-show="model.showError && editHakukohdeForm.hakuselect.$invalid" tt="hakukohde.edit.haku.missing">Haku on pakollinen tieto</p>
                        </td>
                    </tr>

                    <tr class="required" data-ng-show="model.showHakuaikas">
                        <th tt="kk.hakukohde.hakuaikas">Hakuajat</th>
                        <td>
                            <select class="wide" name="hakuaikaSelect" ng-disabled="model.isDeEnabled" data-ng-required="model.showHakuaikas" ng-model="model.hakukohde.hakuaikaId"data-ng-options="hakuaika.hakuaikaId as hakuaika.formattedNimi for hakuaika in model.hakuaikas"/>
                        </td>
                        <td>
                            <p class="error" ng-show="model.showError && editHakukohdeForm.hakuaikaSelect.$invalid" tt="hakukohde.edit.haku.aika.missing">Hakuaika puuttuu</p>
                        </td>
                    </tr>

                    <tr data-ng-show="model.hakukohde.configurableHakuaika">
                        <th tt="ta.hakukohde.hakuaika">Hakuaika</th>
                        <td>
                            {{model.hakuaikaMin | date:'dd.MM.yyyy HH:mm '}} - {{ model.hakuaikaMax | date:'dd.MM.yyyy HH:mm '}}
                        </td>
                    </tr>

                    <tr class="required" data-ng-if="model.hakukohde.configurableHakuaika">
                        <th tt="ta.hakukohde.hakuaika.valittavat">Valittava hakuaika</th>
                        <td>
                            <span class="datetimepicker-label" tt="ta.hakukohde.alkaa">Alkaa</span><t-date-time required timestamp="true" type="long" min="model.hakuaikaMin" max="model.hakuaikaMax" ng-model="model.hakukohde.hakuaikaAlkuPvm" ng-change="status.dirtify()"></t-date-time>
                            <span class="datetimepicker-label" tt="ta.hakukohde.loppuu">Loppuu</span><t-date-time required timestamp="true" type="long" min="model.hakukohde.hakuaikaAlkuPvm" max="model.hakuaikaMax"  ng-model="model.hakukohde.hakuaikaLoppuPvm" ng-change="status.dirtify()"></t-date-time>
                        </td>
                        <td>
                            <p class="error" ng-show="model.showError && (!model.hakukohde.hakuaikaAlkuPvm || !model.hakukohde.hakuaikaLoppuPvm)" tt="hakukohde.edit.haku.aika.missing">Hakuaika puuttuu</p>
                        </td>
                    </tr>

                    <tr class="required">
                        <th tt="kk.hakukohde.hakijoilleilmoitettavataloituspaikat">Hakijoille ilmoitettavat aloituspaikat</th>
                        <td>
                            <input name="aloituspaikatlkm" ng-disabled="model.isPartiallyDeEnabled"  class="thin" type="number" ng-pattern="model.integerval" min="1" max="999" data-ng-model="model.hakukohde.aloituspaikatLkm" required />
                        </td>
                        <td>
                            <p class="error" ng-show="model.showError && editHakukohdeForm.aloituspaikatlkm.$invalid" tt="tarjonta.hakukohde.aloituspaikatlkm.validation.failed">Tarkista aloituspaikat</p>
                        </td>
                    </tr>

                    <tr class="required">
                        <th tt="kk.hakukohde.valinnoissakaytettavataloituspaikat">Valinnoissa käytettävät aloituspaikat</th>
                        <td>
                            <input name="valintojenaloituspaikatlkm" ng-disabled="model.isPartiallyDeEnabled"  class="thin" type="number" ng-pattern="model.integerval" min="1" max="999" data-ng-model="model.hakukohde.valintojenAloituspaikatLkm" required />
                        </td>
                        <td>
                            <p class="error" ng-show="model.showError && editHakukohdeForm.valintojenaloituspaikatlkm.$invalid" tt="tarjonta.hakukohde.valintojenaloituspaikatlkm.validation.failed">Tarkista valintojen aloituspaikat</p>
                        </td>
                    </tr>

                    <tr ng-if="model.hakukohde.toteutusTyyppi === 'LUKIOKOULUTUS'">
                        <th tt="hakukohde.review.perustiedot.alinHyvaksyttavaKeskiarvo">Alin hyväksytty keskiarvo</th>
                        <td>
                            <input name="alinHyvaksyttavaKeskiarvo" ng-disabled="model.isPartiallyDeEnabled" class="thin" type="text" data-ng-model="model.hakukohde.alinHyvaksyttavaKeskiarvo" />
                        </td>
                        <td>
                            <p class="error" ng-show="model.showError && editHakukohdeForm.alinHyvaksyttavaKeskiarvo.$invalid" tt="tarjonta.hakukohde.alinHyvaksyttavaKeskiarvo.validation.failed">Tarkista alin hyväksyttävä keskiarvo</p>
                        </td>
                    </tr>

                    <tr ng-if="model.hakukohde.toteutusTyyppi === 'LUKIOKOULUTUS'">
                        <th tt="hakukohde.review.perustiedot.painotettavatOppiaineet">Painotettavat oppiaineet</th>
                        <td>
                            <div ng-repeat="painotettavaOppiaine in model.hakukohde.painotettavatOppiaineet">
                                <select ng-model="painotettavaOppiaine.oppiaineUri">
                                    <option ng-selected="{{po.oppiaineUri == painotettavaOppiaine.oppiaineUri}}" ng-repeat="po in painotettavatOppiaineet | orderBy: 'lokalisoituNimi'" value="{{po.oppiaineUri}}">{{po.lokalisoituNimi}}</option>
                                </select>
                                <input class="input-mini" type="text"  ng-model="painotettavaOppiaine.painokerroin" />
                                <button class="btn top" ng-click="deletePainotettavaOppiaine(painotettavaOppiaine)"><span tt="tarjonta.toiminnot.poista"></span> <span class="icon-remove"></span></button>
                            </div>
                            <button class="btn" ng-click="addPainotettavaOppiaine()"><span tt="tarjonta.hakukohde.painotettavaOppiaine.uusi.painotettavaOppiaine"></span> <span class="icon-plus-sign"></span></button>
                        </td>
                        <td>
                            <p class="error" ng-show="model.showError && model.painotettavatOppiaineetValidationFailed" tt="tarjonta.hakukohde.painotettavatOppiaineet.errors">Tarkista painotettavat oppiaineet.</p>
                        </td>
                    </tr>

                    <tr>
                        <th tt="kk.hakukohde.valintapalvelu">Valintapalvelu</th>
                        <td ng-disabled="model.isDeEnabled">
                            <p tt="kk.hakukohde.kaytetaanJarjestelmanValintaPalvelua">Käytetään järjestelmän valintapalvelua</p>

                            <input type="radio" ng-disabled="model.isDeEnabled" ng-model="model.hakukohde.kaytetaanJarjestelmanValintaPalvelua" ng-value="true"/>
                            <span tt="yes">Kyllä</span>

                            <input type="radio" ng-disabled="model.isDeEnabled" ng-model="model.hakukohde.kaytetaanJarjestelmanValintaPalvelua" ng-value="false"/>
                            <span tt="no">Ei</span>

                        </td>
                    </tr>

                </table>

                <h4 tt="kk.hakukohde.lisatietoja.hakemisesta">Lisätietoja hakemisesta</h4>
                <mk-rich-textarea is-disabled="isHkDeEnabled()" model="model.hakukohde.lisatiedot" max="1500"></mk-rich-textarea>

                <h4 tt="kk.hakukohde.valintaperusteKuvaukset">Valintaperustekuvaus</h4>
                <mk-rich-textarea model="model.hakukohde.valintaperusteKuvaukset" max="1500"></mk-rich-textarea>

            </form>
        </tab>

        <tab ng-disabled="model.hakukohdeTabsDisabled" disabled="model.hakukohdeTabsDisabled"  heading="{{t('kk.hakukohde.valintakokeet')}}">
            <div data-ng-include="'partials/hakukohde/edit/valintakokeetList.html'" data-ng-controller="ValintakokeetController"></div>
        </tab>

        <tab ng-disabled="model.hakukohdeTabsDisabled" disabled="model.hakukohdeTabsDisabled" heading="{{t('kk.hakukohde.liitteet')}}">
            <div data-ng-include="'partials/hakukohde/edit/liitteetList.html'" data-ng-controller="LiitteetListController"></div>
        </tab>

    </tabset>

    <display-controls model="formControls" display="footer"></display-controls>

</div>
