<div>
        <div class="modal-header">
            <h3>{{ model.translations.title}}</h3>
        </div>
        <div class="modal-body">
          <form name="valintakoe">
              <div class="container-fluid ">
              <fieldset>
                  <div class="row-fluid">
                      <div class="span2 label-right">{{ model.translations.kuvausKieli}}</div>
                      <div class="span5"><koodistocombo onchangecallback="model.koodistoComboCallback" koodistouri="'kieli'" locale="'FI'" koodiuri="model.valintakoe.kieliUri"></koodistocombo> </div>
                  </div>
                  <div class="row-fluid">
                      <div class="span2 label-right">{{ model.translations.valintakoeNimi}}</div>
                      <div class="span5"><input type="text" data-ng-model="model.valintakoe.valintakoeNimi" required /></div>
                  </div>
                  <div class="row-fluid">
                      <div class="span2 label-right">{{ model.translations.valintakoeKuvaus}}</div>
                      <div class="span10"> <textarea ui-tinymce ng-model="model.valintakoe.valintakokeenKuvaus.teksti"></textarea></div>
                      <br/>
                  </div>
                  <div class="row-fluid">
                      <div class="span2 label-right">{{ model.translations.valintakoeAjankohtaSijainti}}</div>
                      <div class="span10"><input type="text" data-ng-model="model.selectedAjankohta.osoite.osoiterivi1" required />
                      <input type="text"   ng-model="model.selectedAjankohta.osoite.postinumeroArvo" typeahead-on-select="model.onKieliTypeAheadChange()" typeahead="koodi.koodiArvo for koodi in model.koodis | filter:{koodiArvo:$viewValue} | limitTo:8 |  orderBy:'koodiArvo'">
                      <input type="text" placeholder="Postitoimipaikka" disabled="true" data-ng-model="model.selectedAjankohta.osoite.postitoimipaikka" required />

                  </div>
                 </div>
                  <div class="row-fluid">
                      <div class="span2 label-right">{{ model.translations.valintakoeAjankohtaAika}}</div>
                      <div class="span4"><date-time-picker selecteddatetime="model.selectedAjankohta.alkaa"></date-time-picker> </div>
                      <div class="span4"><date-time-picker selecteddatetime="model.selectedAjankohta.loppuu"></date-time-picker></div>
                  </div>
                  <div class="row-fluid">
                      <div class="span2 label-right">{{ model.translations.valintakoeAjankohtaLisatieto}}</div>
                      <div class="span8"><input type="text" placeholder="" data-ng-model="model.selectedAjankohta.lisatiedot" required /></div>
                      <div class="span2"><button class="btn btn-primary" ng-click="lisaaTiedot()">{{ model.translations.valintakoeAjankohtaLisaa }}</button></div>
                  </div>
                   {{ model.translations.valintakoeAjankohtaTauluTitle }}
                  <div class="row-fluid">


                      <table class="table table-hover">
                           <tr>
                               <th>{{ model.translations.valintakoeAjankohtaTauluSijainti }}</th>
                               <th>{{ model.translations.valintakoeAjankohtaTauluAjankohta }}</th>
                               <th>{{ model.translations.valintakoeAjankohtaTauluLisatiedot }}</th>
                           </tr>
                          <tr data-ng-repeat="ajankohta in model.valintakoe.valintakoeAjankohtas">
                              <td>{{ ajankohta.osoite.osoiterivi1 }}, {{ajankohta.osoite.postinumeroArvo}}, {{ajankohta.osoite.postitoimipaikka}}</td>
                              <td>{{ ajankohta.alkaa | date: 'dd.MM.yyyy HH:mm'  }}</td>
                              <td>{{ ajankohta.lisatiedot }}</td>
                          </tr>
                      </table>

                  </div>
              </fieldset>
              </div>
          </form>
        </div>
        <div class="modal-footer">

            <button class="btn btn-warning" ng-click="cancel()">{{ model.translations.cancel }}</button>
            <button class="btn btn-primary" ng-click="save()">{{ model.translations.ok }}</button>
        </div>

</div>