<div >
<button class="btn btn-primary" ng-click="model.newValintakoe()">{{t('tarjonta.hakukohde.valintakoe.listaus.uusi.valintakoe')}}</button>
   <br/>
   <br/>
    <accordion-group heading="{{kieli}}" ng-repeat="kieli in model.kielet">

    <table class="table table-hover">
        <tr>
            <th>{{t('tarjonta.hakukohde.valintakoe.listaus.valintakokeen.kuvaus')}}</th>
            <th>{{t('tarjonta.hakukohde.valintakoe.listaus.valintakokeen.aika')}}</th>
            <th>{{t('tarjonta.hakukohde.valintakoe.listaus.valintakokeen.lisatiedot')}}</th>
        </tr>
        <tr data-ng-repeat="valintakoe in model.valintakokees">
           <td>{{ valintakoe.valintakokeenKuvaus.teksti }}</td>
           <td> <p data-ng-repeat="valintakoeaika in valintakoe.valintakoeAjankohtas">
               {{  valintakoeaika.alkaa | date: 'dd.MM.yyyy HH:mm' }} - {{ valintakoeaika.loppuu | date: 'dd.MM.yyyy HH:mm' }}    <br/>
               {{  valintakoeaika.osoite.osoiterivi1 }}  , {{ valintakoeaika.osoite.postitoimipaikka }}
           </td>
           <td>
                <a href="" data-ng-click="model.muokaaValintakoetta(valintakoe)">{{t('tarjonta.hakukohde.valintakoe.listaus.valintakoe.muokkaa')}}</a>
           </td>
        </tr>

    </table>

</accordion-group>
</div>