<div>

    <h3 tt="kk.hakukohde.valintaperustekuvaus.title"></h3>

    <p tt="kk.hakukohde.valintaperustekuvaus.addl.title"></p>
    <a href="" data-ng-click="haeValintaPerusteKuvaus()" >{{t('tarjonta.hakukohde.hae.valintaperustekuvaus')}}</a>

    <mk-rich-textarea model="model.hakukohde.valintaperusteKuvaukset" max="1500"></mk-rich-textarea>

    <h3 tt="kk.hakukohde.sora.title"></h3>
    <p tt="kk.hakukohde.sora.addl.title"> </p>
    <a href="" data-ng-click="haeSora()" >{{t('tarjonta.hakukohde.hae.sora')}}</a>
    
    <mk-rich-textarea model="model.hakukohde.soraKuvaukset" max="1500"></mk-rich-textarea>
    
</div>