<div>

    <h3 tt="kk.hakukohde.valintaperustekuvaus.title"></h3>

    <p tt="kk.hakukohde.valintaperustekuvaus.addl.title"></p>
    <p><a href data-ng-click="haeValintaPerusteKuvaus()" >{{t('tarjonta.hakukohde.hae.valintaperustekuvaus')}}</a></p>
    
    <!-- 
    <multi-lang-simple-textarea xng-show="!model.isValintaPerusteEditable()" model="model.hakukohde.valintaperusteKuvaukset"></multi-lang-simple-textarea>
     -->
    <mk-rich-textarea is-disabled="!model.isValintaPerusteEditable()" model="model.hakukohde.valintaperusteKuvaukset" max="50000"></mk-rich-textarea>

    <h3 tt="kk.hakukohde.sora.title"></h3>
    <p tt="kk.hakukohde.sora.addl.title"> </p>
    <p><a href data-ng-click="haeSora()" >{{t('tarjonta.hakukohde.hae.sora')}}</a></p>
    <!-- 
    <multi-lang-simple-textarea ng-show="!model.isSoraEditable()" model="model.hakukohde.soraKuvaukset"></multi-lang-simple-textarea>
     -->
    <mk-rich-textarea is-disabled="!model.isSoraEditable()" model="model.hakukohde.soraKuvaukset" max="1500"></mk-rich-textarea>


</div>