<th tt="kk.hakukohde.yhteystiedot.label">Yhteystiedot</th>
<td colspan="2">
    <label><input type="radio" ng-model="model.yhteystiedotKaytaOrganisaatioOsoitetta" ng-value="true"
                  ng-disabled="!model.organisaatioOsoiteOlemassa"
                  ng-click="resetYhteystiedotToOrganisaatioData()" />
        <span class="{{!model.organisaatioOsoiteOlemassa ? 'disabled' : ''}}"
              tt="kk.hakukohde.yhteystiedot.kaytetaanOrganisaationOsoitetta">
            Käytetään organisaation osoitetta
        </span>
    </label><br />

    <label>
        <input type="radio" ng-model="model.yhteystiedotKaytaOrganisaatioOsoitetta" ng-value="false" />
        <span tt="kk.hakukohde.yhteystiedot.kaytetaanMuutaOsoitetta">Käytetään muuta osoitetta</span><br/>
    </label>

    <tabset>
        <tab ng-repeat="yhteystieto in model.hakukohde.yhteystiedot" heading="{{yhteystieto.langTitle}}">
            <div class="inset yhteystiedot">
                <osoite-field extended-osoite="true" show-error="model.showError"
                              model="yhteystieto" name="yhteystiedot"
                              ng-disabled="model.yhteystiedotKaytaOrganisaatioOsoitetta">
                </osoite-field>
            </div>
        </tab>
    </tabset>
</td>