<table class="tarjontaForm">
    <tr><th></th><td></td><td></td></tr>


    <!-- PERUSTIEDOT / TODO collapse -->

    <tr class="collapse" ng-class="model.collapse.perusTiedot ? '' : 'open'">
        <th colspan="2" tt="hakukohde.review.perustiedot.otsikko" ng-click="model.collapse.perusTiedot = !model.collapse.perusTiedot"></th>
        <td><input class="btn" type="button" ng-click='doEdit($event, "PERUSTIEDOT")' value="{{t('koulutus.review.muokkaa')}}"/></td>
    </tr>

    <tbody ng-show="!model.collapse.perusTiedot">

    <tr>
        <th tt="hakukohde.review.perustiedot.haku"/>
        <td colspan="2">
            {{ model.hakukohde.hakuNimi }}
        </td>
    </tr>

    <tr>
        <th tt="hakukohde.review.perustiedot.aloituspaikat"/>
        <td colspan="2">
            {{ model.hakukohde.aloituspaikatLkm }}
        </td>
    </tr>

    <tr>
        <th tt="hakukohde.review.perustiedot.hakukelpoisuusvaatimukset"/>
        <td colspan="2">
            <span data-ng-repeat="hakukelpoisuusvaatimus in model.hakukelpoisuusVaatimukses">
                {{ hakukelpoisuusvaatimus }}
            </span>
        </td>
    </tr>

    <tr>
        <th tt="hakukohde.review.perustiedot.hakukelpoisuusvaatimus.kuvaus"/>
        <td colspan="2" data-ng-bind-html="getHakukelpoisuusVaatimusKuvaus(kieli.kieliUri)">

        </td>
    </tr>

    <tr>
        <th tt="hakukohde.review.perustiedot.lisatiedot"/>
        <td colspan="2" data-ng-bind-html="getLisatiedot(kieli.kieliUri)">

        </td>
    </tr>

    </tbody>

    <tr class="collapse" ng-class="model.collapse.valintakokeet ? '' : 'open'">
        <th colspan="2" tt="hakukohde.review.valintakokeet.otsikko" ng-click="model.collapse.valintakokeet = !model.collapse.valintakokeet"></th>
        <td><input class="btn" type="button" ng-click='doEdit($event, "VALINTAKOKEET")' value="{{t('koulutus.review.muokkaa')}}"/></td>
    </tr>

    <tbody ng-show="!model.collapse.valintakokeet" data-ng-repeat="valintakoe in getLocalizedValintakoe(kieli.kieliUri)">

    <tr>
        <th tt="hakukohde.review.valintakokeet.nimi"/>
        <td colspan="2">
            {{valintakoe.valintakoeNimi}}
        </td>
    </tr>

    <tr>
        <th tt="hakukohde.review.valintakokeet.kuvaus"/>
        <td colspan="2" data-ng-bind-html="valintakoe.valintakokeenKuvaus.teksti">

        </td>
    </tr>

    <tr>
       <th tt="hakukohde.review.valintakokeet.ajankohdat"></th>
        <td >
            <table>
                <tr>
                    <th>
                        {{t('hakukohde.review.valintakokeet.aika')}}
                    </th>
                    <th>
                        {{t('hakukohde.review.valintakokeet.paikka')}}
                    </th>
                    <th>
                        {{t('hakukohde.review.valintakokeet.lisatiedot')}}
                    </th>
                </tr>
                <tr data-ng-repeat="valintakoeaika in valintakoe.valintakoeAjankohtas">
                    <td>
                        {{valintakoeaika.alkaa | date:'dd.MM.yyyy HH:mm '}}   - {{ valintakoeaika.loppuu  | date:'dd.MM.yyyy HH:mm '}}
                    </td>
                    <td>
                        {{ valintakoeaika.osoite.osoiterivi1 }}, {{ valintakoeaika.osoite.postinumeroArvo }}, {{ valintakoeaika.osoite.postitoimipaikka }}
                    </td>
                    <td>
                        {{ valintakoeaika.lisatiedot }}
                    </td>
                </tr>
            </table>
        </td>

    </tr>


    </tbody>


    <tr class="collapse" ng-class="model.collapse.liitteet ? '' : 'open'">
        <th colspan="2" tt="hakukohde.review.liitteet.otsikko" ng-click="model.collapse.liitteet = !model.collapse.liitteet"></th>
        <td><input class="btn" type="button" ng-click='doEdit($event, "LIITTEET")' value="{{t('koulutus.review.muokkaa')}}"/></td>
    </tr>
    <tbody ng-show="!model.collapse.liitteet" data-ng-repeat="liite in getLocalizedLiitteet(kieli.kieliUri)">
    <tr>
        <th tt="hakukohde.review.liitteet.nimi"/>
        <td colspan="2">
            {{ liite.liitteenNimi }}
        </td>
    </tr>

    <tr>
        <th tt="hakukohde.review.liitteet.kuvaus"/>
        <td colspan="2" data-ng-bind-html="getLiitteenKuvaus(liite,kieli.kieliUri)">

        </td>
    </tr>

    <tr>
        <th tt="hakukohde.review.liitteet.toim.mennessa"/>
        <td colspan="2">
            {{ liite.toimitettavaMennessa | date:'dd.MM.yyyy HH:mm ' }}
        </td>
    </tr>
    <tr>
        <th tt="hakukohde.review.liitteet.toim.osoite"/>
        <td colspan="2">
             {{ liite.liitteenToimitusOsoite.osoiterivi1 }}, {{ liite.liitteenToimitusOsoite.postinumeroArvo }}, {{ liite.liitteenToimitusOsoite.postitoimipaikka }}
        </td>
    </tr>
    </tbody>

    <tr class="collapse" ng-class="model.collapse.valintaperusteet ? '' : 'open'">
        <th colspan="2" tt="hakukohde.review.valintaperusteet.otsikko" ng-click="model.collapse.valintaperusteet = !model.collapse.valintaperusteet"></th>
        <td><input class="btn" type="button" ng-click='doEdit($event, "VALINTAPERUSTEET")' value="{{t('koulutus.review.muokkaa')}}"/></td>
    </tr>

    <tbody ng-show="!model.collapse.valintaperusteet">
    <tr>
        <th tt="hakukohde.review.liitteet.valintaperuste.kuvaus"/>
        <td colspan="2" data-ng-bind-html="getValintaperusteKuvaus(kieli.kieliUri)">

        </td>
    </tr>
    </tbody>

    <tr class="collapse" ng-class="model.collapse.sorakuvaukset ? '' : 'open'">
        <th colspan="2" tt="hakukohde.review.sorakuvaukset.otsikko" ng-click="model.collapse.sorakuvaukset = !model.collapse.sorakuvaukset"></th>
        <td><input class="btn" type="button" ng-click='doEdit($event, "SORA")' value="{{t('koulutus.review.muokkaa')}}"/></td>
    </tr>

    <tbody ng-show="!model.collapse.sorakuvaukset">

    <tr>
        <th tt="hakukohde.review.liitteet.sora.kuvaus"/>
        <td colspan="2" data-ng-bind-html="getSoraKuvaus(kieli.kieliUri)">

        </td>
    </tr>

    </tbody>

    <tr class="collapse" ng-class="model.collapse.koulutukset ? '' : 'open'">
        <th colspan="2" tt="hakukohde.review.koulutukset.otsikko" ng-click="model.collapse.koulutukset = !model.collapse.koulutukset"></th>

    </tr>
    <tbody ng-show="!model.collapse.koulutukset">

    <tr data-ng-repeat="koulutus in  model.koulutukses">

        <td colspan="2">
           <a ng-href="#/koulutus/{{koulutus.oid}}/edit"> {{koulutus.nimi}}</a>

        </td>
        <td>
            <a href="" data-ng-click="removeKoulutusFromHakukohde(koulutus)">  {{t('hakukohde.review.koulutus.poista')}}</a>
        </td>
    </tr>

    <tr>
        <td>
            <input class="btn" type="button" data-ng-click="openLiitaKoulutusModal()" value="{{t('hakukohde.review.liita.koulutus')}}"/>
        </td>
    </tr>

    </tbody>
</table>