<div data-ng-controller="HakukohdeReviewController">

  <controls-model
        model="formControls"
        dto="model.hakukohde">

        <controls-button icon="arrow-left" tt-key="koulutus.review.takaisin" action="goBack($event)"></controls-button>
       <controls-button disabled="!isMutable" icon="remove" tt-key="koulutus.review.poista" action="doDelete()"></controls-button>
       <controls-button tt-key="hakukohde.review.kopioi" action="doCopy()"></controls-button>
        <!-- TODO pitäisikö olla myös viestityyppi 'murupolku' tjsp.. ? -->
        <controls-notify type="message" tt-expr="'hakukohde.review.murupolku'" tt-params="[getHakukohteenNimi()]"></controls-notify>

      <controls-notify ng-repeat="e in model.validationmsgs" type="error-detail" tt-expr="e" show="model.showError"></controls-notify>

    </controls-model>


    <display-controls model="formControls" display="header"></display-controls>

    <h2>{{ getHakukohteenNimi() }}</h2>

    <tabset>
    <tab heading="{{kieli.kieliNimi}}" ng-repeat="kieli in model.hakukohteenKielet">
        <div data-ng-include="'partials/hakukohde/review/hakukohdeReview_localized.html'"></div>
    </tab>
    </tabset>

    <display-controls model="formControls" display="footer"></display-controls>

</div>


