<div data-ng-controller="HakukohdeParentController">

    <div data-ng-controller="HakukohdeReviewController">
        <controls-model
            model="formControls"
            dto="model.hakukohde">

            <controls-button icon="arrow-left" tt-key="koulutus.review.takaisin" action="goBack($event)"></controls-button>
            <controls-button disabled="!isRemovable" icon="remove" tt-key="koulutus.review.poista" action="doDelete()"></controls-button>
            <controls-button disabled="!isMutable" tt-key="hakukohde.review.kopioi" action="doCopy()"></controls-button>
            <!-- TODO pitäisikö olla myös viestityyppi 'murupolku' tjsp.. ? -->
            <controls-notify type="message" tt-expr="'hakukohde.review.murupolku'" tt-params="[getHakukohteenJaOrganisaationNimi()]"></controls-notify>

            <controls-notify ng-repeat="e in model.validationmsgs" type="error-detail" tt-expr="e" show="model.showError"></controls-notify>

        </controls-model>


        <display-controls model="formControls" display="header"></display-controls>

        <h2>{{ getHakukohteenNimi()}}</h2>

        <table class="tarjontaForm">
            <tr><th></th><td></td><td></td></tr>

            <!-- PERUSTIEDOT / TODO collapse -->

            <tr class="collapse" ng-class="model.collapse.perusTiedot ? '' : 'open'">
                <th colspan="2" tt="hakukohde.review.perustiedot.otsikko" ng-click="model.collapse.perusTiedot = !model.collapse.perusTiedot"></th>
                <td><a class="btn" ng-disabled="!isPartiallyMutable" href ng-click="doEdit($event, 'PERUSTIEDOT')"><span tt="koulutus.review.muokkaa"/> <span class="icon-edit"></span></a>
            </tr>

            <tbody ng-show="!model.collapse.perusTiedot">

                <tr>
                    <th tt="hakukohde.review.perustiedot.nimi"/>
                    <td colspan="2">
                        <div ng-show="!showNimiUri">
                            <mk-text model="model.hakukohde.hakukohteenNimet" display="rows"/>
                        </div>
                        <div ng-show="showNimiUri">
                            <div koodi uri="model.hakukohde.hakukohteenNimiUri">resolved</div>
                        </div>
                    </td>
                </tr>
                <tr ng-show="isKK">
                    <th tt="hakukohde.review.perustiedot.ulkoinenTunniste"></th>
                    <td colspan="2">
                        {{ model.hakukohde.ulkoinenTunniste}}
                    </td>
                </tr>

                <tr>
                    <th tt="hakukohde.review.perustiedot.haku"/>
                    <td colspan="2">
                        {{ model.hakuNimiInformation.nimi }} (
                        {{ model.hakuNimiInformation.hakuaikaNimi }} {{ model.hakuNimiInformation.alkuPvm | date:'dd.MM.yyyy HH:mm ' }} -
                        {{ model.hakuNimiInformation.loppuPvm | date:'dd.MM.yyyy HH:mm ' }}
                        )
                    </td>
                </tr>

                <tr ng-show="!isAiku">
                    <th tt="hakukohde.review.perustiedot.hakukelpoisuusvaatimukset"/>
                    <td colspan="2">
                        <span data-ng-repeat="hakukelpoisuusvaatimus in model.hakukelpoisuusVaatimukses">
                            {{ hakukelpoisuusvaatimus}}
                        </span>
                    </td>
                </tr>

                <tr>
                    <th tt="hakukohde.review.perustiedot.aloituspaikat"/>
                    <td colspan="2">
                        {{ model.hakukohde.aloituspaikatLkm}}
                    </td>
                </tr>

                <tr ng-show="!isAiku">
                    <th tt="hakukohde.review.perustiedot.kaytetaanJarjestelmanValintaPalvelua"></th>
                    <td colspan="2">
                        {{ model.kaytetaanJarjestelmanValintaPalveluaArvo}}
                    </td>
                </tr>

                <tr>
                    <th tt="hakukohde.review.perustiedot.lisatiedot"/>
                    <td colspan="2">
            <mk-text model="model.hakukohde.lisatiedot" display="tabs"/>
            </td>
            </tr>

            <tr ng-if="isKK">
                <th tt="hakukohde.review.perustiedot.hakukelpoisuusvaatimus.kuvaus"/>
                <td colspan="2">
            <mk-text model="model.hakukohde.hakukelpoisuusVaatimusKuvaukset" display="tabs"/>
            </td>
            </tr>


            </tbody>


            <tr class="collapse" ng-class="model.collapse.valintakokeet ? '' : 'open'">
                <th colspan="2" tt="hakukohde.review.valintakokeet.otsikko" ng-click="model.collapse.valintakokeet = !model.collapse.valintakokeet"></th>
                <td><a class="btn" ng-disabled="!isPartiallyMutable" href ng-click="doEdit($event, 'VALINTAKOKEET')"><span tt="koulutus.review.muokkaa"/> <span class="icon-edit"></span></a>
            </tr>
            <tr ng-show="!model.collapse.valintakokeet">
                <th></th>
                <td colspan="2">
            <mk-tabs model="model.valintakoeKielet" selection="model.selectedValintakoeKieli"></mk-tabs>	           
            <table class="table" ng-show="model.selectedValintakoeKieli">
                <tr>
                    <th>{{t('hakukohde.review.valintakokeet.nimi')}}</th>
                    <th>{{t('hakukohde.review.valintakokeet.kuvaus')}}</th>
                    <th>{{t('hakukohde.review.valintakokeet.aika')}}</th>
                    <th>{{t('hakukohde.review.valintakokeet.paikka')}}</th>
                    <th>{{t('hakukohde.review.valintakokeet.lisatiedot')}}</th>
                </tr>
                <tbody data-ng-repeat="valintakoe in getLocalizedValintakoe(model.selectedValintakoeKieli)">
                    <tr ng-show="valintakoe.valintakoeAjankohtas" data-ng-repeat="valintakoeaika in valintakoe.valintakoeAjankohtas">
                        <td ng-show="!$first" colspan="2"></td>
                        <td ng-show="$first">{{valintakoe.valintakoeNimi}}</td>
                        <td ng-show="$first" data-ng-bind-html="valintakoe.valintakokeenKuvaus.teksti"></td>
                        <td>
                            <span ng-show="valintakoeaika.kellonaikaKaytossa">{{valintakoeaika.alkaa| date:'dd.MM.yyyy HH:mm '}}   - {{ valintakoeaika.loppuu | date:'dd.MM.yyyy HH:mm '}}</span>
                            <span ng-show="!valintakoeaika.kellonaikaKaytossa">{{valintakoeaika.alkaa| date:'dd.MM.yyyy '}}   - {{ valintakoeaika.loppuu | date:'dd.MM.yyyy '}}</span>
                        </td>
                        <td>
                            {{ valintakoeaika.osoite.osoiterivi1}}, {{ valintakoeaika.osoite.postinumeroArvo}}, {{ valintakoeaika.osoite.postitoimipaikka}}
                        </td>
                        <td>
                            {{ valintakoeaika.lisatiedot}}
                        </td>
                    </tr>
                    <tr ng-show="!valintakoe.valintakoeAjankohtas.length">
                        <td>{{valintakoe.valintakoeNimi}}</td>
                        <td data-ng-bind-html="valintakoe.valintakokeenKuvaus.teksti"></td>
                        <td colspan="3">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            </td>
            </tr>

            <tr class="collapse" ng-class="model.collapse.liitteet ? '' : 'open'">
                <th colspan="2" tt="hakukohde.review.liitteet.otsikko" ng-click="model.collapse.liitteet = !model.collapse.liitteet"></th>
                <td><a class="btn" ng-disabled="!isPartiallyMutable" href ng-click="doEdit($event, 'LIITTEET')"><span tt="koulutus.review.muokkaa"/> <span class="icon-edit"></span></a>
            </tr>
            <tr ng-show="!model.collapse.liitteet">
                <th></th>
                <td colspan="2">
            <mk-tabs model="model.liiteKielet" selection="model.selectedliiteKieli"></mk-tabs>
            <table class="table" ng-show="model.selectedliiteKieli">
                <tr>
                    <th tt="hakukohde.review.liitteet.nimi"/>
                    <th tt="hakukohde.review.liitteet.kuvaus"/>
                    <th tt="hakukohde.review.liitteet.toim.mennessa"/>
                    <th tt="hakukohde.review.liitteet.toim.osoite"/>
                </tr>
                <tr ng-show="!model.collapse.liitteet" data-ng-repeat="liite in getLocalizedLiitteet(model.selectedliiteKieli)">
                    <td>{{ liite.liitteenNimi}}</td>
                    <td data-ng-bind-html="getLiitteenKuvaus(liite, model.selectedliiteKieli)"/>
                    <td>{{ liite.toimitettavaMennessa | date:'dd.MM.yyyy HH:mm ' }}</td>
                    <td>{{ liite.liitteenToimitusOsoite.osoiterivi1}}, {{ liite.liitteenToimitusOsoite.postinumeroArvo}}, {{ liite.liitteenToimitusOsoite.postitoimipaikka}}</td>
                </tr>
            </table>
            </td>
            </tr>

            <tr class="collapse" ng-class="model.collapse.valintaperusteet ? '' : 'open'">
                <th colspan="2" tt="hakukohde.review.valintaperusteet.otsikko" ng-click="model.collapse.valintaperusteet = !model.collapse.valintaperusteet"></th>
                <td><a class="btn" ng-disabled="!isMutable" href ng-click="doEdit($event, 'VALINTAPERUSTEET')"><span tt="koulutus.review.muokkaa"/> <span class="icon-edit"></span></a>
            </tr>

            <tr ng-show="!model.collapse.valintaperusteet">
                <th></th>
                <td colspan="2">
            <mk-text model="model.hakukohde.valintaperusteKuvaukset" display="tabs"/>
            </td>
            </tr>

            <tr class="collapse" ng-class="model.collapse.sorakuvaukset ? '' : 'open'">
                <th colspan="2" tt="hakukohde.review.sorakuvaukset.otsikko" ng-click="model.collapse.sorakuvaukset = !model.collapse.sorakuvaukset"></th>
                <td><a class="btn" href ng-disabled="!isMutable" ng-click="doEdit($event, 'SORA')"><span tt="koulutus.review.muokkaa"/> <span class="icon-edit"></span></a>
            </tr>

            <tr ng-show="!model.collapse.sorakuvaukset">
                <th></th>
                <td colspan="2">
            <mk-text model="model.hakukohde.soraKuvaukset" display="tabs"/>
            </td>
            </tr>

            <tr class="collapse" ng-class="model.collapse.koulutukset ? '' : 'open'">
                <th colspan="2" tt="hakukohde.review.koulutukset.otsikko" ng-click="model.collapse.koulutukset = !model.collapse.koulutukset"></th>
                <td><a class="btn" ng-disabled="!isMutable" href ng-click="openLiitaKoulutusModal()"><span tt="hakukohde.review.liita.koulutus"/> <span class="icon-plus-sign"></span></a>
            </tr>

            <tr ng-show="!model.collapse.koulutukset">
                <th></th>
                <td colspan="2">
                    <table class="table">
                        <tr data-ng-repeat="koulutus in  model.koulutukses">
                            <td>
                                <a ng-href="#/koulutus/{{koulutus.oid}}/edit">{{koulutus.nimi}}</a>
                            </td>
                            <td>
                                <div class="align-right">
                                    <a class="btn" href ng-click="showKoulutusHakukohtees(koulutus)"><span tt="hakukohde.review.koulutus.nayta.hakukohteet"/> <span class="icon-eye-open"></span></a>
                                    <a class="btn" href ng-disabled="!isMutable" ng-click="removeKoulutusFromHakukohde(koulutus)"><span tt="hakukohde.review.koulutus.poista"/> <span class="icon-remove"></span></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr ng-if="isKK" class="collapse" ng-class="model.collapse.ryhmat ? '' : 'open'">
                <th colspan="2" tt="hakukohde.review.ryhmat.otsikko" ng-click="model.collapse.ryhmat = !model.collapse.ryhmat">Ryhmät</th>
                <td>
                    <!--
                    <a class="btn" ng-disabled="!isMutable" href ng-click="openLiitaRyhmaModal()"><span tt="hakukohde.review.liita.ryhma"/> <span class="icon-plus-sign"></span></a>
                    -->
                </td>
            </tr>

            <tr ng-show="!model.collapse.ryhmat">
                <th></th>
                <td colspan="2">
                    <table class="table">
                        <tr data-ng-repeat="(oid,nimi) in model.ryhmat">
                            <td>
                                {{nimi}}
                            </td>
                            <td>
                                <div class="align-right">
                                    <a class="btn" href ng-disabled="!isMutable" ng-click="removeRyhma(oid)"><span tt="hakukohde.review.koulutus.poista"/> <span class="icon-remove"></span></a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>

        <display-controls model="formControls" display="footer"></display-controls>

    </div>
</div>


