<div data-ng-controller="HakukohdeParentController">
    <div data-ng-controller="HakukohdeReviewController">

    <controls-model
            model="formControls"
            dto="model.hakukohde">
            <controls-button icon="arrow-left" tt-key="koulutus.review.takaisin" action="goBack($event)"></controls-button>
            <controls-button disabled="!isRemovable" icon="remove" tt-key="koulutus.review.poista" action="doDelete()"></controls-button>
            <controls-button ng-if="!config.isToisenAsteenKoulutus()" tt-key="hakukohde.review.kopioi" action="doCopy()"></controls-button>
            <!-- TODO pitäisikö olla myös viestityyppi 'murupolku' tjsp.. ? -->
            <controls-notify type="message" tt-expr="'hakukohde.review.murupolku'" tt-params="[getHakukohteenJaOrganisaationNimi()]"></controls-notify>
            <controls-notify ng-repeat="e in model.validationmsgs" type="error-detail" tt-expr="e" show="model.showError"></controls-notify>
        </controls-model>

        <display-controls model="formControls" display="header"></display-controls>

        <h2>{{ getHakukohteenNimi() }}</h2>

        <div ng-include="'partials/hakukohde/review/KORKEAKOULUOPINTO.html'" ng-if="isOpinto(model.hakukohde)"></div>

        <table class="tarjontaForm" ng-if="!isOpinto(model.hakukohde)">
            <tr><th></th><td></td><td></td></tr>

            <tr class="collapse" ng-class="model.collapse.perusTiedot ? '' : 'open'">
                <th colspan="2" tt="hakukohde.review.perustiedot.otsikko" ng-click="model.collapse.perusTiedot = !model.collapse.perusTiedot"></th>
                <td><button class="btn" ng-disabled="!isPartiallyMutable" ng-click="doEdit($event, 'PERUSTIEDOT')"><span tt="koulutus.review.muokkaa"/> <span class="icon-edit"></span></button></td>
            </tr>

            <tbody ng-show="!model.collapse.perusTiedot">
                <tr>
                    <th tt="hakukohde.review.perustiedot.nimi"/>
                    <td colspan="2">
                        <div ng-show="!model.hakukohde.hakukohteenNimiUri">
                            <mk-text model="model.hakukohde.hakukohteenNimet" display="rows"/>
                        </div>
                        <div ng-show="model.hakukohde.hakukohteenNimiUri">
                            {{ getHakukohteenNimi() }}
                        </div>
                    </td>
                </tr>
                <tr ng-show="isKK">
                    <th tt="hakukohde.review.perustiedot.ulkoinenTunniste"></th>
                    <td colspan="2">
                        {{ model.hakukohde.ulkoinenTunniste}}
                    </td>
                </tr>
                <tr ng-if="isKK">
                    <th tt="kk.hakukohde.kela.linjakoodi">Kelan linjakoodi</th>
                    <td>
                        {{model.hakukohde.kelaLinjaKoodi}}
                    </td>
                </tr>
                <tr ng-if="isKK">
                    <th tt="kk.hakukohde.kela.linjatarkenne">Linjan tarkenne</th>
                    <td>
                        {{model.hakukohde.kelaLinjaTarkenne}}
                    </td>
                </tr>
                <tr>
                    <th tt="hakukohde.review.perustiedot.haku"/>
                    <td colspan="2">
                        <a href="/tarjonta-app/#/haku/{{model.hakukohde.hakuOid}}">{{ model.hakuNimiInformation.nimi }}</a> (
                        {{ model.hakuNimiInformation.hakuaikaNimi }} {{ model.hakuNimiInformation.alkuPvm | date:'dd.MM.yyyy HH:mm ' }} -
                        {{ model.hakuNimiInformation.loppuPvm | date:'dd.MM.yyyy HH:mm ' }}
                        )
                    </td>
                </tr>
                <tr ng-if="!isAiku && !config.isToisenAsteenKoulutus() && !isSiirtohaku()">
                    <th tt="hakukohde.review.perustiedot.hakukelpoisuusvaatimukset"/>
                    <td colspan="2">
                        <span class="comma"
                              ng-repeat="hakukelpoisuusvaatimus in model.hakukelpoisuusVaatimukses">{{ hakukelpoisuusvaatimus }}</span>
                    </td>
                </tr>

                <tr ng-if="!isAiku && !config.isToisenAsteenKoulutus() && isSiirtohaku()">
                    <th tt="hakukohde.review.perustiedot.opintoOikeudet">Opinto-oikeus</th>
                    <td colspan="2">
                        <span ng-repeat="koodi in model.hakukohde.opintoOikeusUris" class="comma"><koodi uri="koodi" /></span>
                    </td>
                </tr>

                <tr ng-if="isKK && model.hakukohde.aloituspaikatKuvaukset">
                    <th tt="hakukohde.review.perustiedot.aloituspaikat"/>
                    <td colspan="2">
                        <mk-text model="model.hakukohde.aloituspaikatKuvaukset" display="rows"/>
                    </td>
                </tr>

                <tr ng-if="(isKK && !model.hakukohde.aloituspaikatKuvaukset) ||  isAiku || config.isToisenAsteenKoulutus()">
                    <th tt="hakukohde.review.perustiedot.aloituspaikat"/>
                    <td colspan="2">
                        {{ model.hakukohde.aloituspaikatLkm != 0 ? model.hakukohde.aloituspaikatLkm : ''}}
                    </td>
                </tr>

                <tr ng-if="isKK">
                    <th tt="hakukohde.review.perustiedot.ensikertalaistenAloituspaikat">
                        Aloituspaikkoja ensikertalaisille
                    </th>
                    <td colspan="2">
                        {{model.hakukohde.ensikertalaistenAloituspaikat}}
                    </td>
                </tr>

                <tr ng-show="config.needsValinnoissaKaytettavatAloituspaikat()">
                    <th tt="hakukohde.review.perustiedot.valintojenAloituspaikat"/>
                    <td colspan="2">
                        {{ model.hakukohde.valintojenAloituspaikatLkm }}
                    </td>
                </tr>

                <tr ng-show="model.kaksoistutkintoIsPossible">
                    <th tt="hakukohde.review.perustiedot.kaksoistutkinto"/>
                    <td colspan="2">
                        {{ model.kaksoisTutkinto}}
                    </td>
                </tr>

                <tr ng-show="model.hakukohde.toteutusTyyppi === 'LUKIOKOULUTUS'">
                    <th tt="hakukohde.review.perustiedot.alinHyvaksyttavaKeskiarvo"/>
                    <td colspan="2">
                        {{ model.hakukohde.alinHyvaksyttavaKeskiarvo != 0 ? model.hakukohde.alinHyvaksyttavaKeskiarvo : ""}}
                    </td>
                </tr>

                <tr ng-show="model.hakukohde.toteutusTyyppi === 'LUKIOKOULUTUS'">
                    <th tt="hakukohde.review.perustiedot.painotettavatOppiaineet"/>
                    <td colspan="2">
                       <span data-ng-repeat="painotettavaOppiaine in model.painotettavatOppiaineet">
                           {{ painotettavaOppiaine.nimi }} ( {{painotettavaOppiaine.painokerroin}} ){{$last ? '' : ', '}}
                       </span>
                    </td>
                </tr>

                <tr ng-if="isKK">
                    <th tt="haku.review.ylioppilastutkintoAntaaHakukelpoisuudenAutomaattisesti">
                        Ylioppilastutkinto antaa hakukelpoisuuden automaattisesti
                    </th>
                    <td colspan="2">
                        {{ model.hakukohde.ylioppilastutkintoAntaaHakukelpoisuuden ? t("yes") : t("no") }}
                    </td>
                </tr>

                <tr ng-show="CONFIGURATION.YHTEYSTIEDOT.showYhteystiedot[model.hakukohde.toteutusTyyppi] && model.hakukohde.yhteystiedot.length > 0">
                    <th tt="hakukohde.review.perustiedot.yhteystiedot">Yhteystiedot</th>
                    <td colspan="2">
                        <tabset class="hakukohteenYhteystiedot">
                            <tab ng-repeat="yhteystieto in model.hakukohde.yhteystiedot"
                                 heading="{{yhteystieto.langArvo}}">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th tt="osoitefield.hakutoimistonNimi">Hakijapalveluiden nimi</th>
                                        <td>{{yhteystieto.hakutoimistonNimi}}</td>
                                    </tr>
                                    <tr>
                                        <th tt="osoitefield.kayntiosoite">Käyntiosoite</th>
                                        <td ng-if="yhteystieto.osoitemuoto === 'KANSAINVALINEN'">
                                            <pre ng-if="yhteystieto.kayntiosoite.kansainvalinenOsoite">{{yhteystieto.kayntiosoite.kansainvalinenOsoite}}</pre>
                                        </td>
                                        <td ng-if="yhteystieto.osoitemuoto !== 'KANSAINVALINEN'">
                                            {{ yhteystieto.kayntiosoite.osoiterivi1 }},<br>
                                            {{ yhteystieto.kayntiosoite.postinumeroArvo }},
                                            {{ yhteystieto.kayntiosoite.postitoimipaikka }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th tt="osoitefield.postiosoite">Postiosoite</th>
                                        <td ng-if="yhteystieto.osoitemuoto === 'KANSAINVALINEN'">
                                            <pre ng-if="yhteystieto.kansainvalinenOsoite">{{yhteystieto.kansainvalinenOsoite}}</pre>
                                        </td>
                                        <td ng-if="yhteystieto.osoitemuoto !== 'KANSAINVALINEN'">
                                            {{ yhteystieto.osoiterivi1 }},<br>
                                            {{ yhteystieto.postinumeroArvo }},
                                            {{ yhteystieto.postitoimipaikka }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th tt="osoitefield.puhelinnumero">Puhelinnumero</th>
                                        <td>{{yhteystieto.puhelinnumero}}</td>
                                    </tr>
                                    <tr>
                                        <th tt="osoitefield.sahkopostiosoite">Sähköpostiosoite</th>
                                        <td>{{yhteystieto.sahkopostiosoite}}</td>
                                    </tr>
                                    <tr>
                                        <th tt="osoitefield.wwwOsoite">Www-osoite</th>
                                        <td>
                                            <a href="{{yhteystieto.wwwOsoite}}" target="_blank">
                                                {{yhteystieto.wwwOsoite}}
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </tab>
                        </tabset>
                    </td>
                </tr>

                <tr ng-show="needsLiitteidenToimitustiedot(model.hakukohde.toteutusTyyppi)">
                    <th tt="tarjonta.hakukohde.liitteet.toimitusosoite"></th>
                    <td colspan="2">
                        {{ model.hakukohde.liitteidenToimitusOsoite.osoiterivi1 }}<span data-ng-if="model.hakukohde.liitteidenToimitusOsoite.osoiterivi2">, {{ model.hakukohde.liitteidenToimitusOsoite.osoiterivi2 }}</span>,  {{ model.hakukohde.liitteidenToimitusOsoite.postinumeroArvo }}, {{ model.hakukohde.liitteidenToimitusOsoite.postitoimipaikka }}
                    </td>
                </tr>
                <tr ng-show="model.hakukohde.sahkoinenToimitusOsoite">
                    <th tt="tarjonta.hakukohde.liitteet.sahkoinenToimitusOsoite">Liitteiden sähköinen toimitusosoite</th>
                    <td colspan="2">
                        <a href="{{ model.hakukohde.sahkoinenToimitusOsoite }}" target="_blank">{{ model.hakukohde.sahkoinenToimitusOsoite }}</a>
                    </td>
                </tr>
                <tr ng-if="showHakulomakeUrl(model.valittuHaku)" ng-include="'partials/hakukohde/review/hakulomakkeen_osoite.html'"></tr>
                <tr>
                    <th tt="hakukohde.review.perustiedot.lisatiedot"/>
                    <td colspan="2">
                        <mk-text model="model.hakukohde.lisatiedot" display="tabs"/>
                    </td>
                </tr>
                <tr ng-if="!isAiku && !config.isToisenAsteenKoulutus()">
                    <th tt="hakukohde.review.perustiedot.hakukelpoisuusvaatimus.kuvaus"/>
                    <td colspan="2">
                        <mk-text model="model.hakukohde.hakukelpoisuusVaatimusKuvaukset" display="tabs"/>
                    </td>
                </tr>
                <tr ng-if="isKK">
                    <th tt="ohjeetUudelleOpiskelijalle">Ohjeet uudelle opiskelijalle</th>
                    <td colspan="2" ng-if="model.hakukohde.ohjeetUudelleOpiskelijalle">
                        <a href="{{model.hakukohde.ohjeetUudelleOpiskelijalle}}" target="_blank">
                            {{ model.hakukohde.ohjeetUudelleOpiskelijalle }}
                        </a>
                    </td>
                </tr>
            </tbody>
            <tr class="collapse" ng-class="model.collapse.valintakokeet ? '' : 'open'">
                <th colspan="2" tt="hakukohde.review.valintakokeet.otsikko" ng-click="model.collapse.valintakokeet = !model.collapse.valintakokeet"></th>
                <td><button class="btn" ng-disabled="!isPartiallyMutable" ng-click="doEdit($event, 'VALINTAKOKEET')"><span tt="koulutus.review.muokkaa"/> <span class="icon-edit"></span></button></td>
            </tr>
            <tr ng-show="!model.collapse.valintakokeet">
                <th></th>
                <td colspan="2">
                    <div ng-if="model.hakukohde.toteutusTyyppi !== 'LUKIOKOULUTUS'">
                        <mk-tabs model="model.valintakoeKielet" selection="model.selectedValintakoeKieli"></mk-tabs>
                        <table class="table" ng-show="model.selectedValintakoeKieli">
                            <tr>
                                <th ng-if="config.isToisenAsteenKoulutus()" tt="hakukohde.review.valintakokeet.tyyppi"/>
                                <th ng-if="!config.isToisenAsteenKoulutus()" tt="hakukohde.review.valintakokeet.nimi"/>
                                <th>{{t('hakukohde.review.valintakokeet.kuvaus')}}</th>
                                <th>{{t('hakukohde.review.valintakokeet.aika')}}</th>
                                <th>{{t('hakukohde.review.valintakokeet.paikka')}}</th>
                                <th>{{t('hakukohde.review.valintakokeet.lisatiedot')}}</th>
                            </tr>
                            <tbody data-ng-repeat="valintakoe in getLocalizedValintakoe(model.selectedValintakoeKieli)">
                                <tr ng-show="valintakoe.valintakoeAjankohtas" data-ng-repeat="valintakoeaika in valintakoe.valintakoeAjankohtas">
                                    <td ng-show="!$first" colspan="2"></td>
                                    <td ng-show="$first">{{valintakoe.valintakoeNimi}}</td>
                                    <td ng-show="$first" data-ng-bind-html="valintakoe.valintakokeenKuvaus.teksti"></td>
                                    <td>
                                        <span ng-show="valintakoeaika.kellonaikaKaytossa">{{valintakoeaika.alkaa| date:'dd.MM.yyyy HH:mm '}}   - {{ valintakoeaika.loppuu | date:'dd.MM.yyyy HH:mm '}}</span>
                                        <span ng-show="!valintakoeaika.kellonaikaKaytossa">{{valintakoeaika.alkaa| date:'dd.MM.yyyy '}}   - {{ valintakoeaika.loppuu | date:'dd.MM.yyyy '}}</span>
                                    </td>
                                    <td>
                                        {{ valintakoeaika.osoite.osoiterivi1}}, {{ valintakoeaika.osoite.postinumeroArvo}}, {{ valintakoeaika.osoite.postitoimipaikka}}
                                    </td>
                                    <td>
                                        {{ valintakoeaika.lisatiedot}}
                                    </td>
                                </tr>
                                <tr ng-show="!valintakoe.valintakoeAjankohtas.length">
                                    <td>{{valintakoe.valintakoeNimi}}</td>
                                    <td data-ng-bind-html="valintakoe.valintakokeenKuvaus.teksti"></td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div ng-if="model.hakukohde.toteutusTyyppi === 'LUKIOKOULUTUS' && model.hakukohde.valintakoe.pisterajat.length > 0">
                        <h2><span tt="tarjonta.hakukohde.valintakoe.pisterajat">Pisterajat</span></h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th tt="tarjonta.hakukohde.valintakoe.pisterajat.alinpistemaara">Alin pistemäärä</th>
                                    <th tt="tarjonta.hakukohde.valintakoe.pisterajat.ylinpistemaara">Ylin pistemäärä</th>
                                    <th tt="tarjonta.hakukohde.valintakoe.pisterajat.alinhyvaksyttypistemaara">Alin hyväksytty pistemäärä</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span tt="tarjonta.hakukohde.valintakoe.pisterajat.paasykoe">Pääsykoe</span></td>
                                <td>{{model.hakukohde.paasykoe.alinPistemaara}}</td>
                                <td>{{model.hakukohde.paasykoe.ylinPistemaara}}</td>
                                <td><span ng-show="model.hakukohde.paasykoe.alinHyvaksyttyPistemaara > 0">{{model.hakukohde.paasykoe.alinHyvaksyttyPistemaara}}</span></td>
                            </tr>
                            <tr>
                                <td><span tt="tarjonta.hakukohde.valintakoe.pisterajat.lisanaytot">Lisapisteet</span></td>
                                <td>{{model.hakukohde.lisapisteet.alinPistemaara}}</td>
                                <td>{{model.hakukohde.lisapisteet.ylinPistemaara}}</td>
                                <td><span ng-show="model.hakukohde.lisapisteet.alinHyvaksyttyPistemaara > 0">{{model.hakukohde.lisapisteet.alinHyvaksyttyPistemaara}}</span></td>
                            </tr>
                            <tr>
                                <td><span tt="tarjonta.hakukohde.valintakoe.pisterajat.kokonaispisteet">Kokonaispisteet</span></td>
                                <td></td>
                                <td><span tt="tarjonta.hakukohde.valintakoe.pisterajat.kokonaispisteet.max">max. 10</span></td>
                                <td><span ng-show="model.hakukohde.kokonaispisteet.alinHyvaksyttyPistemaara > 0">{{model.hakukohde.kokonaispisteet.alinHyvaksyttyPistemaara}}</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <div ng-if="model.hakukohde.paasykoe">
                            <h2><span tt="tarjonta.hakukohde.valintakoe.pisterajat.paasykoe">Pääsykoe</span></h2>
                            <div><mk-text model="model.hakukohde.valintakoe.kuvaukset" display="tabs"/></div>
                            <table class="table" ng-if="model.hakukohde.valintakoe.valintakoeAjankohtas">
                                <thead>
                                    <tr>
                                        <th tt="tarjonta.hakukohde.valintakoe.ajankohta">Ajankohta</th>
                                        <th tt="tarjonta.hakukohde.valintakoe.osoite">Osoite</th>
                                        <th tt="tarjonta.hakukohde.valintakoe.lisatiedot">Lisätiedot</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="valintakoeaika in model.hakukohde.valintakoe.valintakoeAjankohtas">
                                        <td>{{valintakoeaika.alkaa | date:'dd.MM.yyyy HH:mm '}}   - {{ valintakoeaika.loppuu  | date:'dd.MM.yyyy HH:mm '}}</td>
                                        <td>{{ valintakoeaika.osoite.osoiterivi1 }}, {{ valintakoeaika.osoite.postinumeroArvo }}, {{ valintakoeaika.osoite.postitoimipaikka }}</td>
                                        <td>{{ valintakoeaika.lisatiedot }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-if="model.hakukohde.lisapisteet">
                            <h2><span tt="tarjonta.hakukohde.valintakoe.pisterajat.lisapisteet">Lisäpisteet</span></h2>
                            <div><mk-text model="model.hakukohde.valintakoe.lisanaytot" display="tabs"/></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="collapse" ng-class="model.collapse.liitteet ? '' : 'open'">
                <th colspan="2" tt="hakukohde.review.liitteet.otsikko" ng-click="model.collapse.liitteet = !model.collapse.liitteet"></th>
                <td><button class="btn" ng-disabled="!isPartiallyMutable" ng-click="doEdit($event, 'LIITTEET')"><span tt="koulutus.review.muokkaa"/> <span class="icon-edit"></span></button></td>
            </tr>
            <tr ng-if="!model.collapse.liitteet">
                <th></th>
                <td colspan="2">
                    <div ng-if="isKK">
                        <h4 tt="hakukohde.pohjakoulutusliitteet">Pohjakoulutusliitteet</h4>
                        <div>
                            <multi-select
                                required
                                is-disabled="true"
                                selection="model.hakukohde.pohjakoulutusliitteet"
                                koodisto="pohjakoulutuskklomake" />
                        </div>
                        <div class="well liite">
                            <label>
                                <input type="checkbox" disabled ng-model="model.hakukohde.josYoEiMuitaLiitepyyntoja" />
                                <span tt="hakukohde.josYoEiMuitaLiitepyyntoja">
                                    Jos ylioppilastutkinto tai kansainvälinen ylioppilastutkinto, ei muiden tutkintojen liitepyyntöjä.
                                </span>
                            </label>
                        </div>
                        <hr />
                    </div>

                    <div ng-repeat="liiteWithLangs in model.hakukohde.hakukohteenLiitteet">
                        <hr ng-if="$index > 0" />
                        <h4><span tt="hakukohde.liite.liiteOtsikko">Liite</span> {{$index +1}}</h4>
                        <table class="tarjontaForm liiteList">
                            <tr ng-if="liiteWithLangs.commonFields.liitteenTyyppi">
                                <th tt="tarjonta.hakukohde.liite.modal.tyyppi"/>
                                <td>{{liiteWithLangs.commonFields.liitteenTyyppiNimi}}</td>
                            </tr>
                            <tr>
                                <th tt="hakukohde.review.liitteet.toim.mennessa"/>
                                <td>{{ liiteWithLangs.commonFields.toimitettavaMennessa | date:'dd.MM.yyyy HH:mm ' }}</td>
                            </tr>
                            <tr ng-if="CONFIGURATION.LIITE.showKaytetaanHakulomakkeella[model.hakukohde.toteutusTyyppi]">
                                <th tt="hakukohde.review.liitteet.kaytetaanHakulomakkeella"/>
                                <td>
                                    {{ liiteWithLangs.commonFields.kaytetaanHakulomakkeella ? t('yes') : t('no') }}
                                </td>
                            </tr>
                        </table>
                        <mk-tabs model="liiteWithLangs.kielet" selection="liiteWithLangs.selectedKieli"></mk-tabs>
                        <table class="table"
                               ng-repeat="liite in liiteWithLangs"
                               ng-if="liiteWithLangs.selectedKieli && liite.kieliUri == liiteWithLangs.selectedKieli">
                            <tr>
                                <th tt="hakukohde.review.liitteet.nimi" ng-if="liite.liitteenNimi"/>
                                <th tt="hakukohde.review.liitteet.kuvaus"/>
                                <th tt="hakukohde.review.liitteet.toim.osoite"/>
                                <th tt="tarjonta.hakukohde.liitteet.sahkoinenToimitusOsoite"/>
                            </tr>
                            <tr>
                                <td ng-if="liite.liitteenNimi">{{ liite.liitteenNimi}}</td>
                                <td data-ng-bind-html="getLiitteenKuvaus(liite, liiteWithLangs.selectedKieli)"/>
                                <td>{{ liite.liitteenToimitusOsoite.osoiterivi1}}<span data-ng-if="liite.liitteenToimitusOsoite.osoiterivi2">, {{ liite.liitteenToimitusOsoite.osoiterivi2 }}</span>, {{ liite.liitteenToimitusOsoite.postinumeroArvo}}, {{ liite.liitteenToimitusOsoite.postitoimipaikka}}</td>
                                <td>{{ liite.sahkoinenToimitusOsoite }}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr class="collapse" ng-class="model.collapse.valintaperusteet ? '' : 'open'">
                <th colspan="2" tt="hakukohde.review.valintaperusteet.otsikko" ng-click="model.collapse.valintaperusteet = !model.collapse.valintaperusteet"></th>
                <td><button class="btn" ng-disabled="!isMutable" ng-click="doEdit($event, 'VALINTAPERUSTEET')"><span tt="koulutus.review.muokkaa"/> <span class="icon-edit"></span></button></td>
            </tr>
            <tr ng-show="!model.collapse.valintaperusteet">
                <th></th>
                <td colspan="2">
                    <mk-text model="model.hakukohde.valintaperusteKuvaukset" display="tabs"/>
                </td>
            </tr>
            <tr ng-if="!config.hideSoraKuvaus()" class="collapse" ng-class="model.collapse.sorakuvaukset ? '' : 'open'">
                <th colspan="2" tt="hakukohde.review.sorakuvaukset.otsikko" ng-click="model.collapse.sorakuvaukset = !model.collapse.sorakuvaukset"></th>
                <td><button class="btn" ng-disabled="!isMutable" ng-click="doEdit($event, 'SORA')"><span tt="koulutus.review.muokkaa"/> <span class="icon-edit"></span></button></td>
            </tr>
            <tr ng-show="!model.collapse.sorakuvaukset">
                <th></th>
                <td colspan="2">
                    <mk-text model="model.hakukohde.soraKuvaukset" display="tabs"/>
                </td>
            </tr>
            <tr class="collapse" ng-class="model.collapse.koulutukset ? '' : 'open'">
                <th colspan="2" tt="hakukohde.review.koulutukset.otsikko" ng-click="model.collapse.koulutukset = !model.collapse.koulutukset"></th>
                <td><button class="btn" ng-disabled="!isMutable" ng-click="openLiitaKoulutusModal()"><span tt="hakukohde.review.liita.koulutus"/> <span class="icon-plus-sign"></span></button></td>
            </tr>
            <tr ng-show="!model.collapse.koulutukset">
                <th></th>
                <td colspan="2" ng-include="'partials/hakukohde/review/koulutukset_listing.html'">
                </td>
            </tr>
            <tr ng-if="CONFIGURATION.HAKUKOHDERYHMA.showHakukohderyhmat[model.hakukohde.toteutusTyyppi]" class="collapse" ng-class="model.collapse.ryhmat ? '' : 'open'">
                <th colspan="2" tt="hakukohde.review.ryhmat.otsikko" ng-click="model.collapse.ryhmat = !model.collapse.ryhmat">Ryhmät</th>
                <td>
                    <!--
                    <a class="btn" ng-disabled="!isMutable" href ng-click="openLiitaRyhmaModal()"><span tt="hakukohde.review.liita.ryhma"/> <span class="icon-plus-sign"></span></a>
                    -->
                </td>
            </tr>
            <tr ng-if="CONFIGURATION.HAKUKOHDERYHMA.showHakukohderyhmat[model.hakukohde.toteutusTyyppi]" ng-show="!model.collapse.ryhmat">
                <th></th>
                <td colspan="2">
                    <table class="table">
                        <tr data-ng-repeat="(oid,nimi) in model.ryhmat">
                            <td>
                                {{nimi}}
                            </td>
                            <td>
                                <div class="align-right">
                                    <button class="btn" ng-disabled="!isMutable" ng-click="removeRyhma(oid)"><span tt="hakukohde.review.koulutus.poista"/> <span class="icon-remove"></span></button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <display-controls model="formControls" display="footer"></display-controls>
    </div>
</div>

