<div data-ng-controller="HakuListController">

    <table class="seachSpecLayout">
        <!-- 1. otsikkorivi -->
        <tr>
            <th>&nbsp;</th>
            <th colspan="2" tt="haku.list.hakutapa">Hakutapa</th>
            <th tt="haku.list.hakutyyppi">Hakutyyppi</th>
            <th tt="haku.list.haunKohdejoukko">Haun kohdejoukko</th>
            <th colspan="2">&nbsp;</th>
        </tr>
        <!-- 1. komponenttirivi -->
        <tr>
            <td class="query">
                <input type="text" ng-model="spec.attributes.HAKUSANA" placeholder="{{t('haku.list.hakuehto')}}" ng-enter="doSearch()"/>
            </td>
            <td colspan="2">
                <!-- hakutapa -->
                <koodistocombo prompt="t('tarjonta.haku.kaikki')" koodistouri="'hakutapa'" koodiuri="spec.attributes.HAKUTAPA" version="true"></koodistocombo>
            </td>
            <td>
                <!-- hakutyyppi -->
                <koodistocombo prompt="t('tarjonta.haku.kaikki')" koodistouri="'hakutyyppi'" koodiuri="spec.attributes.HAKUTYYPPI" version="true"></koodistocombo>
            </td>
            <td>
                <!-- haun kohdejoukko -->
                <koodistocombo prompt="t('tarjonta.haku.kaikki')" koodistouri="'haunkohdejoukko'" koodiuri="spec.attributes.KOHDEJOUKKO" version="true"></koodistocombo>
            </td>
        </tr>
        <!-- 2. otsikkorivi -->
        <tr>
            <td rowspan="2" class="mode">
	            <ul>
	                <li><label><input type="radio" ng-model="spec.attributes.KAUSIVUOSI" value="HAKU"/><span tt="haku.list.haku.byhaku">Haun alkamiskauden ja/tai vuoden mukaan</span></label></li>
	                <li><label><input type="radio" ng-model="spec.attributes.KAUSIVUOSI" value="KOULUTUKSEN_ALKAMIS"/><span tt="haku.list.haku.bykoulutus">Koulutuksen alkamiskauden ja/tai vuoden mukaan</span></label></li>
	            </ul>
            </td>
            <th colspan="2" tt="haku.list.alkamisKausiJaVuosi">Alkamiskausi- ja vuosi</th>
            <th tt="haku.list.tila">Haun tila</th>
            <th tt="haku.list.organisaatio">Organisaatio</th>
        </tr>
        <!-- 2. komponenttirivi -->
        <tr>
            <td>
                <!-- alkamiskausi -->
                <koodistocombo prompt="t('tarjonta.haku.kaikki')" koodistouri="'kausi'" koodiuri="spec.attributes.KAUSI" version="true"></koodistocombo>
            </td>
            <td class="align-right">
                <!-- alkamisvuosi -->
                <select class="thin" ng-model="spec.attributes.VUOSI" ng-options="vk.key as vk.label for vk in vuosi">
                    <option value="" data-tt="tarjonta.haku.kaikki"></option>
                </select>
            </td>
            <td>
                <!-- haun tila -->
                <select ng-model="spec.attributes.TILA" ng-options="state.key as state.label for state in states | orderBy: 'label'">
                    <option value="" data-tt="tarjonta.haku.kaikki"></option>
                </select>
            </td>
            <td>
                <input type="text" ng-model="selectedOrganisation" typeahead-min-length="3" typeahead-wait-ms="500"
                       typeahead-on-select="filterByOrganisation($item)"
                       id="organisationFilter"
                       typeahead="organisation.nimi for organisation in searchOrganisations($viewValue)"
                       class="form-control" />
            </td>
        </tr>
        <tr>
            <td class="controls" colspan="5">
                <button class="btn" ng-click="clearSearch()"><span tt="tarjonta.haku.tyhjenna">Tyhjennä</span></button>
                <button class="btn btn-primary" ng-click="doSearch()"><span tt="tarjonta.haku.hae">Hae</span> <span class="icon-search"></span></button>
            </td>
        </tr>
    </table>

    <tabset>
        <tab heading="{{t('haku.list.hakuvastaus.lkm', [model.hakus.length])}}" ng-hide="model.hakus == 0"></tab>
    </tabset>

    <div id="searchResults" class="haku">
	    <div class="controls">
	        <button class="btn" ng-click="doDeleteSelected()" ng-disabled="!canDeleteSelected()" tt="haku.list.poista">Poista</button>
	        <button class="btn float-right" ng-click="doCreateNew()" ng-disabled="!canCreateNew()"><span tt="haku.list.luoUusiHaku">Luo uusi haku</span> <span class="icon-plus-sign"></span></button>
	        <!-- ei käytetty:
	        <select class="float-right"><option data-tt="haku.list.sorttaa.tila">Tilan mukainen järjestys</option></select>
	         -->
	    </div>


        <results-tree-table
            columns="['hakutyyppi', 'hakukausi', 'alkamiskausi', 'tila']"
            column-titles="{hakutyyppi:'haku.list.hakutyyppi', hakukausi:'haku.list.hakukausi', alkamiskausi:'haku.list.alkamiskausi', tila:'haku.list.hauntila'}"
            model="model.hakus"
            selection="selection"
            get-content="hakuGetContent"
            get-identifier="hakuGetIdentifier"
            get-link="hakuGetLink"
            get-options="hakuGetOptions"
            ></results-tree-table>

    </div>



</div>