<div data-ng-controller="HakuListController">

    <table>
        <tr>
            <th></th>
            <th ttt="haku.search.tila">Tila</th>
            <th colspan="2" ttt="haku.search.alkamiskausiJaVuosi">Koulutuksen alkamiskausi ja vuosi</th>
        </tr>

        <tr>
            <td><input type="text" placeholder="hakuehto" class="input search-query" ng-model="model.search.hakuehto" ng-enter="doSearch()"></td>
            <td>
                <select ng-model="searchParams.TILA" ng-options="s as t for (s,t) in states" >
                    <option value="">{{t("organisaatiohaku.oppilaitostyypit.prompt")}}</option>
                </select>
            </td>

            <td>
                <select ng-model="searchParams.HAKUVUOSIKAUSI" ng-options="vk.label for vk in vuosikausi" >
                    <option value="">{{t("organisaatiohaku.oppilaitostyypit.prompt")}}</option>
                </select>
            </td>
            <td>
                <select ng-model="searchParams.KOULUTUKSEN_ALKAMISVUOSIKAUSI" ng-options="vk.label for vk in vuosikausi" >
                    <option value="">{{t("organisaatiohaku.oppilaitostyypit.prompt")}}</option>
                </select>
            </td>
            <td>
                <div koodistocombo koodistouri="'hakutapa'" koodiuri="searchParams.HAKUTAPA" version="false"></div>
            </td>
            <td>
				<div koodistocombo koodistouri="'hakutyyppi'" koodiuri="searchParams.HAKUTYYPPI" version="false"></div>
            </td>
            <td>
                <div koodistocombo promopt="kjdsfkjsdflkj" koodistouri="'haunkohdejoukko'" koodiuri="searchParams.KOHDEJOUKKO" version="false"></div>
            </td>
        </tr>

        <tr>
            <td class="align-right" colspan="4">
                <div class="btn" ttt="haku.search.tyhjenna" ng-click="doSearchClear()">Tyhjennä</div>
                <div class="btn" ttt="haku.search.hae" ng-click="doSearch()">Hae</div>
            </td>
        </tr>
    </table>

    <tabset>
        <tab heading="Haut ({{ model.hakus.length}} kpl)">

            <div class="container-fluid">

                <div class="row-fluid">
                    <div class="span4">
                        <div class="btn" ttt="haku.list.luoUusiHaku" ng-click="doCreateNew()">Luo uusi haku</div>
                        <div class="btn" ttt="haku.list.poista" ng-click="doDelete()">Poista</div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span12">
                        <table>
                            <tr>
                                <th ttt="haku.list.nimi">Nimi</th>
                                <th ttt="haku.list.hakutyyppi">Hakutyyppi</th>
                                <th ttt="haku.list.hakukausi">Hakukausi</th>
                                <th ttt="haku.list.koulutuksenAlkamiskausi">Koulutuksen alkamiskausi</th>
                                <th ttt="haku.list.haunKohdejoukko">Haun kohdejoukko</th>
                                <th ttt="haku.list.muokkaa">Muokkaa</th>
                                <th ttt="haku.list.tarkastele">Tarkastele</th>
                            </tr>

                            <tr ng-repeat="haku in model.hakus">
                                <td>{{haku.nimi}}
                                {{haku}}
                                </td>
                                <td><koodi uri="haku.hakutyyppiUri"/></td>
                                <td><koodi uri="haku.hakukausiUri"/> {{haku.hakukausiVuosi}}</td>
                                <td><koodi uri="haku.koulutuksenAlkamiskausiUri"/> {{haku.koulutuksenAlkamisVuosi }} </td>
                                <td><koodi uri="haku.kohdejoukkoUri"/></td>
                                <td><a href="#/haku/{{ haku.oid}}/edit">Edit</a></td>
                                <td><a href="#/haku/{{ haku.oid}}">Review</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </tab>
    </tabset>

</div>
