<table class="tarjontaForm"><!--pre>{{model.koulutuskoodi| json }}</pre-->
    <tr>
        <th></th>
        <td>
            <input type="checkbox" ng-model="uiModel.cbShowValmistavaKoulutus" ng-change="clickShowValmistavaKoulutus()" />
            <span tt="koulutus.edit.sisaltyy-valmistava-koulutus">Tutkintoon sisältyy valmistava koulutus</span>
        </td>
        <td></td>
    </tr>

    <!-- koulutuskoodi -->
    <tr class="required">
        <th tt="koulutus.edit.koulutuskoodi">Koulutus</th>
        <td>
            <select required class="span5" name="koulutuskoodi" ng-if="model.oid === Undefined" class="thin" ng-model="model.koulutuskoodi.uri" ng-options="koodi.koodiUri as koodi.koodiNimi for koodi in uiModel.tutkinto | orderBy:'koodiNimi'">
                <!-- OVT-7744 / angular-bugi: IE vaatii tämän tai select ei toimi kunnolla -->
                <option value="" ng-disabled="model.koulutuskoodi.uri"></option>
            </select>
            <span ng-if="model.oid !== Undefined">{{model.koulutuskoodi.nimi}} {{model.koulutuskoodi.arvo}}</span><!-- loaded -->
        </td>
        <td>
            <p class="error" ng-show="uiModel.koulutuskoodi && (koulutusForm.koulutuskoodi.$error.required || koulutusForm.koulutuskoodi.$error.required)"
               tt="koulutus.edit.koulutuskoodi.required">Koulutus vaaditaan</p>
        </td>
    </tr>

    <!-- koulutusohjelma -->
    <tr class="required">
        <th tt="koulutus.edit.osaamisala">Osaamisala</th>
        <td>
            <select required class="span5" name="koulutusohjelma" ng-if="model.oid === Undefined" class="thin" ng-model="model.koulutusohjelma.uri" ng-options="koodi.koodiUri as koodi.koodiNimi for koodi in uiModel.koulutusohjelma | orderBy:'koodiNimi'">
                <!-- OVT-7744 / angular-bugi: IE vaatii tämän tai select ei toimi kunnolla -->
                <option value="" ng-disabled="model.koulutusohjelma.uri"></option>
            </select>
            <span ng-if="model.oid !== Undefined">{{model.koulutusohjelma.nimi}}</span><!-- loaded -->

        </td>
        <td>
            <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.koulutusohjelma.$error.required"
               tt="koulutus.edit.koulutusohjelma.required">Lukiolinja vaaditaan</p>
        </td>
    </tr>

    <tr>
        <th tt="koulutus.edit.koulutusaste">Koulutusaste</th>
        <td>{{model.koulutusaste.nimi}}</td>
        <td></td>
    </tr>

    <!-- k. ala -->
    <tr>
        <th tt="koulutus.edit.koulutusala">Koulutusala</th>
        <td>{{model.koulutusala.nimi}}</td>
        <td></td>
    </tr>

    <!-- o. ala -->
    <tr>
        <th tt="koulutus.edit.opintoala">Opintoala</th>
        <td>{{model.opintoala.nimi}}</td>
        <td></td>
    </tr>

    <!-- tutkintonimike -->
    <tr>
        <th tt="koulutus.edit.tutkintonimike">Tutkintonimike</th>
        <td>{{model.tutkintonimike.nimi}}</td>
        <td></td>
    </tr>

    <tr>
        <th tt="koulutus.edit.kuvaus-tavoite">Tavoite</th>
        <td><div ng-bind-html="uiModel.kuvausTavoite"></div></td>
        <td></td>
    </tr>

    <tr>
        <th tt="koulutus.edit.kuvaus-opintojen-rakenne">Opintojen rakenne</th>
        <td><div ng-bind-html="uiModel.kuvausOpintojenRakenne"></div></td>
        <td></td>
    </tr>

    <tr>
        <th tt="koulutus.edit.kuvaus-jatko-opintomahdollisuudet">Jatko-opintomahdollisuudet</th>
        <td><div ng-bind-html="uiModel.jatkoOpintomahdollisuudet"></div></td>
        <td></td>
    </tr>

    <!-- väli -->
    <tr class="padding"><td colspan="3"><hr/></td></tr>

    <!-- koulutuksen alkamispvm -->
    <tr class="required">
        <th tt="koulutus.edit.koulutuksen-alkamispvm">Koulutuksen alkamispvm</th>
        <td>
    <alkamispaiva-ja-kausi
        pvms="model.koulutuksenAlkamisPvms"
        vuosi="model.koulutuksenAlkamisvuosi"
        kausi-uri = "model.koulutuksenAlkamiskausi.uri"
        kausi-ui-model="uiModel.koulutuksenAlkamiskausi">
    </alkamispaiva-ja-kausi>

</td>
<td>
    <p class="error" ng-show="uiModel.showValidationErrors && !koulutusForm.kausivuosi && koulutusForm.alkamisPvm.$error.required" tt="koulutus.edit.alkamisPvm.required">Opintojen alkamispäivä vaaditaan</p>
    <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.kausivuosi && (koulutusForm.alkamiskausi.$error.required || koulutusForm.alkamisvuosi.$error.required || koulutusForm.alkamisvuosi.$error.number || koulutusForm.alkamisvuosi.$error.min || koulutusForm.alkamisvuosi.$error.max)" tt="koulutus.edit.alkamis-kausi-ja-vuosi.required">Opintojen alkamiskausi ja alkamisvuosi vaaditaan</p>
</td>
</tr>

<!-- k. maksullisuus -->
<tr>
    <th tt="koulutus.edit.maksullisuus">Maksullisuus</th>
    <td>
        <input type="checkbox" data-ng-model="model.opintojenMaksullisuus"/>
        <span tt="koulutus.edit.maksullisuus.valinta">Maksullisuuden valinta</span>
    </td>
    <td></td>
</tr>
<tr>
    <th></th>
    <td>
        <span tt="koulutus.edit.maksullisuus.hinta">Hinta</span>
        <input  ng-required="model.opintojenMaksullisuus" name="hinta" ng-disabled="!model.opintojenMaksullisuus" class="thin" type="text" data-ng-model="model.hinta" ng-change="onMaksullisuusChanged(model)"  />
        <span tt="koulutus.edit.maksullisuus.euroa_lukuvuodessa">euroa lukuvuodessa</span>
    </td>
    <td>
        <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.hinta.$error.required" tt="koulutus.edit.maksullisuus.required">
            Maksullisuus vaaditaan
        </p>
    </td>
</tr>

<!-- väli -->
<tr class="padding"><td colspan="3"></td></tr>

<tbody ng-include="'partials/koulutus/edit/editYhteyshenkilo.html'"></tbody>

<!-- väli -->
<tr class="padding"><td colspan="3"></td></tr>

</table>
