<table class="tarjontaForm">
    <tr>
        <th></th>
        <td>
            <input type="checkbox" ng-model="uiModel.cbShowValmistavaKoulutus" />
            <span tt="koulutus.edit.sisaltyy-valmistava-koulutus">Tutkintoon sisältyy valmistava koulutus</span>
        </td>
        <td></td>
    </tr>

    <!-- koulutuskoodi -->
    <tr class="required">
        <th tt="koulutus.edit.koulutuskoodi">Koulutus</th>
        <td>
            <select required class="span5" name="koulutuskoodi" ng-if="model.oid === Undefined" class="thin"
                    ng-options="koodi.koodiUri as koodi.koodiNimi for koodi in uiModel.tutkinto | orderBy:'koodiNimi'"
                    ng-model="model.koulutuskoodi.uri">
                <!-- OVT-7744 / angular-bugi: IE vaatii tämän tai select ei toimi kunnolla -->
                <option value="" ng-disabled="model.koulutuskoodi.uri"></option>
            </select>
            <span ng-if="model.oid !== Undefined">{{model.koulutuskoodi.nimi}} {{model.koulutuskoodi.arvo}}</span><!-- loaded -->
        </td>
        <td>
            <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.koulutuskoodi.$error.required"
               tt="koulutus.edit.koulutuskoodi.required">Koulutus vaaditaan</p>
        </td>
    </tr>
    <tr class="required" ng-if="uiModel.enableOsaamisala">
        <th tt="koulutus.edit.osaamisala">Osaamisala</th>
        <td>
            <select required class="span5" name="koulutusohjelma" ng-if="model.oid === Undefined" class="thin" ng-model="model.koulutusohjelma.uri" ng-options="koodi.koodiUri as koodi.koodiNimi for koodi in uiModel.koulutusohjelma | orderBy:'koodiNimi'">
                <!-- OVT-7744 / angular-bugi: IE vaatii tämän tai select ei toimi kunnolla -->
                <option value="" ng-disabled="model.koulutusohjelma.uri"></option>
            </select>
            <span ng-if="model.oid !== Undefined">{{model.koulutusohjelma.nimi}}</span><!-- loaded -->
        </td>
        <td>
            <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.koulutusohjelma.$error.required"
               tt="koulutus.edit.osaamisala.required">Osaamisala vaaditaan</p>
        </td>
    </tr>

    <tr>
        <th tt="koulutus.edit.tarkenne">Tarkenne</th>
        <td>
            <input class="wide" name="tarkenne" type="text" data-ng-model="model.tarkenne" /></td>
        <td></td>
    </tr>

    <tr>
        <th tt="koulutus.edit.koulutusaste">Koulutusaste</th>
        <td>{{model.koulutusaste.nimi}}</td>
        <td></td>
    </tr>

    <!-- k. ala -->
    <tr>
        <th tt="koulutus.edit.koulutusala">Koulutusala</th>
        <td>{{model.koulutusala.nimi}}</td>
        <td></td>
    </tr>

    <!-- o. ala -->
    <tr>
        <th tt="koulutus.edit.opintoala">Opintoala</th>
        <td>{{model.opintoala.nimi}}</td>
        <td></td>
    </tr>

    <!-- tutkintonimike -->
    <tr>
        <th tt="koulutus.edit.tutkintonimike">Tutkintonimike</th>
        <td ng-if="!uiModel.tutkintonimikes">{{model.tutkintonimike.nimi}}</td>
        <td ng-if="uiModel.tutkintonimikes"><tutkintonimike model="uiModel.tutkintonimikes"></tutkintonimike></td>
        <td>
            <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.tutkintonimike.$error.required"
               tt="koulutus.edit.tutkintonimike.required">Tutkintonimike on pakollinen</p>
        </td>
    </tr>

    <!-- koulutuslaji -->
    <tr>
        <th tt="koulutus.edit.koulutuslaji">Koulutuslaji</th>
        <td>{{model.koulutuslaji.nimi}}</td>
        <td></td>
    </tr>

    <tr>
        <th tt="koulutus.edit.kuvaus-tavoite">Tavoite</th>
        <td><div ng-bind-html="uiModel.kuvausTavoite"></div></td>
        <td></td>
    </tr>

    <tr>
        <th tt="koulutus.edit.kuvaus-opintojen-rakenne">Opintojen rakenne</th>
        <td><div ng-bind-html="uiModel.kuvausOpintojenRakenne"></div></td>
        <td></td>
    </tr>

    <tr>
        <th tt="koulutus.edit.kuvaus-jatko-opintomahdollisuudet">Jatko-opintomahdollisuudet</th>
        <td><div ng-bind-html="uiModel.jatkoOpintomahdollisuudet"></div></td>
        <td></td>
    </tr>

    <tr ng-if="uiModel.koulutusohjelmanTavoitteet">
        <th tt="koulutus.edit.kuvaus-osaamisalan-tavoitteet">Osaamisalan tavoitteet</th>
        <td><div ng-bind-html="uiModel.koulutusohjelmanTavoitteet"></div></td>
        <td></td>
    </tr>

    <!-- väli -->
    <tr class="padding"><td colspan="3"><hr/></td></tr>

    <!-- koulutuksen alkamispvm -->
    <tr class="required">
        <th tt="koulutus.edit.koulutuksen-alkamispvm">Koulutuksen alkamispvm</th>
        <td>
    <alkamispaiva-ja-kausi
        pvms="model.koulutuksenAlkamisPvms"
        vuosi="model.koulutuksenAlkamisvuosi"
        kausi-uri = "model.koulutuksenAlkamiskausi.uri"
        kausi-ui-model="uiModel.koulutuksenAlkamiskausi"
        min="model.isNew ? now : (model.isMinmax ? min : '')"
        max="model.isMinmax ? max : '' ">
    </alkamispaiva-ja-kausi>

</td>
<td>
    <p class="error" ng-show="uiModel.showValidationErrors && !koulutusForm.kausivuosi && koulutusForm.alkamisPvm.$error.required" tt="koulutus.edit.alkamisPvm.required">Opintojen alkamispäivä vaaditaan</p>
    <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.kausivuosi && (koulutusForm.alkamiskausi.$error.required || koulutusForm.alkamisvuosi.$error.required || koulutusForm.alkamisvuosi.$error.number || koulutusForm.alkamisvuosi.$error.min || koulutusForm.alkamisvuosi.$error.max)" tt="koulutus.edit.alkamis-kausi-ja-vuosi.required">Opintojen alkamiskausi ja alkamisvuosi vaaditaan</p>
</td>
</tr>


<!-- suunniteltu kesto -->
<tr ng-if="uiModel.toggleTabs" class="required">
    <th tt="koulutus.edit.suunniteltu-kesto">Suunniteltu kesto</th>
    <td>
        <input required name="suunniteltuKestoArvo" class="thin" type="text" data-ng-model="model.valmistavaKoulutus.suunniteltuKestoArvo" required />
        <select required name="suunniteltuKestoTyyppi" class="thin" ng-model="model.valmistavaKoulutus.suunniteltuKestoTyyppi.uri" ng-options="koodi.koodiUri as koodi.koodiNimi for koodi in vkUiModel.suunniteltuKestoTyyppi.koodis | orderBy:'koodiNimi'">
            <!-- OVT-7744 / angular-bugi: IE vaatii tämän tai select ei toimi kunnolla -->
            <option value="" ng-disabled="model.valmistavaKoulutus.suunniteltuKestoTyyppi.uri"></option>
        </select>
    </td>
    <td>
        <p class="error" ng-show="vkUiModel.showValidationErrors && (koulutusForm.suunniteltuKestoArvo.$error.required || koulutusForm.suunniteltuKestoTyyppi.$error.required)"
           tt="koulutus.edit.suunniteltu-kesto.required">Suunniteltu kesto vaaditaan</p>
    </td>
</tr>

<!-- opetuskielet -->
<tr class="required">
    <th tt="koulutus.edit.opetuskielet">Opetuskielet</th>
    <td>

<multi-select
    order-with="userLanguages"
    selection="uiModel.opetuskielis.uris"
    promise="uiModel.opetuskielis.promise"
    display="combobox"
    name="opetuskielis" required/>

</td>
<td>
    <p class="error" ng-show="vkUiModel.showValidationErrors && koulutusForm.opetuskielis.$error.required" tt="koulutus.edit.opetuskielet.required">
        Opetuskielet vaaditaan
    </p>
</td>
</tr>

<tr class="required">
    <th tt="koulutus.edit.nayttotutkinnon-jarjestaja">Näyttötutkinnon järjestäjä</th>
    <td> {{model.jarjestavaOrganisaatio.nimi}}  <a href="" ng-click="openJarjestajaDialog()" tt="koulutus.edit.valitse-listalta">Valitse listalta</a></td>
    <td></td>
</tr>


<!-- opetusaikas -->
<tr ng-if="uiModel.toggleTabs" class="required">
    <th tt="koulutus.edit.opetusaikas">Opetusajat</th>
    <td>
<multi-select
    selection="vkUiModel.opetusAikas.uris"
    promise="vkUiModel.opetusAikas.promise"
    columns="2"
    name="opetusAikas" required/>
</td>
<td>
    <p class="error" ng-show="vkUiModel.showValidationErrors && koulutusForm.opetusAikas.$error.required" tt="koulutus.edit.opetusAikas.required">Opetusajat vaaditaan</p>
</td>
</tr>

<!-- opetusmuodot -->
<tr ng-if="uiModel.toggleTabs" class="required">
    <th tt="koulutus.edit.opetusmuodot">Opetusmuodot</th>
    <td>
<multi-select
    selection="vkUiModel.opetusmuodos.uris"
    promise="vkUiModel.opetusmuodos.promise"
    columns="2"
    name="opetusmuodos" required/>
</td>
<td>
    <p class="error" ng-show="vkUiModel.showValidationErrors && koulutusForm.opetusmuodos.$error.required" tt="koulutus.edit.opetusmuodot.required">Opetusmuodot vaaditaan</p>
</td>
</tr>

<!-- opetuspaikka -->
<tr ng-if="uiModel.toggleTabs" class="required">
    <th tt="koulutus.edit.opetusPaikkas">Opetuspaikat</th>
    <td>
<multi-select
    selection="vkUiModel.opetusPaikkas.uris"
    promise="vkUiModel.opetusPaikkas.promise"
    columns="2"
    name="opetusPaikkas" required/>
</td>
<td>
    <p class="error" ng-show="vkUiModel.showValidationErrors && koulutusForm.opetusPaikkas.$error.required" tt="koulutus.edit.opetusPaikkas.required">Opetuspaikat vaaditaan</p>
</td>
</tr>

<!-- k. maksullisuus -->
<tr>
    <th tt="koulutus.edit.maksullisuus.tutkinto">Maksullisuus</th>
    <td>
        <input type="checkbox" data-ng-model="model.opintojenMaksullisuus"/>
        <span tt="koulutus.edit.maksullisuus.valinta.tutkinto">tutkinto on maksullista</span>
    </td>
    <td></td>
</tr>
<tr>
    <th></th>
    <td>
        <span tt="koulutus.edit.maksullisuus.hinta">Hinta</span>
        <input ng-required="model.opintojenMaksullisuus" name="hinta" ng-disabled="!model.opintojenMaksullisuus" class="thin" type="text" data-ng-model="model.hinta" ng-change="onMaksullisuusChanged(model)"  />
        <span tt="koulutus.edit.maksullisuus.euroa_lukuvuodessa">euroa lukuvuodessa</span>
    </td>
    <td>
        <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.hinta.$error.required" tt="koulutus.edit.maksullisuus.required">
            Maksullisuus vaaditaan
        </p>
    </td>
</tr>


<!-- k. maksullisuus -->
<tr  ng-if="uiModel.toggleTabs">
    <th></th>
    <td>
        <input type="checkbox" data-ng-model="model.valmistavaKoulutus.opintojenMaksullisuus"/>
        <span tt="koulutus.edit.maksullisuus.valinta.valmistava">valmistava koulutus on maksullista</span>
    </td>
    <td></td>
</tr>
<tr  ng-if="uiModel.toggleTabs">
    <th></th>
    <td>
        <span tt="koulutus.edit.maksullisuus.hinta">Hinta</span>
        <input ng-required="model.valmistavaKoulutus.opintojenMaksullisuus" name="vk_hinta" ng-disabled="!model.valmistavaKoulutus.opintojenMaksullisuus" class="thin" type="text" data-ng-model="model.valmistavaKoulutus.hinta" ng-change="onMaksullisuusChanged(model.valmistavaKoulutus)"  />
        <span tt="koulutus.edit.maksullisuus.euroa_lukuvuodessa">euroa lukuvuodessa</span>
    </td>
    <td>
        <p class="error" ng-show="vkUiModel.showValidationErrors && koulutusForm.vk_hinta.$error.required" tt="koulutus.edit.maksullisuus.required">
            Maksullisuus vaaditaan
        </p>
    </td>
</tr>

<tr ng-if="uiModel.toggleTabs">
    <th tt="koulutus.edit.linkki-opetussuunnitelmaan">Linkki opetussuunnitelmaan</th>
    <td><input class="wide" name="linkkiOpetussuunnitelmaan" type="text" data-ng-model="model.valmistavaKoulutus.linkkiOpetussuunnitelmaan" /></td>
    <td>

    </td>
</tr>




<!-- väli -->
<tr class="padding"><td colspan="3"></td></tr>

<tbody ng-include="'partials/koulutus/edit/editYhteyshenkilo.html'"></tbody>

<!-- väli -->
<tr class="padding"><td colspan="3"></td></tr>

<tbody ng-if="uiModel.toggleTabs" ng-include="'partials/koulutus/edit/amm/editValmistavaKoulutusYhteyshenkilo.html'"></tbody>

<!-- väli -->
<tr class="padding"><td colspan="3"></td></tr>

</table>

