<table class="tarjontaForm">
</table>

<mk-tabs
    model="uiModel.lisatietoKielet"
    selection="uiModel.selectedKieliUri"
    mutable="true"
    ></mk-tabs>
 
<div class="mkTabsContent" ng-show="uiModel.selectedKieliUri==null">
    <multi-select
        on-change="onValmistavaLisatietoLangSelection(uris)"
        promise="uiModel.opetuskielis.promise"
        order-with="userLanguages"
        selection="uiModel.lisatietoKielet"
        display="dualpane"></multi-select>
</div>

<div ng-if="uiModel.cbShowValmistavaKoulutus" class="mkTabsContent" ng-show="uiModel.selectedKieliUri">
    <div ng-if="uiModel.lisatietoKielet.length > 0" ng-repeat="lisatieto in uiModel.valmistavaLisatiedot" ng-show="lisatieto.type != 'MAKSULLISUUS' || model.valmistavaKoulutus.opintojenMaksullisuus">
        <!-- keep the ng-if="arr.length > 0", or model will receive empty keys {'':''} -->
        <h4>{{t('koulutus.edit.' + lisatieto.type + '.title')}}</h4>
        <p>{{t('koulutus.edit.' + lisatieto.type + '.help')}}</p>
        <rich-textarea max="{{lisatieto.length}}" mode="false" disable-edit="getValmistavaKuvausApiModelLanguageUri(lisatieto.type, uiModel.selectedKieliUri)[uiModel.selectedKieliUri]"></rich-textarea>
    </div>
</div>