<div class="tarjonta-dialog">
    <div class="modal-header">
        <h3 tt="koulutus.edit.poista-valmistava-koulutus.title">Poista valmistava koulutus</h3>
    </div>

    <div class="modal-body">
        <p tt="koulutus.edit.poista-valmistava-koulutus.text">Olet aikeissa poistaa valmistavan koulutuksen sisältöineen, jatketaanko?</p>
    </div>

    <div class="modal-footer">
        <button class="btn" ng-click="cancel()" tt="tarjonta.toiminnot.peruuta"/>
        <button class="btn btn-primary" ng-click="ok()" tt="koulutus.edit.poista"/>
    </div>

</div>