
<div>
<form>
	<input name="tekstihaku" ng-model="hakuehdot.tekstihaku" type="text"
		value="" name="searchString" class="text search"
		placeholder="{{ t('organisaatiohaku.tekstihaku.placeholder') }}">

	<select ng-model="hakuehdot.organisaatiotyyppi"
		ng-options="organisaatiotyyppi.koodi as organisaatiotyyppi.nimi for organisaatiotyyppi in organisaatiotyypit">
	    <option value="">{{t("organisaatiohaku.organisaatiotyypit.prompt")}}</option>
	</select> 
	
	<koodistocombo prompt="t('organisaatiohaku.oppilaitostyypit.prompt')" koodistouri="'oppilaitostyyppi'" locale="'FI'" koodiuri="hakuehdot.oppilaitostyyppi"></koodistocombo>
	
	<div class="field-container-checkbox">
		<input ng-model="hakuehdot.lakkautetut" type="checkbox" name="includePassive" id="passiiviset" value="true">
		<label for="passiiviset">{{
			t("organisaatiohaku.label.nayta.myos.lakkautetut") }}</label>
	</div>

	<div class="field-container-checkbox">
		<input ng-model="hakuehdot.suunnitellut" type="checkbox" name="includePlanned" id="suunnitellut" value="true">
		<label for="suunnitellut">{{t("organisaatiohaku.label.nayta.myos.suunnitellut")}}</label>
	</div>

	<div class="buttons">
		<input type="button" ng-click="reset()" class="btn btn-primary"
			value="{{ t('organisaatiohaku.button.tyhjenna') }}" />
	    <input type="submit" ng-click="submit()" class="btn btn-warning"
			value="{{ t('organisaatiohaku.button.hae') }}" />
	</div>
</form>
</div>

{{organisaatio.currentNode}}

<div data-angular-treeview="true"
		data-tree-id="organisaatio"
		data-tree-model="tulos"
		data-node-id="oid"
		data-node-label="nimi"
		data-node-children="children" >
</div>
