<form name="luoTutkinto">     
    <div class="container-fluid ">
        <div class="row-fluid">

            <!--div class="span10"><input type="button" data-ng-click="loadKoodistoData()" value="Hae koulutuskoodi relaatiot"></div-->
            <!--div class="span10"><input type="button" data-ng-click="search()"  value="Hae data"></div-->
            <div class="span10"><input type="button" data-ng-click="insert()"  value="Tallenna"></div>
        </div>
    </div>

    <div class="container-fluid ">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.koulutuskoodi'></div>
            <div class="span10">{{model.koulutuskoodi.arvo}}
                <input disabled="true" type="text" data-ng-model="model.koulutuskoodi.koodi.arvo" required />
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.koulutusohjelma'></div>
            <div class="span10">
                <input type="text" data-ng-model="model.koulutusohjelma.arvo" required />


                <div data-ng-repeat="meta in model.koulutusohjelma.meta">
                    <input type="text" data-ng-model="meta.arvo" required />
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.koulutusaste'></div>
            <div class="span10">{{model.koulutusaste.arvo}}</div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.koulutusala'></div>
            <div class="span10">{{model.koulutusala.arvo}}</div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.opintoala'></div>
            <div class="span10">{{model.opintoala.arvo}}</div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.tutkinto'></div>
            <div class="span10">{{model.tutkinto.arvo}}</div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.tutkintonimike'></div>
            <div class="span10">{{model.tutkintonimike.arvo}}</div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.eqf-luokitus'></div>
            <div class="span10">{{model.eqf.arvo}}</div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.tutkinto-ohjelman-tunniste'></div>
            <div class="span10"><input type="text" data-ng-model="model.tunniste"  required /></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.opintojen-laajuus'></div>
            <div class="span10">
                <select data-ng-model="model.opintojenLaajuus.arvo">
                    <option value="kieli_fi#1">data missing</option>
                </select>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.koulutuksen-alkamispvm'></div>
            <div class="span10">
                <input type="text"
                       data-datepicker-popup="dd.MM.yyyy"
                       data-ng-model="model.koulutuksenAlkamisPvm"
                       data-is-open="opened"
                       data-min="minDate"
                       data-max="'2015-06-22'"
                       data-datepicker-options="dateOptions"
                       data-date-disabled="disabled(date, mode)"
                       data-ng-required="true" />
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.suunniteltu-kesto'></div>
            <div class="span10">
                <input type="text" data-ng-model="model.suunniteltuKesto.arvo" required />
                <!--select data-ng-model="model.suunniteltuKestoTyyppi.arvo">
                </select-->
                <koodistocombo koodiuri="uiModel.suunniteltuKesto"  koodistouri="uiModel.env['koodisto-uris.suunniteltuKesto']" locale="'FI'"></koodistocombo>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.opetuskielet'></div>
            <div class="span10">
                <koodistomultiselect koodiuris="uiModel.opetuskielis" koodistouri="uiModel.env['koodisto-uris.kieli']" locale="'FI'"></koodistomultiselect>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.maksullisuus'></div>
            <div class="span10">
                <input type="checkbox" data-ng-model="model.maksullisuus.arvo" />
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.opetusmuodot'></div>
            <div class="span10">
                <!--select multiple data-ng-options="o.koodi.uri as o.arvo for o in model.opetusmuodot.tekstis">
       </select-->
                <koodistomultiselect koodiuris="uiModel.opetusmuodos" koodistouri="uiModel.env['koodisto-uris.opetusmuoto']" locale="'FI'"></koodistomultiselect>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.pohjakoulutusvaatimus'></div>
            <div class="span10">
                <!--select multiple data-ng-options="o.koodi.uri as o.arvo for o in model.pohjakoulutusvaatimus.tekstis">
                    <option value="pohjakoulutusvaatimus">test data</option>>
                </select-->

                <koodistomultiselect koodiuris="uiModel.pohjakoulutusvaatimukset" koodistouri="uiModel.env['koodisto-uris.pohjakoulutusvaatimus']" locale="'FI'"></koodistomultiselect>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.teemat'></div>
            <div class="span10">

                <!--select multiple data-ng-options="o.koodi.uri as o.arvo for o in model.Teemat.tekstis">
                </select-->
                <koodistomultiselect koodiuris="uiModel.teemas" koodistouri="uiModel.env['koodisto-uris.teemat']" locale="'FI'"></koodistomultiselect>
            </div>
        </div>
    </div>
    
    <div ng-include="'partials/kk/edit/editYhteyshenkilo.html'"></div>
    <!--  <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.yhteyshenkilo'></div>
            <div class="span10">
                <div>
                    <div style="float: left;"><input type="text" data-ng-model="uiModel.contactPerson.nimet" /></div>
                    <div style="float: left;"><a href=""><span tt='kk.edit.tyhjenna'></a></div>
                </div>
                <div style="clear: left;">
                    <input type="text" data-ng-model="uiModel.contactPerson.sahkoposti" /><br/>
                    <input type="text" data-ng-model="uiModel.contactPerson.titteli" /><br/>
                    <input type="text" data-ng-model="uiModel.contactPerson.puhelin" />
                </div>
            </div>
        </div>
    </div>-->
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.ects-koordinaattori'></div>
            <div class="span10">
                <div>
                    <div style="float: left;"><input type="text" data-ng-model="uiModel.ectsCoordinator.nimet" /></div>
                    <div style="float: left;"><a href=""><span tt='kk.edit.tyhjenna'></a></div>
                </div>
                <div style="clear: left;">
                    <input type="text" data-ng-model="uiModel.ectsCoordinator.titteli" /><br/>
                    <input type="text" data-ng-model="uiModel.ectsCoordinator.puhelin" />
                </div>
            </div>
        </div>
    </div>

</form>