    <div class="container-fluid" ng-controller="EditYhteyshenkiloCtrl">
        <div class="row-fluid">
            <div class="span2 label-right"><span tt='kk.edit.yhteyshenkilo'></div>
            <div class="span10">
                <div>
                    <div style="float: left;"><input type="text" data-ng-model="contactPerson.nimet" /></div>
                    <div style="float: left;"><a href="" ng-click="editYhModel.clearYh()"><span tt='kk.edit.tyhjenna'></a></div>
                </div>
                <div style="clear: left;">
                    <input type="text" data-ng-model="contactPerson.sahkoposti" /><br/>
                    <input type="text" data-ng-model="contactPerson.titteli" /><br/>
                    <input type="text" data-ng-model="contactPerson.puhelin" />
                </div>
            </div>
        </div>
    </div>