<h2>Koodisto test</h2>




        <koodistocombo prompt="'Valitse koodi'" onchangecallback="testcallback"  koodistouri="'koulutusohjelmaamm'" locale="'FI'" koodiuri="koodiuri"></koodistocombo>


<h3>Toinen koodisto</h3>


    <koodistocombo isdependent="true" filterwithkoodistouri="koodistofilter" isalakoodi="true" locale="'FI'" koodiuri="alakoodiuri" parentkoodiuri="parenturi"></koodistocombo>


<h3>Koodisto multiselect</h3>

        <koodistomultiselect koodiuris="selectedKoodis" koodistouri="'koulutusohjelmaamm'" locale="'FI'"></koodistomultiselect>



        <input type="button" value="Test it" ng-click="testit()">