/* app css stylesheet */

.nav, .pagination, .carousel a {
    cursor: pointer;
}


.table-light-gray{
	background-color: rgba(248,248,248,1);
}

.table-dark-gray{
	background-color: rgba(112,112,112,1)
}

.table-active {
    background-color: rgba(255,0,0,1);
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 500px;
    height: 200px;
}

.hidden {
	display:none;
}

.wide {
    width:100%;
}

.thin {
	width:50%;
}

input.thin, select.thin {
    width:101px;
}

.float-left {
    float:left;
}

.margin-left {
    margin-left:20px;
}

.float-right {
    float:right;
}

.align-left {
    text-align:left;
}

.align-right {
    text-align:right;
}

.clear-both {
	clear:both;
}

.align-top {
	vertical-align: top;
}

.align-bottom {
	vertical-align: bottom;
}
.display-block {
	display:block;
}

label {
	display:inline;
}

/* latauspylpyrä (kokosivu) */

div#ajax-loader.pre-init .post-init {
    display:none;
}

div#ajax-loader .dialog {
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-200px;
    margin-top:-150px;
    width:400px;
    height:300px;
    background:#ffffff;
    border: 1px solid #cccccc;
    border-radius:4px;    
    z-index:10001;
}

div#ajax-loader div.fail, div#ajax-loader.fail div.frame {
	display:none;
}

div#ajax-loader.fail div.fail {
    display:block;
    position:absolute;
    left:50%;
    margin-left:-300px;
    width:600px;
}

div#ajax-loader.fail h1 {
    margin:50px 0 0 0;    
}

div#ajax-loader.fail p {
    margin: 30px 0 0 0;
}

div#ajax-loader.fail a {
	margin-top:20px;
	float:right;
}

div#ajax-loader.fail hr {
	margin: 30px 0 0 0;	
} 

div#ajax-loader {
	font-size:24px;
	background-color:#ffffff;
	opacity:0.75;
	z-index:10000;
}

div#ajax-loader.lowered {
    z-index:999;
}

div#ajax-loader .timeout {
	position:absolute;
	top:55%;
    left:0;
    width:350px;
    margin-left:-175px;
    margin-top:40px;
    font-size:14px;
}

div#ajax-loader .timeout p {

}

div#ajax-loader.min .timeout {
    display:none;	
}

div#ajax-loader.max {
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

div#ajax-loader.max div.frame {
	position: absolute;
	margin-left:50%;
	width:50%;
	height:100%;
}

div#ajax-loader.max div.frame img.spinner {
	position:absolute;
	left:-16px;
	bottom:55%;
	display:block;
}

div#ajax-loader.max span.spinner-msg {
	position:absolute;
	width:200px;
	left:-100px;
	top:55%;
	display:block;
	text-align:center;
}

/* pienempi latauspylpyrä */
div#ajax-loader.min {
	position:fixed;
	bottom:0;
	width:100%;
	height:48px;
	text-align:center;
	padding-top:8px;
	padding-bottom:8px;
}

div#ajax-loader.min div.frame {
	width:100%;
}

div#ajax-loader.min div.frame img.spinner {
	display:inline;
	position:relative;
}

div#ajax-loader.min span.spinner-msg {
	display:inline;
	position:relative;
}


/* sivupalkki */

footer {
	clear:both;
}

#tarjonta-body {
	position:relative;
	margin-top:20px;
	min-width:920px;
}

.wsidebar-left {
	min-height:100%;
	top:0;
	width:220px;
	left:20px;
	position:relative;
	float:left;
}

.wsidebar-main {
	margin-left:300px;
	padding-right:20px;
}

/* tabset korjaus */
.wsidebar-main .nav {
    min-height:38px;
    display:block;
}

.wsidebar-main .nav-tabs:after, .wsidebar-main .nav-pills:after {
    clear: right;
    display:block;
}

/* organisaatiohaku */

div#orgSearch {
	margin-bottom:20px;
}

div#orgSearchResults span {
	margin-left:20px;
	margin-bottom:-20px;
    display:block;
    position:relative;
    top:-20px;
}

/* tarjonnan hakunäkymä */

div#searchSpec {
	height:96px;
	position:relative;
}

div#searchSpec > div.title {
}

div#searchSpec > div.title > span {
	font-size:150%;
	font-weight:bold;
}

div#searchSpec > table.spec {
	position:absolute;
	right:0;
	bottom:0;
	max-width:80%;
}

div#searchSpec > table.spec th {
	text-align:left;
	font-weight:normal;
	padding-right:1em;
}

div#searchSpec > table.spec td.controls {
	vertical-align:top;
	padding-left:1em;
}

div#searchSpec > table.spec select {
	width:100%;

}

div#searchSpec > div.search {
	position:absolute;
	left:0;
	bottom:0;
	width:20%;
}

div#searchSpec > div.search > input {
	width:100%;
	position:relative;
	top:-1px;
}

div.resultsTreeTable table th.column-tila {
    min-width:75px;
}
div.resultsTreeTable table th.column-kausi {
    min-width:90px;
}
div.resultsTreeTable table th.column-koulutuslaji {
    min-width:120px;
}
div.resultsTreeTable table th.column-hakutapa {
    min-width:120px;
}
div.resultsTreeTable table th.column-aloituspaikat {
    min-width:90px;
}

div#searchResults div.resultsTable div.tools {
	float:right;	
}

div#deleteDialog .subject {
	font-weight:bold;
}

/* Tarjonnan tarkastelunäkymät / yleiset */

.label-right {
    text-align: right;
}


/*
 * partials/kk/review/
 */
.collapseHeader {
    display: inline;
    cursor: pointer;
}

.collapseHeader:before {
    display: inline;
    content: '► ';
}
.collapseHeader.isOpen:before{
    content: '▼ ';
}

/* select-tutkinto-ohjelma */
div.tarjonta-dialog .modal-body {
	max-height: 80%;
}

div#select-tutkinto-ohjelma .gridStyle, div#select-tutkinto-ohjelma select {
	width:100%;
}

div .modal-body .modal-form input[type=text] {
	position:relative;
	top: 5px;
}

div#select-tutkinto-ohjelma .gridStyle {
	height:180px;
}

div#select-tutkinto-ohjelma .noResults {
	height:182px;
}

/** luo koulutus dialogi **/
div#luo-koulutus-dialogi select {
	width: 100%;
}

div#luo-koulutus-dialogi div.modal-body {
	height:340px;
}

div#luo-koulutus-dialogi td {
	vertical-align:top;
}

div#luo-koulutus-dialogi ul {
    list-style: none;
    margin:0;
}

/* koulutuksen muokkaus/luonti */

div#tarjonta-body {
	margin:20px;
}

/* firefox-bootstrap-glow-korjaus */
input:invalid,textarea:invalid,select:invalid {
	box-shadow: 0 0 6px rgba(0,0,0,0.075);
}

/* boostrap-korjaus */
a.btn span {
	text-decoration: none;
}

/* tarjontaControlsLayout / ilmoitusviestit */

.msgInfo, .msgError, .msgOk {
	border-radius: 4px;	
	padding: 40px 40px 40px 86px;
	margin:18px 0 18px 0;
	box-shadow: 0 2px 3px rgba(0,0,0,0.275);
}

.msgOk {
	background: #e4f4f9 url('../img/icon28-ok.png') 36px 36px no-repeat;
}

.msgInfo {
	background: #e4f4f9 url('../img/icon28-info.png') 36px 36px no-repeat;
}

.msgError {
	background: #fef3d3 url('../img/icon28-error.png') 36px 36px no-repeat;
}

div.tarjontaControlsLayout p {
    margin:0;
}

div.tarjontaControlsLayout ul {
    margin-top:0;
    margin-bottom:0;
}

div.tarjontaControlsLayout p > p, div.tarjontaControlsLayout p > ul {
    margin-top:0.33em;   
}

/* aiheet ja teemat */

div#aiheetJaTeemat > ul.tree {
    height:300px;
}

div#aiheetJaTeemat > ul.tree > li > a:hover {
    text-decoration: none;	
}

div#aiheetJaTeemat > ul.tree > li > a:before {
	color: #cccccc;
    display: inline;
    content: '▼ ';
}

div#aiheetJaTeemat > ul.tree > li.fold > a:before {
    content: '► ';
}

div#aiheetJaTeemat > ul.tree li {
	list-style:none;
}


div#aiheetJaTeemat > ul.selection {
	margin-top:20px;
    height:100px;
}

/* listview (eli lista asioita ja x:t niiden edessä) */
ul.listView {
    border: 1px solid #cccccc;
    border-radius:4px;
    overflow:auto;
    margin:0;
    padding: 2px 7px 2px 7px;
}

/* dialogi / yleiset */

.modal-form {
	margin-bottom:10px;
}

.modal-body h4 {
    margin-bottom:2px;
    font-size:14px;
}


.modal-body .errors {
    border-radius: 4px; 
    padding: 20px 20px 20px 66px;
    margin:18px 0 18px 0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.275);
    background: #fef3d3 url('../img/icon28-error.png') 16px 16px no-repeat;
}

.modal-body ul.errors li {
	list-style:none;
	padding:0;
}

/* lisää/poista koulutuksia (dialogi) */

div#select-koulutus ul.listView {
    height:100px;
}

div#select-koulutus div.koulutus-list, div#select-koulutus div.koulutus-tree {
    height:140px;
    border:1px solid #cccccc;
    overflow:auto;
}

 div#select-koulutus .koulutus-preview {
    height:300px;
 }

div#select-koulutus div.koulutus-tree > ul > li {
	padding-left:2px;
}

/* valintakoe-dialogi */

.valintakoe-modal {
    width:900px;
    margin-left:-450px
}

/* tekstikentän hakuikoni */

input[type=text].typeahead {

    background-image: url('../img/icon20-search.png');
	background-repeat: no-repeat;
	background-position: center right;
	padding-right:22px;
	width:194px;
}

/* virkailija-teeman checkbox-korjaus */
input[type=checkbox], input[type=radio] {
	box-shadow:none;
}

label input[type=checkbox], label input[type=radio] {
    margin: 0 5px 0 0;
}

/* koulutuksen alkamispvm */

div#koulutuksenAlkamisPvm ul {
	list-style:none;	
    margin:15px 0 0 0;
}

div#koulutuksenAlkamisPvm ul li {
	display: inline-block;
	margin-right:15px;
}

div#koulutuksenAlkamisPvm div.indent {
    margin:10px 0 20px 30px;
}

span.disabled {
    color:#a0a0a0;
}

div#soraVapeChooserDialog dl dt input[type=radio] {
	margin-top:-0.25em;
}

div#soraVapeChooserDialog dl dt {
	font-weight:normal;
}

div#soraVapeChooserDialog dl dd {
	margin:0 0 15px 0;
    font-size:90%;
    color:#606060;
    font-style:italic;
}

div#soraVapeChooserDialog table tr.selected td {
    background-color:rgb(146, 204, 224);
}

div#soraVapeChooserDialog div.kuvausGridStyle {
	border-radius:4px;
    border: 1px solid #cccccc;
    
    width:100%;
    height:95px;
    margin-bottom:15px;
}

div#soraVapeChooserDialog .multiselect .dualpane ul, div#soraVapeChooserDialog .multiselect .dualpane select {
	width:410px;
}

/* date-time */

div.tarjontaDateTime {
    display:inline-block;	
}

div.tarjontaDateTime input.date {
    width:6.66em;
}

div.tarjontaDateTime input.time {
    width:3.33em;
}

div.tarjontaDateTime button {
    position: relative;
    top:-5px;
}

/* bootstrap-taulukko */

table.table.selection tr.selected td {
    background-color:rgb(146, 204, 224);
}

/* osoitefield */

div.tarjontaOsoiteField .osoite {
    width:320px;
}

div.tarjontaOsoiteField .postinumero {
    width:102px;
}

div.tarjontaOsoiteField .postitoimipaikka {
    width:200px;
    border-color:#eeeeee;
    box-shadow:none;
}

button.btn-invisible {
	border:none;
	width:0;
	height:0;
	margin:0;
	padding:0;
}

/* yleinen hakuehtonäkymä */

table.seachSpecLayout {
	width:100%;
}

table.seachSpecLayout td, table.seachSpecLayout th {
    width:200px;
    vertical-align: top;
}

table.seachSpecLayout th {
	text-align:left;
	font-weight:normal;
}

table.seachSpecLayout td {
    border-spacing: 10px;
    border-collapse: separate;
}

table.seachSpecLayout td.query {
	min-width:200px;
	width:100%;
}

table.seachSpecLayout td.query input {
	width:75%;
	min-width:200px;
	max-width:400px;
    top:-1px;

    background-image: url('../img/icon20-search.png');
    background-repeat: no-repeat;
    background-position: center right;
    padding-right:22px;
}

table.seachSpecLayout td.controls {
    text-align:right;
    min-width:160px;
}

table.seachSpecLayout td.controls button {
    position:relative;
    top: 0;
}

table.seachSpecLayout td.mode ul {
    margin:0;
	list-style:none;
}

table.seachSpecLayout td.mode ul span {
	position:relative;
	top:3px;
}

/* hakujen etusivu */

div#searchResults.haku table td input[type=checkbox] {
    margin-left:0;
}

div#searchResults.haku ul a {
	font-weight:normal;
}


/* taulukon oikeanpuoleisen sarakkeen nappi*/

table td.controls {
	text-align:right;
	padding-left:20px;
}

table td.controls button {
	position:relative;
	top: -5px;
}

/* virkailija-css-korjaukset (ie) */

input[type=checkbox] {
	padding:2px;
	height:auto;	
}

/* imagefield */

div.imageField {
    display:inline-block;
}

div.imageField div.frame {
    width:400px;
    height:200px;
    background-color:#d0d0d0;
    border: 1px inset #f5f5f5;
}

div.imageField img.content {
    width:400px;
    height:auto;
    border: 1px inset #f5f5f5;
}

div.imageField div.btn {
	position:relative;
	overflow:hidden;
}

div.imageField input[type=file] {
	position:absolute;
	top:0;
	left:0;
	margin:0;
	padding:0;
	cursor:pointer;
	font-size:20px;
	opacity:0;
	filter: alpha(opacity=0);
}

div.imageField input[type=file]:-ms-value {
	display:none;
}

table.valintakoeTilaisuudet {
	min-width:890px;
}

table.valintakoeTilaisuudet td.vkOsoite br {
	display:none;    
}

table.valintakoeTilaisuudet td.vkAjankohta {
    width:220px;	
}

table.valintakoeTilaisuudet td.vkSeparator {
	width:10px;
	vertical-align: middle;
}

table.valintakoeTilaisuudet td.vkOsoite input.osoite {
    width:436px;
    margin-right:2px;
}

table.valintakoeTilaisuudet td.vkLisatieto input {
    width:320px;
}

table.valintakoeTilaisuudet td.vkPoista {
    min-width:80px;
    text-align:right;
    vertical-align:top;
}

table.valintakoeTilaisuudet td.vkPoista button {
	width:72px;
	height:72px;
}

table tr.hakuajat td {
    vertical-align: top;
}

table tr.hakuajat td.controls button {
    top: 0px;
}

table tr.hakuajat > td > table {
    width: 100%;
}

table tr.hakuajat table.mkTextfield input {
    margin-top: 0px;
}

table tr.hakuajat td.nimet {
    min-width: 200px;
}

table tr.hakuajat td.nimet th {
    padding-right: 5px;
}

table tr.aloituspaikatKuvaukset table {
    width: 350px;
}

.valintaperustekuvaukset .search {
    float: right;
}
