/* multiselect; ks. /js/shared/directives/multiSelect.js */

div.multiselect {
    width:100%;
}

div.multiselect table.checklist {
	margin-bottom:1em;
}

div.multiselect table.checklist, div.multiselect table.checklist td {
	width:auto;
	padding:0 1em 0 0;
	vertical-align:top;
}

div.multiselect div.dualpane select {
	width:40%;
	height:82px;
	float:left;
	padding:0;
	margin:0 20px 0 0;
}

div.multiselect ul.selection {
	border-radius:4px;
	border: 1px solid #cccccc;
	width:40%;
	height:82px;
	margin:0 1px 0 0;
	padding:0 7px 0 7px;
	overflow:auto;
	list-style:none;
}

div.multiselect div.combobox, div.multiselect div.dualpane {
    width:100%;
	/*width:540px;*/
}

div.multiselect div.combobox div {
    float:left;    
    width:40%;
    margin:0 20px 0 0;
}

div.multiselect div.combobox input {
	margin-top:0;
}

div#multiSelectChooser .grid {
	height:300px;
    border: 1px solid #cccccc;
    border-top:none;
	
}
