/* multiselect; ks. /js/shared/directives/multiSelect.js */
div.multiselect table.checklist {
	margin-bottom:1em;
}

div.multiselect table.checklist, div.multiselect table.checklist td {
	width:auto;
	padding:0 1em 0 0;
	vertical-align:top;
}

div.multiselect div.dualpane select {
	width:40%;
	height:82px;
}

div.multiselect div.dualpane ul {
	float:left;
	border-radius:4px;
	border: 1px solid #cccccc;
	width:40%;
	height:82px;
	margin:0 20px 0 0;
	padding:0 7px 0 7px;
	overflow:auto;
}

