/* Tarjonta form-layout

<!-- Form-tagi on määriteltävä jotta angularin validointi toimii -->
<form name="form">

	<!-- Varsinainen layout on taulukko-pohjainen; mikäli sivulla on useampi tällainen taulukko,
		 tulee huolehtia että kaikki otsikkotekstit mahtuvat 250 pikselin sisään.
	-->
	<table class="tarjontaForm">

		<!-- Kullakin taulukkorivillä on kolme saraketta joista vasemmanpuoleisin on otsikko (th),
			 keskimmäinen on sisältöä varten ja oikea muuhun käyttöön (esim. linkit ja validointiviestit).

			 Keskimmäisen ja oikean sarakkeen voi tarvittaessa yhdistää (colspan) mutta taulukossa
			 on oltava vähintään yksi rivi jolla kaikki sarakkeet ovat erikseen määriteltyinä.

			 Rivien näyttämistä voidaan hienosäätää seuraavilla css-luokilla:

			 required	Punainen pakollisuuspallero otsikon oikealle puolelle (ei vaikuta sisältöön)
			 info		Tekstirivi (vaikuttaa lähinnä oikeanpuoleisen sarakkeen marginaaleihin)
			 primary	Otsikon lihavointi

		 -->

		<!-- esimerkki (tutkintonimike, koulutuksen muokkausnäkymästä) -->
		<tr class="required">

			<!-- lokalisoitu otsikko -->
			<th tt="koulutus.edit.tutkintonimike"/>

			<!-- sisältö -->
			<td>
				<!-- select- ja input -tageille on määritelty tyylit ja seuraavat apu-css-luokat:

					 thin	Puolitettu leveys (100px; bootstrapin vakio on 200px)
					 wide	Maksimileveys.


				<select
					required
					name="tutkintoNimike"
					class="wide"
					ng-model="uiModel.tutkintonimike.uri"
					ng-options="koodi.koodiUri as koodi.koodiNimi for koodi in uiModel.tutkintonimike.data | orderBy:'koodiNimi'">
				</select>
			</td>
			<td>
				<!-- validointivirhe-esimerkki (huomaa viittaus formin nimeen): -->
				<p class="error"
					ng-show="perustiedotForm.tutkintoNimike.$error.required"
					tt="koulutus.edit.tutkintonimike.required"/>
			</td>
		</tr>

		<!-- ohjetekstirivi -->
		<tr>
			<th></th>
			<td colspan="2" class="help" tt="koulutus.edit.opintojen-laajuus.help"/>
		</tr>

        <!-- tyhjä välirivi; väliviivalla tai ilman (hr) -->
        <tr class="padding"><td colspan="3"><hr/></td></tr>

        <!-- väliotsikko -->
        <tr class="header"><th colspan="3">...</th></tr>


	</table>
</form>

*/


table.tarjontaForm {
	width:100%;
}

table.tarjontaForm > tbody > tr > th {
	vertical-align: top;
	text-align: right;
	width:20%;
	min-width:250px;
	max-width:300px;
	font-weight:normal;
	padding-bottom:10px;
}

table.tarjontaForm > tbody > tr > td {
	vertical-align: top;
	width:45%;
	padding-left:20px;
}

table.tarjontaForm > tbody > tr > td+td {
	width:35%;
	vertical-align: bottom;
}

table.tarjontaForm > tbody > tr > td.help {
	font-size:90%;
	color:#606060;
	font-style:italic;
	padding-bottom:15px;

}

table.tarjontaForm > tbody > tr.padding > td {
	height:30px;
}

table.tarjontaForm > tbody > tr.primary > th {
	font-weight:bold;
}

table.tarjontaForm > tbody > tr.primary > th+td+td {
	vertical-align: top;
	padding-top:2px;
}

table.tarjontaForm > tbody > tr.info > td+td {
	vertical-align:top;
}

table.tarjontaForm > tbody > tr > th:after {
	display:inline-block;
	content: ' ';
	width:0.5em;
}

table.tarjontaForm > tbody > tr.required > th:after {
	display:inline-block;
	content: '*';
	width:0.5em;
	color:#ff0000;
}
/*
table.tarjontaForm tr.required table th:after {
	display: none;
}
*/
table.tarjontaForm p.error {
	color:#ff0000;
}

table.tarjontaForm p.error:before {
	content: url('../img/icon-error.png');
	margin-right:0.5em;
	position:relative;
	vertical-align: baseline;
}

table.tarjontaForm tr.collapse th {
    text-align: left;
    cursor: pointer;
    font-weight:bold;
}

table.tarjontaForm tr.collapse th:before {
    display: inline;
    content: '► ';
}

table.tarjontaForm tr.collapse.open th:before {
    content: '▼ ';
}

table.tarjontaForm tr.collapse td {
    text-align: right;
}


/* aputaulukko */
table.tarjontaForm table.help th {
    font-weight:normal;
    text-align:left;
    font-size:90%;
    color:#606060;
}

table.tarjontaForm table.help {
    margin: 0 0 15px 0;
}

table.tarjontaForm div.inset {
	margin: 10px 0 10px 20px;
}

table.tarjontaForm tr.header th {
   	font-weight:bold;
	text-align:left;
}

/* Rukseihin [x] on usein käytetty a-tagia ilman href-attribuuttia, jolloin selain
ei näytä pointer-cursoria. Alla oleva korjaa asian. */
a[ng-click] {
    cursor:pointer;
}

table.valintakokeet input {
    margin:auto;
}