   <table class="tarjontaForm">

        <!-- koulutuksen tarjoajat, jos useita -->
        <tr ng-if="model.opetusTarjoajat">
            <th>Organisaatiot</th>
            <td>
                <ul>
                    <li ng-repeat="org in model.organisaatiot">{{org.nimi}}</li>
                </ul>
            </td>
            <td>
                <button class="btn" ng-click="editOrganizations()" tt="koulutus.edit.muokkaaOrganisaatioita">
                    <i class="icon-pencil"></i> Muokkaa koulutuksen organisaatioita
                </button>
            </td>
        </tr>

        <!-- koulutuskoodi -->
        <tr class="info">
            <th tt="koulutus.edit.koulutuskoodi">Koulutuskoodi</th>
            <td>{{model.koulutuskoodi.nimi}} <span class="float-right">{{model.koulutuskoodi.arvo}}</span></td>
            <td><!--a href ng-click="tutkintoDialogModel.open()" tt="koulutus.edit.muokkaaTutkinto"/--></td>
        </tr>

        <!-- koulutusohjelma -->
        <tr class="required">
            <th tt="koulutus.edit.koulutusohjelma">Koulutusohjelma</th>
            <td>
        <mk-textfield model="model.koulutusohjelma.tekstis"
                      name="koulutusohjelma" required></mk-textfield>
        </td>
        <td>
            <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.koulutusohjelma.$error.required" tt="koulutus.edit.koulutusohjelma.required">(TODO virheilmo)</p>
        </td>
        </tr>

        <tr>
            <th></th>
            <td colspan="2" class="help" tt="koulutus.edit.lisaa-kieli.help">Lisää uusi kieli HELP</td>
        </tr>

        <!-- väli -->
        <tr class="padding"><td colspan="3"></td></tr>

        <!-- tutkinto-ohjelman tunniste -->
        <tr>
            <th tt="koulutus.edit.tutkinto-ohjelman-tunniste">Tutkinto-ohjelman tunniste</th>
            <td></pre><input name="tutkintoOhjelmanTunniste" ng-maxlength="35" type="text" data-ng-model="model.tunniste" /></td>
            <td><p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.tutkintoOhjelmanTunniste.$error.maxlength" tt="koulutus.edit.tutkinto-ohjelman-tunniste.length">Tutkinto-ohjelman tunnisteen maksimipituus on 35 merkkiä</p></td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="koulutus.edit.tutkinto-ohjelman-tunniste.help">Tutkinto-ohjelman tunniste HELP</td>
        </tr>

        <!-- k. aste -->
        <tr>
            <th tt="koulutus.edit.koulutusaste">Koulutusaste</th>
            <td>{{model.koulutusaste.nimi}}</td>
            <td></td>
        </tr>

        <!-- k. ala -->
        <tr>
            <th tt="koulutus.edit.koulutusala">Koulutusala</th>
            <td>{{model.koulutusala.nimi}}</td>
            <td></td>
        </tr>

        <!-- o. ala -->
        <tr>
            <th tt="koulutus.edit.opintoala">Opintoala</th>
            <td>{{model.opintoala.nimi}}</td>
            <td></td>
        </tr>

        <!-- tutkinto -->
        <tr>
            <th tt="koulutus.edit.tutkinto">Tutkinto</th>
            <td>{{model.tutkinto.nimi}}</td>
            <td></td>
        </tr>

        <!-- tutkintonimike -->
        <tr ng-class="{required: uiModel.tutkintonimikes}">
            <th tt="koulutus.edit.tutkintonimike">Tutkintonimike</th>
            <td ng-if="uiModel.tutkintonimikes">
                <tutkintonimike
                    model="uiModel.tutkintonimikes"
                    required="true"></tutkintonimike>
            </td>
            <td ng-if="uiModel.tutkintonimikes">
                <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.tutkintonimike.$error.required"
                   tt="koulutus.edit.tutkintonimike.required">Tutkintonimike on pakollinen</p>
            </td>
        </tr>
        <tr>
            <th tt="koulutus.edit.eqf-luokitus">EQF-luokitus</th>
            <td>{{model.eqf.nimi}}</td>
            <td></td>
        </tr>

        <!-- opintojen laajuus -->
        <tr class="required">
            <th tt="koulutus.edit.opintojen-laajuus">Opintojen laajuus</th>
            <td><laajuus
                     arvo-model="model.opintojenLaajuusarvo"
                     arvo-ui-model="uiModel.opintojenLaajuusarvos"
                     yksikko="model.opintojenLaajuusyksikko"></laajuus></td>
            <td>
                <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.opintojenLaajuusarvo.$error.required" tt="koulutus.edit.opintojenLaajuus.required">Opintojen laajuus vaaditaan</p>
            </td>
        </tr>

         <tr>
            <th tt="koulutus.edit.koulutuskoodi-kandidaatti">Koulutukseen sisältyy kandidaatin koulutus</th>
            <td>
                <a href="" ng-if="!isKandiUri()" ng-click="createSelectKoulutuskoodiModalDialog()" tt="koulutus.edit.lisaa">Lisää</a>
                {{model.kandidaatinKoulutuskoodi.nimi}} {{model.kandidaatinKoulutuskoodi.arvo}} <a href="" ng-if="isKandiUri()" ng-click="removeKandidaatinKoulutuskoodi()" tt="koulutus.edit.poista">Poista</a>
            </td>
            <td></td>


        </tr>


        <!-- väli -->
        <tr class="padding"><td colspan="3"><hr/></td></tr>

        <!-- koulutuksen alkamispvm -->
        <tr class="required">
            <th tt="koulutus.edit.koulutuksen-alkamispvm">Koulutuksen alkamispvm</th>
            <td>
        <alkamispaiva-ja-kausi
            pvms="model.koulutuksenAlkamisPvms"
            vuosi="model.koulutuksenAlkamisvuosi"
            kausi-uri = "model.koulutuksenAlkamiskausi.uri"
            kausi-ui-model="uiModel.koulutuksenAlkamiskausi">
        </alkamispaiva-ja-kausi>
        </td>
        <td>
             <p class="error" ng-show="uiModel.showValidationErrors && !koulutusForm.kausivuosi && koulutusForm.alkamisPvm.$error.required" tt="koulutus.edit.alkamisPvm.required">Opintojen alkamispäivä vaaditaan</p>
             <p class="error" ng-show="!koulutusForm.kausivuosi && koulutusForm.alkamisPvm.$error.outofminmax" tt="koulutus.edit.alkamisPvm.outofbounds">Opintojen alkamispäivä sallitun kauden ulkopuolella</p>
             <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.kausivuosi && (koulutusForm.alkamiskausi.$error.required || koulutusForm.alkamisvuosi.$error.required || koulutusForm.alkamisvuosi.$error.number || koulutusForm.alkamisvuosi.$error.min || koulutusForm.alkamisvuosi.$error.max)" tt="koulutus.edit.alkamis-kausi-ja-vuosi.required">Opintojen alkamiskausi ja alkamisvuosi vaaditaan</p>
        </td>
        </tr>

        <!-- suunniteltu kesto -->
        <tr class="required">
            <th tt="koulutus.edit.suunniteltu-kesto">Suunniteltu kesto</th>
            <td>
                <input required name="suunniteltuKestoArvo" class="thin" type="text" data-ng-model="model.suunniteltuKestoArvo" required />
                <select required name="suunniteltuKestoTyyppi" class="thin" ng-model="model.suunniteltuKestoTyyppi.uri" ng-options="koodi.koodiUri as koodi.koodiNimi for koodi in uiModel.suunniteltuKestoTyyppi.koodis | orderBy:'koodiNimi'">
                    <!-- OVT-7744 / angular-bugi: IE vaatii tämän tai select ei toimi kunnolla -->
                    <option value="" ng-disabled="model.suunniteltuKestoTyyppi.uri"></option>
                </select>
            </td>
            <td>
                <p class="error" ng-show="uiModel.showValidationErrors && (koulutusForm.suunniteltuKestoArvo.$error.required || koulutusForm.suunniteltuKestoTyyppi.$error.required)"
                   tt="koulutus.edit.suunniteltu-kesto.required">Suunniteltu kesto vaaditaan</p>
            </td>
        </tr>

        <!-- väli -->
        <tr class="padding"><td colspan="3"></td></tr>

        <!-- opetuskielet -->
        <tr class="required">
            <th tt="koulutus.edit.opetuskielet">Opetuskielet</th>
            <td>

        <multi-select
            order-with="userLanguages"
            selection="uiModel.opetuskielis.uris"
            model="uiModel.tmp"
            promise="uiModel.opetuskielis.promise"
            display="combobox"
            name="opetuskielis" required>

        </td>
        <td>
            <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.opetuskielis.$error.required" tt="koulutus.edit.opetuskielet.required">
                Opetuskielet vaaditaan
            </p>
        </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="koulutus.edit.opetuskielet.help">Opetuskielet HELP</td>
        </tr>

        <!-- k. maksullisuus -->
        <tr>
            <th tt="koulutus.edit.maksullisuus">Maksullisuus</th>
            <td>
                <input type="checkbox" data-ng-model="model.opintojenMaksullisuus"/>
                <span tt="koulutus.edit.maksullisuus.valinta">Maksullisuuden valinta</span>
            </td>
            <td></td>
        </tr>
        <tr>
            <th></th>
            <td>
                <span tt="koulutus.edit.maksullisuus.hinta">Hinta</span>
                <input ng-required="model.opintojenMaksullisuus" name="hinta"
                       ng-disabled="!model.opintojenMaksullisuus" class="thin" type="text"
                       ng-model="model.hintaString" maxlength="25" />
                <span tt="koulutus.edit.maksullisuus.euroa_lukuvuodessa">euroa lukuvuodessa</span>
            </td>
            <td>
                <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.hinta.$error.required" tt="koulutus.edit.maksullisuus.required">
                    Maksullisuus vaaditaan
                </p>
            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="koulutus.edit.maksullisuus.help">Maksullisuus HELP</td>
        </tr>

        <!-- opetusaikas -->
        <tr class="required">
            <th tt="koulutus.edit.opetusaikas">Opetusajat</th>
            <td>
        <multi-select
            model="uiModel.tmp"
            selection="uiModel.opetusAikas.uris"
            promise="uiModel.opetusAikas.promise"
            columns="2"
            name="opetusAikas" required/>
        </td>
        <td>
            <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.opetusAikas.$error.required" tt="koulutus.edit.opetusAikas.required">Opetusajat vaaditaan</p>
        </td>
        </tr>

        <!-- opetusmuodot -->
        <tr class="required">
            <th tt="koulutus.edit.opetusmuodot">Opetusmuodot</th>
            <td>
        <multi-select
            model="uiModel.tmp"
            selection="uiModel.opetusmuodos.uris"
            promise="uiModel.opetusmuodos.promise"
            columns="2"
            name="opetusmuodos" required/>
        </td>
        <td>
            <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.opetusmuodos.$error.required" tt="koulutus.edit.opetusmuodot.required">Opetusmuodot vaaditaan</p>
        </td>
        </tr>

        <!-- opetuspaikka -->
        <tr class="required">
            <th tt="koulutus.edit.opetusPaikkas">Opetuspaikat</th>
            <td>
        <multi-select
            model="uiModel.tmp"
            selection="uiModel.opetusPaikkas.uris"
            promise="uiModel.opetusPaikkas.promise"
            columns="2"
            name="opetusPaikkas" required/>
        </td>
        <td>
            <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.opetusPaikkas.$error.required" tt="koulutus.edit.opetusPaikkas.required">Opetuspaikat vaaditaan</p>
        </td>
        </tr>

        <!-- teemat -->
        <tr class="required">
            <th tt="koulutus.edit.aiheet">Aiheet</th>
            <td>
        <aiheet-ja-teemat  model="uiModel.aihees.uris"></aiheet-ja-teemat>
        </td>
        <td>
            <p class="error" ng-show="uiModel.showValidationErrors && koulutusForm.aiheetJaTeemat.$error.required" tt="koulutus.edit.aihees.required"/>
        </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="koulutus.edit.aihe-teema.help">Aiheet vaaditaan</td>
        </tr>

        <!-- väli -->
        <tr class="padding"><td colspan="3"></td></tr>

        <tbody ng-include="'partials/koulutus/edit/editYhteyshenkilo.html'"></tbody>

        <!-- väli -->
        <tr class="padding"><td colspan="3"></td></tr>

        <tbody ng-include="'partials/koulutus/edit/editEctsHenkilo.html'"></tbody>

        <!-- väli -->
        <tr class="padding"><td colspan="3"></td></tr>


    </table>

