<div id="searchSpec">

	<div class="title">
		<span>{{selectedOrgName}}</span>
		<a href="" ng-click="resetOrg()">[Poista valinta]</a>
	</div>
	
	<table class="spec">
	<!-- otsikkorivi -->
	<tr>
		<th>[Tila]</th>
		<th>[Koulutuksen alkamisvuosi]</th>
		<th>[Koulutuksen alkamiskausi]</th>
		<th>&nbsp;</th>
	</tr>
	<!-- kontrollit -->
	<tr>
		<td class="state">
			<select ng-model="selectedState">
				<option value="*">[Kaikki]</option>
				<option ng-repeat="(s,t) in states" value="{{s}}">{{t}}</option>
			</select>
		</td>
		<td class="year">
			<select ng-model="selectedYear">
				<option value="*">[Kaikki]</option>
				<option ng-repeat="s in years">{{s}}</option>
			</select>
		</td>
		<td class="season">
			<select ng-model="selectedSeason">
				<option value="*">[Kaikki]</option>
				<option ng-repeat="(s,t) in seasons" value="{{s}}">{{t}}</option>
			</select>
		</td>
		<td class="controls">
			<input type="button" value="[Tyhjennä]" ng-click="reset()"/>
			<input type="button" value="[Hae]" ng-click="search()"/>
			<input type="button" value="[Tulosta raportti]" ng-click="report()" disabled="true"/>
		</td>
	
	</tr>
	</table>
		
	<div class="search">
		<input type="text" ng-model="searchTerms"/>
	</div>
	

<span></span>
</div>

<tabset>
	<tab heading="Koulutukset">
		// koulutukset
	</tab>
	<tab heading="Hakukohteet">
		// hakukohteet
	</tab>

</tabset>