<h2>{{ t('tarjonta.import.header') || 'Koulutusten ja hakukohteiden tuonti' }}</h2>

<div ng-hide="selected.education">
    <h3>{{ t('tarjonta.import.selectType') || 'Valitse tuotava koulutustyyppi' }}</h3>
    <form>
        <div ng-repeat="educationType in importableEducationTypes">
            <label>
                <input type="radio" name="educationType" ng-model="selected.education" ng-value="educationType">{{educationType.name}}
            </label><br />
        </div>
    </form>
</div>

<div ng-show="selected.education">
    <div class="well">
        <p>
            Seuraavat sarakkeet edellyttävät arvot <a href="/koodisto-ui/html/index.html">Opintopolun koodistosta</a>: "Opinnon tyyppi", "Alkamiskausi", "Opetuskielet", "Koulutuksen maksu", "Opetusaika", "Opetusmuoto", "Opetuspaikka", "Teemat ja aiheet" ja "Oppiaineet/Avainsanat"
        </p>
        <p>
            Lataa tämän koulutuksen tuonnin mallitiedosto: <a ng-show="selected.education.sampleFile" href="resources/import/{{ selected.education.sampleFile }}">{{ selected.education.sampleFile }}</a>
        </p>
    </div>
    <form>
        <div class="input-group">
            <label for="fileInput">Excel-tiedosto</label>
            <div id="fileInput" file-select="file">
                <span class="input-group-btn"><button class="btn btn-primary" ng-click="processImport()" ng-disabled="!documentParsed">Tuo koulutukset</button></span>
                <span class="input-group-btn"><button class="btn" ng-click="reset()">Tyhjennä</button></span>
            </div>
        </div>

        <button class="btn" ng-click="reset(); selected.education = null">Takaisin</button>
    </form>


    <div class="progress" ng-show="uploadInProgress">
        Lähetetään: {{uploadProgress}}:%
    </div>

    <div class="alert alert-danger" ng-show="errors.length">
        <h3>Tuontitiedostossa virheitä:</h3>
        <ul>
            <li ng-repeat="error in errors track by $index">{{ error.errors ? error.errors : error }}</li>
        </ul>
    </div>

    <div ng-show="documentLoaded">
        <div ng-show="educationRows.length">
            <h2>Koulutukset ({{ educationRows.length }} kappaletta tuotavia rivejä)</h2>
            <table class="excelImportTable">
                <tr><td class="excelImportTableHeader" ng-repeat="col in educationsHeaderRow">{{col}}</td></tr>
                <tr ng-repeat="item in educationRows">
                    <td class="excelImportTableRow" ng-class="{'excelImportRowWithErrors': item.ui.hasErrors, 'excelImportRowWithSuccess': item.ui.uploadOk}" ng-repeat="childItem in item.rowdata track by $index ">{{childItem}}</td>
                </tr>
                <tr><td class="excelImportTableRow" ng-hide="educationRows.length" colspan="{{educationsHeaderRow.length}}">Ei hakukohteita</td></tr>
            </table>
        </div>

        <div ng-show="applicationOptionRows.length">
            <h2>Hakukohteet ({{ applicationOptionRows.length }} kappaletta tuotavia rivejä)</h2>
            <table>
                <tr><td class="excelImportTableHeader" ng-repeat="col in applicationOptionsHeaderRow">{{col}}</td></tr>
                <tr ng-repeat="item in applicationOptionRows">
                    <td class="excelImportTableRow" ng-class="{'excelImportRowWithErrors': item.ui.hasErrors, 'excelImportRowWithSuccess': item.ui.uploadOk}" ng-repeat="childItem in item.rowdata track by $index ">{{childItem}}</td>
                </tr>
                <tr><td class="excelImportTableRow" ng-hide="applicationOptionRows.length" colspan="{{educationsHeaderRow.length}}">Ei hakukohteita</td></tr>
            </table>
        </div>
    </div>
</div>