
<div ng-controller="HelpersLocalisationCtrl">

    Filtteröi tällä: <input type="text" ng-model="spec">
    <form name="localisationsForm" novalidate>
        <div class="btn btn-primary" ng-click="createNew(spec)" ng-disabled="!spec" >LISÄÄ UUSI</div>
<!--
        <div class="btn btn-primary" ng-click="createMissingTranslations()">Lisää puuttuvat käännökset</div>
-->
        <div class="btn btn-primary" ng-click="reloadData()">Lataa uudelleen</div>
        <div class="btn btn-primary" ng-click="saveAllModified()" ng-disabled="localisationsForm.$pristine">Tallenna kaikki muuttuneet</div>

        <div class="container-fluid">
            <div class="row-fluid" ng-repeat="l in model.localisations | filter: {key: spec} | orderBy: l.key">
                <div class="span3">
                    {{ l.key }}
                </div>
                <div class="span1">
                    {{ l.locale }}
                </div>
                <div class="span8">
                    <textarea ng-model="l.value"></textarea>
                </div>
            </div>
        </div>
    </form>

</div>
