
<div ng-controller="HelpersLocalisationCtrl">

    Filtteröi tällä: <input type="text" ng-model="spec">
    <div class="btn btn-primary" ng-click="createNew2(spec)">LISÄÄ UUSI</div>
    <div class="btn btn-primary" ng-click="createMissingTranslations()">Lisää puuttuvat käännökset</div>
    <div class="btn btn-primary" ng-click="reloadData()">Lataa uudelleen</div>

    <div class="container-fluid">
        <div class="row-fluid" ng-repeat="l in model.localisations2 | filter: {key: spec} | orderBy: l.key">
            <div class="span3">
                {{ l.key }}
            </div>
            <div class="span1">
                {{ l.locale }}
            </div>
            <div class="span8">
                <textarea ng-model="l.value"></textarea>
            </div>
        </div>
    </div>

    <hr>

    <pre>{{ model | json}}</pre>

</div>
