<th tt='hakukausi.edit.{{name}}'>{{tUseDefaultTt}}</th>
<td><t-date-time required="{{tIsRequired}}" type="long" timestamp="true" name="{{names}}"
		scope-model="model.parameter[names]"></t-date-time> - <t-date-time
		required="{{tIsRequired}}" type="long" timestamp="true" name="{{namee}}"
		scope-model="model.parameter[namee]"></t-date-time> <input ng-show="always" type="checkbox" ng-model="model.parameter[nameb]"
	ng-name="{{nameb}}"> <span ng-show="always" tt="model.parameter.aina.muuttuessa">Aina valintatietojen muuttuessa</span></td>
<td>
<div ng-show="saved">
		<show-errors form="hakukausiForm" field="{{names}}"
			tt-prefix="hakukausi.edit.parametrit"></show-errors>
		<show-errors orm="hakukausiForm" field="{{namee}}"
			tt-prefix="hakukausi.edit.parametrit"></show-errors>
</div>
</td>
