<th ttt='hakukausi.edit.{{name}}'>{{tUseDefaultTt}}</th>
<td><t-date-time type="long" timestamp="true" name="{{names}}"
		ng-model="model.parameter[names]"></t-date-time> - <t-date-time
		type="long" timestamp="true" name="{{namee}}"
		ng-model="model.parameter[namee]"></t-date-time><input ng-show="always" type="checkbox" ng-model="model.parameter[nameb]"
	name="{{nameb}}"></td>
<td>
	<div>
		<show-errors form="hakuForm" field="{{name}}"
			tt-prefix="hakukausi.edit.parametrit"></show-errors>
	</div>
</td>
