<table class="tarjontaForm">
	<tr>
		<td colspan="2"><h3 tt='hakukausi.edit.hakukaudenvvalinta'>Hakukauden
				valinta</h3></td>
	</tr>
	<tr>
		<th tt="hakukausi.edit.kausijavuosi">Hakukausi ja -vuosi</th>
		<td><t-date-time type="long" timestamp="true"
				name="vuosiPHK_VTSSV" ng-model="model.parameter.PH_VTSSV"></t-date-time></td>
		<td></td>
	</tr>
	<tr>
		<td colspan="2"><h3
				tt="hakukausi.edit.perustietojenJaArvosanojenSiirto">Perustietojen
				ja arvosanojen siirto</h3></td>
	</tr>

	<tr class="required">
		<th tt='hakukausi.edit.PHK_PLPTSS'>Päättöluokkalaisten
			perustietojen siirto</th>
		<td><t-date-time type="long" timestamp="true" name="PHK_PLPTSS"
				ng-model="model.parameter.PHK_PLPTSS"></t-date-time> - <t-date-time
				type="long" timestamp="true" name="PHK_PLPTSE"
				ng-model="model.parameter.PHK_PLPTSE"></t-date-time></td>
		<td>
			<div>
				<show-errors form="hakuForm" field="PH_VTSSV"
					tt-prefix="haku.edit.aikataulu"></show-errors>
			</div>
		</td>
	</tr>

	<tr class="required">
		<th tt='hakukausi.edit.PHK_PLASS'>Päättöluokkalaisten arvosanojen
			siirto</th>
		<td><t-date-time type="long" timestamp="true" name="PHK_PLASSS"
				ng-model="model.parameter.PHK_PLASSS"></t-date-time> - <t-date-time
				type="long" timestamp="true" name="PHK_PLASSE"
				ng-model="model.parameter.PHK_PLASSE"></t-date-time></td>
		<td>
			<div>
				<show-errors form="hakuForm" field="PH_VTSSV"
					tt-prefix="haku.edit.aikataulu"></show-errors>
			</div>
		</td>
	</tr>

	<tr class="required">
		<th tt='hakukausi.edit.PHK_LPASS'>Lukion päättöarvosanojen siirto</th>
		<td><t-date-time type="long" timestamp="true" name="PHK_LPASSS"
				ng-model="model.parameter.PHK_LPASSS"></t-date-time> - <t-date-time
				type="long" timestamp="true" name="PHK_LPASSE"
				ng-model="model.parameter.PHK_LPASSE"></t-date-time></td>
		<td>
			<div>
				<show-errors form="hakuForm" field="PH_VTSSV"
					tt-prefix="haku.edit.aikataulu"></show-errors>
			</div>
		</td>
	</tr>

</table>
