    


<div id="editHaku" ng-controller="HakukausiController">

<h4 tt="ohjaustparametrit.hakukausi.title">Ohjausparametrit</h4>

<button class="btn" ng-disabled="!isVuosiKausiValid()" ng-click="saveParameters()" tt="hakukausi.edit.tallenna">Tallenna</button>

<form name="hakukausiForm">

 <table class="tarjontaForm">
	<tr t-sub-title t-use-default-tt="Hakukauden valinta"
		t-use-tt-key="hakukausi.edit.hakukaudenvalinta"/>
	<tr>
		<th tt="hakukausi.edit.kausijavuosi">Hakukausi ja -vuosi</th>
		<td><div koodistocombo onchangecallback="kausiChanged" prompt="t('hakukausi.kausi.kaikki')"
				koodistouri="'kausi'" koodiuri="kausivuosi.kausi" version="false"></div>
			<select ng-change="vuosiChanged()" ng-model="kausivuosi.vuosi" ng-options="v.label for v in vuodet">
				<option value="" tt="hakukausi.edit.caption.vuosi">Valitse vuosi</option>
		</select></td>
		<td></td>
	</tr>
	<tr t-param-edit-date-range name="PHK_HKAR"
		t-use-default-tt="Hakukauden aikarajat" />

	<tr t-sub-title t-use-default-tt="Perustietojen ja arvosanojen siirto"
		t-use-tt-key="hakukausi.edit.perustietojenJaArvosanojenSiirto"/>
	<tr class="required" t-is-required t-param-edit-date-range name="PHK_PLPS"
		t-use-default-tt="Päättöluokkalaisten perustietojen siirto" />
	<tr class="required" t-is-required t-param-edit-date-range name="PHK_PLAS"
		t-use-default-tt="Päättöluokkalaisten arvosanojen siirto" />
	<tr class="required" t-is-required t-param-edit-date-range name="PHK_LPAS"
		t-use-default-tt="Lukion päättöarvosanojen siirto" />

	<tr t-sub-title t-use-default-tt="Tiedonsiirto Kelaan"
		t-use-tt-key="hakukausi.edit.tiedonsiirtoKelaan"/>
		
	<tr t-param-edit-date name="PHK_KELAKTTS"
		t-use-default-tt="Koulutustarjonnan tiedonsiirto" />
	<tr t-param-edit-date-range name="PHK_KELATAVS"
		t-use-default-tt="Toisen asteen valintojen siirto" t-always/>
	<tr t-param-edit-date-range name="PHK_KELAKAVS"
		t-use-default-tt="Korkeakouluasteen valintojen siirto" t-always/>
	<tr>
	  <th tt="hakukausi.edit.PHK_KELAVTST">Valintojen tiedonsiirron tiheys</th>
	  <td><input name="PHK_KELAVTST" ng-model="model.parameter.PHK_KELAVTST"> <span tt="hakukausi.vuorokautta">vuorokautta</span></td>
      <td>
		<show-errors form="hakukausiForm" field="PHK_KELAVTST"
			tt-prefix="hakukausi.edit.parametrit"></show-errors>
      </td>
	</tr>
    <tr t-use-tt-key="hakukausi.help.PHK_KELAVTST" t-help t-use-default-tt="Tiheys määritellään kokonaisina vuorokausina"/>
    <tr>
	  <th tt="hakukausi.edit.PHK_KELAVTSAK">Valintojen siirto vuorokaudessa klo</th>
	  <td><input ng-pattern="timePattern" name="PHK_KELAVTSAK" ng-model="model.parameter.PHK_KELAVTSAK"></td>
      <td>
		<show-errors form="hakukausiForm" field="PHK_KELAVTSAK"
			tt-prefix="hakukausi.edit.parametrit"></show-errors>
      </td>
	</tr>
    
	<tr t-use-tt-key="hakukausi.help.PHK_KELAVTSAK" t-help t-use-default-tt="Sijoittelu suoritetaan valitulla tiheydellä tästä kellonajasta alkaen"/>

	<tr t-sub-title t-use-default-tt="Tiedonsiirto TEM:ään"
		t-use-tt-key="hakukausi.edit.tiedonsiirtoTEM"/>

	<tr t-param-edit-date name="PHK_TEMTAVS"
		t-use-default-tt="Toisen asteen valintojen siirto" t-always/>
	<tr t-param-edit-date name="PHK_TEMKAVS"
		t-use-default-tt="Korkeakouluasteen valintojen siirto" t-always/>
	<tr>
	  <th tt="hakukausi.edit.PHK_TEMVTST">Valintojen tiedonsiirron tiheys</th>
	  <td><input name="PHK_TEMVTST" ng-model="model.parameter.PHK_TEMVTST"> <span tt="hakukausi.vuorokautta">vuorokautta</span></td>
      <td>
		<show-errors form="hakukausiForm" field="PHK_TEMVTST"
			tt-prefix="hakukausi.edit.parametrit"></show-errors>
      </td>
	</tr>		
		
	<tr t-use-tt-key="hakukausi.help.PHK_TEMVTST" t-help t-use-default-tt="Tiheys määritellään kokonaisina vuorokausina"/>
	<tr>
	  <th tt="hakukausi.edit.PHK_TEMVTSAK">Valintojen siirto vuorokaudessa klo</th>
	  <td><input ng-pattern="timePattern" name="PHK_TEMVTSAK" ng-model="model.parameter.PHK_TEMVTSAK"></td>
      <td>
		<show-errors form="hakukausiForm" field="PHK_TEMVTSAK"
			tt-prefix="hakukausi.edit.parametrit"></show-errors>
      </td>
	</tr>
	<tr t-use-tt-key="hakukausi.help.PHK_TEMVTSAK" t-help t-use-default-tt="Sijoittelu suoritetaan valitulla tiheydellä tästä kellonajasta alkaen"/>
</table>

</form>		

</div>
