<div id="koulutusReview"">

    <h2>AMMATILLINEN PERUSKOULUTUS</h2>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div data-ng-bind-html="t('koulutus.review.murupolku', [model.koulutus.koulutuskoodi.arvo, model.koulutus.organisaatio.nimi ])"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="btn" data-ng-click='goBack($event)'><div tt='koulutus.review.takaisin'></div></div>
                <div class="btn" data-ng-click='doDelete($event)'><div tt='koulutus.review.poista'></div></div>
                <div class="btn" data-ng-click='doCopy($event)'><div tt='koulutus.review.kopioi'></div></div>
                <div class="btn" data-ng-click='doMoveToBeSubPart($event)'><div tt='koulutus.review.siirra.osaksi'></div></div>
                <div class="btn" data-ng-click='doAddParallel($event)'><div tt='koulutus.review.lisaa.rinnakkainen'></div></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                {{ model.koulutus.koulutuskoodi.arvo }}
            </div>
        </div>
    </div>

    <tabset>
        <tab data-ng-repeat="lang in model.languages" heading="{{lang.name}}">
            <div data-ng-include="'partials/koulutus/review/AMMATILLINEN_PERUSKOULUTUS_reviewLanguage.html'"></div>
        </tab>
    </tabset>

</div>
