<!--
  Kieliriippuva data review tabeissa.
-->
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 label-right">
            <div class="btn"><div tt='koulutus.review.esikatsele'>Esikatsele</div></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span10" data-ng-click="model.collapse.perusTiedot = !model.collapse.perusTiedot">
            <div class="collapseHeader" data-ng-class="{isOpen : !model.collapse.perusTiedot}" tt='koulutus.review.perustiedot.otsikko'>Perustiedot</div>
        </div>
        <div class="span2 label-right">
            <div class="btn" data-ng-click='doEdit($event, "PERUSTIEDOT")'><div tt='koulutus.review.muokkaa'>Muokkaa</div></div>
        </div>
    </div>
    <div collapse="model.collapse.perusTiedot">
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.oidTilaTyyppi'>OID / tila / tyyppi</div>
            </div>
            <div class="span9">
                {{model.koulutus.oid}} /
                {{ t("koulutus.tila." + model.koulutus.tila) }} /
                {{ t("koulutus.tyyppi." + model.koulutus.koulutusmoduuliTyyppi) }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.organisaatio'>Organisaatio</div>
            </div>
            <div class="span9">
                {{ model.koulutus.organisaatio.nimi }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.koulutus'>Koulutus</div>
            </div>
            <div class="span9">
                {{ model.koulutus.koulutuskoodi.meta[lang.koodi_uri].arvo }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.koulutusohjelma'>Koulutusohjelma</div>
            </div>
            <div class="span9">
                (TODO : mistä tämä?)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.koulutusaste'>Koulutusaste</div>
            </div>
            <div class="span9">
                {{ t("koulutus.koulutusaste." + model.koulutus.koulutusasteTyyppi) }} / {{ model.koulutus.koulutusaste | json }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.koulutusala'>Koulutusala</div>
            </div>
            <div class="span9">
                {{ model.koulutus.koulutusala | json }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.opintoala'>Opintoala</div>
            </div>
            <div class="span9">
                {{ model.koulutus.opintoala | json }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.tutkintonimike'>Tutkintonimike</div>
            </div>
            <div class="span9">
                {{ model.koulutus.tutkintonimike.meta[lang.koodi_uri].arvo }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.opintojenLaajuus'>Opintojen laajuus</div>
            </div>
            <div class="span9">
                {{ model.koulutus.opintojenLaajuus | json }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.koulutuslaji'>Koulutuslaji</div>
            </div>
            <div class="span9">
                (TODO: missä ja mikä data?)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.pohjakoulutusvaatimus'>Pohjakoulutusvaatimus</div>
            </div>
            <div class="span9">
                {{ model.koulutus.pohjakoulutusvaatimukset | json }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.alkamispvm'>Alkamispäivämäärä</div>
            </div>
            <div class="span9">
                {{ model.koulutus.koulutuksenAlkamisPvm || '-' }}  (TODO: formatointi, date?)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.suunniteltuKesto'>Suunniteltu kesto</div>
            </div>
            <div class="span9">
                {{ model.koulutus.suunniteltuKesto.arvo }}
                {{ model.koulutus.suunniteltuKesto.koodi.kaannos }} --
                {{ model.koulutus.suunniteltuKesto | json }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.opetuskieli'>Opetuskieli</div>
            </div>
            <div class="span9">
                <span data-ng-repeat='kieli in model.koulutus.opetuskielis.meta'>{{ kieli.arvo }}{{ $last ? '' : ', ' }}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.opetusmuoto'>Opetusmuoto</div>
            </div>
            <div class="span9">
                <span data-ng-repeat='opetusmuoto in model.koulutus.opetusmuodos.meta'>{{ opetusmuoto.arvo }}</span>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.linkkiOpetussuunnitelmaan'>Linkki opetussunnitelmaan</div>
            </div>
            <div class="span9">
                (TODO: missä tämä data?) <a hre="http://linkki">linkki</a>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.yhteyshenkilo'>Yhteyshenkilö</div>
            </div>
            <div class="span9">
                <div data-ng-repeat="yhteyshenkilo in model.koulutus.yhteyshenkilos">
                    {{ $index }} : {{ yhteyshenkilo | json }}
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.perustiedot.maksullisuus'>Maksullisuus</div>
            </div>
            <div class="span9">
                {{ model.koulutus.opintojenMaksullisuus }}
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10" data-ng-click="model.collapse.kuvailevatTiedot = !model.collapse.kuvailevatTiedot">
            <div class="collapseHeader" data-ng-class="{isOpen : !model.collapse.kuvailevatTiedot}" tt='koulutus.review.kuvailevatTiedot.otsikko'>Kuvailevat tiedot</div>
        </div>
        <div class="span2 label-right">
            <div class="btn" data-ng-click='doEdit($event, "KUVAILEVATTIEDOT")'><div tt='koulutus.review.muokkaa'>Muokkaa</div></div>
        </div>
    </div>

    <div collapse="model.collapse.kuvailevatTiedot">
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.kuvailevatTiedot.tavoitteetTutkinto'>Tutkinnon tavoitteet</div>
            </div>
            <div class="span9">
                <div data-ng-bind-html="model.koulutus.kuvaus.TAVOITTEET.meta[lang.koodi_uri].arvo"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.kuvailevatTiedot.tavoitteetKoulutus'>Koulutuksen tavoitteet</div>
            </div>
            <div class="span9">
                XXX
                <div data-ng-bind-html="model.koulutus.kuvaus.XXX.meta[lang.koodi_uri].arvo"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.kuvailevatTiedot.koulutusohjelmanValinta'>Koulutusohjelman valinta</div>
            </div>
            <div class="span9">
                XXX
                <div data-ng-bind-html="model.koulutus.kuvaus.XXX.meta[lang.koodi_uri].arvo"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.kuvailevatTiedot.sisaltoKoulutus'>Koulutuksen sisältö</div>
            </div>
            <div class="span9">
                XXX
                <div data-ng-bind-html="model.koulutus.kuvaus.XXX.meta[lang.koodi_uri].arvo"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.kuvailevatTiedot.rakenneKoulutus'>Koulutuksen rakenne</div>
            </div>
            <div class="span9">
                <div data-ng-bind-html="model.koulutus.kuvaus.KOULUTUKSEN_RAKENNE.meta[lang.koodi_uri].arvo"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.kuvailevatTiedot.kansainvalisyys'>Kansainvälisyys</div>
            </div>
            <div class="span9">
                XXX
                <div data-ng-bind-html="model.koulutus.kuvaus.XXX.meta[lang.koodi_uri].arvo"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.kuvailevatTiedot.sijoittuminenTyoelamaan'>Sijoittuminen työelämään</div>
            </div>
            <div class="span9">
                XXX
                <div data-ng-bind-html="model.koulutus.kuvaus.XXX.meta[lang.koodi_uri].arvo"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.kuvailevatTiedot.ammattinimikkeet'>Ammattinimikkeet</div>
            </div>
            <div class="span9">
                XXX
                <div data-ng-bind-html="model.koulutus.kuvaus.XXX.meta[lang.koodi_uri].arvo"></div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3 label-right">
                <div tt='koulutus.review.kuvailevatTiedot.jatkoopintoMahdollisuudet'>Jatko-opintomahdllisuudet</div>
            </div>
            <div class="span9">
                <div data-ng-bind-html="model.koulutus.kuvaus.JATKOOPINTO_MAHDOLLISUUDET.meta[lang.koodi_uri].arvo"></div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10" data-ng-click="model.collapse.sisaltyvatOpintokokonaisuudet = !model.collapse.sisaltyvatOpintokokonaisuudet">
            <div class="collapseHeader" data-ng-class="{isOpen : !model.collapse.sisaltyvatOpintokokonaisuudet}" tt='koulutus.review.sisaltyvatOpintokokonaisuudet.otsikko'></div>
        </div>
        <div class="span2 label-right">
            <div class="btn" data-ng-click='doEdit($event, "SISALTYVATOPINTOKOKONAISUUDET")'><div tt='koulutus.review.muokkaa'>Muokkaa</div></div>
        </div>
    </div>
    <div collapse="model.collapse.sisaltyvatOpintokokonaisuudet">
        <div class="row-fluid">
            <div class="span12">
                TULOSSA...
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10" data-ng-click="model.collapse.hakukohteet = !model.collapse.hakukohteet">
            <div class="collapseHeader" data-ng-class="{isOpen : !model.collapse.hakukohteet}" tt='koulutus.review.hakukohteet.otsikko'>Hakukohteet</div>
        </div>
        <div class="span2 label-right">
            <div class="btn" data-ng-click='doEdit($event, "HAKUKOHTEET")'><div tt='koulutus.review.muokkaa'>Muokkaa</div></div>
        </div>
    </div>
    <div collapse="model.collapse.hakukohteet">
        <div class="row-fluid">
            <div class="span12">
                TULOSSA...
            </div>
        </div>
    </div>
</div>
