<!--
  Kieliriippuva data review tabeissa.
-->

<table class="tarjontaForm">
    <tr><th></th><td></td><td></td></tr>

    <tr class="collapse" ng-class="model.collapse.perusTiedot ? '' : 'open'">
        <th colspan="2" ng-click="model.collapse.perusTiedot = !model.collapse.perusTiedot">{{ t('koulutus.review.perustiedot.otsikko') }}</th>
        <td><a class="btn" ng-disabled="!isMutable" href data-ng-click="doEdit($event, 'PERUSTIEDOT')"><span>{{ t('koulutus.review.muokkaa') }}</span> <span class="icon-edit"></span></a></td>
    </tr>

    <tbody ng-show="!model.collapse.perusTiedot">

        <tr>
            <th>OID</th>
            <td colspan="2">
                {{model.koulutus.oid}}
            </td>
        </tr>

        <!-- organisaation nimi -->
        <tr>
            <th>{{ t('koulutus.review.perustiedot.organisaatio') }}</th>
            <td colspan="2">
                {{model.koulutus.organisaatio.nimi}}
            </td>
        </tr>

        <!-- koulutus -->
        <tr>
            <th ng-if="!(koulutusStructure.params.isLukio || koulutusStructure.params.isPerusopetus)">{ t('koulutus.review.perustiedot.tutkinto') }}</th>
            <th ng-if="koulutusStructure.params.isLukio || koulutusStructure.params.isPerusopetus">{ t('koulutus.review.perustiedot.koulutus') }}</th>
            <td colspan="2">
                {{model.koulutus.koulutuskoodi.meta[lang.koodi_uri].nimi}}
                <i>{{model.koulutus.koulutuskoodi.arvo}}</i>
            </td>
        </tr>

        <!-- tutkinto-ohjelman tunniste -->
        <tr ng-if="(model.koulutus.koulutusohjelma.meta && !koulutusStructure.params.hideLinja)
                    || model.koulutus.koulutusohjelmanNimiKannassa">
            <th>{{ t(koulutusStructure.params.reviewOhjelmaLabel || 'koulutus.review.perustiedot.linja') }}</th>
            <td colspan="2">
                {{model.koulutus.koulutusohjelma.meta[lang.koodi_uri].nimi}}
            </td>
        </tr>

        <!-- koulutusaste -->
        <tr>
            <th>{{ t('koulutus.review.perustiedot.koulutusaste') }}</th>
            <td colspan="2">
                {{model.koulutus.koulutusaste.meta[lang.koodi_uri].nimi|| model.koulutus.koulutusaste.nimi }}
            </td>
        </tr>

        <!-- koulutusala -->
        <tr>
            <th>{{ t('koulutus.review.perustiedot.koulutusala') }}</th>
            <td colspan="2">
                {{model.koulutus.koulutusala.meta[lang.koodi_uri].nimi}}
            </td>
        </tr>

        <!-- opintoala -->
        <tr>
            <th>{{ t('koulutus.review.perustiedot.opintoala') }}</th>
            <td colspan="2">
                {{model.koulutus.opintoala.meta[lang.koodi_uri].nimi}}
            </td>
        </tr>

        <!-- teemat ja aiheet -->
        <tr ng-if="model.koulutus.aihees.meta">
            <th>{{ t('koulutus.review.perustiedot.teematJaAiheet') }}</th>
            <td colspan="2">
                <span data-ng-repeat='aihe in model.koulutus.aihees.meta'>{{ aihe.meta[lang.koodi_uri].nimi }}{{ $last ? '' : ', ' }}</span>
            </td>
        </tr>

        <!-- tutkintonimike -->
        <tr ng-if="!koulutusStructure.params.hideTutkintonimike">
            <th>{{ t('koulutus.review.perustiedot.tutkintonimike') }}</th>
            <td ng-if="model.koulutus.tutkintonimikes" colspan="2">
                <span class="comma" ng-repeat="metas in model.koulutus.tutkintonimikes.meta">{{metas.meta[lang.koodi_uri].nimi}}</span>
            </td>
            <td ng-if="!model.koulutus.tutkintonimikes" colspan="2">
                {{model.koulutus.tutkintonimike.meta[lang.koodi_uri].nimi}}
            </td>
        </tr>

        <!-- opintojen laajuus -->
        <tr>
            <th>{{ t('koulutus.review.perustiedot.opintojenLaajuus') }}</th>
            <td colspan="2">
                {{ model.koulutus.opintojenLaajuusarvo.meta[lang.koodi_uri].nimi}} {{model.koulutus.opintojenLaajuusyksikko.meta[lang.koodi_uri].nimi}}
            </td>
        </tr>


        <tr>
            <th>{{ t('koulutus.review.perustiedot.koulutuslaji') }}</th>
            <td colspan="2">
                {{model.koulutus.koulutuslaji.meta[lang.koodi_uri].nimi}}
            </td>
        </tr>

        <!-- pohjakoulutusvaatimus -->
        <tr ng-if="!koulutusStructure.params.isPerusopetus">
            <th>{{ t('koulutus.review.perustiedot.pohjakoulutusvaatimus') }}</th>
            <td colspan="2">
                {{model.koulutus.pohjakoulutusvaatimus.meta[lang.koodi_uri].nimi}}
            </td>
        </tr>

        <tr>
            <th></th>
            <td colspan="2"><br/></td>
        </tr>

        <!-- alkamispvm -->
        <tr>
            <th>{{ t('koulutus.review.perustiedot.alkamispvm') }}</th>
            <td colspan="2">
                <start-season-or-date koulutus="model.koulutus" lang="lang.koodi_uri"></start-season-or-date>
            </td>
        </tr>

        <!-- suunniteltu kesto -->
        <tr>
            <th>{{ t('koulutus.review.perustiedot.suunniteltuKesto') }}</th>
            <td colspan="2">
                {{ model.koulutus.suunniteltuKestoArvo}} {{ model.koulutus.suunniteltuKestoTyyppi.meta[lang.koodi_uri].nimi}}
            </td>
        </tr>

        <!-- opetuskielet -->
        <tr>
            <th>{{ t('koulutus.review.perustiedot.opetuskielet') }}</th>
            <td colspan="2">
                <span data-ng-repeat='kieli in model.koulutus.opetuskielis.meta'>{{ getTranslatedName(kieli) }}{{ $last ? '' : ', ' }}</span>
            </td>
        </tr>

        <!-- opetusajat -->
        <tr>
            <th>{{ t('koulutus.review.perustiedot.opetusajat') }}</th>
            <td colspan="2">
                <span data-ng-repeat='o in model.koulutus.opetusAikas.meta'>{{ getTranslatedName(o) }}{{ $last ? '' : ', ' }}</span>
            </td>
        </tr>

        <!-- opetusmuodot -->
        <tr>
            <th>{{ t('koulutus.review.perustiedot.opetusmuodot') }}</th>
            <td colspan="2">
                <span data-ng-repeat='o in model.koulutus.opetusmuodos.meta'>{{ getTranslatedName(o) }}{{ $last ? '' : ', ' }}</span>
            </td>
        </tr>

        <!-- opetuspaikat -->
        <tr>
            <th>{{ t('koulutus.review.perustiedot.opetuspaikat') }}</th>
            <td colspan="2">
                <span data-ng-repeat='o in model.koulutus.opetusPaikkas.meta'>{{ getTranslatedName(o) }}{{ $last ? '' : ', ' }}</span>
            </td>
        </tr>

        <!-- linkki opetusuunnitelmaan -->
        <tr>
            <th>{{ t('koulutus.review.perustiedot.linkki-opetussuunnitelmaan') }}</th>
            <td colspan="2">
                {{model.koulutus.linkkiOpetussuunnitelmaan}}
            </td>
        </tr>
    </tbody>

    <!-- YHTEYSHENKILÖT -->
    <tr class="collapse" ng-class="model.collapse.yhteysHenkilot ? '' : 'open'">
        <th colspan="2" ng-click="model.collapse.yhteysHenkilot = !model.collapse.yhteysHenkilot">{{ t('koulutus.review.yhteysHenkilot.otsikko') }}</th>
        <td><button class="btn" ng-disabled="!isMutable" data-ng-click="doEdit($event, 'PERUSTIEDOT')"><span>{{ t('koulutus.review.muokkaa') }}</span> <span class="icon-edit"></span></button></td>
    </tr>
    <tbody ng-show="!model.collapse.yhteysHenkilot" ng-repeat="yh in model.koulutus.yhteyshenkilos | orderBy:yh.henkiloTyyppi">
        <tr>
            <th><b>{{t('koulutus.review.yhteyshenkilo.'+yh.henkiloTyyppi)}}</b></th>
            <td colspan="2">{{yh.nimi}}</td>
        </tr>
        <tr>
            <th>{{ t('koulutus.review.yhteyshenkilo.sahkoposti') }}</th>
            <td colspan="2">{{yh.sahkoposti}}</td>
        </tr>
        <tr>
            <th>{{ t('koulutus.edit.yhteyshenkilo.title') }}</th>
            <td colspan="2">{{yh.titteli}}</td>
        </tr>
        <tr>
            <th>{{ t('koulutus.review.yhteyshenkilo.puhelin') }}</th>
            <td colspan="2">{{yh.puhelin}}</td>
        </tr>
    </tbody>

    <!-- KUVAILEVAT TIEDOT -->

    <tr class="collapse" ng-class="model.collapse.kuvailevatTiedot ? '' : 'open'">
        <th colspan="2" ng-click="model.collapse.kuvailevatTiedot = !model.collapse.kuvailevatTiedot">{{ t('koulutus.review.kuvailevatTiedot.otsikko') }}</th>
        <td><a class="btn" ng-disabled="!isMutable" href data-ng-click="doEdit($event, 'KUVAILEVATTIEDOT')"><span>{{ t('koulutus.review.muokkaa') }}</span> <span class="icon-edit"></span></a></td>
    </tr>

    <tbody ng-show="!model.collapse.kuvailevatTiedot">
        <tr ng-if="koulutusStructure.params.isLukio || koulutusStructure.params.isPerusopetus" ng-repeat="(key, val) in model.koulutus.kielivalikoima">
            <th>{{t('koulutus.review.kielivalikoima.' + key)}}</th>
            <td colspan="2">
                <span ng-repeat="meta in val.meta"><span ng-show="!$first">,</span> {{meta.nimi}}</span>

            </td>
        </tr>
        <tr ng-if="koulutusStructure.params.isLukio">
            <th>{{ t('koulutus.review.perustiedot.lukiodiplomit') }}</th>
            <td colspan="2">
                <span ng-repeat="meta in model.koulutus.lukiodiplomit.meta"><span ng-show="!$first">,</span> {{meta.nimi}}</span>
            </td>
        </tr>
        <tr ng-repeat="field in reviewFields">
            <th>{{t('koulutus.review.kuvailevatTiedot.' + field)}}</th>
            <td colspan="2" data-ng-bind-html="reviewTexts[field].tekstis[lang.koodi_uri]"></td>
        </tr>
    </tbody>

    <!-- HAKUKOHTEET -->

    <tr class="collapse" ng-class="model.collapse.hakukohteet ? '' : 'open'">
        <th colspan="2" ng-click="model.collapse.hakukohteet = !model.collapse.hakukohteet">{{ t('koulutus.review.hakukohteet.otsikko') }}</th>
        <td><a class="btn" ng-disabled="!isMutable" href data-ng-click="addHakukohde()"><span>{{ t('koulutus.review.luo.hakukohde') }}</span> <span class="icon-edit"></span></a></td>
    </tr>

    <tbody ng-show="!model.collapse.hakukohteet">
        <tr>
            <th></th>
            <td colspan="2" ng-include="'partials/koulutus/review/hakukohteet_listing.html'">
            </td>
        </tr>
    </tbody>

</table>