<!--
  Kieliriippuva data review tabeissa.
-->

<table class="tarjontaForm">   
    <tr><th></th><td></td><td></td></tr>
    
    <!-- PERUSTIEDOT / TODO collapse -->
    
    <tr class="collapse" ng-class="model.collapse.perusTiedot ? '' : 'open'">
        <th colspan="2" tt="koulutus.review.perustiedot.otsikko" ng-click="model.collapse.perusTiedot = !model.collapse.perusTiedot"></th>
        <td><input class="btn" type="button" ng-click='doEdit($event, "PERUSTIEDOT")' value="{{t('koulutus.review.muokkaa')}}"/></td>
    </tr>
    
    <tbody ng-show="!model.collapse.perusTiedot">
    
    <!-- oid/tila/tyyppi -->
    <tr>
        <th tt="koulutus.review.perustiedot.oidTilaTyyppi"/>
        <td colspan="2">
            {{model.koulutus.oid}} /
            {{model.koulutus.tila}} /
            {{model.koulutus.koulutusmoduuliTyyppi}}
        </td>
    </tr>
    
    <!-- organisaation nimi -->
    <tr>
        <th tt="koulutus.review.perustiedot.organisaatio"/>
        <td colspan="2">
            {{model.koulutus.organisaatio.nimi}}
        </td>
    </tr>
    
    <!-- koulutus -->
    <tr>
        <th tt="koulutus.review.perustiedot.koulutus"/>
        <td colspan="2">
            {{model.koulutus.koulutuskoodi.meta[lang.koodi_uri].kaannos}}
            <i>{{model.koulutus.koulutuskoodi.koodi.kaannos}}</i>
        </td>
    </tr>
    
    <!-- tutkinto-ohjelman tunniste -->
    <tr>
        <th tt="koulutus.review.perustiedot.tutkintoOhjelmaJaTunniste"/>
        <td colspan="2">
            {{model.koulutus.koulutusohjelma.meta[lang.koodi_uri].koodi.kaannos}}
            <i>({{model.koulutus.tunniste}})</i>
        </td>
    </tr>
    
    <!-- koulutusaste -->
    <tr>
        <th tt="koulutus.review.perustiedot.koulutusaste"/>
        <td colspan="2">
            {{model.koulutus.koulutusaste.meta[lang.koodi_uri].kaannos}}
        </td>
    </tr>
 
    <!-- koulutusala -->
    <tr>
        <th tt="koulutus.review.perustiedot.koulutusala"/>
        <td colspan="2">
            {{model.koulutus.koulutusala.meta[lang.koodi_uri].kaannos}}
        </td>
    </tr>

    <!-- opintoala -->
    <tr>
        <th tt="koulutus.review.perustiedot.opintoala"/>
        <td colspan="2">
            {{model.koulutus.opintoala.meta[lang.koodi_uri].kaannos}}
        </td>
    </tr>
    
    <!-- teemat ja aiheet -->
    <tr>
        <th tt="koulutus.review.perustiedot.teematJaAiheet"/>
        <td colspan="2">
            <span data-ng-repeat='teema in model.koulutus.teemas.meta'>{{ teema.kaannos}}{{ $last ? '' : ', ' }}</span>
        </td>
    </tr>
    
    <!-- tutkinto -->
    <tr>
        <th tt="koulutus.review.perustiedot.tutkinto"/>
        <td colspan="2">
            {{model.koulutus.tutkinto.meta[lang.koodi_uri].kaannos}}
        </td>
    </tr>
    
    <!-- tutkintonimike -->
    <tr>
        <th tt="koulutus.review.perustiedot.tutkintonimike"/>
        <td colspan="2">
            {{model.koulutus.tutkintonimike.meta[lang.koodi_uri].kaannos}}
        </td>
    </tr>
    
    <!-- vaativuustaso -->
    <tr>
        <th tt="koulutus.review.perustiedot.vaativuustaso"/>
        <td colspan="2">
            {{model.koulutus.eqf.meta[lang.koodi_uri].kaannos}}
        </td>
    </tr>
     
    <!-- opintojen laajuus -->
    <tr>
        <th tt="koulutus.review.perustiedot.opintojenLaajuus"/>
        <td colspan="2">
            {{ model.koulutus.opintojenLaajuus.meta[lang.koodi_uri].kaannos}} [op]
        </td>
    </tr>
    
    <!-- koulutuslaji -->
    <tr>
        <th tt="koulutus.review.perustiedot.koulutuslaji"/>
        <td colspan="2">
            [KOULUTUSLAJI]
        </td>
    </tr>
    
    <!-- pohjakoulutusvaatimus -->
    <tr>
        <th tt="koulutus.review.perustiedot.pohjakoulutusvaatimus"/>
        <td colspan="2">
            <span data-ng-repeat='meta in model.koulutus.pohjakoulutusvaatimukset.meta'>{{ meta.kaannos}}{{ $last ? '' : ', ' }}</span>
        </td>
    </tr>
    
    <!-- alkamispvm -->
    <tr>
        <th tt="koulutus.review.perustiedot.alkamispvm"/>
        <td colspan="2">
            {{ model.koulutus.koulutuksenAlkamisPvm}}
        </td>
    </tr>
    
    <!-- suunniteltu kesto -->
    <tr>
        <th tt="koulutus.review.perustiedot.suunniteltuKesto"/>
        <td colspan="2">
            {{ model.koulutus.suunniteltuKestoArvo}} {{ model.koulutus.suunniteltuKestoTyyppi.meta[lang.koodi_uri].kaannos}}
        </td>
    </tr>
    
    <!-- opetuskielet -->
    <tr>
        <th tt="koulutus.review.perustiedot.opetuskielet"/>
        <td colspan="2">
            <span data-ng-repeat='kieli in model.koulutus.opetuskielis.meta'>{{ kieli.kaannos}}{{ $last ? '' : ', ' }}</span>
        </td>
    </tr>
    
    <!-- opetusmuodot -->
    <tr>
        <th tt="koulutus.review.perustiedot.opetusmuodot"/>
        <td colspan="2">
            <span data-ng-repeat='opetusmuoto in model.koulutus.opetusmuodos.meta'>{{ opetusmuoto.kaannos}}{{ $last ? '' : ', ' }}</span>
        </td>
    </tr>
    
    <!-- maksullisuus -->
    <tr>
        <th tt="koulutus.review.perustiedot.maksullisuus"/>
        <td colspan="2">
            {{model.koulutus.opintojenMaksullisuus ? tl("yes", lang.locale) : tl("no", lang.locale)}}
        </td>
    </tr>

    </tbody>
    
    <!-- KUVAILEVAT TIEDOT -->
        
    <tr class="collapse" ng-class="model.collapse.kuvailevatTiedot ? '' : 'open'">
        <th colspan="2" tt="koulutus.review.kuvailevatTiedot.otsikko" ng-click="model.collapse.kuvailevatTiedot = !model.collapse.kuvailevatTiedot"></th>
        <td><input class="btn" type="button" ng-click='doEdit($event, "KUVAILEVATTIEDOT")' value="{{t('koulutus.review.muokkaa')}}"/></td>
    </tr>
    
    <tbody ng-show="!model.collapse.kuvailevatTiedot">

    <!-- kuva -->
    <tr>
        <th tt="koulutus.review.lisatiedot.kuva"/>
        <td colspan="2">
            <image-field editable="false" oid="{{model.koulutus.oid}}" uri="{{lang.koodi_uri}}"></image-field>
        </td>
    </tr>
    
    <tr ng-repeat="lisatieto in lisatiedot">
        <th>{{t('koulutus.review.kuvailevatTiedot.' + lisatieto.type)}}</th>
        <td colspan="2" data-ng-bind-html="getKuvausApiModelLanguageUri(lisatieto.isKomo)[lisatieto.type].tekstis[lang.koodi_uri]"></td>
    </tr>
    
    </tbody>

    <!-- SISÄLTYVÄT OPINTOKOKONAISUUDET -->
        
    <tr class="collapse" ng-class="model.collapse.sisaltyvatOpintokokonaisuudet ? '' : 'open'">
        <th colspan="2" tt="koulutus.review.sisaltyvatOpintokokonaisuudet.otsikko" ng-click="model.collapse.sisaltyvatOpintokokonaisuudet = !model.collapse.sisaltyvatOpintokokonaisuudet"></th>
        <td><!--input class="btn" type="button" ng-click='doEdit($event, "SISALTYVATOPINTOKOKONAISUUDET")' value="{{t('koulutus.review.muokkaa')}}"/--></td>
    </tr>

    <tbody ng-show="!model.collapse.sisaltyvatOpintokokonaisuudet">

    <tr>
        <th></th>
        <td colspan="2">
            <tree-field 
            names="[]" 
            oids="model.selectedKomoOid" 
            fn-click-handler="treeClickHandler"
            lang="fi"></tree-field> <!-- TODO get real user's lang code -->
        </td>
    </tr>

    </tbody> 
 

    <!-- HAKUKOHTEET -->
            
    <tr class="collapse" ng-class="model.collapse.hakukohteet ? '' : 'open'">
        <th colspan="2" tt="koulutus.review.hakukohteet.otsikko" ng-click="model.collapse.hakukohteet = !model.collapse.hakukohteet"></th>
        <td><input class="btn" type="button" ng-click='doEdit($event, "HAKUKOHTEET")' value="{{t('koulutus.review.muokkaa')}}"/></td>
    </tr>
    
    <tbody ng-show="!model.collapse.hakukohteet">
    
    <tr>
        <th></th>
        <td colspan="2">
             [TODO hakukohteiden listaus]
       </td>
    </tr>

    </tbody>
    
</table>