<!--
  Kieliriippuva data review tabeissa.
-->

<table class="tarjontaForm">
    <tr><th></th><td></td><td></td></tr>

    <tr class="collapse" ng-class="model.collapse.perusTiedot ? '' : 'open'">
        <th colspan="2" tt="koulutus.review.perustiedot.tutkinto.otsikko" ng-click="model.collapse.perusTiedot = !model.collapse.perusTiedot">Tutkinnon perusteet</th>
        <td><a class="btn" ng-disabled="!isMutable" href data-ng-click="doEdit($event, 'PERUSTIEDOT')"><span tt="koulutus.review.muokkaa">Muokkaa</span> <span class="icon-edit"></span></a></td>
    </tr>

    <tbody ng-show="!model.collapse.perusTiedot">

        <!-- organisaation nimi -->
        <tr>
            <th tt="koulutus.review.perustiedot.organisaatio">Organisaatio</th>
            <td colspan="2">
                {{model.koulutus.organisaatio.nimi}}
            </td>
        </tr>

        <!-- koulutus -->
        <tr>
            <th tt="koulutus.review.perustiedot.tutkinto">Tutkinto</th>
            <td colspan="2">
                {{model.koulutus.koulutuskoodi.meta[lang.koodi_uri].nimi}}
                <i>{{model.koulutus.koulutuskoodi.arvo}}</i>
            </td>
        </tr>

        <!-- tutkinto-ohjelman tunniste -->
        <tr>
            <th tt="koulutus.review.perustiedot.osaamisala">Osaamisala</th>
            <td colspan="2">
                {{model.koulutus.koulutusohjelma.meta[lang.koodi_uri].nimi}}
            </td>
        </tr>

        <!-- koulutusaste -->
        <tr>
            <th tt="koulutus.review.perustiedot.koulutusaste">Koulutusaste</th>
            <td colspan="2">
                {{model.koulutus.koulutusaste.meta[lang.koodi_uri].nimi|| model.koulutus.koulutusaste.nimi }}
            </td>
        </tr>

        <!-- koulutusala -->
        <tr>
            <th tt="koulutus.review.perustiedot.koulutusala">Koulutusala</th>
            <td colspan="2">
                {{model.koulutus.koulutusala.meta[lang.koodi_uri].nimi}}
            </td>
        </tr>

        <!-- opintoala -->
        <tr>
            <th tt="koulutus.review.perustiedot.opintoala">Opintoala</th>
            <td colspan="2">
                {{model.koulutus.opintoala.meta[lang.koodi_uri].nimi}}
            </td>
        </tr>

        <!-- tutkintonimike -->
        <tr>
            <th tt="koulutus.review.perustiedot.tutkintonimike">Tutkintonimike</th>
            <td colspan="2">
                {{model.koulutus.tutkintonimike.meta[lang.koodi_uri].nimi}}
            </td>
        </tr>

        <tr>
            <th tt="koulutus.review.perustiedot.koulutuslaji">Koulutuslaji</th>
            <td colspan="2">
                {{model.koulutus.koulutuslaji.meta[lang.koodi_uri].nimi}}
            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2"><br/></td>
        </tr>

        <tr>
            <th tt="koulutus.review.perustiedot.maksullisuus">Maksullisuus</th>
            <td colspan="2" >
                <span ng-show="model.koulutus.opintojenMaksullisuus">{{model.koulutus.hinta}} €</span>
                <span ng-show="!model.koulutus.opintojenMaksullisuus">{{model.koulutus.opintojenMaksullisuus ? t("yes") : t("no")}}</span>
            </td>
        </tr>

        <!-- organisaation nimi -->
        <tr>
            <th tt="koulutus.review.perustiedot.nayttotutkinnon-jarjestaja">Näyttötutkinnon järjestäjä</th>
            <td colspan="2">
                {{model.koulutus.valmistavaKoulutus.organisaatio.nimi}}
            </td>
        </tr>
        
        <tr>
            <th tt="koulutus.review.perustiedot.nayttotutkinnon-yhteyshenkilo">Näyttotutkinnon yhteyshenkilö</th>
            <td colspan="2">
                <div data-ng-repeat="p in model.koulutus.yhteyshenkilos">
                    <p ng-show="p.henkiloTyyppi === 'YHTEYSHENKILO'">
                        {{p.titteli}} {{p.etunimet}} {{p.sukunimi}}<br/>
                        {{p.sahkoposti}}<br/>
                        {{p.puhelin}}<br/>
                    </p>  
                </div>    
            </td>
        </tr>

        <!-- alkamispvm -->
        <tr>
            <th tt="koulutus.review.perustiedot.alkamispvm">Alkamispäivämäärä</th>
            <td colspan="2">
                <span ng-switch="model.koulutus.koulutuksenAlkamisPvms.length">
                    <span ng-switch-when="0">
                        {{model.koulutus.koulutuksenAlkamiskausi.meta[lang.koodi_uri].nimi}} {{model.koulutus.koulutuksenAlkamisvuosi}}
                    </span>
                    <span ng-switch-default>
                        <p data-ng-repeat='pvm in  model.koulutus.koulutuksenAlkamisPvms'> {{ pvm | date:'dd.MM.yyyy' }}</p>
                    </span>
                </span>
            </td>
        </tr>
         <tr>
            <th></th>
            <td colspan="2"><br/></td>
        </tr>
    </tbody>

    <!-- TUTKINNON KUVAILEVAT TIEDOT -->

    <tr class="collapse" ng-class="model.collapse.kuvailevatTiedot ? '' : 'open'">
        <th colspan="2" tt="koulutus.review.kuvailevatTiedot.tutkinto.otsikko" ng-click="model.collapse.kuvailevatTiedot = !model.collapse.kuvailevatTiedot">Tutkinnon kuvailevat tiedot</th>
        <td><a class="btn" ng-disabled="!isMutable" href data-ng-click="doEdit($event, 'KUVAILEVATTIEDOT')"><span tt="koulutus.review.muokkaa"/> <span class="icon-edit"></span></a></td>
    </tr>

    <tbody ng-show="!model.collapse.kuvailevatTiedot">
        <tr>
            <th tt="koulutus.review.perustiedot.ammattinimikkeet">Ammattinimikkeet</th>
            <td colspan="2">
                <span ng-repeat="meta in model.koulutus.ammattinimikkeet.meta"><span ng-show="!$first">,</span> {{meta.nimi}}</span>
            </td>
        </tr>
        <tr ng-repeat="lisatieto in lisatiedot">
            <th>{{t('koulutus.review.kuvailevatTiedot.' + lisatieto.type)}}</th>
            <td colspan="2" data-ng-bind-html="getKuvausApiModelLanguageUri(lisatieto.isKomo)[lisatieto.type].tekstis[lang.koodi_uri]"></td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2"><br/></td>
        </tr>
    </tbody>

    <!-- VALMISTAVAN PERUSTIEDOT -->

    <tr class="collapse" ng-class="model.collapse.kuvailevatTiedot ? '' : 'open'">
        <th colspan="2" tt="koulutus.review.kuvailevatTiedot.valmistavan.otsikko" ng-click="model.collapse.kuvailevatTiedot = !model.collapse.kuvailevatTiedot">Valmistavan koulutuksen perustiedot</th>
        <td><a class="btn" ng-disabled="!isMutable" href data-ng-click="doEdit($event, 'KUVAILEVATTIEDOT')"><span tt="koulutus.review.muokkaa"/> <span class="icon-edit"></span></a></td>
    </tr>

    <tbody ng-show="!model.collapse.kuvailevatTiedot">
        <!-- alkamispvm -->
        <tr>
            <th tt="koulutus.review.perustiedot.alkamispvm">Alkamispäivämäärä</th>
            <td colspan="2">
                <span ng-switch="model.koulutus.valmistavaKoulutus.koulutuksenAlkamisPvms.length">
                    <span ng-switch-when="0">
                        {{model.koulutus.valmistavaKoulutus.koulutuksenAlkamiskausi.meta[lang.koodi_uri].nimi}} {{model.koulutus.valmistavaKoulutus.koulutuksenAlkamisvuosi}}
                    </span>
                    <span ng-switch-default>
                        <p data-ng-repeat='pvm in  model.koulutus.valmistavaKoulutus.koulutuksenAlkamisPvms'> {{ pvm | date:'dd.MM.yyyy' }}</p>
                    </span>
                </span>
            </td>
        </tr>

        <!-- suunniteltu kesto -->
        <tr>
            <th tt="koulutus.review.perustiedot.suunniteltuKesto">Suunniteltu kesto</th>
            <td colspan="2">
                {{ model.koulutus.valmistavaKoulutus.suunniteltuKestoArvo}} {{ model.koulutus.valmistavaKoulutus.suunniteltuKestoTyyppi.meta[lang.koodi_uri].nimi}}
            </td>
        </tr>

        <!-- opetuskielet -->
        <tr>
            <th tt="koulutus.review.perustiedot.opetuskielet">Opetuskielet</th>
            <td colspan="2">
                <span data-ng-repeat='kieli in model.koulutus.valmistavaKoulutus.opetuskielis.meta'>{{ kieli.nimi}}{{ $last ? '' : ', ' }}</span>
            </td>
        </tr>

        <!-- opetusajat -->
        <tr>
            <th tt="koulutus.review.perustiedot.opetusajat">Opetusajat</th>
            <td colspan="2">
                <span data-ng-repeat='o in model.koulutus.valmistavaKoulutus.opetusAikas.meta'>{{ o.nimi}}{{ $last ? '' : ', ' }}</span>
            </td>
        </tr>

        <!-- opetusmuodot -->
        <tr>
            <th tt="koulutus.review.perustiedot.opetusmuodot">Opetusmuodot</th>
            <td colspan="2">
                <span data-ng-repeat='o in model.koulutus.valmistavaKoulutus.opetusmuodos.meta'>{{ o.nimi}}{{ $last ? '' : ', ' }}</span>
            </td>
        </tr>

        <!-- linkki opetusuunnitelmaan -->

        <tr>
            <th tt="koulutus.review.perustiedot.linkki-opetussuunnitelmaan">Linkki opetussuunnitelmaan</th>
            <td colspan="2">
                {{model.koulutus.valmistavaKoulutus.linkkiOpetussuunnitelmaan}}
            </td>
        </tr>

        <!-- opetuspaikat -->
        <tr>
            <th tt="koulutus.review.perustiedot.opetuspaikat">Opetuspaikat</th>
            <td colspan="2">
                <span data-ng-repeat='o in model.koulutus.valmistavaKoulutus.opetusPaikkas.meta'>{{ o.nimi}}{{ $last ? '' : ', ' }}</span>
            </td>
        </tr>

        <tr>
            <th tt="koulutus.review.perustiedot.nayttotutkinnon-yhteyshenkilo">Näyttotutkinnon yhteyshenkilö</th>
            <td colspan="2">
                <div data-ng-repeat="p in model.koulutus.valmistavaKoulutus.yhteyshenkilos">
                    <p ng-show="p.henkiloTyyppi === 'YHTEYSHENKILO'">
                        {{p.titteli}} {{p.etunimet}} {{p.sukunimi}}<br/>
                        {{p.sahkoposti}}<br/>
                        {{p.puhelin}}<br/>
                    </p>  
                </div>    
            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2"><br/></td>
        </tr>


    </tbody>


    <!-- VALMISTAVAN KUVAILEVAT TIEDOT -->

    <tr class="collapse" ng-class="model.collapse.kuvailevatTiedot ? '' : 'open'">
        <th colspan="2" tt="koulutus.review.kuvailevatTiedot.valmistavan.otsikko" ng-click="model.collapse.kuvailevatTiedot = !model.collapse.kuvailevatTiedot">Valmistavan koulutuksen kuvailevat tiedot</th>
        <td><a class="btn" ng-disabled="!isMutable" href data-ng-click="doEdit($event, 'KUVAILEVATTIEDOT')"><span tt="koulutus.review.muokkaa"/> <span class="icon-edit"></span></a></td>
    </tr>

    <tbody ng-show="!model.collapse.kuvailevatTiedot">
        <tr ng-repeat="lisatieto in lisatiedot">
            <th>{{t('koulutus.review.kuvailevatTiedot.' + lisatieto.type)}}</th>
            <td colspan="2" data-ng-bind-html="getValmistavaKoulutusKuvausApiModelLanguageUri(lisatieto.isKomo)[lisatieto.type].tekstis[lang.koodi_uri]"></td>
        </tr>
    </tbody>

    <!-- HAKUKOHTEET -->

    <tr class="collapse" ng-class="model.collapse.hakukohteet ? '' : 'open'">
        <th colspan="2" tt="koulutus.review.hakukohteet.otsikko" ng-click="model.collapse.hakukohteet = !model.collapse.hakukohteet">Hakukohteet</th>
        <td><a class="btn" ng-disabled="!isMutable" href data-ng-click="addHakukohde()"><span tt="koulutus.review.luo.hakukohde">Luo uusi hakukohde</span> <span class="icon-edit"></span></a></td>
    </tr>

    <tbody ng-show="!model.collapse.hakukohteet">

        <tr>
            <th></th>
            <td colspan="2">
                <table class="table">
                    <tr data-ng-repeat="hakukohde in  model.hakukohteet">
                        <td>
                            <a ng-href="#/hakukohde/{{hakukohde.oid}}">{{findHakukohdeNimi(lang, hakukohde)}}</a>
                        </td>
                        <td>
                            <div class="align-right">
                                <a class="btn" ng-disabled="true" href ng-click="removeKoulutusFromHakukohde(hakukohde)"><span tt="hakukohde.review.koulutus.poista">Poista hakukohteelta</span> <span class="icon-remove"></span></a>
                                <!--a class="btn" ng-disabled="!isMutable" href ng-click="removeKoulutusFromHakukohde(hakukohde)"><span tt="hakukohde.review.koulutus.poista">Poista hakukohteelta</span> <span class="icon-remove"></span></a-->
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </tbody>

</table>