<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
           http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd">

    <context:annotation-config />
    <context:component-scan base-package="fi.vm.sade" />

    <context:property-placeholder
        location="classpath:tarjonta-data.properties, file:///${user.home:''}/oph-configuration/common.properties, file:///${user.home:''}/oph-configuration/tarjonta-data.properties"
        ignore-resource-not-found="true"/>

    <bean id="commonConstants" class="fi.vm.sade.tarjonta.data.util.CommonConstants">
        <constructor-arg index="0" value="${organisaatio.oid:NO_OID}"/>
        <constructor-arg index="1" value="${organisaatio.nimi:NO_NIMI}"/>
        <constructor-arg index="2" value="${base.uri:NO_URI}"/>
    </bean>

    <!-- CAS Http headers setting section, CXF interceptor adds mock http-headers to request -->
    <bean id="authCxfInterceptor" class="fi.vm.sade.tarjonta.data.util.AuthCxfInterceptor"/>

    <cxf:bus>
        <cxf:outInterceptors>
            <ref bean="authCxfInterceptor"/>
            <!--bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"/-->
        </cxf:outInterceptors>
        <!--cxf:inInterceptors>
            <bean class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
        </cxf:inInterceptors-->
    </cxf:bus>

    <jaxws:client id="koodiService"
                  serviceClass="fi.vm.sade.koodisto.service.KoodiService"
                  address="${KoodiService.url:http://NO_KOODISTO_WEBSERVICE_URL_CONFIGURED}"/>
    <jaxws:client id="koodistoService"
                  serviceClass="fi.vm.sade.koodisto.service.KoodistoService"
                  address="${KoodistoService.url:http://NO_KOODISTO_WEBSERVICE_URL_CONFIGURED}"/>
    <jaxws:client id="koodiAdminService"
                  serviceClass="fi.vm.sade.koodisto.service.KoodiAdminService"
                  address="${KoodiAdminService.url:http://NO_KOODISTO_WEBSERVICE_URL_CONFIGURED}" />
    <jaxws:client id="koodistoAdminService"
                  serviceClass="fi.vm.sade.koodisto.service.KoodistoAdminService"
                  address="${KoodistoAdminService.url:http://NO_KOODISTO_WEBSERVICE_URL_CONFIGURED}" />

    <bean id="oidService" class="fi.vm.sade.oid.service.simple.OIDServiceSimpleImpl" />

<!--
DISABLED    <jaxws:client id="oidService" serviceClass="fi.vm.sade.oid.service.OIDService" address="${oid.webservice.url:http://NO_OID_WEBSERVICE_URL_CONFIGURED}"/>
-->
    <jaxws:client id="tarjontaAdminService"
                  serviceClass="fi.vm.sade.tarjonta.service.TarjontaAdminService"
                  address="${TarjontaAdminService.url:http://NO_TARJONTA_ADMIN_WEBSERVICE_URL_CONFIGURED}"/>
    <jaxws:client id="tarjontaPublicService"
                  serviceClass="fi.vm.sade.tarjonta.service.TarjontaPublicService"
                  address="${TarjontaPublicService.url:http://NO_TARJONTA_PUBLIC_WEBSERVICE_URL_CONFIGURED}"/>
    <jaxws:client id="organisaatioService"
                  serviceClass="fi.vm.sade.organisaatio.api.model.OrganisaatioService"
                  address="${OrganisaatioService.url:http://NO_ORGANISAATIO_WEBSERVICE_URL_CONFIGURED}"/>         
    <jaxws:client id="userService"
                  serviceClass="fi.vm.sade.authentication.service.UserService"
                  address="${UserService.uri:http://NO_ORGANISAATIO_WEBSERVICE_URL_CONFIGURED}"/>

    <http-conf:conduit name="*.http-conduit">
        <!-- extended receive timeout due to koodisto updates take a long time if there are lots of koodis -->
        <http-conf:client ConnectionTimeout="10000" ReceiveTimeout="3600000" /> <!-- 60 min -->
    </http-conf:conduit>
</beans>
