<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cxf="http://cxf.apache.org/core"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
           http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
           http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
           http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
   http://www.springframework.org/schema/security 
   http://www.springframework.org/schema/security/spring-security-3.1.xsd
">

    <!-- Turn on AspectJ @Configurable support -->
    <context:spring-configured />
    <context:annotation-config />
    <context:component-scan base-package="fi.vm.sade.tarjonta.data" />
    <context:component-scan base-package="fi.vm.sade.security" />
    
    <!-- Turn on @Autowired, @PostConstruct etc support -->
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />

    
    <!--
      Load configuration settings
    -->
    <context:property-placeholder
        location="classpath:empty-placeholders.properties, tarjonta-data.properties, file:///${user.home:''}/oph-configuration/common.properties, file:///${user.home:''}/oph-configuration/override.properties"
        ignore-resource-not-found="true" properties-ref="defaultProps" />
      
    <util:properties id="appProperties" location="classpath:tarjonta-data.properties" />
      
    <!--
      Load security settings
    -->

    <bean id="defaultProps" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <util:properties local-override="true">
                <prop key="cas_key">tarjonta-data</prop>
                <prop key="cas_service"></prop>
                <prop key="cas_callback_url"></prop>
                <prop key="spring_security_default_access">permitAll</prop>
            </util:properties>
        </property>
    </bean>
    <import resource="file:///${user.home:''}/oph-configuration/security-context-backend.xml"/>
    
    <bean id="commonConstants" class="fi.vm.sade.tarjonta.data.util.CommonConstants">
        <constructor-arg index="0" value="${organisaatio.oid:NO_OID}"/>
        <constructor-arg index="1" value="${organisaatio.nimi:NO_NIMI}"/>
        <constructor-arg index="2" value="${base.uri:NO_URI}"/>
    </bean>

 <bean id="koodistoUri" class="fi.vm.sade.tarjonta.shared.KoodistoURI"></bean>
     
    <!-- CAS Http headers setting section, CXF interceptor adds mock http-headers to request -->
    <bean id="authCxfInterceptor" class="fi.vm.sade.tarjonta.data.util.AuthCxfInterceptor"/>

    <cxf:bus>
        <cxf:inInterceptors>
            <bean class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
        </cxf:inInterceptors>
    </cxf:bus>

    <!--
    
    <cxf:bus>
        <cxf:outInterceptors>
            <ref bean="casOutInterceptor"/>
            <bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
        </cxf:outInterceptors>
 
    </cxf:bus>
    
        <bean id="casOutInterceptor" class="fi.vm.sade.authentication.cas.CasApplicationAsAUserInterceptor">
            <property name="webCasUrl" value="${cas.web.url}"/>
            <property name="targetService"
                      value="${koodisto.backend.url}/j_spring_cas_security_check"/>
            <property name="appClientUsername" value="${auth.username}"/>
            <property name="appClientPassword" value="${auth.password}"/>
        </bean>
        <bean id="loggingOutInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
    -->
    <jaxws:client id="koodiService"
                  serviceClass="fi.vm.sade.koodisto.service.KoodiService"
                  address="${KoodiService.url:http://NO_KOODISTO_WEBSERVICE_URL_CONFIGURED}"/>
    <jaxws:client id="koodistoService"
                  serviceClass="fi.vm.sade.koodisto.service.KoodistoService"
                  address="${KoodistoService.url:http://NO_KOODISTO_WEBSERVICE_URL_CONFIGURED}"/>
    <jaxws:client id="koodiAdminService"
                  serviceClass="fi.vm.sade.koodisto.service.KoodiAdminService"
                  address="${KoodiAdminService.url:http://NO_KOODISTO_WEBSERVICE_URL_CONFIGURED}"/>
    <jaxws:client id="koodistoAdminService"
                  serviceClass="fi.vm.sade.koodisto.service.KoodistoAdminService"
                  address="${KoodistoAdminService.url:http://NO_KOODISTO_WEBSERVICE_URL_CONFIGURED}"/>

    <bean id="oidService" class="fi.vm.sade.oid.service.simple.OIDServiceSimpleImpl" />

    <!--
    DISABLED    <jaxws:client id="oidService" serviceClass="fi.vm.sade.oid.service.OIDService" address="${oid.webservice.url:http://NO_OID_WEBSERVICE_URL_CONFIGURED}"/>
    -->
    <jaxws:client id="tarjontaAdminService"
                  serviceClass="fi.vm.sade.tarjonta.service.TarjontaAdminService"
                  address="${TarjontaAdminService.url:http://NO_TARJONTA_ADMIN_WEBSERVICE_URL_CONFIGURED}"/>
    <jaxws:client id="tarjontaPublicService"
                  serviceClass="fi.vm.sade.tarjonta.service.TarjontaPublicService"
                  address="${TarjontaPublicService.url:http://NO_TARJONTA_PUBLIC_WEBSERVICE_URL_CONFIGURED}"/>
    <jaxws:client id="organisaatioService"
                  serviceClass="fi.vm.sade.organisaatio.api.model.OrganisaatioService"
                  address="${OrganisaatioService.url:http://NO_ORGANISAATIO_WEBSERVICE_URL_CONFIGURED}"/>         

    <http-conf:conduit name="*.http-conduit">
        <!-- extended receive timeout due to koodisto updates take a long time if there are lots of koodis -->
        <http-conf:client ConnectionTimeout="10000" ReceiveTimeout="3600000" /> <!-- 60 min -->
    </http-conf:conduit>
</beans>
