<div id="editHakukohde" ng-controller="HakukohdeEditController">

    <controls-model
        model="formControls"
        tt-create="hakukohde.create.header.title"
        tt-edit="hakukohde.edit.header.title"
        title="model.hakukohde.tekstis"
        dto="model.hakukohde">

        <controls-button tt-key="koulutus.edit.takaisin" action="model.takaisin()"></controls-button>
        <controls-button tt-key="koulutus.edit.tallenna.luonnos" action="model.saveLuonnos()" primary="true" disabled="!model.canSaveAsLuonnos()"></controls-button>
        <controls-button tt-key="koulutus.edit.tallenna.valmis" action="model.saveValmis()" disabled="model.canSaveAsValmis()" primary="true"></controls-button>
        <controls-button icon="arrow-right" tt-key="koulutus.edit.tallenna.jatka" action="model.tarkastele()" disabled="model.hakukohdeTabsDisabled"></controls-button>

        <!-- TODO on koulutuksessa, pitäiskö olla hakukohteessakin?
        <controls-button tt-key="koulutus.edit.tallenna.jatka" action="goToReview($event)" disabled="koulutusForm.$invalid"></controls-button>
         -->
        <!-- TODO uutta luotaessa vaihtoehtoinen teksti "olet luomassa... " tjsp. -->
        <controls-notify type="message" tt-expr="getKoulutustenNimetKey()" tt-params="[ getKoulutustenNimet() ]"></controls-notify>

        <controls-notify type="success" tt-expr="'tarjonta.tallennus.ok'" show="model.showSuccess"></controls-notify>
        <controls-notify type="error" tt-expr="'tarjonta.tallennus.virhe'" show="model.showError"></controls-notify>

         <controls-notify ng-repeat="e in model.validationmsgs track by $index" type="error-detail" tt-expr="e" show="model.showError"></controls-notify>

    </controls-model>

    <display-controls model="formControls" display="header" command="controlModelCommandApi"></display-controls>

    <tabset>
        <tab heading="{{t('kk.hakukohde.perustiedot')}}">

                <form name="editHakukohdeForm" novalidate>
                <export-to-parent model="editHakukohdeForm" name="editHakukohdeForm" condition="isHakukohdeRootScope"></export-to-parent>

                <table class="tarjontaForm">

                    <!-- hakukohteen nimi -->
                    <tr class="required">
                        <th tt="kk.hakukohde.hakukohdenimi">Nimi</th>
                        <td>
                            <mk-textfield disable="model.isDeEnabled" model="model.hakukohde.hakukohteenNimet" required></mk-textfield>
                        </td>
                        <td>
                            <p class="error" ng-show="model.showError && model.nimiValidationFailed" tt="hakukohde.edit.nimi.missing">Hakukohteen nimi on viallinen</p>
                        </td>
                    </tr>

                    <tr>
                        <th tt="kk.hakukohde.ulkoinen.tunniste">Ulkoinen tunniste</th>
                        <td>
                            <input name="aloituspaikatlkm" maxlength="35" ng-disabled="model.isDeEnabled" class="thin" data-ng-model="model.hakukohde.ulkoinenTunniste"/>

                        </td>
                    </tr>

                    <!-- haku -->
                    <tr class="required">
                        <th tt="kk.hakukohde.haut">Haut</th>
                        <td>
                            <select name="hakuselect" class="wide" ng-disabled="model.isDeEnabled" required ng-model="model.hakukohde.hakuOid" data-ng-options="haku.oid as haku.lokalisoituNimi for haku in model.hakus"/>
                        </td>
                        <td>
                            <p class="error" ng-show="model.showError && editHakukohdeForm.hakuselect.$invalid" tt="hakukohde.edit.haku.missing">Haku on pakollinen tieto</p>
                        </td>
                    </tr>

                    <tr class="required" data-ng-show="model.showHakuaikas">
                        <th tt="kk.hakukohde.hakuaikas">Hakuajat</th>
                        <td>
                            <select class="wide" name="hakuaikaSelect" ng-disabled="model.isDeEnabled" data-ng-required="model.showHakuaikas" data-ng-change="clearHakuajat()" ng-model="model.hakukohde.hakuaikaId" data-ng-options="hakuaika.hakuaikaId as hakuaika.formattedNimi for hakuaika in model.hakuaikas"/>
                        </td>
                        <td>
                            <p class="error" ng-show="model.showError && editHakukohdeForm.hakuaikaSelect.$invalid" tt="hakukohde.edit.haku.aika.missing">Hakuaika puuttuu</p>
                        </td>
                    </tr>

                    <tr ng-show="model.configurableHakuaika">
                        <th tt="kk.hakukohde.hakuaika">Hakuaika</th>
                        <td>
                            <span class="datetimepicker-label" tt="kk.hakukohde.alkaa">Alkaa</span>
                            <t-date-time timestamp="true" type="long" min="model.hakuaikaMin"
                                max="model.hakukohde.hakuaikaLoppuPvm ? model.hakukohde.hakuaikaLoppuPvm : model.hakuaikaMax"
                                scope-model="model.hakukohde.hakuaikaAlkuPvm" change="status.dirtify()"></t-date-time>

                            <span class="datetimepicker-label" tt="kk.hakukohde.loppuu">Loppuu</span>
                            <t-date-time timestamp="true" type="long"
                                min="model.hakukohde.hakuaikaAlkuPvm ? model.hakukohde.hakuaikaAlkuPvm : model.hakuaikaMin"
                                max="model.hakuaikaMax" scope-model="model.hakukohde.hakuaikaLoppuPvm"
                                change="status.dirtify()"></t-date-time>
                        </td>
                        <td>
                            <p class="error" ng-show="model.showError && model.hakuaikaValidationFailed" tt="hakukohde.edit.hakuaika.errors">Hakuaika on virheellinen</p>
                        </td>
                    </tr>

                    <!-- hakukelpoisuusvaatimukset -->
                    <tr class="required">
                        <th tt="kk.hakukohde.hakukelpoisuusvaatimukset">Hakukelpoisuusvaatimukset</th>
                        <td>
                            <multi-select
                                    required
                                    model="temp"
                                    is-disabled="isHkDeEnabled()"
                                    selection="model.hakukohde.hakukelpoisuusvaatimusUris"
                                    promise="model.hakukelpoisuusVaatimusPromise"
                                    display="dualpane"/>
                            <!-- TODO multiselect -->
                            <!--<koodistomultiselect koodiuris="model.hakukohde.hakukelpoisuusvaatimusUris" koodistouri="'hakukelpoisuusvaatimusta'" locale="'FI'"></koodistomultiselect>-->
                        </td>
                        <td>
                            <p class="error" ng-show="model.showError && model.hakukelpoisuusValidationErrMsg" tt="tarjonta.hakukohde.hakukelpoisuusvaatimus.missing">Hakukelpoisuusvaatimus puuttuu</p>
                        </td>
                    </tr>

                    <!-- aloituspaikat -->
                    <tr class="aloituspaikatKuvaukset">
                        <th tt="kk.hakukohde.hakijoilleilmoitettavataloituspaikat">Hakijoille ilmoitettavat aloituspaikat</th>
                        <td>
                            <mk-textfield show-user-languages="false" model="model.hakukohde.aloituspaikatKuvaukset"></mk-textfield>
                        </td>
                        <td>
                            <p class="error" ng-show="model.showError && model.aloituspaikatKuvauksetFailed" tt="hakukohde.edit.aloituspaikatKuvaukset.too.long">Kuvaus voi olla enintään 20 merkkiä pitkä.</p>
                        </td>
                    </tr>

                    <!-- valintapalvelu -->
                    <tr>
                        <th tt="kk.hakukohde.valintapalvelu">Valintapalvelu</th>
                        <td ng-disabled="model.isDeEnabled">
                            <p tt="kk.hakukohde.kaytetaanJarjestelmanValintaPalvelua">Käytetään järjestelmän valintapalvelua</p>

                            <input type="radio" ng-disabled="model.isDeEnabled" ng-model="model.hakukohde.kaytetaanJarjestelmanValintaPalvelua" ng-value="true"/>
                            <span tt="yes">Kyllä</span>

                            <input type="radio" ng-disabled="model.isDeEnabled" ng-model="model.hakukohde.kaytetaanJarjestelmanValintaPalvelua" ng-value="false"/>
                            <span tt="no">Ei</span>

                        </td>
                        <td>
                            <!-- <p class="error" ng-show="model.koulutusohjelma.meta.length==0">(TODO virheilmo)</p>  -->
                        </td>
                    </tr>

                    <tr class="hakukohdeYhteystiedot">
                        <th tt="kk.hakukohde.yhteystiedot.label">Yhteystiedot</th>
                        <td>
                            <tabset>
                                <tab ng-repeat="yhteystieto in model.hakukohde.yhteystiedot" heading="{{yhteystieto.langTitle}}">

                                    <label><input type="checkbox" ng-model="yhteystieto.kaytossa" ng-change="yhteystietoKaytossaChanged(yhteystieto)" />
                                        <span tt="kk.hakukohde.yhteystiedot.kaytossa">Osoite käytössä</span>
                                    </label><br />

                                    <label><input type="radio" ng-model="yhteystieto.kaytaOrganisaatioOsoitetta" ng-value="true" ng-disabled="!yhteystieto.organisaatioOsoiteOlemassa" ng-click="resetYhteystiedonOrganisaatioOsoite(yhteystieto)" />
                                        <span class="{{yhteystieto.organisaatioOsoiteOlemassa ? '' : 'disabled'}}" tt="kk.hakukohde.yhteystiedot.kaytetaanOrganisaationOsoitetta">Käytetään organisaation osoitetta</span>
                                    </label><br />

                                    <label>
                                        <input type="radio" ng-model="yhteystieto.kaytaOrganisaatioOsoitetta" ng-value="false"/>
                                        <span tt="kk.hakukohde.yhteystiedot.kaytetaanMuutaOsoitetta">Käytetään muuta osoitetta</span><br/>
                                    </label>

                                    <div class="inset">
                                        <osoite-field model="yhteystieto" ng-disabled="yhteystieto.kaytaOrganisaatioOsoitetta || !yhteystieto.kaytossa"></osoite-field>
                                    </div>
                                </tab>
                            </tabset>
                        </td>
                    </tr>

                    <!-- ryhma -->
                    <tr>
                        <th data-tt="kk.hakukohde.ryhma.label">Hakukohderyhmät</th>
                        <td>
                            <p data-tt="kk.hakukohde.ryhma.help">Hakukohde kuuluu seuraaviin ryhmiin:</p>
                            <multi-select
                                    model="model.hakukohdeRyhmat"
                                    key="key"
                                    value="value"
                                    is-disabled="isHkDeEnabled()"
                                    selection="model.hakukohde.organisaatioRyhmaOids"
                                    display="dualpane"
                                    />
                        </td>
                        <td>
                        </td>
                    </tr>

                </table>

                <h4 tt="kk.hakukohde.lisatietoja.hakemisesta">Lisätietoja hakemisesta</h4>

                <mk-rich-textarea is-disabled="isHkDeEnabled()" model="model.hakukohde.lisatiedot" max="1500"></mk-rich-textarea>

                <h4 tt="kk.hakukohde.hakukelpoisuusvaatimukset">Hakukelpoisuusvaatimukset</h4>
                <mk-rich-textarea is-disabled="isHkDeEnabled()" model="model.hakukohde.hakukelpoisuusVaatimusKuvaukset" max="1500"></mk-rich-textarea>

                <!--
                <koodistotypeahead removearvocallback="model.kieliRemoveCallback" onchangecallback="model.kieliCallback" koodiuris="model.selectedKieliUris" allkoodis="model.allkieles" koodistouri="'kieli'" locale="model.userLang"></koodistotypeahead>

                <tabset>
                    <tab  heading="{{lisatieto.nimi}}" ng-repeat="lisatieto in model.hakukohde.lisatiedot">
                        <textarea ui-tinymce ng-model="lisatieto.teksti"></textarea>
                    </tab>
                </tabset>
                 -->


            </form>
        </tab>
        <tab ng-disabled="model.hakukohdeTabsDisabled" disabled="model.hakukohdeTabsDisabled"  heading="{{t('kk.hakukohde.valintakokeet')}}">
            <div data-ng-include="'partials/hakukohde/edit/valintakokeetList.html'" data-ng-controller="ValintakokeetController"></div>
        </tab>
       <!-- <tab  heading="{{t('kk.hakukohde.valintakokeet')}}">
            <div data-ng-include="'partials/hakukohde/edit/valintakokeetList.html'" data-ng-controller="ValintakokeetController"></div>
        </tab>-->
        <tab ng-disabled="model.hakukohdeTabsDisabled" disabled="model.hakukohdeTabsDisabled" heading="{{t('kk.hakukohde.liitteet')}}">
            <div data-ng-include="'partials/hakukohde/edit/liitteetList.html'"></div>
        </tab>
        <tab ng-disabled="model.hakukohdeTabsDisabled" disabled="model.hakukohdeTabsDisabled" heading="{{t('kk.hakukohde.valintaperustekuvaus')}}">
            <div data-ng-include="'partials/hakukohde/edit/valintaperusteKuvaukset.html'"></div>
        </tab>

    </tabset>

    <display-controls model="formControls" display="footer"></display-controls>

</div>
