<table class="tarjontaForm">

    <!-- hakukohteen nimi -->
    <tr class="required">
        <th tt="kk.hakukohde.hakukohdenimi">Nimi</th>
        <td>
            <mk-textfield model="model.hakukohde.hakukohteenNimet"></mk-textfield>
        </td>
        <td>
            <p class="error" ng-show="model.showError && model.nimiValidationFailed" tt="hakukohde.edit.nimi.missing">Hakukohteen nimi on viallinen</p>
        </td>
    </tr>

    <tr>
        <th tt="kk.hakukohde.ulkoinen.tunniste">Ulkoinen tunniste</th>
        <td>
            <input name="aloituspaikatlkm" maxlength="35"  class="thin" data-ng-model="model.hakukohde.ulkoinenTunniste"/>

        </td>
    </tr>

    <!-- haku -->
    <tr class="required">
        <th tt="kk.hakukohde.haut">Haut</th>
        <td>
            <select name="hakuselect" class="wide" required ng-model="model.hakukohde.hakuOid" data-ng-change="model.hakuChanged(haku)" data-ng-options="haku.oid as haku.lokalisoituNimi for haku in model.hakus"/>
        </td>
        <td>
            <p class="error" ng-show="model.showError && editHakukohdeForm.hakuselect.$invalid" tt="hakukohde.edit.haku.missing">Haku on pakollinen tieto</p>
        </td>
    </tr>

    <tr class="required" data-ng-show="model.showHakuaikas">
        <th tt="kk.hakukohde.hakuaikas">Hakuajat</th>
        <td>
            <select class="wide" name="hakuaikaSelect" data-ng-required="model.showHakuaikas" ng-model="model.hakukohde.hakuaikaId"data-ng-options="hakuaika.hakuaikaId as hakuaika.formattedNimi for hakuaika in model.hakuaikas"/>
        </td>
        <td>
            <p class="error" ng-show="model.showError && editHakukohdeForm.hakuaikaSelect.$invalid" tt="hakukohde.edit.haku.aika.missing">Hakuaika puuttuu</p>
        </td>
    </tr>

    <!-- hakukelpoisuusvaatimukset -->
    <tr class="required">
        <th tt="kk.hakukohde.hakukelpoisuusvaatimukset">Hakukelpoisuusvaatimukset</th>
        <td>
            <multi-select
                    required
                    model="temp"
                    selection="model.hakukohde.hakukelpoisuusvaatimusUris"
                    promise="model.hakukelpoisuusVaatimusPromise"
                    display="dualpane"/>
            <!-- TODO multiselect -->
            <!--<koodistomultiselect koodiuris="model.hakukohde.hakukelpoisuusvaatimusUris" koodistouri="'hakukelpoisuusvaatimusta'" locale="'FI'"></koodistomultiselect>-->
        </td>
        <td>
            <p class="error" ng-show="model.showError && model.hakukelpoisuusValidationErrMsg" tt="tarjonta.hakukohde.hakukelpoisuusvaatimus.missing">Hakukelpoisuusvaatimus puuttuu</p>
        </td>
    </tr>

    <!-- aloituspaikat -->
    <tr>
        <th tt="kk.hakukohde.hakijoilleilmoitettavataloituspaikat">Hakijoille ilmoitettavat aloituspaikat</th>
        <td>
            <input name="aloituspaikatlkm" class="thin" type="number" ng-pattern="model.integerval" min="1" max="999" data-ng-model="model.hakukohde.aloituspaikatLkm" />
        </td>
        <td>
            <p class="error" ng-show="model.showError && editHakukohdeForm.aloituspaikatlkm.$invalid" tt="tarjonta.hakukohde.aloituspaikatlkm.validation.failed">Tarkista aloituspaikat</p>
        </td>
    </tr>

    <!-- valintapalvelu -->
    <tr>
        <th tt="kk.hakukohde.valintapalvelu">Valintapalvelu</th>
        <td>
            <p tt="kk.hakukohde.kaytetaanJarjestelmanValintaPalvelua">Käytetään järjestelmän valintapalvelua</p>

            <input type="radio" ng-model="model.hakukohde.kaytetaanJarjestelmanValintaPalvelua" ng-value="true"/>
            <span tt="yes">Kyllä</span>

            <input type="radio" ng-model="model.hakukohde.kaytetaanJarjestelmanValintaPalvelua" ng-value="false"/>
            <span tt="no">Ei</span>

        </td>
        <td>
            <!-- <p class="error" ng-show="model.koulutusohjelma.meta.length==0">(TODO virheilmo)</p>  -->
        </td>
    </tr>



</table>

<h4 tt="kk.hakukohde.lisatietoja.hakemisesta">Lisätietoja hakemisesta</h4>

<mk-rich-textarea model="model.hakukohde.lisatiedot" max="1500"></mk-rich-textarea>

<h4 tt="kk.hakukohde.hakukelpoisuusvaatimukset">Hakukelpoisuusvaatimukset</h4>
<mk-rich-textarea model="model.hakukohde.hakukelpoisuusVaatimusKuvaukset" max="1500"></mk-rich-textarea>

<!--
<koodistotypeahead removearvocallback="model.kieliRemoveCallback" onchangecallback="model.kieliCallback" koodiuris="model.selectedKieliUris" allkoodis="model.allkieles" koodistouri="'kieli'" locale="model.userLang"></koodistotypeahead>

<tabset>
    <tab  heading="{{lisatieto.nimi}}" ng-repeat="lisatieto in model.hakukohde.lisatiedot">
        <textarea ui-tinymce ng-model="lisatieto.teksti"></textarea>
    </tab>
</tabset>
 -->
