<table class="valintaPerusteFormTable">


    <tr class="required">

        <th tt="kk.valintaperustekuvaus.oppilaitostyyppi"/>
        <td>
            <koodistocombo onchangecallback="model.koodistoComboCallback" koodistouri="'oppilaitostyyppi'" locale="'FI'" koodiuri="model.valintaperustekuvaus.organisaatioTyyppi"></koodistocombo>
        </td>
        <td>
            <!-- <p class="error" ng-show="model.koulutusohjelma.meta.length==0">(TODO virheilmo)</p>  -->
        </td>
    </tr>
    <tr class="required">
        <th tt="kk.valintaperustekuvaus.ryhma"/>
        <td>
            <mk-textfield model="model.valintaperustekuvaus.kuvauksenNimet"></mk-textfield>
        </td>
        <td>
            <!-- <p class="error" ng-show="model.koulutusohjelma.meta.length==0">(TODO virheilmo)</p>  -->
        </td>
    </tr>

</table>

<mk-rich-textarea model="model.valintaperustekuvaus.kuvaukset" max="1500"></mk-rich-textarea>


