<div>
<div class="modal-body">

<p ng-bind-html="model.text.headLabel"></p>

<div class="modal-form">
    <div ng-show="!isOpinto()">
        <h4 tt="sisaltyvyys.nayta-tutkintotyyppi"></h4>
        <select required class="wide" name="tutkinnot" ng-model="model.tutkinto.uri" ng-options="koodi.koodiUri as koodi.koodiNimi for koodi in model.tutkinto.koodis  | orderByNum:'koodiNimi'"></select>
    </div>

    <table ng-if="model.showSeasonAndYearFilter">
        <tr>
            <td><h4 tt="sisaltyvyys.hae-koulutuksia"></h4></td>
            <td tt="tarjonta.haku.alkamisKausi"></td>
            <td tt="tarjonta.haku.alkamisVuosi"></td>
        </tr>
        <tr>
            <td>
	            <input type="text" ng-enter="searchKomos()" data-ng-model="model.spec.terms" placeholder="{{model.text.searchTermPlaceholder}}" />
            </td>
            <td>
                <select ng-model="model.spec.season" class="input-small" ng-options="season.key as season.label for season in uiModel.seasons | orderBy: 'label'">
                    <option value=""><span tt="tarjonta.haku.kaikki">Kaikki</span></option>
                </select>
            </td>
            <td>
                <select ng-model="model.spec.year" class="input-small" ng-options="year.key as year.label for year in uiModel.years">
                    <option value=""><span tt="tarjonta.haku.kaikki">Kaikki</span></option>
                </select>
            </td>
        </tr>
    </table>

    <div ng-if="!model.showSeasonAndYearFilter" style="display:inline">
        <h4 tt="sisaltyvyys.hae-koulutuksia"></h4>
        <input type="text" ng-enter="searchKomos()" data-ng-model="model.spec.terms" placeholder="{{model.text.searchTermPlaceholder}}" />
    </div>

	<button class="btn btn-warning" ng-click="clearCriteria()" tt="sisaltyvyys.tyhjenna"></button>
	<button class="btn btn-primary" ng-click="searchKomos()" tt="sisaltyvyys.hae"></button>
</div>

<tabset>
    <tab heading="{{model.text.list}}">   
        <div class="koulutus-list" ng-grid="gridOptions"></div>
    </tab>
    <tab heading="{{model.text.hierarchy}}"> 
        <tree-field 
            class="koulutus-tree"
            names="model.hakutulos"
            oids="model.searchKomoOids" 
            review-oids="null" 
            fn-click-handler="selectTreeHandler" 
            lang="koodistoLocale"></tree-field>        
    </tab>
</tabset>

<div>
    <h4 tt="sisaltyvyys.valitut-koulutukset"></h4>
    <ul class="listView"><li ng-repeat="obj in model.selectedRowData"><a href ng-click="removeItem(obj)">[x]</a> {{obj.nimi}}</li></ul>
</div>

</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="clickCancel()"><div tt="sisaltyvyys.peruuta"></div></button>
    <button class="btn btn-primary" ng-disabled="model.selectedRowData.length == 0" ng-click="clickReviewDialogi()"><div tt="sisaltyvyys.jatka"></div></button>
</div>
</div>
