<div>

<div class="modal-body">

    <p ng-bind-html="model.text.headLabel"></p>

    <ul ng-show="model.errors.length > 0" class="errors">
        <li ng-repeat="error in model.errors">{{error.msg}}</li>
    </ul>

    <div class="koulutus-list koulutus-preview" ng-grid="reviewGridOptions"></div>

</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="clickSelectDialogi()"><div tt="sisaltyvyys.palaa"></div></button>
    <button class="btn btn-primary" ng-click="clickSave()"><div tt="sisaltyvyys.tallenna"></div></button>
</div>

</div>