<div id="kopioi-koulutus-dialogi" data-ng-controller="LocalisationCtrl">
    <div class="modal-header">
        <h3><span  tt="koulutus.copy.otsikko">Kopioi tai siirrä koulutus</span></h3>
    </div>

    <div class="modal-body">
        <p ng-bind-html="model.text.help"></p>

        <ul ng-show="model.errors.length > 0" class="errors">
            <li ng-repeat="error in model.errors">{{error.msg}}</li>
        </ul>

        <table width="100%">
            <tr>
                <td style="width:100px; vertical-align: top">
                    <span tt="koulutus.copy.siirra-tai-kopioi">Siirrä tai kopioi</span>
                </td>
                <td style="vertical-align: top">
                    <label><input type="radio" ng-disabled="model.disableCopy" ng-model="model.mode"
                                  value="COPY"><span tt="koulutus.copy.kopioi">Kopioi</span></label><br/>
                    <label><input type="radio" ng-model="model.mode" value="MOVE"><span tt="koulutus.copy.siirra">Siirrä</span></label><br/>
                </td>
            </tr>
            <tr ng-if="model.mode == 'COPY'">
                <td colspan="2">
                    <div class="alert alert-info" tt="koulutus.copy.sisaltyvyyksiaEiKopioida">
                        <strong>Huom!</strong> Koulutuksen liitoksia ei kopioida (koskee korkeakoulutuksia)
                    </div>
                </td>
            </tr>
        </table>
        <table width="100%">
            <tr>
                <td colspan="2">
                    <span tt="koulutus.copy.mihin-kopioidaan">Valitse mihin koulutus siirretään tai kopioidaan</span>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    <ul style="height:250px" class="listView">
                        <li>
                            <div class="treeview"
                                 data-angular-treeview="true" data-tree-id="alkorganisaatio"
                                 data-org-tree-model="alkorganisaatiot" data-node-id="oid"
                                 data-node-label="nimi" data-node-children="children">
                            </div>
                        </li>
                    </ul>
                </td>
                <td width="50%">
                    <ul style="height:250px" class="listView" >
                        <li ng-repeat="organisaatio in model.organisaatiot">
                            <a ng-click="poistaValittu(organisaatio)">[X]</a> {{organisaatio.nimi}}
                        </li>
                        <li ng-show="!organisaatioValittu()" tt="koulutus.copy.organisaatiota-ei-valittu"></li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="peruuta()"><span tt="luoKoulutusDialogi.peruuta">Peruuta</span></button>
        <button class="btn btn-primary" ng-disabled="organisaatioValittu() <= 0" ng-click="jatka()">{{t('luoKoulutusDialogi.' + model.mode)}}</button>
    </div>
</div>
