<div id="editHaku" ng-controller="HakuEditController" ng-form='hakuForm'>

    <div>
        <controls-model
            model="model.formControls"
            tt-create="koulutus.create.header.title"
            tt-edit="koulutus.edit.header.title"
            title="model.koulutusohjelma.tekstis"
            dto="model.hakux.result">

            <controls-button icon="arrow-left" tt-key="koulutus.edit.takaisin" action="goBack($event)"></controls-button>
            <controls-button tt-key="koulutus.edit.tallenna.luonnos" action="saveLuonnos($event)" disabled="hakuForm.$invalid" primary="true"></controls-button>
            <controls-button tt-key="koulutus.edit.tallenna.valmis" action="saveValmis($event)" disabled="hakuForm.$invalid" primary="true"></controls-button>
            <controls-button icon="arrow-right" tt-key="koulutus.edit.tallenna.jatka" action="goToReview($event)" disabled="hakuForm.$invalid || isNewHaku()"></controls-button>

            <!-- TODO muokatessa vaihtoehtoinen teksti "olet muokkaamassa... " tjsp. -->
            <controls-notify type="message" tt-expr="'haku.edit.header'" tt-params="[ getHaunNimi() ]"></controls-notify>

            <controls-notify type="success" tt-expr="'tarjonta.tallennus.ok'" show="model.showSuccess"></controls-notify>
            <controls-notify type="error" tt-expr="'tarjonta.tallennus.virhe'" show="model.showError"></controls-notify>

            <controls-notify type="error-detail" tt-expr="'tarjonta.tallennus.virhe.invalid'" show="model.showError && hakuForm.$invalid"></controls-notify>
            <controls-notify ng-repeat="e in model.validationmsgs" type="error-detail" tt-expr="e.errorMessageKey" tt-params="e.errorMessageParameters" show="model.showError"></controls-notify>

        </controls-model>

        <display-controls model="model.formControls" display="header"></display-controls>

        <div class="container-fluid">
            <tabset>
                <tab heading="Haun tiedot">
                    <div ng-include="'partials/haku/edit/hakuEditBasic.html'"></div>
                </tab>
                <tab heading="Haun aikataulut">
                    <div ng-include="'partials/haku/edit/hakuEditHaunAikataulut.html'"></div>
                </tab>
            </tabset>
        </div>

        <display-controls model="model.formControls" display="footer"></display-controls>

    </div>

</div>
