<div id="editHaku" ng-controller="HakuEditController" ng-form='hakuForm'>

    <div ng-if="model.hakux.status != 'OK'">I'm sorry Dave, I'm afraid I can't do that.</div>
    <div ng-if="model.hakux.status == 'OK'">
        <controls-model
            model="model.formControls"
            tt-create="koulutus.edit.header.title"
            title="model.koulutusohjelma.tekstis"
            dto="model.hakux.result">

            <controls-button icon="arrow-left" tt="koulutus.edit.takaisin" action="goBack($event)"></controls-button>
            <controls-button tt="koulutus.edit.tallenna.luonnos" action="saveLuonnos($event)" primary="true"></controls-button>
            <controls-button tt="koulutus.edit.tallenna.valmis" action="saveValmis($event)" primary="true"></controls-button>
            <controls-button icon="arrow-right" tt="koulutus.edit.tallenna.jatka" action="goToReview($event)" disabled="koulutusForm.$invalid"></controls-button>

            <!-- TODO muokatessa vaihtoehtoinen teksti "olet muokkaamassa... " tjsp. -->
            <controls-notify type="message" tt="'haku.edit.header'" tp="[ 'MITÄS TÄHÄN TULISI' ]"></controls-notify>

            <controls-notify type="success" tt="'tarjonta.tallennus.ok'" show="model.showSuccess"></controls-notify>
            <controls-notify type="error" tt="'tarjonta.tallennus.virhe'" show="model.showError"></controls-notify>

            <controls-notify type="error-detail" tt="'tarjonta.tallennus.virhe.invalid'" show="!hakuForm.$pristine && model.showError && hakuForm.$invalid"></controls-notify>
            <controls-notify ng-repeat="e in model.validationmsgs" type="error-detail" tt="e.errorMessageKey" tp="e.errorMessageParameters" show="model.showError"></controls-notify>

        </controls-model>

        <display-controls model="model.formControls" display="header"></display-controls>

        <div class="container-fluid">
                <tabset>
                    <tab heading="Haun tiedot">
                        <div ng-include="'partials/haku/edit/hakuEditBasic.html'"></div>
                    </tab>
                    <tab heading="Haun aikataulut">
                        <div ng-include="'partials/haku/edit/hakuEditHaunAikataulut.html'"></div>
                    </tab>
                    <tab heading="Hakukauden aikataulut">
                        <div ng-include="'partials/haku/edit/hakuEditHakukaudenAikataulut.html'"></div>
                    </tab>
                </tabset>
        </div>

        <display-controls model="model.formControls" display="footer"></display-controls>

    </div>

    <hr>
    <div ng-click="model.collapse.model = !model.collapse.model">
        <div class="collapseHeader" ng-class="{isOpen : !model.collapse.model}">Sivun data / malli:</div>
    </div>
    <div collapse="model.collapse.model">
        <pre>{{ model | json }}</pre>
    </div>

</div>
