<div id="editHaku" ng-controller="HakuEditController" >

    <div class="container-fluid">

        <tabset>
            <tab heading="Haun tiedot">
                <div ng-include="'partials/haku/edit/hakuEditBasic.html'"></div>
            </tab>
            <tab heading="Haun aikataulut">
                <div ng-include="'partials/haku/edit/hakuEditHaunAikataulut.html'"></div>
            </tab>
            <tab heading="Hakukauden aikataulut">
                <div ng-include="'partials/haku/edit/hakuEditHakukaudenAikataulut.html'"></div>
            </tab>
        </tabset>

        <hr>
        <div ng-click="model.collapse.model = !model.collapse.model">
            <div class="collapseHeader" ng-class="{isOpen : !model.collapse.model}">Sivun data / malli:</div>
        </div>

    </div>


    <div collapse="model.collapse.model">
        <pre>{{ model | json }}</pre>
    </div>

</div>
