
<div>
    <!-- Common parameters for all hakutyyppi's -->
    <h3 tt='haku.edit.aikataulu.julkaisuJaHakuaika'>Tarjonnan julkaisu ja hakuaika</h3>

    <table class="tarjontaForm">
        <tr>
            <th tt='haku.edit.aikataulu.julkaisunTakaraja'>Tarjonnan julkaisun takaraja</th>
            <td>
            <t-date-time type="long" name="PH_TJT" timestamp="true" ng-model="model.parameter.PH_TJT.date"></t-date-time>
            </td>
            <td>
                <div>
                    <div show-errors form="hakuForm" field="PH_TJT" tt-prefix="haku.edit.aikataulu"></div>
                </div>
            </td>
        </tr>
	    <tr>
	        <th></th>
	        <td colspan="2" class="help" tt="haku.edit.aikataulu.PH_TJT.help">Valmis tilassa olevat koulutukset ja hakukohteet julkaistaan Opintopolussa.</td>
	    </tr>
    
        <tr>
            <th tt='haku.edit.aikataulu.PH_HKLPT'>Hakukohteen lisäämisen ja perumisen takaraja</th>
            <td>
            <t-date-time type="long" name="PH_HKLPT" timestamp="true" ng-model="model.parameter.PH_HKLPT.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_HKLPT" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="haku.edit.aikataulu.PH_HKLPT.help">Annetun ajan jälkeen hakukohteita ei voi lisätä tai perua.</td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_HKMT'>Hakukohteen muokkauksen takaraja</th>
            <td>
            <t-date-time type="long" name="PH_HKMT" timestamp="true" ng-model="model.parameter.PH_HKMT.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_HKMT" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="haku.edit.aikataulu.PH_HKMT.help">Annetun ajan jälkeen hakukohteita ei voi muokata.</td>
        </tr>

        <tr ng-repeat="hakuaika in model.hakux.result.hakuaikas">
            <th tt='haku.edit.aikataulu.hakuaika'>Hakuaika</th>
            <td colspan="2"><t-show-date value="hakuaika.alkuPvm"></t-show-date> &rarr; <t-show-date value="hakuaika.loppuPvm"></t-show-date></td>
        </tr>

    </table>
</div><!-- /commmon parameters -->


<div data-ng-switch on="stripVersionFromKoodistoUri(model.hakux.result.kohdejoukkoUri)">

    <!-- Korkeakoulu -->
     <div data-ng-switch-when="haunkohdejoukko_12">
        <div ng-include="'partials/haku/edit/hakuEditHaunAikataulut_korkeakoulu.html'">Korkeakoulu</div>
    </div>

    <!-- 2. aster + other parameters -->
    <div data-ng-switch-default>
        <div ng-include="'partials/haku/edit/hakuEditHaunAikataulut_toinenaste.html'">2. aste + muut</div>
    </div>

</div>

<!-- Lisähaku -->
<div ng-if="model.haku.hakutyyppiUri == 'hakutyyppi_03'">

    <h3 tt='haku.edit.aikataulu.lisahaunTiedot'>Lisähaun tiedot</h3>

    <table class="tarjontaForm">
        <tr>
            <th tt='haku.edit.aikataulu.hakuaika'>Hakuaika</th>
            <td colspan="2"><t-show-date value="hakuaika.loppuPvm"></t-showdate> &rarr; <t-show-date value="hakuaika.loppuPvm"></t-showdate></td>
        </tr>

        <tr ng-repeat="hakuaika in model.hakux.result.hakuaikas">
            <th tt='haku.edit.aikataulu.PH_HKTA'>Hakukohteiden tallennus alkaa</th>
            <td>
                <t-date-time type="long" name="PH_HKTA" timestamp="true" ng-model="model.parameter.PH_HKTA.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_HKTA" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_HKP'>Hakukierros päättyy</th>
            <td>
                <t-date-time type="long" name="PH_HKP" timestamp="true" ng-model="model.parameter.PH_HKP.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_HKP" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>
    </table>
</div>
<!-- /Lisähaku -->
