<div>
    <h3 tt='haku.edit.aikataulu.valinnatJaSijoittelu'>Valinnat ja sijoittelu</h3>

    <table class="tarjontaForm">
        <tr>
            <th tt='haku.edit.aikataulu.PH_VTSSV'>Valintatulokset siirrettävä sijoitteluun viimeistään</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_VTSSV" scope-model="model.parameter.PH_VTSSV.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_VTSSV" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_VSSAV'>Varasijasäännöt astuvat voimaan</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_VSSAV" scope-model="model.parameter.PH_VSSAV.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_VSSAV" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_VSTP'>Varasijatäyttö päättyy</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_VSTP" scope-model="model.parameter.PH_VSTP.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_VSTP" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_SS'>Sijoittelun suorittaminen</th>
            <td>
                <t-date-time type="long" name="PH_SS_S" scope-model="model.parameter.PH_SS.dateStart"></t-date-time>
                &rarr;
                <t-date-time type="long" name="PH_SS_E" scope-model="model.parameter.PH_SS.dateEnd"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_SS_S" tt-prefix="haku.edit.aikataulu"></show-errors>
                    <show-errors form="hakuForm" field="PH_SS_E" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_SSAVTM'>Sijoittelun suorittaminen aina valintatietojen muuttuessa</th>
            <td>
                <input type="checkbox" ng-model="model.parameter.PH_SS.ainaMuuttuessa" name="PH_SSAVTM"> Sijoittelu aina valintatietojen muuttuessa
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_SSAVTM" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_SST'>Sijoittelun suorittamistiheys</th>
            <td>
                <input type="number" ng-model="model.parameter.PH_SS.suorittamisTiheys" name="PH_SST" min="1" max="336"> <span tt="haku.tuntia">tuntia</span>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_SST" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="haku.edit.aikataulu.PH_SST.help">Tiheys määritetään kokonaistunteina välillä 1 - 336 (14 vuorokautta)</td>
        </tr>

    </table>

    <h3 tt='haku.edit.aikataulu.tuloksetJaPaikanVastaanotto'>Tulokset ja paikan vastaanotto</h3>

    <table class="tarjontaForm">
        <tr>
            <th tt='haku.edit.aikataulu.PH_VTJH'>Valintatulosten julkaiseminen hakijoille</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_VTJH_S" scope-model="model.parameter.PH_VTJH.dateStart"></t-date-time>
                &rarr;
                <t-date-time type="long" timestamp="true" name="PH_VTJH_E" scope-model="model.parameter.PH_VTJH.dateEnd"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_VTJH_S" tt-prefix="haku.edit.aikataulu"></show-errors>
                    <show-errors form="hakuForm" field="PH_VTJH_E" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_EVR'>Ehdolliset valinnat raukeavat</th>
            <td>
                <t-date-time type="long" name="PH_EVR" scope-model="model.parameter.PH_EVR.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_EVR" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_OPVP'>Opiskelijan paikan vastaanotto päättyy</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_OPVP" scope-model="model.parameter.PH_OPVP.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_OPVP" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_HPVOA'>Hakijakohtainen paikan vastaanottoaika</th>
            <td>
                <input type="number" name="PH_PH_HPVOA" class="input-small" ng-model="model.parameter.PH_HPVOA.value" />
                <span tt="haku.edit.aikataulu.PH_HPVOA.help">vuorokautta valinnan tulosten ilmoittamisesta</span>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_HPVOA" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_IP'>Ilmoittautuminen päättyy</th>
            <td>
                <t-date-time type="long" name="PH_IP" scope-model="model.parameter.PH_IP.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_IP" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_HKP'>Hakukierros päättyy</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_HKP" scope-model="model.parameter.PH_HKP.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_HKP" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_AHP'>Automaattinen hakukelpoisuus päättyy</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_AHP" scope-model="model.parameter.PH_AHP.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_AHP" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>
    </table>

</div>
