<!-- 2. aste + other parameters -->
<div>
    <h3 tt='haku.edit.aikataulu.valinnatJaSijoittelu'>Valinnat ja sijoittelu</h3>

    <table class="tarjontaForm">
        <tr>
            <th tt='haku.edit.aikataulu.PH_VSSAV'>Varasijasäännöt astuvat voimaan</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_VSSAV" scope-model="model.parameter.PH_VSSAV.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_VSSAV" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_VSTP'>Varasijatäyttö päättyy</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_VSTP" scope-model="model.parameter.PH_VSTP.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_VSTP" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_KKM'>Koekutsujen muodostaminen</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_KKM_S" scope-model="model.parameter.PH_KKM.dateStart"></t-date-time>
                &rarr;
                <t-date-time type="long" timestamp="true" name="PH_KKM_E" scope-model="model.parameter.PH_KKM.dateEnd"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_KKM_S" tt-prefix="haku.edit.aikataulu"></show-errors>
                    <show-errors form="hakuForm" field="PH_KKM_E" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_HVVPTP'>Harkinnanvaraisen valinnan päätösten tallennus päättyy</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_HVVPTP" scope-model="model.parameter.PH_HVVPTP.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_HVVPTP" tt-prefix="haku.edit.aikataulu" ></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_KTT'>Koetulosten tallentaminen</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_KTT_S" scope-model="model.parameter.PH_KTT.dateStart"></t-date-time>
                &rarr;
                <t-date-time type="long" timestamp="true" name="PH_KTT_E" scope-model="model.parameter.PH_KTT.dateEnd"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_KTT_S" tt-prefix="haku.edit.aikataulu"></show-errors>
                    <show-errors form="hakuForm" field="PH_KTT_E" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_OLVVPKE'>Oppilaitosten virkailijoiden valintapalvelun käyttö estetty</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_OLVVPKE_S" scope-model="model.parameter.PH_OLVVPKE.dateStart"></t-date-time>
                &rarr;
                <t-date-time type="long" timestamp="true" name="PH_OLVVPKE_E" scope-model="model.parameter.PH_OLVVPKE.dateEnd"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_OLVVPKE_S" tt-prefix="haku.edit.aikataulu"></show-errors>
                    <show-errors form="hakuForm" field="PH_OLVVPKE_E" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_VLS'>Valintalaskennan suorittaminen</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_VLS_S" scope-model="model.parameter.PH_VLS.dateStart"></t-date-time>
                &rarr;
                <t-date-time type="long" timestamp="true" name="PH_VLS_E" scope-model="model.parameter.PH_VLS.dateEnd"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_VLS_S" tt-prefix="haku.edit.aikataulu"></show-errors>
                    <show-errors form="hakuForm" field="PH_VLS_E" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_SS'>Sijoittelun suorittaminen</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_SS_S" scope-model="model.parameter.PH_SS.dateStart"></t-date-time>
                &rarr;
                <t-date-time type="long" timestamp="true" name="PH_SS_E" scope-model="model.parameter.PH_SS.dateEnd"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_SS_S" tt-prefix="haku.edit.aikataulu"></show-errors>
                    <show-errors form="hakuForm" field="PH_SS_E" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_VEH'>Valintaesityksen hyväksyminen</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_VEH" scope-model="model.parameter.PH_VEH.date"></t-date-time>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_SSAVTM'>Sijoittelun suorittaminen aina valintatietojen muuttuessa</th>
            <td>
                <input type="checkbox" ng-model="model.parameter.PH_SS.ainaMuuttuessa" name="PH_SSAVTM" tt='haku.edit.aikataulu.PH_SSAVTM.short'> Sijoittelu aina valintatietojen muuttuessa
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_SSAVTM" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_SST'>Sijoittelun suorittamistiheys</th>
            <td>
                <input ng-required="false" type="number" ng-model="model.parameter.PH_SS.suorittamisTiheys" name="PH_SST" min="1" max="336"> <span tt="haku.tuntia">tuntia</span>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_SST" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2" class="help" tt="haku.edit.aikataulu.PH_SST.help">Tiheys määritetään kokonaistunteina välillä 1 - 336 (14 vuorokautta)</td>
        </tr>
    </table>

    <h3 tt='haku.edit.aikataulu.tuloksetJaPaikanVastaanotto'>Tulokset ja paikan vastaanotto</h3>

    <table class="tarjontaForm">
        <tr>
            <th tt='haku.edit.aikataulu.PH_VTJH'>Valintatulosten julkaiseminen hakijoille</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_VTJH_S" scope-model="model.parameter.PH_VTJH.dateStart"></t-date-time>
                &rarr;
                <t-date-time type="long" timestamp="true" name="PH_VTJH_E" scope-model="model.parameter.PH_VTJH.dateEnd"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_VTJH_S" tt-prefix="haku.edit.aikataulu"></show-errors>
                    <show-errors form="hakuForm" field="PH_VTJH_E" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr ng-if="stripVersionFromKoodistoUri(model.hakux.result.kohdejoukkoUri) === 'haunkohdejoukko_11'">
            <th tt='haku.edit.aikataulu.PH_OPVP'>Opiskelijan paikan vastaanotto päättyy</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_OPVP" scope-model="model.parameter.PH_OPVP.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_OPVP" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_HPVOA'>Hakijakohtainen paikan vastaanottoaika</th>
            <td>
                <input type="number" name="PH_PH_HPVOA" class="input-small" ng-model="model.parameter.PH_HPVOA.value" />
                <span tt="haku.edit.aikataulu.PH_HPVOA.help">vuorokautta valinnan tulosten ilmoittamisesta</span>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_HPVOA" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_JKLIP'>Jälkiohjauskirjeen aineiston lähettäminen iPostiin</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_JKLIP" scope-model="model.parameter.PH_JKLIP.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_JKLIP" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th tt='haku.edit.aikataulu.PH_HKP'>Hakukierros päättyy</th>
            <td>
                <t-date-time type="long" timestamp="true" name="PH_HKP" scope-model="model.parameter.PH_HKP.date"></t-date-time>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_HKP" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>
    </table>
</div>
<!-- /2. aste + other parameters -->
