
<div>
    <!-- Common parameters for all hakutyyppi's -->

    <h3 ttt='haku.edit.aikataulu.julkaisuJaHakuaika'>Tarjonnan julkaisu ja hakuaika</h3>

    <table class="tarjontaForm">
        <tr class="required">
            <th ttt='haku.edit.aikataulu.julkaisunTakaraja'>Tarjonnan julkaisun takaraja</th>
            <td>
            <t-date-time type="long"
	        name="PH_TJT" 
	        ng-model="model.parameter.PH_TJT"
	        required></t-date-time>
	        XXX
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="PH_TJT" required ng-model="model.parameter.PH_TJT">
                <p class="help-block" ttt='haku.edit.aikataulu.PH_TJT.help'>
                    Valmis tilassa olevat koulutukset ja hakukohteet julkaistaan Opintopolussa.
                </p>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_TJT" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th ttt='haku.edit.aikataulu.PH_HKLPT'>Hakukohteen lisäämisen ja perumisen takaraja</th>
            <td>
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="PH_HKLPT" required ng-model="model.parameter.PH_HKLPT">
                <p class="help-block" ttt='haku.edit.aikataulu.PH_HKLPT.help'>
                    Annetun ajan jälkeen hakukohteita ei voi lisätä tai perua.
                </p>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_HKLPT" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th ttt='haku.edit.aikataulu.PH_HKMT'>Hakukohteen muokkauksen takaraja</th>
            <td>
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="PH_HKMT" required ng-model="model.parameter.PH_HKMT">
                <p class="help-block" ttt='haku.edit.aikataulu.PH_HKMT.help'>
                    Annetun ajan jälkeen hakukohteita ei voi muokata.
                </p>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_HKMT" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th ttt='haku.edit.aikataulu.hakuaika'>Hakuaika</th>
            <td colspan="2">ALKAA --- LOPPUU</td>
        </tr>

    </table>
</div><!-- /commmon parameters -->


<div data-ng-switch on="model.haku.haunkohdejoukkoUri">

    <!-- Korkeakoulu -->
    <div data-ng-switch-when="haunkohdejoukko_12">
        <div ng-include="'partials/haku/edit/hakuEditHaunAikataulut_korkeakoulu.html'">Korkeakoulu</div>
    </div>

    <!-- 2. aster + other parameters -->
    <div data-ng-switch-default>
        <div ng-include="'partials/haku/edit/hakuEditHaunAikataulut_toinenaste.html'">2. aste + muut</div>
    </div>
</div>

<!-- Lisähaku -->
<div ng-if="model.haku.hakutyyppiUri == 'hakutyyppi_03'">

    <h3 ttt='haku.edit.aikataulu.lisahaunTiedot'>Lisähaun tiedot</h3>

    <table class="tarjontaForm">
        <tr>
            <th ttt='haku.edit.aikataulu.hakuaika'>Hakuaika</th>
            <td colspan="2">ALKAA --- LOPPUU</td>
        </tr>

        <tr>
            <th ttt='haku.edit.aikataulu.PH_HKTA'>Hakukohteiden tallennus alkaa</th>
            <td>
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="PH_HKTA" ng-model="model.parameter.PH_HKTA">
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_HKTA" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th ttt='haku.edit.aikataulu.PH_HKP'>Hakukierros päättyy</th>
            <td>
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="PH_HKP" ng-model="model.parameter.PH_HKP">
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_HKP" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>
    </table>
</div>
<!-- /Lisähaku -->
