<div>

    <form class="form-horizontal" id='hakuForm'>

        <fieldset>

            <!-- Form Name -->
            <legend><div tt="haku.kausi.parametrit">Hakukauden aikaraja</div></legend>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Hakukauden aikaraja</label>
                <div class="controls">
                    <input type="text"
                       placeholder="pp.kk.vvvv hh:mm"
                       data-datepicker-popup="dd.MM.yyyy HH:mm"
                       data-ng-model="model.hakukausiAlkaa"
                       data-ng-required="false" />

                    <input type="text"
                       placeholder="pp.kk.vvvv hh:mm"
                       data-datepicker-popup="dd.MM.yyyy HH:mm"
                       data-ng-model="model.hakukausiLoppuu"
                       data-ng-required="false" />

                    <p class="help-block">-</p>
                </div>
            </div>

        </fieldset>



        <fieldset>

            <!-- Form Name -->
            <legend>Perustietojen ja arvosanojen siirto</legend>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Päättöluokkalaisten perustietojen siirto</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <p class="help-block">-</p>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Päättöluokkalaisten arvosanojen siirto</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <p class="help-block">-</p>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Lukion päättöarvosanojen siirto</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <p class="help-block">-</p>
                </div>
            </div>

        </fieldset>


        <fieldset>

            <!-- Form Name -->
            <legend>Tiedonsiirto KELA:lle</legend>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Koulutustarjonnan tiedonsiirto</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <p class="help-block">-</p>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Toisen asteen valintojen siirto</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <p class="help-block">-</p>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Korkeakouluasteen valintojen siirto</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <p class="help-block">-</p>
                </div>
            </div>

            <!-- Multiple Checkboxes (inline) -->
            <div class="control-group">
                <label class="control-label" for="checkboxes">Valintojen tiedonsiirto</label>
                <div class="controls">
                    <label class="checkbox inline" for="checkboxes-0">
                        <input type="checkbox" name="checkboxes" id="checkboxes-0" value="Aina valintatietojen muuttuessa">
                        Aina valintatietojen muuttuessa
                    </label>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Valintojen tiedonsiirron tiheys</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge"> vuorokautta
                    <p class="help-block">Tiheys määritellään kokonaisina vuorokausina</p>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Valintojen siirto vuorokaudessa klo</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
                    <p class="help-block">Sjoittelu suoritetaan valitulla tiheydellä tästä kellonajasta alkaen</p>
                </div>
            </div>

        </fieldset>








        <fieldset>

            <!-- Form Name -->
            <legend>Tiedonsiirto TEM:ään</legend>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Toisen asteen valintojen siirto</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <p class="help-block">-</p>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Korkeakouluasteen valintojen siirto</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <p class="help-block">-</p>
                </div>
            </div>

            <!-- Multiple Checkboxes (inline) -->
            <div class="control-group">
                <label class="control-label" for="checkboxes">Valintojen tiedonsiirto</label>
                <div class="controls">
                    <label class="checkbox inline" for="checkboxes-0">
                        <input type="checkbox" name="checkboxes" id="checkboxes-0" value="Aina valintatietojen muuttuessa">
                        Aina valintatietojen muuttuessa
                    </label>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Valintojen tiedonsiirron tiheys</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge"> vuorokautta
                    <p class="help-block">Tiheys määritellään kokonaisina vuorokausina</p>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Valintojen siirto vuorokaudessa klo</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
                    <p class="help-block">Sjoittelu suoritetaan valitulla tiheydellä tästä kellonajasta alkaen</p>
                </div>
            </div>

        </fieldset>

    </form>


</div>
