<div>

    <h3 ttt='haku.edit.aikataulu.julkaisuJaHakuaika'>Tarjonnan julkaisu ja hakuaika</h3>

    <table class="tarjontaForm">
        <tr class="required">
            <th ttt='haku.edit.aikataulu.julkaisunTakaraja'>Tarjonnan julkaisun takaraja</th>
            <td>
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="PH_TJT" required ng-model="model.parameter.PH_TJT">
                <p class="help-block" ttt='haku.edit.aikataulu.PH_TJT.help'>
                    Valmis tilassa olevat koulutukset ja hakukohteet julkaistaan Opintopolussa.
                </p>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="PH_TJT" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th ttt='haku.edit.aikataulu.hakukohdeTakaraja'>Hakukohteen lisäämisen ja perumisen takaraja</th>
            <td>
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="hakukohdeTakaraja" required ng-model="model.parameter.hakukohdeTakaraja">
                <p class="help-block" ttt='haku.edit.aikataulu.hakukohdeTakaraja.help'>
                    Annetun ajan jälkeen hakukohteita ei voi lisätä tai perua.
                </p>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="hakukohdeTakaraja" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th ttt='haku.edit.aikataulu.hakukohdeMuokkausTakaraja'>Hakukohteen muokkauksen takaraja</th>
            <td>
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="hakukohdeMuokkausTakaraja" required ng-model="model.parameter.hakukohdeMuokkausTakaraja">
                <p class="help-block" ttt='haku.edit.aikataulu.hakukohdeMuokkausTakaraja.help'>
                    Annetun ajan jälkeen hakukohteita ei voi muokata.
                </p>
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="hakukohdeMuokkausTakaraja" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th ttt='haku.edit.aikataulu.hakuaika'>Hakuaika</th>
            <td colspan="2">ALKAA --- LOPPUU</td>
        </tr>

    </table>


    <h3 ttt='haku.edit.aikataulu.valinnatJaSijoittelu'>Valinnat ja sijoittelu</h3>

    <table class="tarjontaForm">
        <tr>
            <th ttt='haku.edit.aikataulu.koekutsujenMuodostaminen'>Koekutsujen muodostaminen</th>
            <td>
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="koekutsujenMuodostaminen_start" ng-model="model.parameter.koekutsujenMuodostaminen.start">
                --
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="koekutsujenMuodostaminen_end" ng-model="model.parameter.koekutsujenMuodostaminen.end">
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="koekutsujenMuodostaminen_start" tt-prefix="haku.edit.aikataulu"></show-errors>
                    <show-errors form="hakuForm" field="koekutsujenMuodostaminen_end" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th ttt='haku.edit.aikataulu.harkinnanvarainenValintaTallennusPaattyy'>Harkinnanvaraisen valinnan tallennus päättyy</th>
            <td>
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="harkinnanvarainenValintaTallennusPaattyy" ng-model="model.parameter.harkinnanvarainenValintaTallennusPaattyy">
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="harkinnanvarainenValintaTallennusPaattyy" tt-prefix="haku.edit.aikataulu" ></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th ttt='haku.edit.aikataulu.koetulostenTallennus'>Koetulosten tallentaminen</th>
            <td>
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="koetulostenTallennus_start" ng-model="model.parameter.koetulostenTallennus.start">
                --
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="koetulostenTallennus_end" ng-model="model.parameter.koetulostenTallennus.end">
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="koetulostenTallennus_start" tt-prefix="haku.edit.aikataulu"></show-errors>
                    <show-errors form="hakuForm" field="koetulostenTallennus_end" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th ttt='haku.edit.aikataulu.virkailijatValintapalveluEstetty'>Oppilaitosten virkailijoiden valintapalvelun käyttö estetty</th>
            <td>
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="virkailijatValintapalveluEstetty_start" ng-model="model.parameter.virkailijatValintapalveluEstetty.start">
                --
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="virkailijatValintapalveluEstetty_end" ng-model="model.parameter.virkailijatValintapalveluEstetty.end">
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="virkailijatValintapalveluEstetty_start" tt-prefix="haku.edit.aikataulu"></show-errors>
                    <show-errors form="hakuForm" field="virkailijatValintapalveluEstetty_end" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th ttt='haku.edit.aikataulu.valintalaskentaSuorittaminen'>Valintalaskennan suorittaminen</th>
            <td>
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="valintalaskentaSuorittaminen_start" ng-model="model.parameter.valintalaskentaSuorittaminen.start">
                --
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="valintalaskentaSuorittaminen_end" ng-model="model.parameter.valintalaskentaSuorittaminen.end">
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="valintalaskentaSuorittaminen_start" tt-prefix="haku.edit.aikataulu"></show-errors>
                    <show-errors form="hakuForm" field="valintalaskentaSuorittaminen_end" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr class="required">
            <th ttt='haku.edit.aikataulu.sijoitteluSuorittaminen'>Sijoittelun suorittaminen</th>
            <td>
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="sijoitteluSuorittaminen_start" ng-model="model.parameter.sijoitteluSuorittaminen.start">
                --
                <input type="datetime" placeholder="dd.MM.yyyy HH:mm" name="sijoitteluSuorittaminen_end" ng-model="model.parameter.sijoitteluSuorittaminen.end">
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="sijoitteluSuorittaminen_start" tt-prefix="haku.edit.aikataulu"></show-errors>
                    <show-errors form="hakuForm" field="sijoitteluSuorittaminen_end" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th ttt='haku.edit.aikataulu.sijoitteluSuorittaminenMuutoksissa'>Sijoittelun suorittaminen aina valintatietojen muuttuessa</th>
            <td>
                <input type="checkbox" ng-model="model.parameter.sijoitteluSuorittaminenMuutoksissa" name="sijoitteluSuorittaminenMuutoksissa">
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="sijoitteluSuorittaminenMuutoksissa" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>

        <tr>
            <th ttt='haku.edit.aikataulu.sijoitteluSuorittaminenMuutoksissa'>Sijoittelun suorittaminen aina valintatietojen muuttuessa</th>
            <td>
                <input type="checkbox" ng-model="model.parameter.sijoitteluSuorittaminenMuutoksissa" name="sijoitteluSuorittaminenMuutoksissa">
            </td>
            <td>
                <div>
                    <show-errors form="hakuForm" field="sijoitteluSuorittaminenMuutoksissa" tt-prefix="haku.edit.aikataulu"></show-errors>
                </div>
            </td>
        </tr>







    </table>





    <form class="form-horizontal" id='hakuForm'>

        <fieldset>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Koetulosten tallentaminen</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <p class="help-block">help</p>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Oppilaitosten virkailijoiden valintapalvelun käyttäminen estetty</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <p class="help-block">help</p>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Valintalaskennan suorittaminen</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <p class="help-block">help</p>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Sijoittelun suorittaminen</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <p class="help-block">help</p>
                </div>
            </div>

            <!-- Multiple Checkboxes (inline) -->
            <div class="control-group">
                <label class="control-label" for="checkboxes">Sijoittelun suorittaminen</label>
                <div class="controls">
                    <label class="checkbox inline" for="checkboxes-0">
                        <input type="checkbox" name="checkboxes" id="checkboxes-0" value="Aina valintatietojen muuttuessa">
                        Aina valintatietojen muuttuessa
                    </label>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Sijoittelun suorittamistiheys</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
                    <p class="help-block">Tiheys määritellään kokonaisina tunteina välillä 1 - 336 tuntia (14 vrk)</p>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Sijoittelun suorittamisen vuorokaudessa klo</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
                    <p class="help-block">Kellonaika, HH:mm formaatissa, esim: 23:45</p>
                </div>
            </div>

        </fieldset>





        <fieldset>

            <!-- Form Name -->
            <legend>Tulokset ja paikan vastaanotto</legend>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Jälkiohjauskirjeen aineiston lähettäminen iPostiin</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <p class="help-block">help</p>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Hakukierros päättyy</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <p class="help-block">help</p>
                </div>
            </div>

        </fieldset>



        <fieldset>

            <!-- Form Name -->
            <legend>Lisähaun tiedot</legend>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Hakukohteiden tallennus alkaa</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <p class="help-block">Hakuaika 1.1.1234 klo 12:34 - 1.1.4321 klo 12:34</p>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="textinput">Hakukierros päättyy</label>
                <div class="controls">
                    <input id="textinput" name="textinput" type="text" placeholder="pvm + kello" class="input-xlarge">
                    <p class="help-block">help</p>
                </div>
            </div>

        </fieldset>

    </form>

</div>
