<table class="tarjontaForm">

    <tr class="required">
        <th data-tt='haku.edit.hakutapa'>Hakutapa</th>
        <td>
            <div koodistocombo koodistouri="'hakutapa'" excludeuris="filteruris" locale="getLocale()" koodiuri="model.hakux.result.hakutapaUri" version="true" isrequired="true" name="hakutapa"></div>
        </td>
        <td>
            <div show-errors form="hakuForm" field="hakutapa" tt-prefix="haku.edit" field-check="model.showError"></div>
        </td>
    </tr>

    <tr class="required">
        <th data-tt='haku.edit.hakutyyppi'>Hakutyyppi</th>
        <td>
            <div koodistocombo koodistouri="'hakutyyppi'" locale="getLocale()" koodiuri="model.hakux.result.hakutyyppiUri" version="true" isrequired="true" name="hakuTyyppi"></div>
        </td>
        <td>
            <div show-errors form="hakuForm" field="hakuTyyppi" tt-prefix="haku.edit" field-check="model.showError"></div>
        </td>
    </tr>

    <tr class="required" ng-if="!isJatkuvaHaku()">
        <th data-tt='haku.edit.hakukausi'>Hakukausi ja vuosi</th>
        <td>
            <div koodistocombo koodistouri="'kausi'" locale="getLocale()" koodiuri="model.hakux.result.hakukausiUri" version="true" isrequired="true" name="hakuKausi"></div>
            <input type="number" placeholder="vuosi" ng-model="model.hakux.result.hakukausiVuosi" required name="hakuVuosi">
        </td>
        <td>
            <div>
                <div show-errors form="hakuForm" field="hakuKausi" tt-prefix="haku.edit" field-check="model.showError"></div>
                <div show-errors form="hakuForm" field="hakuVuosi" tt-prefix="haku.edit" field-check="model.showError"></div>
            </div>
        </td>
    </tr>

    <tr class="required" ng-if="!isJatkuvaHaku()">
        <th data-tt='haku.edit.koulutuksenAlkamiskausi'>Koulutuksen alkamiskausi</th>
        <td>
            <div koodistocombo koodistouri="'kausi'" locale="getLocale()" koodiuri="model.hakux.result.koulutuksenAlkamiskausiUri" version="true" isrequired="true" name="alkamisKausi"></div>
            <input type="number" placeholder="vuosi" ng-model="model.hakux.result.koulutuksenAlkamisVuosi" required name="alkamisVuosi">
        </td>
        <td>
            <div>
                <div show-errors form="hakuForm" field="alkamisVuosi" tt-prefix="haku.edit" field-check="model.showError"></div>
                <div show-errors form="hakuForm" field="alkamisKausi" tt-prefix="haku.edit" field-check="model.showError"></div>
            </div>
        </td>
    </tr>

    <tr class="required">
        <th data-tt='haku.edit.haunKohdejoukko'>Haun kohdejoukko</th>
        <td>
            <div koodistocombo koodistouri="'haunkohdejoukko'" locale="getLocale()" filteruris="model.kohdejoukkoFilterUris" koodiuri="model.hakux.result.kohdejoukkoUri" version="true" isrequired="true" name="haunKohdejoukko"></div>
        </td>
        <td>
            <div show-errors form="hakuForm" field="haunKohdejoukko" tt-prefix="haku.edit" field-check="model.showError"></div>
        </td>
    </tr>

    <tr class="required">
        <th data-tt='haku.edit.haunNimi'>Haun nimi</th>
        <td>
            <mk-textfield model="model.hakux.result.nimi" required="true" name="haunNimi"></mk-textfield>
        </td>
        <td>
            <div show-errors form="hakuForm" field="haunNimi" tt-prefix="haku.edit" field-check="false" custom-check="checkHaunNimiValidity()"></div>
        </td>
    </tr>
    <tr>
        <th></th>
        <td colspan="2" class="help" tt="haku.edit.haunNimi.help"></td>
    </tr>

    <tr class="required hakuajat">
        <th data-tt='haku.edit.hakuaika'>Hakuaika</th>
        <td>
            <table>
            <tr ng-repeat="hakuaika in model.hakux.result.hakuaikas" ng-form="hakuaikaForm">
                <td class="nimet ">
                    <mk-textfield model="hakuaika.nimet" required="true" name="haunNimet"></mk-textfield>
                </td>
                <td>
                    <t-date-time type="long" name="alkuPvm" timestamp="true" ng-model="hakuaika.alkuPvm" required max="hakuaika.loppuPvm" ></t-date-time>
                </td>
                <td>
                    <t-date-time type="long" name="loppuPvm" timestamp="true" ng-model="hakuaika.loppuPvm" ng-required="!isJatkuvaHaku()" min="hakuaika.alkuPvm"></t-date-time>
                </td>
                <td class="controls">
                    <button class="btn" ng-click="doRemoveHakuaika(hakuaika, $index)"><!-- <span tt="tarjonta.toiminnot.poista">Poista</span> --> <span class="icon-remove"></span></button>
                </td>
                <td>
                    <p class="error" ng-show="model.showError && hakuForm.$dirty && !isJatkuvaHaku() && hakuaika.loppuPvm==null && hakuaika.alkuPvm==null" tt="haku.edit.pvms.required">
                        Haun alkamis- ja päättymispäivät ovat pakollisia.
                    </p>
                    <p class="error" ng-show="model.showError && hakuForm.$dirty && !isJatkuvaHaku() && hakuaika.loppuPvm==null && hakuaika.alkuPvm!=null" tt="haku.edit.loppuPvm.required">
                        Haun päättymispäivä on pakollinen.
                    </p>
                    <p class="error" ng-show="model.showError && hakuForm.$dirty && hakuaika.alkuPvm==null && (isJatkuvaHaku() || hakuaika.loppuPvm!=null)" tt="haku.edit.alkuPvm.required">
                        Haun alkamispäivä on pakollinen.
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="controls">
                    <button class="btn btn-primary" ng-click="doAddNewHakuaika()"><!-- <span tt="haku.edit.lisää_hakuaika">Lisää uusi hakuaika</span> --> <span class="icon-plus"></span></button>
                </td>
                <td>&nbsp;</td>
            </tr>
            </table>
        </td>
        <!-- TODO check for errors here! -->
    </tr>
    <tr>
        <th></th>
        <td colspan="2" class="help" data-tt="haku.edit.hakuaika.help"></td>
    </tr>

    <!-- Sijoittelu -->
    
    <tr>
        <th data-tt='haku.edit.sijoittelu'>Sijoittelu</th>
        <td>
            <input type="checkbox" ng-model="model.hakux.result.sijoittelu" ng-change="checkPriorisointi()">
            <span data-tt="haku.edit.kaytetaanSijoittelua">Haussa käytetään sijoittelua</span>
        </td>
        <td>
        </td>
    </tr>

    <!-- Priorisointi -->
    
    <tr>
        <th data-tt='haku.edit.priorisointi'>Priorisointi</th>
        <td>
            <input type="checkbox" ng-model="model.hakux.result.usePriority"
                   ng-disabled="model.hakux.result.jarjestelmanHakulomake && model.hakux.result.sijoittelu">
            <span data-tt="haku.edit.kaytetaanPriorisointia">Haussa käytetään hakukohteiden priorisointia</span>
        </td>
        <td>
        </td>
    </tr>
    
    <!-- Hakulomake -->
    
    <tr class="required">
        <th data-tt='haku.edit.hakulomake'>Hakulomake</th>
        <td>
            <input type="radio" ng-model="model.haku.hakulomake" value="SYSTEM" ng-change="updatedHakulomakeSelection()">
            <span data-tt='haku.edit.hakulomake.jarjestelman'>
                Käytetään järjestelmän hakulomaketta.
                Hakutoiveiden enimmäismäärä hakulomakkeella:
            </span>
            <input type="number" 
                   ng-model="model.hakux.result.maxHakukohdes"
                   name="maxHakukohdes" 
                   ng-required="model.hakux.result.jarjestelmanHakulomake"
                   ng-disabled='model.haku.hakulomake != "SYSTEM"' 
                   min="0">
        </td>
        <td>
            <div show-errors form="hakuForm" field="maxHakukohdes" tt-prefix="haku.edit" field-check="model.showError"></div>
        </td>
    </tr>
    
    <tr>
        <th></th>
        <td>
            <input type="radio" ng-model="model.haku.hakulomake" value="OTHER" ng-change="updatedHakulomakeSelection()">
            <span data-tt='haku.edit.hakulomake.muu'>
                Käytetään muuta hakulomaketta. Anna hakulomakkeen www-osoite:
            </span>
            <input type="url" 
                   ng-model="model.hakux.result.hakulomakeUri"
                   placeholder="http://haku.lomake.uri.com" 
                   name="hakulomakeUrl" 
                   ng-disabled='model.haku.hakulomake != "OTHER"'
                   ng-required='model.haku.hakulomake == "OTHER"'>
        </td>
        <td>
            <div show-errors form="hakuForm" field="hakulomakeUrl" tt-prefix="haku.edit"
                 field-check="model.showError && !model.hakux.result.jarjestelmanHakulomake"></div>
        </td>
    </tr>
    <tr>
        <th></th>
        <td colspan="2" class="help"  data-tt='haku.edit.hakulomake.muu.help'>
            Opintopolussa tarjotaan "Hae koulutukseen"-linkki tässä annetulle sivulle
            hakupainikkeen asemesta. Linkki voi olla myös sivulle, jossa kerrotaan hakemisesta tarkemmin.</td>
    </tr>

    
    <tr>
        <th></th>
        <td>
            <input type="radio" ng-model="model.haku.hakulomake" value="NONE" ng-change="updatedHakulomakeSelection()">
            <span data-tt='haku.edit.hakulomake.none'>
                Ei sähköistä hakua. Lisätietoa hakemisesta tarjotaan hakukohteen tiedoissa.
            </span>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <th></th>
        <td colspan="2" class="help" data-tt='haku.edit.hakulomake.none.help'>
            Opintopolun hakutulos- tai muistilistalla ei tarjota painiketta tai linkkiä hakemiseen.
        </td>
    </tr>
    
    
    
    <!-- TO BE REMOVED -->
<!--    
    <tr>
        <th></th>
        <td>
            <input type="checkbox" ng-model="model.hakux.result.sijoittelu" ng-change="checkPriorisointi()">
            <span data-tt="haku.edit.kaytetaanSijoittelua">Haussa käytetään sijoittelua</span>
        </td>
        <td>
        </td>
    </tr>

    <tr class="required">
        <th data-tt='haku.edit.hakulomake'>Hakulomake</th>
        <td>
            <input type="checkbox" ng-model="model.hakux.result.jarjestelmanHakulomake" ng-change="checkPriorisointi()">
            <span data-tt="haku.edit.hakulomake.kaytaJarjestelmanOmaa">Käytetään järjestelmän omaa hakulomaketta</span>

            <p ng-show="!model.hakux.result.jarjestelmanHakulomake" class="animate-hide">
                <span data-tt="haku.edit.hakulomake.kaytaMuuta">Käytetään muuta hakulomaketta, mitä:</span>
                <input type="url" ng-model="model.hakux.result.hakulomakeUri"
                       placeholder="http://haku.lomake.uri.com" name="hakulomakeUrl">
            </p>
            <p ng-show="model.hakux.result.jarjestelmanHakulomake" class="animate-hide">
                <span data-tt="haku.edit.maxHakukohdes.label">Hakukohteiden enimmäismäärä:</span>
                <input type="number" ng-model="model.hakux.result.maxHakukohdes"
                       name="maxHakukohdes" ng-required="model.hakux.result.jarjestelmanHakulomake">
                <br/>
                <input type="checkbox" ng-model="model.hakux.result.usePriority"
                       ng-disabled="model.hakux.result.jarjestelmanHakulomake && model.hakux.result.sijoittelu">
                <span data-tt="haku.edit.kaytetaanPriorisointia">Haussa käytetään hakukohteiden priorisointia</span>
            </p>

        </td>
        <td>
            <div>
                <div show-errors form="hakuForm" field="hakulomakeUrl" tt-prefix="haku.edit"
                     field-check="model.showError && !model.hakux.result.jarjestelmanHakulomake"></div>
                <div show-errors form="hakuForm" field="maxHakukohdes" tt-prefix="haku.edit"  field-check="model.showError"></div>
            </div>
        </td>
    </tr>
-->
    <!-- / TO BE REMOVED -->

    <tr>
        <th data-tt='haku.edit.organisaatiot.tarjoaja'>Tarjoaja organisaatiot</th>
        <td colspan="2">
            <p data-tt="haku.edit.organisaatiot.tarjoaja.help">
                Valituilla organisaatioilla on oikeus muokata tätä hakua.
            </p>

            <ul>
                <li ng-repeat="org in model.selectedTarjoajaOrganisations">{{ org.nimi }}</li>
            </ul>

            <button class="btn" ng-click="doSelectTarjoajaOrganisations()">
                 <span data-tt="haku.edit.valitse.organisaatio">Muokkaa valittuja organisaatioita</span> <span class="icon-plus"></span>
            </button>
        </td>
    </tr>
    
    <tr>
        <th data-tt='haku.edit.organisaatiot.hakukohteet'>Hakuja liittävät organisaatiot</th>
        <td colspan="2">
            <p data-tt="haku.edit.organisaatiot.hakukohteet.help">
                Valituilla organisaatioilla (ja aliorganisaatioilla) on oikeus liittää siihen hakukohteita.
            </p>

            <ul>
                <li ng-repeat="org in model.selectedOrganisations">{{ org.nimi }}</li>
            </ul>

            <button class="btn" ng-click="doSelectOrganisations()">
                 <span data-tt="haku.edit.valitse.organisaatio">Muokkaa valittuja organisaatioita</span> <span class="icon-plus"></span>
            </button>
        </td>
    </tr>

</table>
