<table class="tarjontaForm">

    <tr class="required">
        <th data-tt='haku.edit.hakutapa'>Hakutapa</th>
        <td>
            <div koodistocombo koodistouri="'hakutapa'" excludeuris="filteruris" locale="getLocale()" koodiuri="model.hakux.result.hakutapaUri" version="true" isrequired="true" name="hakutapa"></div>
        </td>
        <td>
            <div show-errors form="hakuForm" field="hakutapa" tt-prefix="haku.edit" field-check="model.showError"></div>
        </td>
    </tr>

    <tr class="required">
        <th data-tt='haku.edit.hakutyyppi'>Hakutyyppi</th>
        <td>
            <div koodistocombo
                 koodistouri="'hakutyyppi'"
                 locale="getLocale()"
                 koodiuri="model.hakux.result.hakutyyppiUri"
                 version="true"
                 isrequired="true"
                 name="hakuTyyppi"
                 onchangecallback="haunTyyppiChanged"></div>
        </td>
        <td>
            <div show-errors form="hakuForm" field="hakuTyyppi" tt-prefix="haku.edit" field-check="model.showError"></div>
        </td>
    </tr>

    <tr class="required" ng-if="!isJatkuvaHaku()">
        <th data-tt='haku.edit.hakukausi'>Hakukausi ja vuosi</th>
        <td>
            <div koodistocombo koodistouri="'kausi'" locale="getLocale()" koodiuri="model.hakux.result.hakukausiUri" version="true" isrequired="true" name="hakuKausi"></div>
            <input type="number" placeholder="vuosi" ng-model="model.hakux.result.hakukausiVuosi" required name="hakuVuosi">
        </td>
        <td>
            <div>
                <div show-errors form="hakuForm" field="hakuKausi" tt-prefix="haku.edit" field-check="model.showError"></div>
                <div show-errors form="hakuForm" field="hakuVuosi" tt-prefix="haku.edit" field-check="model.showError"></div>
            </div>
        </td>
    </tr>

    <tr class="required" ng-if="!isJatkuvaHaku()">
        <th data-tt='haku.edit.koulutuksenAlkamiskausi'>Koulutuksen alkamiskausi</th>
        <td>
            <div koodistocombo koodistouri="'kausi'" locale="getLocale()" koodiuri="model.hakux.result.koulutuksenAlkamiskausiUri" version="true" isrequired="true" name="alkamisKausi"></div>
            <input type="number" placeholder="vuosi" ng-model="model.hakux.result.koulutuksenAlkamisVuosi" required name="alkamisVuosi">
        </td>
        <td>
            <div>
                <div show-errors form="hakuForm" field="alkamisVuosi" tt-prefix="haku.edit" field-check="model.showError"></div>
                <div show-errors form="hakuForm" field="alkamisKausi" tt-prefix="haku.edit" field-check="model.showError"></div>
            </div>
        </td>
    </tr>

    <tr class="required">
        <th data-tt='haku.edit.haunKohdejoukko'>Haun kohdejoukko</th>
        <td>
            <div koodistocombo
                 koodistouri="'haunkohdejoukko'"
                 locale="getLocale()"
                 filteruris="model.kohdejoukkoFilterUris"
                 koodiuri="model.hakux.result.kohdejoukkoUri"
                 version="true"
                 isrequired="true"
                 name="haunKohdejoukko"
                 onchangecallback="haunKohdejoukkoChanged"></div>
        </td>
        <td>
            <div show-errors form="hakuForm" field="haunKohdejoukko" tt-prefix="haku.edit" field-check="model.showError"></div>
        </td>
    </tr>

    <tr class="required" ng-if="showKoulutusmoduuliTyyppi">
        <th data-tt="haku.edit.koulutuksenTyyppi">Koulutuksen tyyppi</th>
        <td>
            <select name="koulutuksenTyyppi" class="wide" ng-model="model.hakux.result.koulutusmoduuliTyyppi"
                    ng-options="koulutuksenTyyppi.key as koulutuksenTyyppi.label for koulutuksenTyyppi in
                    koulutuksienTyypit | orderBy: 'nimi'" ng-required="showKoulutusmoduuliTyyppi" />
        </td>
    </tr>

    <tr class="required" ng-show="shouldSelectParentHaku()">
        <th data-tt='haku.edit.kuuluuHakuun'>Kuuluu hakuun</th>
        <td>
            <select name="hakuselect" class="wide" ng-model="model.hakux.result.parentHakuOid"
                    ng-options="haku.oid as haku.nimi for haku in model.parentHakuCandidates | orderBy: 'nimi'" />
        </td>
    </tr>

    <tr class="required">
        <th data-tt='haku.edit.haunNimi'>Haun nimi</th>
        <td>
            <mk-textfield model="model.hakux.result.nimi" required="true" name="haunNimi"></mk-textfield>
        </td>
        <td>
            <div show-errors form="hakuForm" field="haunNimi" tt-prefix="haku.edit" field-check="false" custom-check="checkHaunNimiValidity()"></div>
        </td>
    </tr>
    <tr>
        <th></th>
        <td colspan="2" class="help" tt="haku.edit.haunNimi.help"></td>
    </tr>

    <tr class="required hakuajat">
        <th data-tt='haku.edit.hakuaika'>Hakuaika</th>
        <td>
            <table>
            <tr ng-repeat="hakuaika in model.hakux.result.hakuaikas" ng-form="hakuaikaForm">
                <td class="nimet ">
                    <mk-textfield model="hakuaika.nimet" required="true" name="haunNimet"></mk-textfield>
                </td>
                <td>
                    <t-date-time type="long" name="alkuPvm" timestamp="true" scope-model="hakuaika.alkuPvm"
                                 tt-bounds="haku.edit.alkuPvm.error"
                                 required max="hakuaika.loppuPvm" ></t-date-time>
                </td>
                <td>
                    <t-date-time type="long" name="loppuPvm" timestamp="true" scope-model="hakuaika.loppuPvm"
                                 tt-bounds="haku.edit.loppuPvm.error"
                                 ng-required="!isJatkuvaHaku()" min="hakuaika.alkuPvm"></t-date-time>
                </td>
                <td class="controls">
                    <button class="btn" ng-click="doRemoveHakuaika(hakuaika, $index)"><!-- <span tt="tarjonta.toiminnot.poista">Poista</span> --> <span class="icon-remove"></span></button>
                </td>
                <td>
                    <p class="error" ng-show="model.showError && hakuForm.$dirty && !isJatkuvaHaku() && hakuaika.loppuPvm==null && hakuaika.alkuPvm==null" tt="haku.edit.pvms.required">
                        Haun alkamis- ja päättymispäivät ovat pakollisia.
                    </p>
                    <p class="error" ng-show="model.showError && hakuForm.$dirty && !isJatkuvaHaku() && hakuaika.loppuPvm==null && hakuaika.alkuPvm!=null" tt="haku.edit.loppuPvm.required">
                        Haun päättymispäivä on pakollinen.
                    </p>
                    <p class="error" ng-show="model.showError && hakuForm.$dirty && hakuaika.alkuPvm==null && (isJatkuvaHaku() || hakuaika.loppuPvm!=null)" tt="haku.edit.alkuPvm.required">
                        Haun alkamispäivä on pakollinen.
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="controls">
                    <button class="btn btn-primary" ng-click="doAddNewHakuaika()"><!-- <span tt="haku.edit.lisää_hakuaika">Lisää uusi hakuaika</span> --> <span class="icon-plus"></span></button>
                </td>
                <td>&nbsp;</td>
            </tr>
            </table>
        </td>
        <!-- TODO check for errors here! -->
    </tr>
    <tr>
        <th></th>
        <td colspan="2" class="help" data-tt="haku.edit.hakuaika.help"></td>
    </tr>

    <!-- Jos korkeakoulutus -->
    <tr ng-if="model.hakux.result.kohdejoukkoUri.indexOf('haunkohdejoukko_12#') !== -1">
        <th data-tt="haku.edit.ylioppilastutkinnonHakukelpoisuus">Ylioppilastutkinnon hakukelpoisuus</th>
        <td>
            <input type="checkbox" ng-model="model.hakux.result.ylioppilastutkintoAntaaHakukelpoisuuden" id="yoAntaaHakukelpoisuuden">
            <label tt="haku.edit.ylioppilastutkintoAntaaHakukelpoisuudenAutomaattisesti"
                   for="yoAntaaHakukelpoisuuden">Ylioppilastutkinto antaa hakukelpoisuuden automaattisesti
            </label>
        </td>
        <td>
        </td>
    </tr>

    <!-- Sijoittelu -->

    <tr>
        <th data-tt='haku.edit.sijoittelu'>Sijoittelu</th>
        <td>
            <input id="sijoittelu" type="checkbox" ng-model="model.hakux.result.sijoittelu" ng-change="checkPriorisointi()">
            <label for="sijoittelu" data-tt="haku.edit.kaytetaanSijoittelua">Haussa käytetään sijoittelua</label>
        </td>
        <td>
        </td>
    </tr>

    <!-- Priorisointi -->

    <tr>
        <th data-tt='haku.edit.priorisointi'>Priorisointi</th>
        <td>
            <input type="checkbox" ng-model="model.hakux.result.usePriority" id="priorisointi"
                   ng-disabled="model.hakux.result.jarjestelmanHakulomake && model.hakux.result.sijoittelu">
            <label for="priorisointi" data-tt="haku.edit.kaytetaanPriorisointia">Haussa käytetään hakukohteiden priorisointia</label>
        </td>
        <td>
        </td>
    </tr>

    <!-- Hakulomake -->

    <tr class="required">
        <th data-tt='haku.edit.hakulomake'>Hakulomake</th>
        <td>
            <input id="kaytetaanJarjestelmanHakulomaketta" type="radio" ng-model="model.haku.hakulomake" value="SYSTEM" ng-change="updatedHakulomakeSelection()">
            <label for="kaytetaanJarjestelmanHakulomaketta" data-tt='haku.edit.hakulomake.jarjestelman'>
                Käytetään järjestelmän hakulomaketta.
                Hakutoiveiden enimmäismäärä hakulomakkeella:
            </label>
            <input type="number"
                   ng-model="model.hakux.result.maxHakukohdes"
                   name="maxHakukohdes"
                   ng-required="model.hakux.result.jarjestelmanHakulomake"
                   ng-disabled='model.haku.hakulomake != "SYSTEM"'
                   min="0">
        </td>
        <td>
            <div show-errors form="hakuForm" field="maxHakukohdes" tt-prefix="haku.edit" field-check="model.showError"></div>
        </td>
    </tr>

    <tr>
        <th></th>
        <td>
            <input id="kaytetaanMuutaHakulomaketta" type="radio" ng-model="model.haku.hakulomake" value="OTHER" ng-change="updatedHakulomakeSelection()">
            <label for="kaytetaanMuutaHakulomaketta" data-tt='haku.edit.hakulomake.muu'>
                Käytetään muuta hakulomaketta. Anna hakulomakkeen www-osoite:
            </label>
            <input type="url"
                   ng-model="model.hakux.result.hakulomakeUri"
                   placeholder="http://haku.lomake.uri.com"
                   name="hakulomakeUrl"
                   ng-disabled='model.haku.hakulomake != "OTHER"'
                   ng-required='model.haku.hakulomake == "OTHER"'>
        </td>
        <td>
            <div show-errors form="hakuForm" field="hakulomakeUrl" tt-prefix="haku.edit"
                 field-check="model.showError && !model.hakux.result.jarjestelmanHakulomake"></div>
        </td>
    </tr>
    <tr>
        <th></th>
        <td colspan="2" class="help"  data-tt='haku.edit.hakulomake.muu.help'>
            Opintopolussa tarjotaan "Hae koulutukseen"-linkki tässä annetulle sivulle
            hakupainikkeen asemesta. Linkki voi olla myös sivulle, jossa kerrotaan hakemisesta tarkemmin.</td>
    </tr>


    <tr>
        <th></th>
        <td>
            <input id="eiSahkoistaHakua" type="radio" ng-model="model.haku.hakulomake" value="NONE" ng-change="updatedHakulomakeSelection()">
            <label for="eiSahkoistaHakua" data-tt='haku.edit.hakulomake.none'>
                Ei sähköistä hakua. Lisätietoa hakemisesta tarjotaan hakukohteen tiedoissa.
            </label>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <th></th>
        <td colspan="2" class="help" data-tt='haku.edit.hakulomake.none.help'>
            Opintopolun hakutulos- tai muistilistalla ei tarjota painiketta tai linkkiä hakemiseen.
        </td>
    </tr>

    <tr>
        <th data-tt='haku.edit.organisaatiot.tarjoaja'>Tarjoaja organisaatiot</th>
        <td colspan="2">
            <p data-tt="haku.edit.organisaatiot.tarjoaja.help">
                Valituilla organisaatioilla on oikeus muokata tätä hakua.
            </p>

            <ul>
                <li ng-repeat="org in model.selectedTarjoajaOrganisations">{{ org.nimi }}</li>
            </ul>

            <button class="btn" ng-click="doSelectTarjoajaOrganisations()">
                 <span data-tt="haku.edit.valitse.organisaatio">Muokkaa valittuja organisaatioita</span> <span class="icon-plus"></span>
            </button>
        </td>
    </tr>

    <tr>
        <th data-tt='haku.edit.organisaatiot.hakukohteet'>Hakuja liittävät organisaatiot</th>
        <td colspan="2">
            <p data-tt="haku.edit.organisaatiot.hakukohteet.help">
                Valituilla organisaatioilla (ja aliorganisaatioilla) on oikeus liittää siihen hakukohteita.
            </p>

            <ul>
                <li ng-repeat="org in model.selectedOrganisations">{{ org.nimi }}</li>
            </ul>

            <button class="btn" ng-click="doSelectOrganisations()">
                 <span data-tt="haku.edit.valitse.organisaatio">Muokkaa valittuja organisaatioita</span> <span class="icon-plus"></span>
            </button>
        </td>
    </tr>

</table>
