<div class="control-group tarjontaDateTime" ng-class="{timestamp: timestamp, error: error}">

    <input class="date" type="text" maxlength="10"
        placeholder="{{prompts.date}}"
        ng-enter="openChooser()"
        ng-pattern="/0*\d?\d\.0*\d?\d(\.0*\d?\d?\d?\d)?/"
        ng-model="date"
        ng-required="isRequired()"
        ng-disabled="isDisabled()"
        ng-change="onModelChanged()"
        ng-blur="onFocusOut()"/>
    <input class="time" type="text" maxlength="5"
        placeholder="{{prompts.time}}"
        ng-enter="openChooser()"
        ng-pattern="/0*\d?\d(:0*\d?\d)?/"
        ng-model="time"
        ng-show="timestamp"
        ng-required="timestamp && isRequired()"
        ng-disabled="isDisabled()"
        ng-change="onModelChanged()"
        ng-blur="onFocusOut()"/>
    <button class="btn"
        ng-disabled="isDisabled()"
        ng-click="openChooser()">
        <span class="icon-calendar"></span>
    </button>

</div>