<div ng-cloak ng-switch="display" class="multiselect" ng-disabled="disabled()">
	
	<!-- dualpane -->
	<div class="dualpane" ng-switch-when="dualpane">	
		<select  bindonce multiple="multiple"
				ng-model="preselection"
				ng-options="e.key as e.value for e in items"
                ng-dblclick="onPreselection(preselection)"
                ng-enter="onPreselection(preselection)"
				ng-disabled="_isDisabled()">
	    </select>
	    <ul class="selection">
	    	<li ng-repeat="k in selection">
	 			<a href ng-click="toggle(k)">[x]</a> {{names[k]}}
	    	</li>    
	    </ul>
	</div>
	
	<!-- combobox -->
	<div class="combobox" ng-switch-when="combobox">
	    <div>
	        <input type="text"
	                class="typeahead"
	                ng-disabled="_isDisabled()"
	                ng-model="combo.selection"
	                typeahead="value for value in titles | startsWith:$viewValue | limitTo:10"
	                typeahead-on-select="onComboSelect()"
	                typeahead-editable="false"
	                typeahead-wait-ms="50"/>
	        
	        <a href ng-click="onShowAll()">{{txtShowAll}}</a>
	    </div>
        
        <ul class="selection">
           <li ng-repeat="k in selection">
               <a href ng-click="toggle(k)">[x]</a> {{names[k]}}
           </li>    
       </ul>
	</div>
        
        <div class="combobox" ng-switch-when="tokenfield">
	    <select
                ng-model="combo.selection"
                ng-options="e.key as e.value for e in items"
                ng-change="toggle(combo.selection)"
                ng-enter="onPreselection(preselection)"
        		ng-disabled="_isDisabled()">
	    </select>

           <span ng-repeat="k in selection">
               <a href ng-click="toggle(k)">[x]</a> {{names[k]}}
           </span>
	</div>

	<!-- checklist -->
	<table class="checklist" ng-switch-default>
		<tr bindonce ng-repeat="r in rows">
			<td bindonce ng-repeat="e in r">
                <label>
                    <input type="checkbox" ng-model="e.selected" ng-change="toggle(e.key)" ng-disabled="_isDisabled()"/>
                    <span bo-text="e.value"/>
                </label>
			</td>
		</tr>
	</table>
</div>
