<div class="tarjontaOsoiteField">

	<input type="text" class="osoite"
	   ng-disabled="isDisabled()"
	   ng-required="isRequired()"
	   placeholder="{{tt.osoite}}"
	   data-ng-model="model.osoiterivi1"
	   ng-change="onChange()"
	   />
	<br/>

	<input type="text" class="postinumero"
	   placeholder="{{tt.postinumero}}"
       ng-model="model.postinumeroUi"
       ng-disabled="isDisabled()"
       ng-required="isRequired()"
       typeahead-on-select="updatePostinumero(model)"
	   typeahead="koodi.koodiArvo for koodi in postinumerot | filter:{koodiArvo:$viewValue} | limitTo:8 |  orderBy:'koodiArvo'"
       ng-change="onChange()"
	   />

    <input type="text" class="postitoimipaikka" disabled
       placeholder="{{tt.postitoimipaikka}}"
       ng-model="model.postitoimipaikka"
       />

</div>