<div class="tarjontaOsoiteField">

	<input type="text" class="osoite"
	   ng-disabled="isDisabled()"
	   ng-required="isRequired()"
	   placeholder="{{tt.osoite}}"
	   data-ng-model="model.osoiterivi1"
	   ng-change="onChange()"
	   />
	<br/>

	<input type="text" class="postinumero"
	   placeholder="{{tt.postinumero}}"
       ng-model="postinumeroArvo"
       ng-disabled="isDisabled()"
       ng-required="isRequired()"
	   typeahead-editable="false"
	   typeahead-on-select="updatePostinumero()"
	   typeahead="koodi.koodiArvo for koodi in postinumerot | filter:{koodiArvo:$viewValue} | limitTo:8 |  orderBy:'koodiArvo'"
       ng-change="onChange()"
	   />

    <input type="text" class="postitoimipaikka" disabled
       placeholder="{{tt.postitoimipaikka}}"
       ng-model="model.postitoimipaikka"
       />

<!-- 
	<input type="text" class="postitoimipaikka"
	   placeholder="{{tt.postitoimipaikka}}"
	   ng-model="model.postitoimipaikka"
       ng-disabled="isDisabled()"
       ng-required="isRequired()"
       typeahead-editable="false"
       typeahead-on-select="updatePostitoimipaikka()"
       typeahead="koodi.koodiVihje for koodi in postinumerot | filter:{koodiVihje:$viewValue} | limitTo:8 |  orderBy:'koodiVihje'"
	   />

    <pre>{{ model | json }}</pre>
 -->

</div>