<div id="editNayttoHakukohde" ng-controller="HakukohdeAikuNayttoEditController">

    <controls-model
            model="formControls"
            tt-create="hakukohde.create.header.title"
            tt-edit="hakukohde.edit.header.title"
            title="model.hakukohde.tekstis"
            dto="model.hakukohde">

        <controls-button tt-key="koulutus.edit.takaisin" action="model.takaisin()"></controls-button>
        <controls-button tt-key="koulutus.edit.tallenna.luonnos" action="saveAikuLukioAsLuonnos()" primary="true" disabled="!model.canSaveAsLuonnos()"></controls-button>
        <controls-button tt-key="koulutus.edit.tallenna.valmis" action="saveAikuLukioAsValmis()" primary="true"></controls-button>
        <controls-button icon="arrow-right" tt-key="koulutus.edit.tallenna.jatka" action="model.tarkastele()" disabled="model.hakukohdeTabsDisabled"></controls-button>

        <!-- TODO on koulutuksessa, pitäiskö olla hakukohteessakin?
        <controls-button tt-key="koulutus.edit.tallenna.jatka" action="goToReview($event)" disabled="koulutusForm.$invalid"></controls-button>
         -->
        <!-- TODO uutta luotaessa vaihtoehtoinen teksti "olet luomassa... " tjsp. -->
        <controls-notify type="message" tt-expr="getKoulutustenNimetKey()" tt-params="[ getKoulutustenNimet() ]"></controls-notify>

        <controls-notify type="success" tt-expr="'tarjonta.tallennus.ok'" show="model.showSuccess"></controls-notify>
        <controls-notify type="error" tt-expr="'tarjonta.tallennus.virhe'" show="model.showError"></controls-notify>

        <controls-notify ng-repeat="e in model.validationmsgs" type="error-detail" tt-expr="e" show="model.showError"></controls-notify>

    </controls-model>

    <display-controls model="formControls" display="header"></display-controls>

    <tabset>
        <tab heading="{{t('kk.hakukohde.perustiedot')}}">
            <form name="editHakukohdeForm" novalidate>

                <export-to-parent name="editHakukohdeForm" condition="isHakukohdeRootScope"></export-to-parent>

                <table class="tarjontaForm">
                    <h2>{{msg}}</h2>
                    <!-- hakukohteen nimi -->
                    <tr class="required">
                        <th tt="kk.hakukohde.hakukohdenimi">Nimi</th>
                        <td>
                            <div koodistocombo koodistouri="'hakukohteetaiku'"  koodiuri="model.hakukohde.hakukohteenNimiUri"  parentkoodiuri="osaamisalat" isdependent="true" locale="'fi'"  version="true" isrequired="true" name="hakutapa"></div>
                        </td>
                        <td>
                            <!--<p class="error" ng-show="model.showError && model.nimiValidationFailed" tt="hakukohde.edit.nimi.missing">Hakukohteen nimi on viallinen</p>-->
                        </td>
                    </tr>

                    <tr>
                        <th tt="kk.hakukohde.ulkoinen.tunniste">Ulkoinen tunniste</th>
                        <td>
                            <input name="aloituspaikatlkm" maxlength="35"  class="thin" data-ng-model="model.hakukohde.ulkoinenTunniste"/>

                        </td>
                    </tr>

                    <!-- haku -->
                    <tr class="required">
                        <th tt="kk.hakukohde.haut">Haut</th>
                        <td>
                            <select name="hakuselect" class="wide" required ng-model="model.hakukohde.hakuOid" data-ng-change="model.checkSelectedHaku(haku)" data-ng-options="haku.oid as haku.lokalisoituNimi for haku in model.hakus"/>
                        </td>
                        <td>
                            <p class="error" ng-show="model.showError && editHakukohdeForm.hakuselect.$invalid" tt="hakukohde.edit.haku.missing">Haku on pakollinen tieto</p>
                        </td>
                    </tr>

                    <tr class="required" data-ng-show="model.showHakuaikas">
                        <th tt="kk.hakukohde.hakuaikas">Hakuajat</th>
                        <td>
                            <select class="wide" name="hakuaikaSelect" data-ng-required="model.showHakuaikas" ng-model="model.hakukohde.hakuaikaId"data-ng-options="hakuaika.hakuaikaId as hakuaika.formattedNimi for hakuaika in model.hakuaikas"/>
                        </td>
                        <td>
                            <p class="error" ng-show="model.showError && editHakukohdeForm.hakuaikaSelect.$invalid" tt="hakukohde.edit.haku.aika.missing">Hakuaika puuttuu</p>
                        </td>
                    </tr>


                    <!-- aloituspaikat -->
                    <tr data-ng-show="ui.showPlaces">
                        <th tt="kk.hakukohde.hakijoilleilmoitettavataloituspaikat">Hakijoille ilmoitettavat aloituspaikat</th>
                        <td>
                            <input name="aloituspaikatlkm" class="thin" type="number" ng-pattern="model.integerval" min="1" max="999" data-ng-model="model.hakukohde.aloituspaikatLkm" />
                        </td>
                        <td>
                            <p class="error" ng-show="model.showError && editHakukohdeForm.aloituspaikatlkm.$invalid" tt="tarjonta.hakukohde.aloituspaikatlkm.validation.failed">Tarkista aloituspaikat</p>
                        </td>
                    </tr>








                </table>

                <h4 tt="kk.hakukohde.lisatietoja.hakemisesta">Lisätietoja hakemisesta</h4>

                <mk-rich-textarea model="model.hakukohde.lisatiedot" max="1500"></mk-rich-textarea>

                <h4 tt="kk.hakukohde.valintaperusteKuvaukset">Valintaperustekuvaus</h4>
                <mk-rich-textarea model="model.hakukohde.valintaperusteKuvaukset" max="1500"></mk-rich-textarea>

                <!-- Tähän sora hakukohteen nimen takaa  ? Ei editoitava -->

            </form>
        </tab>
        <tab ng-disabled="model.hakukohdeTabsDisabled" disabled="model.hakukohdeTabsDisabled"  heading="{{t('kk.hakukohde.valintakokeet')}}">
            <div data-ng-include="'partials/hakukohde/edit/valintakokeetList.html'" data-ng-controller="ValintakokeetController"></div>
        </tab>
        <!-- <tab  heading="{{t('kk.hakukohde.valintakokeet')}}">
             <div data-ng-include="'partials/hakukohde/edit/valintakokeetList.html'" data-ng-controller="ValintakokeetController"></div>
         </tab>-->
        <tab ng-disabled="model.hakukohdeTabsDisabled" disabled="model.hakukohdeTabsDisabled" heading="{{t('kk.hakukohde.liitteet')}}">
            <div data-ng-include="'partials/hakukohde/edit/liitteetList.html'" data-ng-controller="LiitteetListController"></div>
        </tab>


    </tabset>

    <display-controls model="formControls" display="footer"></display-controls>

    </div>