<div>

    <table class="tarjontaForm">
        <tr><th></th><td></td><td></td></tr>

        <tr class="collapse" ng-class="model.collapse.haunTiedot ? '' : 'open'">
            <th colspan="2" tt="haku.review.haunTiedot.otsikko" ng-click="model.collapse.haunTiedot = !model.collapse.haunTiedot">Haun tiedot</th>
            <td><a class="btn" ng-disabled="!isMutable" href data-ng-click="doEdit($event, 'haunTiedot')"><span tt="haku.review.muokkaa">Muokkaa</span> <span class="icon-edit"></span></a></td>
        </tr>

        <tbody ng-show="!model.collapse.haunTiedot">

            <tr>
                <th tt="haku.review.haunTiedot.hakutyyppi">Hakutyyppi</th>
                <td colspan="2">
                    <div koodi uri="model.hakux.result.hakutyyppiUri">resolved</div>
                </td>
            </tr>

            <tr ng-if="!isJatkuvaHaku()">
                <th tt="haku.review.haunTiedot.hakukausi">Hakukausi ja vuosi</th>
                <td colspan="2">
                    <div data-koodi data-uri="model.hakux.result.hakukausiUri">resolved</div>
                    {{ model.hakux.result.hakukausiVuosi }}
                </td>
            </tr>

            <tr ng-if="!isJatkuvaHaku()">
                <th tt="haku.review.haunTiedot.alkamiskausi">Koulutuksen alkamiskausi</th>
                <td colspan="2">
                    <div data-koodi data-uri="model.hakux.result.koulutuksenAlkamiskausiUri">resolved</div>
                    {{ model.hakux.result.koulutuksenAlkamisVuosi }}
                </td>
            </tr>

            <tr>
                <th tt="haku.review.haunTiedot.kohdejoukko">Haun kohdejoukko</th>
                <td colspan="2">
                    <div data-koodi data-uri="model.hakux.result.kohdejoukkoUri">resolved</div>
                </td>
            </tr>

            <tr ng-if="model.hakux.result.kohdejoukkoUri.indexOf('haunkohdejoukko_12#') !== -1">
                <th tt="haku.review.haunTiedot.kohdejoukonTarkenne">Haun kohdejoukon tarkenne</th>
                <td colspan="2">
                    <div data-koodi data-uri="model.hakux.result.kohdejoukonTarkenne"></div>
                </td>
            </tr>

            <tr>
                <th tt="haku.review.haunTiedot.hakutapa">Hakutapa</th>
                <td colspan="2">
                    <div data-koodi data-uri="model.hakux.result.hakutapaUri">resolved</div>
                </td>
            </tr>

            <tr>
                <th tt="haku.review.haunTiedot.haunTunniste">Haun tunniste</th>
                <td colspan="2">
                    {{ model.hakux.result.oid}}
                </td>
            </tr>

            <tr ng-if="model.hakux.result.koulutusmoduuliTyyppi">
                <th tt="haku.review.koulutuksenTyyppi">Koulutuksen tyyppi</th>
                <td colspan="2">
                    {{ t('haku.review.koulutuksenTyyppi.' + model.hakux.result.koulutusmoduuliTyyppi.toLowerCase()) }}
                </td>
            </tr>

            <tr ng-if="model.hakux.result.parentHakuOid">
                <th tt="haku.review.haunTiedot.kuuluuHakuun">Kuuluu hakuun</th>
                <td colspan="2">
                    <a target="_blank" href="/tarjonta-app/#/haku/{{ model.hakux.result.parentHakuOid }}">{{ model.hakux.result.parentHakuOid}}</a>
                </td>
            </tr>

            <tr ng-if="model.hakux.result.sisaltyvatHaut.length > 0">
                <th tt="haku.review.haunTiedot.sisaltyvatHaut">Sisältyvät haut</th>
                <td colspan="2">
                    <p ng-repeat="sisaltyvaHaku in model.hakux.result.sisaltyvatHaut">
                        <a target="_blank" href="/tarjonta-app/#/haku/{{ sisaltyvaHaku }}">{{ sisaltyvaHaku }}</a>
                    </p>
                </td>
            </tr>

            <tr>
                <th tt="haku.review.haunTiedot.hakuaika">Hakuaika</th>
                <td colspan="2">
                    <table>
                    <tr ng-repeat="hakuaika in model.hakux.result.hakuaikas | orderBy:['alkuPvm','loppuPvm','nimi']">
                        <td>{{ hakuaika.nimi || t("haku.review.noname") }} </td>
                        <td><span t-show-date value="hakuaika.alkuPvm" timestamp></span></td>
                        <td> &rarr; </td>
                        <td><span t-show-date value="hakuaika.loppuPvm" timestamp></span></td>
                    </tr>
                    </table>
                </td>
            </tr>

            <tr ng-if="model.hakux.result.kohdejoukkoUri.indexOf('haunkohdejoukko_12#') !== -1">
                <th tt="haku.review.ylioppilastutkintoAntaaHakukelpoisuudenAutomaattisesti">
                    Ylioppilastutkinto antaa hakukelpoisuuden automaattisesti
                </th>
                <td colspan="2">
                    {{ model.hakux.result.ylioppilastutkintoAntaaHakukelpoisuuden ? t("yes") : t("no") }}
                </td>
            </tr>

            <tr>
                <th tt="haku.review.haunTiedot.sijoittelu">Haussa käytetään sijoittelua</th>
                <td colspan="2">
                    {{ model.hakux.result.sijoittelu ? t("yes") : t("no") }}
                </td>
            </tr>

            <!-- Tarjonnan automaattinen synkronointi -->
            <tr>
                <th tt="haku.review.haunTiedot.tarjonnanSynkronointi">Haussa käytetään tarjonnan automaattista synkronointia</th>
                <td colspan="2">
                    {{ model.hakux.result.autosyncTarjonta ? t("yes") : t("no") }}
                    <span ng-show="model.hakux.result.autosyncTarjonta && (model.hakux.result.autosyncTarjontaFrom || model.hakux.result.autosyncTarjontaTo)">
                        <span t-show-date value="model.hakux.result.autosyncTarjontaFrom" timestamp></span>
                        <span> &rarr; </span>
                        <span t-show-date value="model.hakux.result.autosyncTarjontaTo" timestamp></span>
                    </span>
                </td>
            </tr>

            <tr>
                <th tt="haku.review.haunTiedot.hakulomake">Hakulomake</th>
                <td colspan="2">
                    <div ng-show="model.hakux.result.jarjestelmanHakulomake && !(isKorkeakouluhaku() && isErillishaku())">
                        <span tt="haku.review.haunTiedot.hakulomake.jarkestelma">Käytetään järjestelmän omaa hakulomaketta.</span>
                        <br/>
                        <span tt="haku.review.haunTiedot.hakulomake.maxHakukohdes">Hakukohteiden maksimimäärä: </span>
                        {{ model.hakux.result.maxHakukohdes }}
                        <br/>
                        <span tt="haku.review.haunTiedot.hakulomake.priorisointi">Haussa käytetään priorisointia: </span>
                        {{ model.hakux.result.usePriority ? t("yes") : t("no") }}
                    </div>
                    <div ng-show="model.hakux.result.jarjestelmanHakulomake && isKorkeakouluhaku() && isErillishaku()">
                        <span tt="haku.review.haunTiedot.hakulomake.jarkestelma">Käytetään järjestelmän omaa hakulomaketta.</span>
                        <br/>
                        <span tt="haku.review.haunTiedot.hakulomake.maxHakukohdes">Hakukohteiden maksimimäärä: </span>
                        {{ model.hakux.result.maxHakukohdes }}
                        <br/>
                        <span tt="haku.review.haunTiedot.hakulomake.PH_KVT">Kysytään tietoa vanhoista tutkinnoista: </span>
                        {{ isKoulutuksetChecked() ? t("yes") : t("no") }}
                        <br/>
                        <span tt="haku.review.haunTiedot.hakulomake.priorisointi">Haussa käytetään priorisointia: </span>
                        {{ model.hakux.result.usePriority ? t("yes") : t("no") }}
                    </div>
                    <div ng-if="model.hakux.result.ataruLomakeAvain && isAtaruRole()">
                        <span tt="haku.review.haunTiedot.hakulomake.ataru.oikeuksilla">Käytetään Lomake-editorin lomaketta:</span>
                        <span>{{ model.ataruFormName }}</span>
                        <p class="error" ng-if="model.ataruFormError" tt="haku.ataru.virhe">Tapahtui virhe. Tarkista valittu lomake.</p>
                        <br/>
                        <span tt="haku.review.haunTiedot.hakulomake.maxHakukohdes">Hakukohteiden maksimimäärä: </span>
                        {{ model.hakux.result.maxHakukohdes }}
                        <br/>
                        <span tt="haku.review.haunTiedot.hakulomake.priorisointi">Haussa käytetään priorisointia: </span>
                        {{ model.hakux.result.usePriority ? t("yes") : t("no") }}
                        <br />
                        <span tt="haku.review.haunTiedot.hakulomake.canSubmitMultipleApplications">Hakija voi jättää useita hakemuksia: </span>
                        {{ model.hakux.result.canSubmitMultipleApplications ? t("yes") : t("no") }}
                    </div>
                    <div ng-if="model.hakux.result.ataruLomakeAvain && !isAtaruRole()">
                        <span tt="haku.review.haunTiedot.hakulomake.ataru.ilmanOikeuksia">Käytetään Lomake-editorin lomaketta.</span>
                    </div>
                    <div ng-if="model.hakux.result.hakulomakeUri && (model.hakux.result.ataruLomakeAvain === null && model.hakux.result.jarjestelmanHakulomake === null)">
                        <span tt="haku.review.haunTiedot.hakulomake.oma">Käytetään omaa hakulomaketta: </span>
                        <a href="{{model.hakux.result.hakulomakeUri}}" target="_blank">{{ model.hakux.result.hakulomakeUri }}</a>
                    </div>
                </td>
            </tr>

            <tr>
                <th tt="haku.edit.organisaatiot.tarjoaja">Haun muokkausoikeus</th>
                <td colspan="2">
                    <ul>
                        <li ng-repeat="org in model.tarjoajaOrganisations">
                            <a href="{{url('organisaatio-ui.linkToOrganisaatio', org.oid)}}">{{ org.nimi }}</a>
                        </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <th tt="haku.edit.organisaatiot.hakukohteet">Hakukohteita liittävät organisaatiot</th>
                <td colspan="2">
                    <ul>
                        <li ng-repeat="org in model.hakukohdeOrganisations">
                            <a href="{{url('organisaatio-ui.linkToOrganisaatio', org.oid)}}">{{ org.nimi }}</a>
                        </li>
                    </ul>
                </td>
            </tr>

        </tbody>


        <tr class="collapse" ng-class="model.collapse.haunAikataulut ? '' : 'open'">
            <th colspan="2" tt="haku.review.haunAikataulut.otsikko" ng-click="model.collapse.haunAikataulut = !model.collapse.haunAikataulut">Haun aikataulut</th>
            <td><a class="btn" ng-disabled="!isMutable" href data-ng-click="doEdit($event, 'haunAikataulut')"><span tt="haku.review.muokkaa">Muokkaa</span> <span class="icon-edit"></span></a></td>
        </tr>

        <tbody ng-show="!model.collapse.haunAikataulut">

            <tr>
                <th tt="haku.review.haunNakyminenOpintopolussa">Viimeinen pvm, jolloin koulutukset ja hakukohteet näytetään opintopolussa</th>
                <td colspan="2" ng-if="model.hakux.result.opintopolunNayttaminenLoppuu">
                	<t-show-date value="model.hakux.result.opintopolunNayttaminenLoppuu" />
                </td>
                <td colspan="2" ng-if="!model.hakux.result.opintopolunNayttaminenLoppuu"
                    tt="haku.edit.aikataulu.opintopolunNayttaminen.help">
                    Oletusarvoisesti koulutukset ja hakukohteet poistuvat opintopolusta
                    <strong>10 kk</strong> haun päättymisen jälkeen
                </td>
            </tr>


            <tr>
                <th tt="haku.review.parametrit.PH_TJT.label">Tarjonnan julkaisun takaraja</th>
                <td colspan="2">
                	<t-show-date value="parametrit.PH_TJT.date" timestamp/>
                </td>
            </tr>


            <tr>
                <th tt="haku.review.parametrit.PH_HKLPT.label">Hakukohteen lisäämisen ja perumisen takaraja</th>
                <td colspan="2">
                	<t-show-date value="parametrit.PH_HKLPT.date" timestamp/>
                </td>
            </tr>


            <tr>
                <th tt="haku.review.parametrit.PH_HKMT.label">Hakukohteen muokkauksen takaraja</th>
                <td colspan="2">
                	<t-show-date value="parametrit.PH_HKMT.date" timestamp/>
                </td>
            </tr>

            <tr>
                <th tt="haku.review.parametrit.PH_KKM.label">Koekutsujen muodostaminen</th>
                <td colspan="2">
                        <t-show-date value="parametrit.PH_KKM.dateStart" timestamp></t-show-date>
                        <span ng-if="parametrit.PH_KTT.dateStart || parametrit.PH_KTT.dateEnd">&rarr;</span>
                        <t-show-date value="parametrit.PH_KKM.dateEnd" timestamp></t-show-date>
                </td>
            </tr>

            <tr>
                <th tt="haku.review.parametrit.PH_HVVPTP.label">Harkinnanvaraisen valinnan päätösten tallennus päättyy</th>
                <td colspan="2">
                	<t-show-date value="parametrit.PH_HVVPTP.date" timestamp/>
                </td>
            </tr>

            <tr>
                <th tt="haku.review.parametrit.PH_KTT.label">Koetulosten tallentaminen</th>
                <td colspan="2">
                    <t-show-date value="parametrit.PH_KTT.dateStart" timestamp></t-show-date>
                    <span ng-if="parametrit.PH_KTT.dateStart || parametrit.PH_KTT.dateEnd">&rarr;</span>
                    <t-show-date value="parametrit.PH_KTT.dateEnd" timestamp></t-show-date>
                </td>
            </tr>

            <tr>
                <th tt="haku.review.parametrit.PH_OLVVPKE.label">Oppilaitosten virkailijoiden valintapalvelun käyttö estetty</th>
                <td colspan="2">
                	<t-show-date value="parametrit.PH_OLVVPKE.dateStart" timestamp></t-show-date>
                    <span ng-if="parametrit.PH_OLVVPKE.dateStart || parametrit.PH_OLVVPKE.dateEnd">&rarr;</span>
                    <t-show-date value="parametrit.PH_OLVVPKE.dateEnd" timestamp/>
                </td>
            </tr>

            <tr>
                <th tt='haku.edit.aikataulu.PH_VSSAV'>Varasijasäännöt astuvat voimaan</th>
                <td colspan="2">
                    <t-show-date value="parametrit.PH_VSSAV.date" timestamp></t-show-date>
                </td>
            </tr>

            <tr>
                <th tt='haku.edit.aikataulu.PH_VSTP'>Varasijatäyttö päättyy</th>
                <td colspan="2">
                    <t-show-date value="parametrit.PH_VSTP.date" timestamp></t-show-date>
                </td>
            </tr>

            <tr>
                <th tt="haku.review.parametrit.PH_VLS.label">Valintalaskennan suorittaminen</th>
                <td colspan="2">
                	<t-show-date value="parametrit.PH_VLS.dateStart" timestamp></t-show-date>
                    <span ng-if="parametrit.PH_VLS.dateStart || parametrit.PH_VLS.dateEnd">&rarr;</span>
                    <t-show-date value="parametrit.PH_VLS.dateEnd" timestamp></t-show-date>
                </td>
            </tr>

            <tr>
                <th tt="haku.review.parametrit.PH_SS.label">Sijoittelun suorittaminen</th>
                <td colspan="2">
                	<t-show-date value="parametrit.PH_SS.dateStart" timestamp></t-show-date>
                    <span ng-if="parametrit.PH_SS.dateStart || parametrit.PH_SS.dateEnd">&rarr;</span>
                    <t-show-date value="parametrit.PH_SS.dateEnd" timestamp></t-show-date>
                </td>
            </tr>

            <tr ng-if="model.hakux.result.kohdejoukkoUri.indexOf('haunkohdejoukko_12#') === -1">
                <th tt="haku.review.parametrit.PH_VEH.label">Valintaesityksen hyväksyminen</th>
                <td colspan="2">
                    <t-show-date value="parametrit.PH_VEH.date" timestamp></t-show-date>
                </td>
            </tr>

            <tr>
                <th tt="haku.review.parametrit.PH_SSAVTM.label">Sijoittelun suorittaminen aina valintatietojen muuttuessa</th>
                <td colspan="2">
                    {{ parametrit.PH_SS.ainaMuuttuessa ? t("yes") : t("no") }}
                </td>
            </tr>

            <tr>
                <th tt="haku.review.parametrit.PH_SST.label">Sijoittelun suorittamistiheys</th>
                <td colspan="2">
                    <div ng-if="parametrit.PH_SS.suorittamisTiheys">{{ parametrit.PH_SS.suorittamisTiheys }} <span tt="haku.review.tuntia">tuntia</span></div>
                </td>
            </tr>

            <tr>
                <th tt="haku.review.parametrit.PH_VTJH.label">Valintatulosten julkaiseminen hakijoille</th>
                <td colspan="2">
                    <t-show-date value="parametrit.PH_VTJH.dateStart" timestamp></t-show-date>
                    <span ng-show="parametrit.PH_VTJH.dateStart || parametrit.PH_VTJH.dateEnd">&rarr;</span>
                    <t-show-date value="parametrit.PH_VTJH.dateEnd" timestamp></t-show-date>
                </td>
            </tr>

            <tr>
                <th tt="haku.edit.aikataulu.PH_HPVOA">Hakijakohtainen paikan vastaanottoaika</th>
                <td colspan="2">
                    {{parametrit.PH_HPVOA.value}}
                    <span ng-if="parametrit.PH_HPVOA.value" tt="haku.edit.aikataulu.PH_HPVOA.help">
                        vuorokautta valinnan tulosten ilmoittamisesta
                    </span>
                </td>
            </tr>

            <tr>
                <th tt="haku.review.parametrit.PH_JKLIP.label">Jälkiohjauskirjeen aineiston lähettäminen iPostiin</th>
                <td colspan="2">
                	<t-show-date value="parametrit.PH_JKLIP.date" timestamp></t-show-date>
                </td>
            </tr>

            <tr>
                <th tt="haku.review.parametrit.PH_HKP.label">Hakukierros päättyy</th>
                <td colspan="2">
                	<t-show-date value="parametrit.PH_HKP.date" timestamp></t-show-date>
                </td>
            </tr>

            <tr ng-if="model.hakux.result.kohdejoukkoUri.indexOf('haunkohdejoukko_12#') !== -1">
                <th tt="haku.review.parametrit.PH_AHP.label">Automaattinen hakukelpoisuus päättyy</th>
                <td colspan="2">
                    <t-show-date value="parametrit.PH_AHP.date" timestamp></t-show-date>
                </td>
            </tr>
        </tbody>


        <tr class="collapse" ng-class="model.collapse.haunMuistutusviestit ? '' : 'open'">
            <th colspan="2" tt="haku.review.haunMuistutusviestit.otsikko" ng-click="model.collapse.haunMuistutusviestit = !model.collapse.haunMuistutusviestit">Muistutusviestien aikataulut</th>
            <td><a class="btn" ng-disabled="!isMutable" href data-ng-click="doEdit($event, 'haunMuistutusviestit')"><span tt="haku.review.muokkaa">Muokkaa</span> <span class="icon-edit"></span></a></td>
        </tr>

        <tbody ng-show="!model.collapse.haunMuistutusviestit">

            <tr>
                <th tt="haku.review.haunTiedot.oid">Haun OID</th>
                <td colspan="2">
                    {{ model.hakux.result.oid}}
                </td>
            </tr>

        </tbody>


        <tr class="collapse" ng-class="model.collapse.haunSisaisetHaut ? '' : 'open'">
            <th colspan="2" tt="haku.review.haunSisaisetHaut.otsikko" ng-click="model.collapse.haunSisaisetHaut = !model.collapse.haunSisaisetHaut">Haun sisäiset haut</th>
            <td><a class="btn" ng-disabled="!isMutable" href data-ng-click="doEdit($event, 'haunSisaisetHaut')"><span tt="haku.review.muokkaa">Muokkaa</span> <span class="icon-edit"></span></a></td>
        </tr>

        <tbody ng-show="!model.collapse.haunSisaisetHaut">

            <tr>
                <th tt="haku.review.haunTiedot.oid">Haun OID</th>
                <td colspan="2">
                    {{ model.hakux.result.oid}}
                </td>
            </tr>

        </tbody>

        <tr class="collapse" ng-class="model.collapse.haunHakukohteet ? '' : 'open'">
            <th colspan="2" ng-click="model.collapse.haunHakukohteet = !model.collapse.haunHakukohteet">
                <span tt="haku.review.haunHakukohteet.otsikko">Hakukohteet</span> ({{model.hakukohteetTotalRows}})
            </th>
            <td>
<!--                 <a class="btn" href data-ng-click="doCreateNewHakukohde($event)">
                    <span tt="haku.review.luoUusiHakukohde">Luo uusi hakukohde</span> <span class="icon-edit"></span>
                </a>
 -->            </td>
        </tr>

        <tbody ng-if="!model.collapse.haunHakukohteet">
            <tr>
                <th></th>
                <td colspan="2">
                    <button class="btn" tt="haku.review.lataaHakukohteetExcel" ng-click="downloadHakukohteetExcel()">
                        Lataa hakukohteet excel-tiedostona
                    </button>
                    <table class="table">
                        <tr>
                            <th data-tt="haku.review.hakukohteet.organisaatio">Organisaatio</th>
                            <th data-tt="haku.review.hakukohteet.haunNimi">Haun nimi</th>
                            <th data-tt="haku.review.hakukohteet.kausi">Kausi</th>
                            <th data-tt="haku.review.hakukohteet.vuosi">Vuosi</th>
                            <th data-tt="haku.review.hakukohteet.tila">Tila</th>
                            <th data-tt="haku.review.hakukohteet.hakutapa">Hakutapa</th>
                            <th data-tt="haku.review.hakukohteet.aloituspaikat">Aloituspaikat</th>
                        </tr>

                        <tr ng-repeat="hakukohde in model.hakukohteet">
                            <td><a href="{{url('organisaatio-ui.linkToOrganisaatio', hakukohde.organisaatioOid)}}">{{hakukohde.organisaatioNimi}}</a></td>
                            <td><a href="#/hakukohde/{{hakukohde.oid}}">{{hakukohde.nimi}}</a></td>
                            <td>{{hakukohde.kausi.fi}}</td>
                            <td>{{hakukohde.vuosi}}</td>
                            <td>{{hakukohde.tilaNimi}}</td>
                            <td>{{hakukohde.hakutapa}}</td>
                            <td>{{getAloituspaikat(hakukohde)}}</td>
                        </tr>
                    </table>

                    <div class="pagination" ng-if="model.paginationNeeded">
                        <pagination total-items="model.hakukohteetTotalRows"
                                    next-text="&raquo;"
                                    previous-text="&laquo;"
                                    items-per-page="model.itemsPerPage"
                                    ng-model="model.currentPage"
                                    ng-change="getHakukohteet()"></pagination>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>

</div>
