<div data-ng-controller="HakuReviewController">

    <div ng-if="model.hakux.status != 'OK'">I'm sorry Dave, I'm afraid I can't do that.</div>
    <div ng-if="model.hakux.status == 'OK'">

        <controls-model
            model="model.formControls"
            dto="model.hakux.result">

            <controls-button icon="arrow-left" tt-key="haku.review.takaisin" action="goBack($event)">Takaisin</controls-button>
            <controls-button disabled="!isRemovable" tt-key="haku.review.poista" action="doDelete($event)">Poista</controls-button>
            <controls-button disabled="!isCopyable" tt-key="haku.review.kopioi" action="doCopy()">Kopioi uudelle kaudelle</controls-button>
            <controls-button ng-if="model.hakux.result.jarjestelmanHakulomake" disabled="!isMutable"
                             tt-key="haku.review.generoiLomake" action="generateLomake()">Generoi haun lomake</controls-button>
            <controls-notify type="message" tt-expr="'haku.review.murupolku'" tt-params="[model.nimi]"></controls-notify>

        </controls-model>

        <display-controls model="model.formControls" display="header"></display-controls>

        <div data-ng-include="'partials/haku/review/hakuReview.html'"></div>

        <display-controls model="model.formControls" display="footer"></display-controls>

    </div>
    <hr/>
</div>




