<div id="koulutusReview"">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div ng-bind-html="t('kk.review.murupolku', ['Autoalan perustutkinto', 'Rantalhojan ammattikoulu, autoalan toimipiste'])"></div>
                <a><div tt='kk.review.peruuta'></div></a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="btn" ng-click='doStuff($event)'><div tt='kk.review.takaisin'></div></div>
                <div class="btn"><div tt='kk.review.poista'></div></div>
                <div class="btn"><div tt='kk.review.kopioi'></div></div>
                <div class="btn"><div tt='kk.review.siirra.osaksi'></div></div>
                <div class="btn"><div tt='kk.review.lisaa.rinnakkainen'></div></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                Sairaanhoidon ja huolenpidon koulutusohjelma, pk
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                < <div tt='kk.review.edellinen'></div> 1/100 <div tt='kk.review.seuraava'></div> >
            </div>
        </div>
    </div>

    <tabset>
        <tab ng-repeat="lang in model.languages" heading="{{lang.name}}">
            <div ng-include="'partials/kk/review/reviewLanguage.html'"></div>
        </tab>
    </tabset>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                < <div tt='kk.review.edellinen'></div> 1/100 <div tt='kk.review.seuraava'></div> >
            </div>
        </div>
    </div>

    <hr>
    <pre>{{model | json}}</pre>

</div>
