<!--
  Kieliriippuva data review tabeissa.
-->
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 label-right">
            <div class="btn"><div tt='kk.review.esikatsele'></div></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 well">
            <div tt='kk.review.perustiedot.otsikko'></div>
            lang = {{ lang }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.perustiedot.organisaatio'></div>
        </div>
        <div class="span9">
            Rantalohjan kunta, Rantalohjan ammattiopisto, Terveyden ja hyvinvoinnin toimipiste
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.perustiedot.koulutus'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.perustiedot.koulutusohjelma'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.perustiedot.koulutusaste'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.perustiedot.koulutusala'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.perustiedot.opintoala'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.perustiedot.tutkintonimike'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.perustiedot.opintojenLaajuus'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.perustiedot.koulutuslaji'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.perustiedot.pohjakoulutusvaatimus'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.perustiedot.alkamispvm'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.perustiedot.suunniteltuKesto'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.perustiedot.opetuskieli'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.perustiedot.opetusmuoto'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.perustiedot.linkkiOpetussuunnitelmaan'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.perustiedot.yhteyshenkilo'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 well">
            <div tt='kk.review.kuvailevatTiedot.otsikko'></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.kuvailevatTiedot.tavoitteetTutkinto'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.kuvailevatTiedot.tavoitteetKoulutus'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.kuvailevatTiedot.koulutusohjelmanValinta'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.kuvailevatTiedot.sisaltoKoulutus'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.kuvailevatTiedot.rakenneKoulutus'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.kuvailevatTiedot.kansainvalisyys'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.kuvailevatTiedot.sijoittuminenTyoelamaan'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.kuvailevatTiedot.ammattinimikkeet'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='kk.review.kuvailevatTiedot.jatkoopintoMahdollisuudet'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 well">
            <div tt='kk.review.sisaltyvatOpintokokonaisuudet.otsikko'></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            TULOSSA...
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 well">
            <div tt='kk.review.hakukohteet.otsikko'></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            TULOSSA...
        </div>
    </div>
</div>
