<div id="koulutusReview"">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div data-ng-bind-html="t('kk.review.murupolku', ['Autoalan perustutkinto', 'Rantalhojan ammattikoulu, autoalan toimipiste'])"></div>
                <a><div tt='kk.review.peruuta'></div></a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="btn" data-ng-click='goBack($event)'><div tt='kk.review.takaisin'></div></div>
                <div class="btn" data-ng-click='doDelete($event)'><div tt='kk.review.poista'></div></div>
                <div class="btn" data-ng-click='doCopy($event)'><div tt='kk.review.kopioi'></div></div>
                <div class="btn" data-ng-click='doMoveToBeSubPart($event)'><div tt='kk.review.siirra.osaksi'></div></div>
                <div class="btn" data-ng-click='doAddParallel($event)'><div tt='kk.review.lisaa.rinnakkainen'></div></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                Sairaanhoidon ja huolenpidon koulutusohjelma, pk
            </div>
        </div>
    </div>

<!--
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                < <div tt='kk.review.edellinen'></div> 1/100 <div tt='kk.review.seuraava'></div> >
            </div>
        </div>
    </div>
-->

    <tabset>
        <tab data-ng-repeat="lang in model.languages" heading="{{lang.name}}">
            <div data-ng-include="'partials/kk/review/reviewLanguage.html'"></div>
        </tab>
    </tabset>

<!--
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                < <div tt='kk.review.edellinen'></div> 1/100 <div tt='kk.review.seuraava'></div> >
            </div>
        </div>
    </div>
-->

    <hr>
<div ng-click="model.collapse.model = !model.collapse.model">
    <div class="collapseHeader" ng-class="{isOpen : !model.collapse.model}">Sivun data / malli:</div>
</div>
<pre collapse="model.collapse.model">
{{ model | json }}
</pre>



</div>
