<!--
  Kieliriippuva data review tabeissa.
-->
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 label-right">
            <div class="btn"><div tt='review.esikatsele'></div></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 well">
            <div tt='review.basicInfo.title'></div>
            lang = {{ lang }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.basicInfo.organisaatio'></div>
        </div>
        <div class="span9">
            Rantalohjan kunta, Rantalohjan ammattiopisto, Terveyden ja hyvinvoinnin toimipiste
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.basicInfo.koulutus'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.basicInfo.koulutusohjelma'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.basicInfo.koulutusaste'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.basicInfo.koulutusala'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.basicInfo.opintoala'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.basicInfo.tutkintonimike'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.basicInfo.opintojenLaajuus'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.basicInfo.koulutuslaji'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.basicInfo.pohjakoulutusvaatimus'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.basicInfo.alkamispvm'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.basicInfo.suunniteltuKesto'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.basicInfo.opetuskieli'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.basicInfo.opetusmuoto'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.basicInfo.linkkiOpetussuunnitelmaan'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.basicInfo.yhteyshenkilo'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 well">
            <div tt='review.kuvailevatTiedot.title'></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.kuvailevatTiedot.tavoitteetTutkinto'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.kuvailevatTiedot.tavoitteetKoulutus'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.kuvailevatTiedot.koulutusohjelmanValinta'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.kuvailevatTiedot.sisaltoKoulutus'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.kuvailevatTiedot.rakenneKoulutus'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.kuvailevatTiedot.kansainvalisyys'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.kuvailevatTiedot.sijoittuminenTyoelamaan'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.kuvailevatTiedot.ammattinimikkeet'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3 label-right">
            <div tt='review.kuvailevatTiedot.jatkoopintoMahdollisuudet'></div>
        </div>
        <div class="span9">
            XXX
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 well">
            <div tt='review.sisaltyvatOpintokokonaisuudet.title'></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            TULOSSA...
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 well">
            <div tt='review.haukohteet.title'></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            TULOSSA
        </div>
    </div>
</div>
